<%=hidden_field_tag 'collection_product_ids',
      '',
      :name => 'collection[product_ids]'%>

<div class="container picker" id="container">
	
		<div class="hider unselectable">
			<div style="width: 746px;">
				<div class="well">
					<fieldset>
						<legend>
							Pick items and a name for your set:
							
							<div class="control-group" id="name_box" 
                    style="float: right; height: 0;">
														
								<% content_tag :button,
						    		:type  		  => :submit,
						    		:name     	=> nil, 
						    		:style      => 'float: right;', 
						    		:class 		  => 'btn btn-large',
						    		:id    		  => 'products_picked_button',
						    		:disabled	  => true do %>
								  Post

								<% end %>
																
								<%=f.text_field :name,
										:style => "font-size: 15px; height: 27px;"\
                              "float: right; margin-right: 4px;",
                    "ui-placeholder-color" => "#999999",
                    "ui-text-color" => "#333333",
                    "data-placeholder" => "Set name"%>

							</div> <!-- /control-group -->
														
						</legend>
					</fieldset>
				</div> <!-- / well legend -->
			</div> <!-- /746px -->
		</div> <!-- /hider -->

    <div style="width: 746px; margin: 55px 97px 0;">
			<div class="well items">
    		
    		<div class="control-group">
			    <ul class="thumbnails" id="items">
			    	<div class="loading large"></div>
			    </ul> <!-- /thumbnails -->
		    </div>

			</div> <!-- /well stores -->
		</div> <!-- /746px -->
  
</div> <!-- /container -->

		
		
		
