<a id='like_collection_<%=collection.get('id')%>' 
    href='javascript:void(0)'>
    Like
</a>


<%=jQuery.timeago(collection.get('created_at'))%>

<%collection.get('products').each(function(product){%>
  <img src='<%=product.get('photo_url')%>' height='20'/>
<%});%>

<br/>
