<div class="sets">

 <a class="btn btn-large btn-primary" href="/collections/new?src=start">
 	<i class="icon-plus icon-white"></i> New set
 </a>
 
 <span style="padding: 0 5px;">
 	Once you've added 5 items, start posting sets of items, as you use them.
 </span>

</div>
