<div id="outer">

	<div id="inner">
	
		<div class="module">
		
			<div class="heading">
			
				<div class="title">
					Pick the items you have on today!
				</div>

			  <%form_for @collection,
				      :html => {:class => '', :style => 'display:none'} do |f|%>
		      <%=f.hidden_field :product_ids%>
		      <%=submit_tag 'Done',
		                    :class  => 'button button_silver slim_shadow_light',
		                    :name   => nil%>
		    <%end%>
	    
	    </div>
	      
	    <div id="items">
	    </div>
	    
    	</div>

	</div> <!-- inner --

</div> <!-- outer -->
	


<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Collections.New({
            currentUserJSON : <%=self.current_user.to_json%>,
                     source : '<%=@source%>',
                         el : $('#container')});

  </script>
<%end%>
