<div id="container">
  <table>
    <%@friends.each do |friend|%>
    <tr>
      <td width="100">
        <img src="http://graph.facebook.com/<%=friend.identifier%>/picture?type=square"/>
      </td>
      <td>
        <%=friend.name%>
      </td>
    </tr>
    <%end%>
  </table>
</div>
