<div id="container">
  Friends
</div>


<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Invites.Index({
          currentUserJSON : <%=self.current_user.to_json(
                                               :only => [:access_token])%>});

  </script>
<%end%>
