<div id="container">
   <div id="contacts_container">
   </div>
</div>


<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Invites.New();

  </script>
<%end%>
