
<div class="container invite" id="container">
	<div class="row">
		<div class="span6 offset3">
      <%=render "invites/new/friends"%>	
      <%=render "invites/new/finish"%>
	 	</div> <!-- /span6 -->
	</div> <!-- /row -->
</div> <!-- /container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Invites.New({
          source  : '<%=@source%>',
         friends  : <%=self.current_user.ifollowers.to_json(
                            :only => [:fb_user_id])%>,
          el      : $('#container')});
  </script>
<%end%>
