<div id="container">
  <%=text_field_tag 'search_box', nil, :placeholder => 'Search Friends'%>

  <div id="contacts">
  </div>
</div>


<%content_for :javascript do%>
  <%=render :partial => "misc/feedback"%>

  <script type="text/javascript">

    new Denwen.Views.Invites.New();

  </script>
<%end%>
