<div id="feed-placeholder">

  <%if user.is_female?%>
    <div style="position: relative; top: -26px;">
      <b class="caret" 
          style="position: relative; bottom: -2px; margin-left: 20px; 
                  filter: alpha(opacity100); opacity: 1; 
                  border: 8px solid transparent; 
                  border-bottom: 8px solid #555;">
      </b>
      <div style="padding: 14px 20px; 
                  background: #555; color: white; 
                  font-size: 14px; line-height: 20px;">
        <b>
          Type the name of the first purchase you’d like to share
        </b>
        <br />
        <span style="color: #ccc;">
          e.g. ‘TOMS Red Women’s Classics’
        </span>
      </div>
      <%=image_tag('placeholders/toms.jpg')%>
    </div>
 
 <%else%>
  
    <div style="position: relative; top: -26px;">
      <b class="caret" 
          style="position: relative; bottom: -2px; margin-left: 20px; 
                  filter: alpha(opacity100); opacity: 1; 
                  border: 8px solid transparent; 
                  border-bottom: 8px solid #555;"></b>
      <div style="padding: 14px 20px; 
                  background: #555; color: white; 
                  font-size: 14px; line-height: 20px;">
        <b>
          Type the name of the first purchase you’d like to share
        </b>
        <br />
        <span style="color: #ccc;">
          e.g. ‘Bose QuietComfort 15 Acoustic Headphones’
        </span>
      </div>
      <%=image_tag('placeholders/headphones.jpg')%>
    </div>

  <%end%>

</div>



