<%content_for :top do%>
  <%=render 'purchases/chooser'%> 
<%end%>


<div class="container">

	<div class="box-title">
		Your feed
	</div>
  
  <div id="feed" class="feed rounded-3 shaded">
  </div> <!-- feed -->
  
  <div id="feed-spinner" 
        class="loading blocks body" 
        style="height: 60px;">
  </div> 
   
</div> <!-- container -->

<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Feed.Show({
      source          : "<%=h @source%>",
      currentUserJSON : <%=self.current_user.to_json(:only => :fb_user_id)%>});
  </script>
<%end%>
