<%if(following.has('id')) {%>
<a href="javascript:void(0)" class="button button_dark" id="destroy_following">
  &#x2713; Following this closet
</a>
<%} else {%>
<a href="javascript:void(0)" class="button button_dark" id="create_following">
  Follow this closet
</a>
<%}%>
