<%if(isFollowing) {%>
  <a class="btn btn-gray follow absolute"href="javascript:void(0)" id="destroy_following_<%=userID%>">
    <i class="icon-ok icon-white"></i>
  </a>
<%} else {%>
  <a class="btn btn-blue follow absolute" href="javascript:void(0)" id="create_following_<%=userID%>">
    Follow
  </a>
<%}%>
