<%if(isFollowing) {%>
<a href="javascript:void(0)" class="button button_dark slim_shadow_dark" id="destroy_following">
  <span style="color:#09de27">&#x2713;</span> Following this closet
</a>
<%} else {%>
<a href="javascript:void(0)" class="button button_red slim_shadow_dark" id="create_following">
  Follow this closet
</a>
<%}%>
