 <img src="<%=Denwen.H.imagePath("importer/sync.gif")%>"
    class="sync"/>
 
 <img src="<%=Denwen.H.imagePath("importer/urban-outfitters.png")%>"
    class="store-logo"/>
              
 <!--img src="<%=storeImageURL%>"
    class="store-logo"/-->

 <img src="<%=Denwen.H.imagePath("importer/ellipsis.png")%>"
    class="ellipsis"/>
