 <img src="<%=Denwen.H.imagePath("importer/zappos.png")%>"
    class="store-logo"/>
              
 <!--img src="<%=storeImageURL%>"
    class="store-logo"/-->

 <img src="<%=Denwen.H.imagePath("importer/ellipsis.png")%>"
    class="ellipsis"/>
