<!-- action -->
<table 
	scale="1"
	border="0" 
	width="100%"
	bgcolor="#FFF" 
	cellpadding="0" 
  cellspacing="0" 
  align="center"
  bgcolor="#FFF">
	<tr>
	  <td align="center">
	  	<font face="Arial" color="white">
				<a href="<%=url%>"
					style="font-family: 'Helvetica Neue', 'Helvetica'; -webkit-font-smoothing: antialiased; display: inline-block; padding: 12px 20px; font-size:16px; color:#FFF; background: #006fb1; text-decoration:none;
						background: #006fb1 url('<%=image_path "#{(is_dev? ? "http://#{CONFIG[:host]}/images/" : '')}alert-overlay.png"%>') repeat-x; border-bottom: 2px solid #ddd;
						-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;">
	        	<b><%=text%></b>
	      </a>
	    </font>
	  </td>
	</tr>
</table>
