Hi <%=@user.first_name%>, <br /><br />

You’ve started your <%=CONFIG[:name]%>, but haven’t invited an influential 
friend yet.<br />
Discovering how your friends shop is 10 times the fun.<br /><br />

<a href="<%=new_invite_url(:src => "email_add_friend")%>">
Invite a friend who has great style</a> and start sharing closets!
