                    <%content_for :header do%>
                      <%=render :partial => "header_image",
                          :locals => {
                            :url => root_url(:src => @source),
                            :image => "header-image-reminder.jpg",
                            :alt => ""}%>
                    <%end%>

                    <!-- action button -->
                    <table bgcolor="" 
                      width="300" 
                      height="42" 
                      border="0" 
                      cellpadding="0" 
                      cellspacing="0" 
                      align="center" 
                      style="display:table;
                              border-collapse:collapse;
                              text-align:center">
                      <tbody>
                        <tr>
                          <td align="center">
                            <a style="width:300px;
                                      display:block;
                                      min-height:42px;
                                      line-height:42px;
                                      text-align:center;
                                      background: #EE472A; 
                                      color:#fafafa;
                                      font-family: Georgia; 
                                      font-style: italic;
                                      text-decoration:none; 
                                      font-size:15px;
                                      text-decoration:none;
                                      -webkit-border-radius: 8px;
                                      -moz-border-radius: 8px;
                                      border-radius: 8px;" 
                                href="<%=root_url(:src => @source)%>" 
                                target="_blank">
                              <span style="color:#fafafa;text-decoration:none">
                                <font face="Georgia" color="#FFFFFF">
                                  Add your latest purchase on  
                                  <font face="Arial" 
                                    style="font-style: normal;">
                                    <b>
                                      <%=CONFIG[:name].downcase%>
                                    </b>
                                </font>
                              </span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <p style="min-height:25px;
                              margin-left:0;
                              margin-right:0;
                              margin-top:0;
                              margin-bottom:0;padding:0">
                      &nbsp;
                    </p>
                    <!-- /action-button -->       
