Hi <%=@user.first_name%>, <br /><br />

You’ve started your <%=CONFIG[:name]%> and added some influencers. 
Nice work!<br /><br />

<a href="<%#new_shopping_url(:src => @source)%>">
Add your favorite stores</a> for quick access to the 
hottest items selling there now.
