Hi <%=@user.first_name%>, <br /><br />

You can now post sets of items you’re wearing and using!<br /><br />

<a href="<%=new_collection_url(
              :src => "email_add_collection")%>">
Post your look for the day</a>
 — Whether it’s casual or formal, it’s fun for others to view!
