Hi <%=@user.first_name%>, <br/><br/>

We're delighted to have you as an active member of the OnCloset community! <br/><br/>

And we couldn't be happier that you're using the new <b>On Today</b> feature
to share the outfits you wear. <br/><br/>

We encourage you to visit OnCloset everyday and share the outfits you're wearing! 
<br/><br/>

<a href="<%=new_collection_url(:src => 'email_collect_more')%>">
  Click here to share what you're wearing right now</a>

