Hi <%=@user.first_name%>, <br/><br/>

Thanks for joining OnCloset - your closet online!  <br/><br/>

Introducing a fresh new look and a feature to tell your friends what 
you wear everyday! <br/><br/>

<a href="<%=home_url('dormant')%>">Click here to get started</a>







