Hi <%=@user.first_name%>, <br /><br />

Wow! Your closet is getting a lot of attention :0) <br/><br/>

<%=@action%> <br /><br />

Go see all your new fans and keep adding all your stuff to OnCloset! <br/><br/>

<a href="<%=user_url(@user.handle,:src => 'email_bulk_followers')%>">
  Click here to view your closet</a>
