
								<!-- Email body -->
								
								<td width="500" valign="top" style="border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
										
											<!-- Salutation -->
											
											<tr>
												<td valign="top" style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;color:#777; font-size:24px;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
														<b>
															<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#555555">Welcome to <%=CONFIG[:name]%>, <%=@user.first_name%></font>
														</b>
													</font>
												</td>
											</tr>
											
											<!-- /Salutation -->
											
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
											<tr>
												<td style="border-collapse:collapse;vertical-align:top">
													<table cellpadding="0" cellspacing="0" border="0" width="100%">
														<tbody>
															<tr>
																<td style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:16px;line-height:24px;color:#777;border-collapse:collapse;vertical-align:top">
																	<table cellpadding="0" cellspacing="0" border="0" width="100%">
																		<tbody>
																			<tr>
																				
																				<!-- Message text -->
																				
																				<td align="top" style="border-collapse:collapse;vertical-align:top">
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						We're happy you've signed up!<br />
																						<a href="<%=root_url(:src => @source)%>" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Share your first purchase</font></a> with friends.
																					</font>
																				</td>
																				
																				<!-- /Message text -->
																				
																			</tr>
																			<tr>
																				<td colspan="3" style="line-height:2;border-collapse:collapse;vertical-align:top">
																					<br>
																					
																					<!-- Action button -->
																					
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						<font>
																							<a href="<%=root_url(:src => @source)%>" style="
																								color:white;
																								text-decoration:none;
																								font-family:Helvetica Neue, Helvetica, Arial,sans-serif;
																								font-weight:bold;
																								padding:8px 12px;
																								width:84px;
																								text-align:center;
																								background-color: #0AB0ED;
																								border-bottom: 1px solid #dddddd;" 
																							target="_blank">
																								Share a purchase
																							</a>
																						</font>
																					</font>
																					
																					<!-- /Action button -->
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								
								<!-- /Email body -->
