Hi <%=@user.first_name%>, <br /><br />

<%=@action%>: <br /><br />

"<%=h @comment.data%>" <br /><br />

<a href="<%=product_url(
              @comment.product.user.handle,
              @comment.product.handle,
              :src => "email_comment")%>">
View comment thread</a>
