Hi <%=@user.first_name%>, <br /><br />

<%=@action%>: <br /><br />

"<%=h @comment.data%>" <br /><br />

<%if @comment.commentable_type == 'Product'%>
  <a href="<%=product_url(
                @comment.commentable.user.handle,
                @comment.commentable.handle,
                :src => "email_comment")%>">
  View comment thread</a>
<%end%>
