<td align="center" style="font-size: 0; padding: 24px 12px;">
  <font face="Arial" color="#777"> 
  
  	<p style="font-size:18px; color: #333; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			<b><%=@user.first_name%></b>, a big welcome to mine!<br>
			We're glad you're here.
			
		</p>

    <%=render :partial => "action_button",
        :locals => {
        :url => root_url(:src => @source),
        :text => "Add a recent purchase"}%>	
		
		<p style="font-size:18px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">  

			<b>On mine, you can…</b>
			
		</p>
		
		<p style="max-width: 440px; margin-left: auto; margin-right: auto; text-align: left; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	<b>Post your purchases, perfectly.</b><br>
    	Combine a pristine catalog photo, where you bought your item, 
    	and the web's best link to more info, for an item you can treasure and others can explore.
    </p> 
    
    <p style="max-width: 440px; margin-left: auto; margin-right: auto; text-align: left; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;">
    	<b>Share the best stuff in your life.</b><br> 
    	Thousands of people use mine to post the items that speak to who they are, 
    	what they like, and what they know about.
    </p> 
    
    <p style="max-width: 440px; margin-left: auto; margin-right: auto; text-align: left; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;"> 
    	<b>Learn from friends and followers.</b><br>
    	As the only place on the web where you can look up and follow anyone's best purchases, 
    	mine is a constant source of inspiration.
    </p> 
    
    <p style="max-width: 440px; margin-left: auto; margin-right: auto; text-align: left; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;"> 
    	We're working hard to make mine great, 24/7. If you have any thoughts or ideas about it, always feel free to 
    	<a style="color: #006FB1; text-decoration: none;" 
    		href="mailto:contact@getmine.com">get in touch.</a>
    </p>
    
    <p style="max-width: 440px; margin-left: auto; margin-right: auto; text-align: left; font-size:14px; line-height: 140%; 
    	font-family: 'Helvetica'; -webkit-font-smoothing: antialiased;"> 
    	Thanks,<br>
    	Team Mine
    </p>
