Hi <%=@user.first_name%>, <br/><br/>

We're delighted that you recently joined us on OnCloset! <br/><br/>

Today we're announcing an amazing new feature to share what
you're wearing today. You can use it everyday! <br/><br/>

<a href="<%=home_url('ontoday')%>">Click here to get started</a>







