<div class='tile_frame' id="store_picker_<%=store.get('id')%>"> 

	<div class="button_picker" id="button_picker_<%=store.get('id')%>">
	</div>

  <img src="<%=store.get('thumbnail_url')%>" 
      class='tile slim_shadow_light'/>

</div> <!-- product -->
