<li>
	<a class="thumbnail" id="store_picker_<%=store.get('id')%>"> 
	
<!--
	<div class="button_picker" id="button_picker_<#=store.get('id')%>">
	</div>
-->
		
	<img src="<%=store.get('giant_url')%>" />
	
	<div class="caption">
		<h5>
			<%=helpers.truncate(store.get('name'),30,".")%>
		</h5>
	</div>
	
	</a> <!-- /thumbnail -->
</li> 