<div class='tab title overhang'>
  Related stores
</div>
   
<div class='no_small_top_margin'>
  <%stores.each(function(store){%>
    <%=Denwen.JST['stores/list']({store:store, src:'related'})%>
  <%});%>
  <%=helpers.blocker()%>
</div>
