<div class="actions-header">
  Related stores
</div>

<ul class="thumbnails">
   
	<%stores.each(function(store){%>
		<li>
	  	<%=Denwen.JST['stores/store']({store:store, src:'related'})%>
	  </li>
	<%});%>

</ul>
