<!-- Generate presenters to render this page -->
<%@store_presenter = presenter_for(@store)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @store_presenter.name,
              :type         => OGObject::Store,
              :description  => @store_presenter.usage_description,
              :url          => @store_presenter.url('fb'),
              :image        => @store.large_url}%>
<%end%>

<div class="container profile">

	<div class="row">
    <div class="span12">
    	<div class="well profile-card" 
            style="height: 128px; margin-bottom: 12px;">
    		<div class="profile-card-inner">
		    	<div class="profile-img">
    			</div>
    			<h1 style="padding-bottom: 4px; line-height: 1;">
          </h1>
    		</div>
    		
    	</div> <!-- /well profile-card -->
    </div> <!-- /span12 -->
  </div> <!-- /row -->
 
  <div class="row">
    <div class="span12">
    	<div class="well items">
	    </div> <!-- /well -->
	  </div> <!-- /span12 -->
  </div> <!-- /row -->
  
</div> <!-- /container -->


<%content_for :javascript do%>
<%end%>
