<a href="<%=store.path(src)%>" style="position: relative;"> 
	<div class="overflow-fade" style="width: 28px;"></div>
	<img class="icon-img" src="<%=store.get('thumbnail_url')%>" />
	<%=helpers.truncate(store.get('name'), 20, '…')%>
</a>