<div class="tile_frame"> 

	<span class="tooltip_down_ffffff">
    <%=store.get('name')%>
  </span>

  <a href="<%=store.path(src)%>">
    <img src="<%=store.get('thumbnail_url')%>"
          class = 'tile slim_shadow_light'/>
  </a>
</div>

