<div class='tab large_top_margin'>
 Top Stores
</div>
   
<div>
  <%stores.each(function(store){%>
    <%=Denwen.JST['stores/tiled']({store:store, src:'star'})%>
  <%});%>
  <%=helpers.blocker()%>
</div>

