/* ------------------------------ Blurred full-screen background */  

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1; }

.background .canvas {
	position: relative; }
	
.background img {
	width: 100%;
	height: auto;
	z-index: -100; }
	
.background .fade_bottom {
	width: 100%;
	height: 200px;
	background-image: url("/images/fade_bottom.png");
	position: absolute;
	bottom: 0px;
	background-repeat: repeat-x; }

.outer_frame {
	background: url("/images/outer_frame_center_black.png") top center repeat-y;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; } 

  
/* ------------------------------ Logged-out blackout */ 
  
.black {
	background: url('/images/black_60.png');
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 9000; }

.black .overlay {
	position: relative;
	margin: 180px auto 0;
	background: url('/images/f5f5f5_95.png');
	width: 402px;
	padding: 24px;	
	height: 156px;
	-moz-box-shadow:0 0 45px 5px #333333;
	-webkit-box-shadow: 0 0 45px #333333;
	box-shadow: 0 0 45px #333333;
	text-align: center;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 26px;
	color: #555555;
	line-height: 150%;
	text-shadow: 0 1px 1px white; }

.black .overlay .em {
	color: #3B5B96; }

.black .login_with_facebook {
	width: 320px;
	height: 60px;
	margin-top: 13px;
	cursor: pointer;
	display: inline-block;
	border: none;
	background: url("/images/welcome_buttons.png") no-repeat;
	background-position: -40px 0px;
	font-size: 20px;
	color: #555;
	text-shadow: 0 1px 1px white;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }

.black .login_with_facebook:hover { background-position: -40px -60px; }
.black .login_with_facebook:active { 
	background-position: -40px -120px; 
	box-shadow: none;
  	-moz-box-shadow: none;
  	-webkit-box-shadow: none }

.black .click_login_orange_arrow {
	width: 280px;
	height: 135px;
	background: url("/images/click_login_orange_arrow.png") no-repeat;
	position: absolute;
	top: 183px;
	left: 85px; }

/* ------------------------------ Logged Out Welcome Box */
.log_in_with_facebook {
  width: 400px;
  height: 60px;
  margin-top: 13px;
  cursor: pointer;
  display: inline-block;
  border: none;
  background: url("/images/welcome_buttons.png") no-repeat;
  font-size: 20px;
  color: #555555;
  text-shadow: 0 1px 1px white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }

.log_in_with_facebook:hover {
  background-position: 0 -60px; }

.log_in_with_facebook:active {
  background-position: 0 -120px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

div.welcome_text {
  margin: 0 15px;
  display: inline;
  font-size: 20px;
  line-height: 90px;
  color: white;
  text-shadow: 0 1px 1px #333333;
  position: relative;
  top: -24px; }

/* ------------------------------ Product Page */

#item {
  width: 835px;
  position: relative;
  margin: 0 auto; }

#item .top_bar {
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  font-size: 14px;
  color: white;
  position: relative; }

#item .top_bar .nav {
	padding-left: 28px;
	width: 100px;
	background: url('/images/arrows.png') left -49px no-repeat;
  -moz-opacity: 0.8;
  opacity: .8;
  filter: alpha(opacity=80);
  zoom: 1; }

#item .top_bar .nav:hover {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

#item .top_bar .social_buttons {
  width: 630px;
  height: 36px;
  line-height: 36px;
  position: absolute;
  right: 0px;
  top: 0px; }

#left, #right {
	position: relative;
  height: 390px;
  float: left;
  background: white;
  padding: 6px 0; }

#left {
  width: 420px;
  background: white;
  text-align: center;
  -moz-border-radius: 3px 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0; }

#item .edit {
  position: absolute;
  text-align: right;
  right: 28px;
  bottom: 9px;
  color: #cccccc;
  font-size: 14px;
  z-index: 10000; }

#item .edit a {
  margin-left: 5px; }

#item .edit a:hover {
  color: #cc3333; }

.left_delete a {
  position: absolute;
  font-size: 12px;
  color: #cccccc;
  display: block;
  cursor: pointer;
  z-index: 10000; }

.left_delete a:hover {
  color: #cc3333; }

#left.photo {
  line-height: 390px; }

#left_photo {
  max-width: 370px;
  max-height: 350px;
  vertical-align: middle; }

#item_search {
  margin-top: 102px; }

.swfupload {
  background: url("/images/upload.png") no-repeat;
  cursor: pointer; }

#right {
  width: 415px;
  -moz-border-radius: 0 3px 0 0;
	-webkit-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0; }

#right_text td {
  height: 390px;
  vertical-align: middle; }

#right_text_div {
  color: #999999;
  width: 281px;
  font-size: 16px;
  line-height: 28px;
  padding: 0 48px 0 20px; }

#right_user_image {
  height: 220px;
  float: left;
  padding: 170px 0px 0px 16px; }

#right_user_image img {
  width: 50px;
  height: 50px; }

.right_title {
  font-size: 20px;
  color: #333333; }

.right_user a { color: #555555; }
.right_user a:hover { color: #cc3333; }

.right_user a, .right_price a, .right_store a {
  color: #cc3333; }

#product_endorsement_box {
  margin: 0 auto;
  width: 835px;
  background: url('/images/white_95.png');
  position: relative; }

#product_endorsement_box:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0; }

.product_endorsement {
  width: 779px;
  padding: 12px 28px;
  line-height: 150%;
  color: #555555;
  font-size: 14px;
  font-family: 'FuturaStdBook', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.product_endorsement a.edit {
  color: #cc3333;
  margin-left: 4px; }

.product_endorsement_input {
  width: 779px;
  padding: 10px 26px;
  line-height: 150%;
  float: left;
  color: #555555;
  border: 2px solid #A8A8A8;
  background: white url("/images/black_7.png") repeat-x;
  font-size: 14px;
  font-family: 'FuturaStdBook', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a.product_endorsement_submit_button {
  width: 68px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #cccccc;
  float: right;
  display: block;
  font-size: 14px;
  color: #cc3333;
  cursor: pointer;
  border-left: 2px solid #ebe8e3; }

a.product_endorsement_submit_button:hover {
  background: #f8f8f8; }

a.product_endorsement_submit_button:active {
  background: #dddddd; }

.submit_red_12 {
  color: #cccccc;
  font-size: 12px;
  display: inline;
  color: #cc3333;
  cursor: pointer;
  vertical-align: top; }

.submit_red_14 {
  height: 12px;
  color: #cccccc;
  font-size: 14px;
  color: #cc3333;
  cursor: pointer;
  line-height: 12px; }

a.edit_ffffff_18 {
	font-size: 18px;
  padding-left: 30px;
  background: url("/images/pens.png") 5px 0 no-repeat; }

a.edit_555555_18 {
	font-size: 18px;
  padding-left: 30px;
  background: url("/images/pens.png") 5px -76px no-repeat; }

a.edit_ffffff_14 {
	font-size: 14px;
	color: white;
  padding-left: 18px;
  background: url("/images/pens.png") -4px -154px no-repeat; }

a.edit_cc3333_14 {
	font-size: 14px;
	color: #cc3333;
  padding-left: 18px;
  background: url("/images/pens.png") -4px -279px no-repeat; }
  
a.edit_999999_14 {
	font-size: 14px;
	color: #999999;
  padding-left: 18px;
  background: url("/images/pens.png") -4px -204px no-repeat; }

a.edit_cccccc_14 {
	font-size: 14px;
	color: #cccccc;
  padding-left: 18px;
  background: url("/images/pens.png") -4px -179px no-repeat; }
  
a.edit_999999_14:hover,
a.edit_cccccc_14:hover {
	color: #cc3333;
  background: url("/images/pens.png") -4px -279px no-repeat; }

.edit_gray_12 {
  font-size: 12px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -2px no-repeat;
  color: #cccccc; }

.edit_gray_12:hover {
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -104px no-repeat;
  color: white;
  cursor: pointer; }

.edit_gray_to_red_12 {
  font-size: 12px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -2px no-repeat;
  color: #cccccc; }

.edit_gray_to_red_12:hover {
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -138px no-repeat;
  color: #cc3333;
  cursor: pointer; }

.edit_red_14 {
  font-size: 14px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -136px no-repeat;
  color: #cc3333; }

.edit_red_14:hover {
  cursor: pointer; }

.edit_gray_14 {
  font-size: 14px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") no-repeat;
  color: #cccccc; }

.edit_gray_14:hover {
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -34px no-repeat;
  color: #cc3333;
  cursor: pointer; }

.edit_dark_gray_14 {
  font-size: 14px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -68px no-repeat;
  color: #999999; }

.edit_dark_gray_14:hover {
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -34px no-repeat;
  color: #cc3333;
  cursor: pointer; }

.edit_light_gray_inverse_14 {
  font-size: 14px;
  padding-left: 14px;
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 0 no-repeat;
  color: #cccccc; }

.edit_light_gray_inverse_14:hover {
  background: url("/images/pen_cccccc_791a10_999999_ffffff_cc3333.png") 0 -102px no-repeat;
  color: white;
  cursor: pointer; }

.inline_nudge {
  margin-right: 6px; }

.is_sharing {
  line-height: 50px; }

#item_name {
  font-size: 16px; }

#right_commentbox {
  font-family: inherit;
  color: #78797d;
  margin-bottom: 10px; }

#blocker {
  /* enables left border of right_content to stretch down to comment height */
  clear: both;
  display: block;
  height: 0px; }

#action_button {
  width: 216px;
  height: 46px;
  cursor: pointer;
  cursor: hand;
  position: absolute;
  bottom: 50px;
  left: 71px;
  border: 0;
  overflow: hidden; }
  
/* ----- previous, next -----*/

.next, .previous {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 220px;
  z-index: 50;
  background: url("/images/prevnext.png") 0 0px;
  -moz-opacity: 0.8;
  opacity: .8;
  filter: alpha(opacity=80);
  zoom: 1; }

.next, .collection .next {
  right: -50px;
  background-position: 0 -40px; }

.previous, .collection .previous { left: -50px; }

.next:hover, .previous:hover,
.collection .next:hover, .collection .previous:hover {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

.next:active, .previous:active,
.collection .next:active, .collection .previous:active {
	-moz-opacity: 0.5;
  opacity: .5;
  filter: alpha(opacity=50); }
  
.collection .next,
.collection .previous {
	top: 108px; }
	
.strapline {
  font-family: 'FuturaStdBold', Arial, sans-serif;
  line-height: 50px;
  font-size: 24px; }

/* ------------------------------ Tabs */
.tab {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: white;
  position: relative;
  display: block; }

.tab.major, .tab.current {
	font-size: 18px; }
  
.tab span.trans {
  -moz-opacity: 0.80;
  opacity: .80;
  filter: alpha(opacity=80);
  zoom: 1; }

.tab:hover span.trans {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }
  
.tab.title {
	height: 40px;
	line-height: 40px; }
	
.tab.title.overhang {
	margin-top: -40px; }

.small_top_margin {
  margin-top: 1px; }

.small_bottom_margin {
  margin-bottom: 1px; }

.large_top_margin {
  margin-top: 10px; }

.large_bottom_margin {
  margin-bottom: 10px; }

.no_small_top_margin {
  margin-top: -3px; }

.tab.triangle {
  cursor: pointer;
  padding-right: 22px; }

.tab.triangle:hover,
.tab.triangle:active  {
  background: url("/images/triangles.png") 52px 3 no-repeat; }

.tab.on, .tab.on:hover, .tab.on:active {
  background: url("/images/triangles.png") 52px -147px no-repeat; }
  
.tab.on.current, .tab.on.current:hover, .tab.on.current:active {
  background: url("/images/triangles.png") 85px -147px no-repeat; }

.tab.on span.trans {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

.tab.static, .tab.static:hover, .tab.static:active {
  background-position: right 0;
  cursor: default; }
 
.tab.triangle.major.load, .tab.triangle.major.load:hover, .tab.triangle.major.load:active {
  background: url("/images/tab_load_999999.gif") 62px center no-repeat; }
  
.tab.static.load, .tab.static.load:hover, .tab.static.load:active {
  background: url("/images/tab_load_999999.gif") 62px center no-repeat; }

.tab.triangle.current.load, .tab.triangle.current.load:hover, .tab.triangle.current.load:active {
  background: url("/images/tab_load_999999.gif") 95px center no-repeat; }
  
.tab .shadowbox {
	position: absolute;
	top: -6px;
	right: -6px;
	bottom: -6px;
	left: -6px;
	background: url('/images/black_5.png');
	z-index: -10000; }

.tab .count {
  float: right;
  padding-right: 8px;
  font-size: 14px;
  color: #cccccc; }

.tab.on .count {
  color: inherit; }

.tab:hover .count {
  color: inherit; }

.tab:active .count {
  color: inherit; }

.tab.image {
	height: 36px;
	line-height: 36px;
  padding-left: 0px;
  font-size: 14px; }

.tab.image img {
  width: 36px;
  height: 36px;
  float: left;
  padding-right: 10px;
  -moz-opacity: 0.90;
  opacity: .90;
  filter: alpha(opacity=90);
  zoom: 1; }

.tab.image:hover img {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

/* ------------------------------ Sidebar  */

.sidebar {
  width: 180px;
  float: left;
  z-index: 4999;
  color: #555555;
  position: relative;
  line-height: 0px; }

.sidebar.right {
  float: right; }

.sidebar .user_photo {
  width: 180px;
  max-width: 180px; }

.sidebar .username {
  -webkit-font-smoothing: antialiased;
  padding: 19px 0px 13px;
  line-height: 36px;
  font-size: 24px;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  position: relative; }

.sidebar .user_byline_display {
	font-size: 14px;
  line-height: 21px;
  color: #f5f5f5;
  width: 158px;
  padding: 10px 10px 10px 12px;
  background: url("/images/black_20.png"); }

.sidebar .placeholder_text {
	font-size: 14px;
	line-height: 21px;
	color: white; }

.sidebar .placeholder_text a {
	color: #cc3333; }
	
.sidebar .user_byline_input {
  font-family: 'FuturaStdBook', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  width: 158px;
  height: 84px;
  border: 2px solid transparent;
  padding: 8px 8px 8px 10px;
  background: url("/images/black_20.png"); }
  
.sidebar .user_byline_save {
	clear: both;
	height: 32px;
	width: 48px;
	text-align: center;
	line-height: 32px;
	color: #cc3333;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	color: #cc3333;
	font-size: 16px;
	display: block; }

.user_byline_inline_edit {
	color: #cc3333;
	margin-left: 4px; }

.sidebar .tile_frame {
  position: relative;
  width: 36px;
  height: 36px;
  float: left;
  cursor: pointer; }

.sidebar img.tile {
	position: absolute;
	top: 0px;
	left: 0px;
  height: 35px;
  width: 35px; }

.sidebar .tile_list {
  height: 24px;
  width: 24px;
  z-index: 1000;
  float: left;
  margin-right: 8px; }

.sidebar a.tile_list_frame {
  font-size: 12px;
  position: relative;
  width: 180px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 2px;
  -webkit-font-smoothing: antialiased;
  z-index: 3000;
  cursor: pointer;
  display: block; }

.sidebar a.tile_list_frame:hover {
  background: url("/images/black_10.png"); }

.sidebar a.tile_list_frame:active {
  background: url("/images/black_30.png"); }

.sidebar .invite {
  background: url("/images/invite_plus.png") 0px 0px no-repeat; }
  
.sidebar .invite:hover {
  background: url("/images/invite_plus.png") 0px -35px no-repeat; }

.sidebar .invite:active {
  background: url("/images/invite_plus.png") 0px -70px no-repeat; }

.sidebar .tile_frame:hover .tooltip_up_000000_80,
.sidebar .tile_frame:hover .tooltip_down_ffffff,
.sidebar .tile_frame:hover .tooltip_up_ffffff,
.sidebar .tile_frame:hover .tooltip_down_right_ffffff,
.sidebar .title .detail:hover .tooltip_down_right_333333 {
  display: block; }

.sidebar .button_dark:hover {
  background-color: #323232; }

.sidebar ol li {
  list-style: decimal outside;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-left: 28px; }

.sidebar ol li .item {
  font-family: 'FuturaStdBook', Arial, sans-serif; }

.sidebar ol li a .item {
  color: white; 
  -moz-opacity: 0.80;
  opacity: .80;
  filter: alpha(opacity=80); }

.sidebar ol li a .item:hover {
  -moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

.tooltip_down_ffffff {
  position: absolute;
  display: none;
  top: -36px;
  left: 0px;
  height: 36px;
  line-height: 36px;
  padding: 0px 10px 8px;
  background: url("/images/tooltip_down_ffffff.png") no-repeat;
  background-position: left bottom;
  color: #555555;
  font-size: 14px;
  white-space: nowrap; }

.tooltip_up_ffffff {
  position: absolute;
  display: none;
  top: 27px;
  left: 0px;
  height: 36px;
  line-height: 36px;
  padding: 8px 12px 6px;
  background: url("/images/tooltip_up_ffffff.png") no-repeat;
  background-position: left bottom;
  color: #555555;
  font-size: 14px;
  white-space: nowrap; }
  
.tooltip_up_000000_80 {
  position: absolute;
  display: none;
  top: 27px;
  left: 0px;
  height: 36px;
  line-height: 36px;
  padding: 8px 12px 6px;
  background: url("/images/tooltip_up_000000_80.png") no-repeat;
  background-position: left bottom;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  z-index: 100; }

#main {
  width: 578px;
  float: left;
  margin: 0 19px;
  position: relative; }
  
#main .heading {
	font-size: 26px;
  line-height: 150%;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px #333333;
  padding: 6px 10px 18px; }
 
#main .heading .em { color: #cc3333; }

#main .placeholders { width: 579px; }

#main .placeholder {
	width: 192px;
	display: block;
	height: 278px;
	position: relative;
	float: left; 
	font-size: 24px;
	line-height: 32px;
	color: white; 
	cursor: pointer;
	margin: 0 1px 1px 0;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

#main .placeholder .fader { 
		background: url('/images/black_50.png');
		position: absolute;
		padding-top: 106px;
		top: 0px;
		height: 172px;
		width: 192px; }

#main .placeholder .fader:hover {
 	background: url('/images/black_40.png'); }

#main .placeholder.box.like { background-image: url('/images/place_like_image.jpg'); }
#main .placeholder.box.want { background-image: url('/images/place_want_image.jpg'); }

#main .placeholder.box.like_2 { background-image: url('/images/place_like_image_2.jpg'); }
#main .placeholder.box.want_2 { background-image: url('/images/place_want_image_2.jpg'); }

#main .placeholder.box.like .overlay,
#main .placeholder.box.want .overlay {
	width: 580px;
	height: 260px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat; }

#main .placeholder.box.like .overlay { background-image: url('/images/place_like_text.png'); }
#main .placeholder.box.want .overlay { background-image: url('/images/place_want_text.png'); }

#main .titlebar {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  color: white; }

#main .titlebar .menu { 
	position: absolute;
	z-index: 1000;
	right: 0px; 
	zoom: 1;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-moz-opacity: 0.80;
  opacity: .80;
  filter: alpha(opacity=80); }

#main .titlebar .menu:hover { 
	background: url('/images/black_30.png'); 
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

#main .titlebar .menu .title { 
	display: block;
	padding: 0 26px 0 12px;
	cursor: pointer;
	height: 40px;
	background: url("/images/arrows.png") right 0px no-repeat; }

#main .titlebar .menu .list { 
	display: none; 
	background: url('/images/black_60.png');
	color: white;
	padding: 6px 0 9px; 
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px; }

#main .titlebar .menu .list li { 
	height: 28px;
	cursor: pointer;
	line-height: 28px;
	padding: 0 12px;
	-moz-opacity: 0.80;
  opacity: .80;
  filter: alpha(opacity=80);
  zoom: 1; }

#main .titlebar .menu .list li:hover { 
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }
	
#main .titlebar .menu .title:hover ~ .list, #main .titlebar .menu .list:hover { display: block; }
	
#main .titlebar.overhang {
	margin-top: -40px; }

#main .titlebar.timeline {
	font-size: 14px;
	padding-left: 20px;
	background: url('/images/timeline_stop.gif') center left no-repeat;
	border-left: 4px solid white;
  color: white; }
  
#main .titlebar.timeline.latest {
	background: url('/images/timeline_stop_latest.png') bottom left no-repeat;
	border-left: none;
	padding-left: 30px;
	margin-left: -6px; }

#main .titlebar a.cat {
  color: white;
  margin-right: 5px;
  -moz-opacity: 0.80;
  opacity: .80;
  filter: alpha(opacity=80);
  zoom: 1; }

#main .titlebar a.cat.on,
#main .titlebar a.cat:hover {
  -moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }
  
#main .titlebar a.action {
	font-size: 14px;
	margin: 0 0 0 8px;
	display: inline-block;
	color: white; }

#main .titlebar a.action.comment {
	background: url("/images/bubbles.png") -13px -70px no-repeat;
  padding-left: 17px; }

#main .titlebar a.action.pushed {
	color: #666666; }

#main .titlebar a.action span.in {
  display: none; }

#main .titlebar a.action.pushed span.out {
  display: none; }

#main .titlebar a.action.pushed span.in {
  display: block; }

#main .sequence_title {
	font-size: 18px;
	color: white;
	margin-top: -2px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-left: 4px solid white; }

#main .sequence_title a:hover {}

#main .sequence {
	width: 564px;
	padding-bottom: 14px;
	padding-left: 20px;
	border-left: 4px solid white; 
	-moz-opacity: 0.90;
	opacity: .90;
	filter: alpha(opacity=90);
	zoom: 1; }

#main .sequence:hover {
	-moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100); }

#main .sequence:after {
	clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0; }

#main .sequence .product {
	width: 94px;
	height: 94px;
	border: 7px solid white;
	margin: 0 1px 1px 0;
	float: left;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: white; }

#main .sequence .product.stamp {
	width: 100px;
	height: 100px;
	border: 6px solid white;
	margin: 0 5px 5px 0;
	float: left;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
/* 	background-size: 100px auto; */
	background-color: white; }

.new_collection {
	height: 32px;
	padding: 16px 0 16px 30px;
	margin-left: -6px;
	background: url('/images/timeline_stop_latest_update.png') bottom left no-repeat; }

.new_collection.on_now_placeholder {
	padding: 3px 0 29px 30px;
	text-align: center;
	font-size: 26px;
	color: white;
  line-height: 31px;
  text-shadow: 0 1px 1px #333333; }

.new_collection.on_now_placeholder span.subtitle {
	font-size: 18px; }

.new_collection.on_now_placeholder span.red { color: #cc3333; }

.new_collection a.update,
.new_collection a.start {
	height: 32px;
	width: 108px;
	display: block;
	background: url('/images/on_now_buttons.png') no-repeat;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); }

.new_collection a.update:hover { background-position: 0 -32px; }
.new_collection a.update:active { background-position: 0 -64px; }

.new_collection a.start { 
	background-position: 0 -276px; 
	display: inline-block;
	margin-top: 12px; }
	
.new_collection a.start:hover { background-position: 0 -308px; }
.new_collection a.start:active { background-position: 0 -340px; }

/* ------------------------------ Products */
.products {
  width: 579px; }

.products:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0; }

.products .product {
  float: left;
  width: 192px;
  height: 278px;
  padding: 0px;
	margin: 0 1px 1px 0;
  position: relative;
  background: white;
  z-index: 1;
  zoom: 1;
  -moz-opacity: 0.90;
  opacity: .90;
  filter: alpha(opacity=90);
  color: #999999; }

.products .product:hover {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }

/* ----- Product collection show specific ----- */
.products.collection {
	width: 785px;
	padding: 21px 17px 37px 33px;
	background: white;
	margin: 0 auto;
	position: relative; }

.products.collection .stamp {
	background: url('/images/stamp_bg_full.png') no-repeat;
	top: -3px;
	left: -3px;
	padding: 15px;
	margin: 0 0 -5px -5px;
	float: left;
	width: 170px;
	height: 250px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	z-index: 1;
	color: #999; }
	
.products .stamp a.top {
	display: block;
	width: 170px;
	height: 230px;
	line-height: 230px;
	text-align: center;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat; }

.products .stamp .bottom {
	width: 180px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	text-align: left;
	color: #BBB;
	white-space: nowrap;
	overflow: hidden; }
	
.products .stamp .bottom .fade {
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: url("/images/bottom_right_fade.png") center right repeat-y; }
	
table.collection.details {
	width: 835px;
	background: white;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0; }

table.collection.details td {
	height: 50px;
	vertical-align: middle; }

table.collection.details .photo {
	width: 50px;
	padding: 22px 0 0 28px; }

table.collection.details .photo img {
	width: 50px;
	height: 50px;
	vertical-align: middle; }

table.collection.details .textbox {
	padding: 22px 28px 0 14px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	white-space: nowrap;
	overflow-y: hidden; }

table.collection.details .textbox a { color: #555555; }
table.collection.details .textbox a:hover { color: #cc3333; }

table.collection.details .textbox .title { 
	font-size: 20px;
	color: #333333; }

/* ----- End of collection show specific ----- */

.products .product a.top {
  display: block;
  width: 192px;
  height: 244px;
  line-height: 244px;
  text-align: center;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  /* 	background-size: 170px auto; */}

.products .product .top .image {
  max-width: 192px;
  max-height: 244px;
  vertical-align: middle;
  position: relative; }

.products .product .bottom {
  height: 18px;
  width: 184px;
  padding: 34px 0px 8px 8px;
/*   padding: 8px 0px 8px 8px; */
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url('/images/bottom_fade_60_100.png') top center repeat-x;
  text-align: left;
  color: #aaaaaa;
  white-space: nowrap;
  overflow: hidden; }

.products .product .bottom a { color: #cc3333; }

.products .product .bottom img {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 6px; }

.products .product .bottom .fade {
  width: 30px;
  height: 34px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: url("/images/bottom_right_fade.png") center right repeat-y; }

.products .product .bottom a.user {
  color: #555555; }

.products .product .bottom a.user:hover {
  color: #cc3333; }

.products .product:hover .edit {
	display: block; }

.products .product .feedback {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  display: none; }

.product:hover .feedback {
  display: block; }

.products .product .feedback .buttons {
  height: 34px;
  font-size: 14px;
  padding-bottom: 26px;
  line-height: 32px;
  color: white;
  text-align: center; }

.products .product .feedback .buttons:hover {}

.products .product .feedback .buttons .button {
	padding: 0 10px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  float: left;
  margin-right: 1px;
  vertical-align: top;
  cursor: pointer;
  background: url('/images/black_60.png'); 
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
  zoom: 1; }

.products .product .feedback .buttons .button .bubble_img {
	margin-top: 10px; }
	
.products .product .feedback .buttons .button .pen_img {
	margin-top: 9px;
	margin-right: 6px; }
 
.products .product .feedback .buttons .button:hover {
 	-moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100); }

.products .product .feedback .buttons .button:hover {}

.products .product .feedback .buttons .pushed {}

.products .product .feedback .buttons .comments_none {
  background: url("/images/bubbles.png") center -74px no-repeat;
  width: 15px; }

.products .product .feedback .buttons .comments_some {
  background: url("/images/bubbles.png") center -74px no-repeat;
  width: 15px; }

.products .product .feedback .buttons .comments_some:hover {
  background: url("/images/bubbles.png") center -74px no-repeat;
  width: 15px; }

.products .product .feedback .buttons .comments_none:hover {
  background: url("/images/bubbles.png") center -74px no-repeat;
  width: 15px; }

.products .product .feedback .buttons .held,
.products .product .feedback .buttons .held:hover {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  color: white; }

.products .product .feedback .buttons span.in {
  display: none; }

.products .product .feedback .buttons .pushed span.out {
  display: none; }

.products .product .feedback .buttons .pushed span.in {
  display: block; }


/* ------------------------------ Profile Page Closet Own Button Context Box */
.products .product .feedback .buttons .button .context_box {
  width: 176px;
  height: 202px;
  position: absolute;
  top: -8px;
  left: -8px; /* only difference with item page variant */
	padding: 76px 8px 0px;
  line-height: 100%;
/*   background: #f5f5f5; */
  background: url('/images/black_80.png');
  text-align: left;
  font-size: 14px;
  cursor: default;
  z-index: 500; }

.products .product .feedback .buttons .button .context_box .step {
  margin-bottom: 18px; }

.products .product .feedback .buttons .button .context_box .inactive .inputfield {
  -moz-opacity: 0.2;
  opacity: .20;
  filter: alpha(opacity=20);
  zoom: 1;
  background-image: none; }

.products .product .feedback .buttons .button .context_box .inactive .dollar {
  display: none; }

.products .product .feedback .buttons .button .context_box .title {
  color: white;
  margin-bottom: 4px; }

.products .product .feedback .buttons .button .context_box .title .option .checkbox {
  margin-left: 8px;
  -moz-opacity: 0.2;
  opacity: .20;
  filter: alpha(opacity=20);
  zoom: 1; }

.products .product .feedback .buttons .button .context_box .title .option label {
  color: white;
  margin-left: -2px; }

.products .product .feedback .buttons .button .context_box .title .option:hover label,
.products .product .feedback .buttons .button .context_box .title .option:hover .checkbox,
.products .product .feedback .buttons .button .context_box .inactive .title .option .checkbox,
.products .product .feedback .buttons .button .context_box .inactive .title .option label {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1; }

.products .product .feedback .buttons .button .context_box .title span.longer_title {
  display: none; }

.products .product .feedback .buttons .button .context_box .inputfield {
  color: #555555;
  width: 168px;
  padding: 4px 4px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  background: white url("/images/black_7.png") repeat-x;
  font-family: 'FuturaStdBook', Arial, sans-serif; }

.products .product .feedback .buttons .button .context_box .price {
  width: 68px;
  padding-left: 14px; }

.products .product .feedback .buttons .button .context_box .price_container {
  position: relative; }

.products .product .feedback .buttons .button .context_box .price_container .dollar {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 24px;
  width: 8px;
  line-height: 22px;
  color: #555555;
  font-size: 16px; }

.products .product .feedback .buttons .button .context_box .but {
  height: 28px;
  line-height: 24px;
  font-size: 12px;
  margin-left: 0px; }

.products .product .feedback .buttons .button .context_box .own_to_closet {
  width: 176px;
  height: 36px;
  margin-top: 2px;
  background: url("/images/profile_buttons.png") center -234px;
  border: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color='#999999')"; }

.products .product .feedback .buttons .button .context_box .own_to_closet:hover {
  background-position: center -270px; }

.products .product .feedback .buttons .button .context_box .own_to_closet:active {
  background-position: center -306px; }

.products .product .feedback .buttons .button .context_box .cancel {
  width: 192px;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
  position: absolute; }

/* incomplete exception styling for BOTH own box instances */
.context_box .inputfield.incomplete {
  border-color: #cc3333 !important;
  background: #f5d6d6 !important; }

.context_box .title.incomplete {
  color: #cc3333 !important; }

.context_box .dollar.incomplete {
  border-color: #cc3333 !important;
  color: #cc3333 !important;
  background: #f5d6d6 !important; }

/* ------------------------------ Item Page Own Button Context Box */
#extras .feedback .buttons .button .context_box {
  width: 176px;
  height: 144px;
  position: absolute;
  top: 32px;
  left: 0px;
  padding: 16px 8px 0px;
  border-top: 2px solid #ebe8e3;
  line-height: 100%;
  text-align: left;
  font-size: 14px;
  cursor: default;
  z-index: 500; 
  background: url('/images/black_60.png'); 
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; }

#extras .feedback .buttons .button .context_box .step {
  margin-bottom: 8px; }

#extras .feedback .buttons .button .context_box .inactive .inputfield {
  -moz-opacity: 0.2;
  opacity: .20;
  filter: alpha(opacity=20);
  zoom: 1;
  background-image: none; }

#extras .feedback .buttons .button .context_box .inactive .dollar {
  display: none; }

#extras .feedback .buttons .button .context_box .title {
  color: white;
  margin-bottom: 4px; }

#extras .feedback .buttons .button .context_box .title .option .checkbox {
  margin-left: 8px;
  -moz-opacity: 0.2;
  opacity: .20;
  filter: alpha(opacity=20);
  zoom: 1; }

#extras .feedback .buttons .button .context_box .title .option label {
  color: white;
  margin-left: -2px; }

#extras .feedback .buttons .button .context_box .title .option:hover label,
#extras .feedback .buttons .button .context_box .title .option:hover .checkbox,
#extras .feedback .buttons .button .context_box .inactive .title .option .checkbox,
#extras .feedback .buttons .button .context_box .inactive .title .option label {
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1; }

#extras .feedback .buttons .button .context_box .inputfield {
  color: #555555;
  width: 164px;
  padding: 4px 4px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  background: white url("/images/black_7.png") repeat-x;
  font-family: 'FuturaStdBook', Arial, sans-serif; }

#extras .feedback .buttons .button .context_box .price {
  width: 68px;
  padding-left: 14px; }

#extras .feedback .buttons .button .context_box .price_container {
  position: relative; }

#extras .feedback .buttons .button .context_box .price_container .dollar {
  position: absolute;
  top: 7px;
  left: 7px;
  height: 24px;
  width: 8px;
  line-height: 22px;
  color: #555555;
  font-size: 16px; }

#extras .feedback .buttons .button .context_box .but {
  height: 28px;
  line-height: 24px;
  font-size: 12px;
  margin-left: 0px; }

#extras .feedback .buttons .button .context_box .own_to_closet {
  width: 176px;
  height: 36px;
  margin-top: 2px;
  background: url("/images/profile_buttons.png") center -234px;
  border: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color='#999999')"; }

#extras .feedback .buttons .button .context_box .own_to_closet:hover {
  background-position: center -270px; }

#extras .feedback .buttons .button .context_box .own_to_closet:active {
  background-position: center -306px; }

#extras .feedback .buttons .button .context_box .cancel {
  width: 190px;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
  position: absolute; }

/* ------------------------------ Extras */
#extras {
  padding: 28px 0px 20px 28px;
  /* keeps footer away from goodies */
  width: 807px;
/*   border-top: 1px solid #c3c2c0; */
  margin: 0 auto;
  position: relative;
  background: url("/images/white_90.png");
  -moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px; }

#extras:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0; }

#extras .feedback {
  width: 330px;
  float: right;
  font-size: 14px;
  color: #999999; }

#extras .feedback .buttons {
  height: 32px;
  width: 190px;
  margin-bottom: 22px; }

#extras .feedback .buttons .button {
  width: 62px;
  height: 32px;
  display: block;
  line-height: 32px;
  text-align: center;
  float: left;
  position: relative;
  color: white;
  cursor: pointer;
  background: url('/images/black_60.png');
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
	zoom: 1; }

#extras .feedback .buttons .button:hover,
#extras .feedback .buttons .button .held,
#extras .feedback .buttons .button .held {
  -moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100); }

#extras .feedback .buttons .button.want {
  margin-right: 1px;
  margin-left: 1px; }

#extras .feedback .buttons .pushed,
#extras .feedback .buttons .pushed:hover,
#extras .feedback .buttons .pushed:active {
  -moz-opacity: 0.4;
	opacity: .40;
	filter: alpha(opacity=40); }

#extras .feedback .buttons .button span.in {
  display: none; }

#extras .feedback .buttons .pushed span.in {
  display: inline-block; }

#extras .feedback .buttons .pushed span.out {
  display: none; }

#extras .feedback .feed_item {
  width: 100%;
  height: 32px;
  line-height: 32px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px; }

#extras .feedback .feed_item a {
  color: #cc3333; }
