/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	border-collapse: collapse;
	list-style: none;
}

html {}

a {
	text-decoration: none;
	color: inherit; 
	//color: expression(this.parentNode.currentStyle['color']);
}

body {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 16px;
/* 	background: #999999; */
/* 	background: #f8f8f8 url('/images/home_pink.jpg') no-repeat fixed; */
	background: url('/images/home_gold.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*
	background: #666666 url('/images/tiles_small.jpg') fixed;
	background-position: center 38px;
*/
	-webkit-font-smoothing: antialiased;
}

#logo {
	width: 81px;
	height: 38px;
	float: left;
}

#welcome_box {
	width: 849px;
	padding: 16px 16px 14px 20px;
	margin: 20px auto;
	background: #d33e3f;
	color: white;
	font-size: 18px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	line-height: 24px;
	position: relative;
}

.welcome_subtitle {
	font-size: 14px;
	color: #dddddd;
}

.welcome_button {
	position: absolute;
	top: 16px;
	right: 20px;
}

#header {
	height: 38px;
	width: 100%;
/* 	background: #262626; */
	background: black url('/images/header_bg.gif') repeat-x;
	position: fixed;
	top: 0px;
	z-index: 5000;
}

#navbar {
	width: 835px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

#navbar .buttons {}

#navbar .buttons .button {
	height: 27px;
	line-height: 28px;
	margin: 5px 10px;
	padding: 0px 12px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	background: #cc2222 url('/images/alert-overlay.png') repeat-x;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

#navbar .buttons .button:hover {
	color: white;
	background-color: #9f1414;
}

.futura_bold { font-family: 'FuturaStdBold', Arial, sans-serif; }
.futura_book { font-family: 'FuturaStdBook', Arial, sans-serif; }

/* ------------------------------ Onboarding */

#pic_bg {
	width: 100%;
	position: absolute;
	top: 38px;
	bottom: 0px;
	-webkit-font-smoothing: antialiased;
	color: white;
	font-size: 14px;
	line-height: 150%;
/*
	background: #f8f8f8 url('/images/tiles_small.jpg');
	background-position: center -38px;
*/
	background: url('/images/home_gold.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pic_bg.fixed_bg {
	overflow-y: scroll;
	overflow-x: hidden;
}

#pic_bg #container {
	width: 480px;
	height: 475px;
	padding-top: 16px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#pic_bg #container #box {
	width: 420px;
	/* background: url('/images/black_75.png'); */
	background: url('/images/333333_90.png');
	margin: 0 auto;
	position: relative;
	padding: 30px;
}

#pic_bg #container #box .heading {
	margin-bottom: 16px;
}

#pic_bg #container #box .heading .title {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	font-size: 24px;
	line-height: 150%;
}

#pic_bg #container #box #contacts .loading {
	margin-top: 24px;
}

#pic_bg #container #box .continue_wide,
#pic_bg #container #box .view_friends_list_wide  {
	width: 340px;
	height: 38px;
	margin-top: 10px;
	cursor: pointer;
	display: inline-block;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#pic_bg #container #box .continue_wide {
	background: url('/images/continue_wide.gif') no-repeat;
}

#pic_bg #container #box .view_friends_list_wide {
	background: url('/images/view_friends_list_wide.gif') no-repeat;
}

#pic_bg #container #box .continue_wide:hover,
#pic_bg #container #box .view_friends_list_wide:hover {
	background-position: 0 -50px;
}

#pic_bg #container #box .continue_top_right_corner {
	width: 105px;
	height: 28px;
	background: url('/images/continue_top_right_corner.png') no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
}

#pic_bg #container #box .invite_search_enclosure {
	width: 326px;
	height: 32px;
	margin: 0 auto;
	position: relative;
}

#pic_bg #container #box .textfield_title {
	margin: 0 auto 4px;
	width: 326px;
	text-align: left;
}

#pic_bg #container #box .textfield {
	width: 308px;
	height: 28px;
	padding: 2px 8px;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	color: #333333;
	border: 1px solid #999999;
	background: white url('/images/slim_shadow_light.png') repeat-x;
}

#pic_bg #container #box .x-text {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	right: 2px;
	background: url('/images/x-text.gif') no-repeat;
}

#pic_bg #container #box .x-text:hover {
	background: url('/images/x-text.gif') 0px -30px no-repeat;
}

#pic_bg #container #box .invite_list {
	width: 324px;
	text-align: left;
	margin: 24px auto;
}

#pic_bg #container #box .invite_list .invite_row {
	height: 32px;
	width: 324px;
	line-height: 32px;
	margin-bottom: 4px;
	position: relative;
}

#pic_bg #container #box .invite_list .invite_row img.invite_user {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 12px;
}

#pic_bg #container #box .invite_list .invite_row .invite {
	width: 60px;
	height: 26px;
	background: url('/images/invite_button_red.gif') no-repeat;
	position: absolute;
	top: 3px;
	right: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#pic_bg #container #box .invite_list .invite_row .invite:hover {
	background: url('/images/invite_button_red.gif') 0 -50px no-repeat;
	cursor: pointer;
}

#pic_bg #container #box .invite_list .invite_row img.invite_user:hover,
#pic_bg #container #box .invite_list .invite_row .name:hover {
	cursor: pointer;
}

#pic_bg #container #footer {
	color: #666666;
  line-height: 20px;
	font-size: 12px;
	color: #999999;
	width: 480px;
	text-align: center;
	margin: 6px auto 0px;
}

/* ------------------------------ Creation */

.new_product {
	width: 275px;
	margin: 0px auto;
	color: white;
	font-size: 14px;
	padding: 0px 30px 0px;
	text-align: left;
}

.step {
	margin-bottom: 8px;
	clear: both;
}

.go_button {
	width: 70px;
}

.step_example {
	font-size: 12px;
	color: #c6c6c6;
	clear: both;
}

.creation_input {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	height: 26px;
	width: 263px;
	margin: 0px 0 3px;
	border: 1px solid #999999;
	padding: 2px 5px;
	line-height: 26px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	color: #666666;
	vertical-align: top;
	background: #fbfbfb url('/images/slim_shadow_light.png') repeat-x;
	margin-top: 5px; 
	float: left;
}

.creation_search_chooser {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	height: 26px;
	width: 263px;
	margin: 0px 0 3px;
	border: 1px solid #cccccc;
	padding: 2px 5px;
	line-height: 26px;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	color: #666666;
	vertical-align: top;
	background: #fbfbfb;
}

.creation_search { width: 213px; }
.creation_endorsement { height: 48px; line-height: 150%; margin-bottom: -6px; }
.creation_price {  
	width: 66px;
	border-left: transparent;
	margin-left: -1px;
}

.creation_dollar {
	width: 15px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	text-align: right;
	background: #fbfbfb url('/images/slim_shadow_light.png') repeat-x;
	float: left;
	color: #666666;
	margin-top: 5px;
}

.creation_dollar_inactive {
	color: 666666;
	border-color: #999999;
	background: #999999;
	display: none;
}

#product_search, .product_search_chooser { 
	width: 50px; 
	height: 32px;
	line-height: 30px;
	background: #525252 url('/images/alert-overlay.png') repeat-x; 
	color: #fff; 
	text-decoration: none;
	overflow: visible;
	font-size: 14px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border: none;
	cursor: pointer;
	display: inline;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

#store_box, #price_box { position: relative; }
#price_box { width: 98px; }

.creation_checkbox_right { position: absolute; top: 0px; right: 5px; color: #cccccc; }
.creation_checkbox_right:hover, .creation_checkbox_right_active { color: white; }
.creation_checkbox_right input {
	-moz-opacity: 0.2;
	opacity: .20;
	filter: alpha (opacity=20);
}

.creation_checkbox_right:hover input, .creation_checkbox_right_active input {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha (opacity=100);
}

.creation_input_inactive { 
	background-color: #999999; 
	border: 1px solid #999999;
	background-image: none;
	display: none;
}

#product_search { margin-top: 5px;}
.product_search_chooser { margin-left: -7px; margin-right: 52px; }

#product_search:hover, .product_search_chooser:hover {
	background-color: #323232;
}

#product_selection {
	width: 265px;
	height: 140px;
	line-height: 140px;
	background: white url('/images/spinner.gif') no-repeat;
	background-position: center;
	text-align: center;
  display:none;
  padding: 5px;
}

#product_selection_photo {
	max-width: 265px;
	max-height: 140px;
}

.add_to_closet_button {
	width: 275px;
	height: 36px;
	border: none;
	color: white;
	cursor: pointer;
	margin: 12px 0 6px;
	font-size: 14px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #24578f url('/images/alert-overlay.png') repeat-x; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.add_to_closet_button:hover {
	background-color: #1e4774;
}

/* ------------------------------ Product Page */

#container {
	width: 885px;
	position: relative;
	margin-top: 67px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
}

.emphasis { color: #d33e3f; }

#product_section {
	background: white;
	position: relative;
}

.product_top_bar {
	height: 30px;
	width: 835px;
	background: #eeeeee;
	position: relative;
}

#left, #right {
	height: 390px;
	float: left;
}

#left {	
	width: 400px;
	background: white;
	padding: 10px;
	text-align: center;
	position: relative;
}

#product_section .buttons {
	position: absolute;
	width: 98px;
	height: 32px;
	right: 6px;
	bottom: 6px;
}

#product_section .buttons .button {
	width: 47px;
	height: 30px;
	color: #cccccc;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	float: left;
	border: 1px solid transparent;
	background: white;
	display: block;
	color: #666666;
}

#product_section .buttons .button:hover {
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #d33e3f;
}

#product_section .buttons .button:active {
	background: #f8f8f8 url('/images/slim_shadow_light.png') repeat-x;
}

.left_delete a {
	position: absolute;
	font-size: 12px;
	color: #cccccc;
	display: block;
	cursor: pointer;
	z-index: 10000;
}

.left_delete a:hover {
	color: #d33e3f;
}

.photo {
	line-height: 390px;
}

#left_photo {
	max-width: 400px;
	max-height: 350px;
	vertical-align: middle;
}

#item_search {
	margin-top: 102px;
}

.swfupload {
	background: url('/images/upload.png') no-repeat;
	cursor: pointer;
}

#right {
	width: 415px;
}

#right_text td {
	height: 390px;
	vertical-align: middle;
}

#right_text_div {
	color: #999999;
	width: 296px;
	font-size: 14px;
	line-height: 24px;
	padding: 0 16px;
	border-left: 1px solid #dddddd;
}

#right_user_image {
	height: 390px;
	line-height: 390px;
	float: left;
	padding: 0px 16px 0px 0px;
}

#right_user_image img {
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}

.right_title {
	font-family: 'FuturaStdBold', Arial, sans-serif; 
	font-size: 16px;
	color: #333333;
}

.right_price, .right_store {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #666666;
}

#right_relativist {
	position: relative;
	clear: both;
	height: 0px;
}

#right_extras {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	position: absolute;
	left: 0px;
	color: #999999;
	top: 16px;
	width: 280px;
	height: 72px;
}

.product_endorsement { /* product page endorsement */
	font-family: 'FuturaStdBook', Arial, sans-serif;
	position: relative;
	left:-11px;
	top: -6px;
	color: #999999;
	width: 280px;
	padding: 5px 10px;
	height: 72px;
	border: 1px solid #cccccc;
	line-height: 24px;
}

#product_update, #product_cancel {
	float: right;
	margin-left: 8px;
	margin-top: -10px;
}

.submit_red_12 {
	height: 16px;
	color: #cccccc;
	font-size: 12px;
	color: #d33e3f;
	cursor: pointer;
}

.edit_gray_12 {
	font-size: 12px;
	padding-left: 14px;
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -2px no-repeat;
	color: #cccccc;
}

.edit_gray_12:hover {
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -104px no-repeat;
	color: white;
	cursor: pointer;
}

.edit_red_14 {
	font-size: 14px;
	padding-left: 14px;
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -136px no-repeat;
	color: #d33e3f;
}

.edit_red_14:hover {
	cursor: pointer;
}

.edit_gray_14 {
	font-size: 14px;
	padding-left: 14px;
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') no-repeat;
	color: #cccccc;
}

.edit_gray_14:hover {
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -34px no-repeat;
	color: #d33e3f;
	cursor: pointer;
}

.edit_dark_gray_14 {
	font-size: 14px;
	padding-left: 14px;
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -68px no-repeat;
	color: #999999;
}

.edit_dark_gray_14:hover {
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -34px no-repeat;
	color: #d33e3f;
	cursor: pointer;
}

.edit_light_gray_inverse_14 {
	font-size: 14px;
	padding-left: 14px;
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 0 no-repeat;
	color: #cccccc;
}

.edit_light_gray_inverse_14:hover {
	background: url('/images/pen_cccccc_791a10_999999_ffffff_d33e3f.png') 0 -102px no-repeat;
	color: white;
	cursor: pointer;
}


.inline_nudge {
	margin-left: 3px;
}


.is_sharing {
	line-height: 50px;
}

#item_name {
	font-size: 16px;
}

#right_commentbox {
	font-family: inherit;
	color: #78797d;
	margin-bottom: 10px;
}

#blocker { /* enables left border of right_content to stretch down to comment height */
	clear:both;
	display: block;
	height: 0px;
}

#action_button {
	width: 216px;
	height: 46px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
	bottom: 50px;
	left: 71px;
  	border: 0;
  	overflow: hidden;
}

.action {
	position: absolute;
	bottom: 40px;
	left: 59px;
	border: 0;
	overflow: visible;
}

.action:active {
	bottom: 39px;
}

.f {
	vertical-align: middle;
	margin-right: 10px;
}

.f_friends {
	vertical-align: middle;
	margin-right: 8px;
}

.save_and_share {
	background: transparent url('/images/save_and_share_button.png') no-repeat;
}


#chooser {
	position: absolute;
	top: 24px;
	left: 24px;
	right: 24px;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
  z-index: 7000;
  overflow: visible;
}

#results {
	margin-top: 33px;
}

#chooser_title_bar {
	position: fixed;
	top: 0px;
	left: 24px;
	right: 24px;
	height: 32px;
	padding: 8px 0;
	line-height: 32px;
	text-align: center;
	color: #999999;
	background: white;
	font-size: 20px;
	z-index: 9999;
	border-top: 24px solid #333333;
	border-bottom: 1px solid #dddddd;
}

.photo_choice_cell {
	width: 160px;
	height: 160px;
	line-height: 158px;
	float: left;
	margin: 15px 15px 0px 0px; 
	position: relative;
	cursor: pointer;
	text-align: center;
	border: 1px solid #eeeeee;
}

.photo_choice_cell:hover {
	background: #f8f8f8;
}

.photo_choice_cell:hover .choose_this {
	display: block;
}

.photo_choice {
	max-width: 160px;
	max-height: 158px;
	vertical-align: middle;
}

.choose_this {
	display: none;
	height: 30px;
	line-height: 30px;
	position: absolute;
	bottom:-1px;
	left: -1px;
	right: -1px;
	font-size: 14px;
	color: white;
	background: #8E1E16;
	-moz-opacity: 0.9;
	opacity: .90;
	filter: alpha (opacity=90);
}

#scroll_for_more_results {
	height: 48px;
	width: auto;
	line-height: 48px;
	color: #999999;
	border-top: 1px solid #dddddd;
	font-size: 20px;
	text-align: center;
	position: fixed;
	background: white;
	right: 24px;
	left: 24px;
	bottom: 0px;
	z-index: 10000;
  display: none;
}

.navigation {
	height: 30px;
	line-height: 30px;
	color: #d33e3f;
	font-size: 12px;
	z-index: 9999;
	padding: 0 12px;
}

.navigation_whitey {
	width: 150px;
	height: 11px;
	background: white;
	position: absolute;
	z-index: 10000;
	top: 16px;
	left: 19px;
}

.next, .previous {
	width: 36px;
	height: 48px;
	font-family: Times, sans-serif;
	font-size: 48px;
	line-height: 40px;
	color: #cccccc;
	text-align: center;
	position: absolute;
	top: 202px;
	border-bottom: 1px solid #dddddd;
	z-index: 50;
	background: white url('/images/prevnext_cccccc_791a10_d33e3f.png') 0 -96px;
}

.next {
	right: -10px;
	background: white url('/images/prevnext_cccccc_791a10_d33e3f.png') 36px -96px;
}

.previous {
	left: -10px;
}

/*
.previous:hover {
	background: white url('/images/prevnext_cccccc_d33e3f.png') 0 -48px;
}

.next:hover {
		background: white url('/images/prevnext_cccccc_d33e3f.png') 36px -48px;
}
*/

/* ------------------------------ User Log-in, Profile Nav */

.strapline {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	line-height: 50px;
	font-size: 24px;
}

.nav {
	height: 38px;
	position: absolute;
	right: 0px;
	cursor: pointer;
}

.nav li {
	float: left;
	position: relative;
}

.nav li ul {
	background: white;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	z-index: 5000;
}

.nav li ul li {
	float: none;
	width: auto;
	line-height: 32px;
	font-size: 12px;
	color: #666666;
	background: white;
	padding: 0px 12px 0px;
}

/* login (v) list items for when adding settings etc.
.nav li ul a.login_list_item li {
	width: 100%;
}
*/


.nav li ul li:hover {
	background: #f8f8f8 url('/images/alert-overlay.png') repeat-x; 
	color: #d33e3f;
}

.nav_menu {
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	color: #dddddd;
	font-size: 14px;
	position: relative;
}

.nav_menu:hover {
	color: white;
	background: #444444;
}

/* Handles the showing and hiding of menu items */
.nav_add_item_button:hover ~ .nav_add_list, .nav_add_list:hover, .nav_login_button:hover ~ .nav_login_list, .nav_login_list:hover {
	display: block;
}

.nav_add_item_button {
	width: 72px;
	text-align: center;
}

.nav_add_list, .nav_login_list {
	display: none;
}

.nav_add_list {
	position: absolute;
	top: 38px;
	left: 0px;
	width: 90px;
}

.nav_user_button_user_photo {
	width: 22px;
	height: 22px;
	vertical-align:-6px;
	margin-right: 4px;
	margin-top: -1px;
}

.nav_login_button {
	width: 10px;
	background: url('/images/v_dddddd_ffffff.png') 0 0 no-repeat;
}

.nav_login_button:hover {
	background: #444444 url('/images/v_dddddd_ffffff.png') 0 -38px no-repeat;
}

.nav_login_list {
	position: absolute;
	right: 0px;
	white-space: nowrap;
}

.nav_login_button:hover .nav_user_button:hover {
	background: #333333;
}


/* ------------------------------ Profile-specific */

#outer {
	width: 835px;
	padding: 15px;
	background: url('/images/333333_90.png');
/* 	background: white; */
/* 	background: url('/images/white_80.png'); */
/* 	background: url('/images/black_30.png'); */
/* 	background: url('/images/white_30.png'); */
	margin: 53px auto 0;
}

#outer:after {
	clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}

#inner_side {
	width: 180px;
	padding: 0px 12px 12px 0px;
	float: left;
	z-index: 4999;
	color: white;
	position: relative;
}

#inner_side .user_photo {
	width: 180px;
	max-width: 180px;
}

#inner_side .username {
	-webkit-font-smoothing: antialiased;
	padding: 6px 0px 9px;
	line-height: 39px;
	font-size: 26px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#inner_side .store_username {
	font-size: 32px;
	line-height: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
}


#inner_side .store_byline { color: #999999; }

#inner_side #profile_bio {}

#inner_side #user_byline_default {
	width: 180px;
	font-size: 14px;
	line-height: 21px;
	color: white;
	padding: 7px 0px;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #555555;
	margin-bottom: 14px;
	
}

#inner_side #user_byline {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	width: 172px;
	height: 72px;
	font-size: 14px;
	line-height: 24px;
	color: #666666;
	padding: 0 4px;
	border: none;
	background: #f8f8f8 url('/images/slim_shadow_light.png') repeat-x;
}

#inner_side .update {
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

#inner_side .box {
	width: 185px;
	padding: 0 0 14px;
}

#inner_side .title {
	width: 180px;
	font-size: 12px;
	margin: 0px 0 8px;
	position: relative;
}

#inner_side .title .detail { 
	width: 18px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
	cursor: pointer;
	margin-right: 2px;
}

#inner_side .tile_listed { width: 180px; }
#inner_side .tiled { width: 185px; }

#inner_side .tile {
	height: 32px;
	width: 32px;
	z-index: 1000;
}

#inner_side .tile_list {
	height: 24px;
	width: 24px;
	z-index: 1000;
	float: left; 
	margin-right: 8px;
}

#inner_side .tile_frame {
	position: relative;
	width: 37px;
	height: 37px;
	float: left;
	cursor: pointer;
	z-index: 3000;
}

#inner_side .tile_list_frame {
	font-size: 12px;
	position: relative;
	width: 180px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 2px;
	-webkit-font-smoothing: antialiased;
	z-index: 3000;
	cursor: pointer;
	display: block;
}

#inner_side .tile_list_frame:hover { background: url('/images/333333_90.png'); }
#inner_side .tile_list_frame:active { background: #d33e3f; }

#inner_side .invite_1 { background: url('/images/invite_numbers.gif') 0px 0px no-repeat; }
#inner_side .invite_2 { background: url('/images/invite_numbers.gif') 0px -50px no-repeat; }
#inner_side .invite_3 { background: url('/images/invite_numbers.gif') 0px -100px no-repeat; }
#inner_side .invite_4 { background: url('/images/invite_numbers.gif') 0px -150px no-repeat; }
#inner_side .invite_5 { background: url('/images/invite_numbers.gif') 0px -200px no-repeat; }

#inner_side .tile_frame:hover .tooltip_down_333333,
#inner_side .tile_frame:hover .tooltip_down_ffffff,
#inner_side .tile_frame:hover .tooltip_down_right_ffffff,   
#inner_side .title .detail:hover .tooltip_down_right_333333 {
	display: block;
	z-index: 2000;
}

#inner_side .top_action_button {
	padding: 0 0 14px;
}

#inner_side .button {
	height: 36px;
	width: 180px;
	display: block;
	line-height: 36px;
	font-size: 13px;
	text-align: center;
}

#inner_side .invite {
	margin-top: 6px;
}

#inner_side .button_dark:hover {
	background-color: #323232;
}

#inner_side ol li {
	list-style: decimal outside;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	font-size: 12px;
	line-height: 21px;
	color: #999999;
	margin-left: 28px;
}

#inner_side ol li .item {
	font-family: 'FuturaStdBook', Arial, sans-serif;
}

#inner_side ol li a .item { color: #d33e3f; }
#inner_side ol li a:hover .item { text-decoration: underline; }

.tooltip_down_333333 {
	position: absolute;
	display: none;
	top: -29px;
	left: 0px;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px 5px;
	background: url('/images/tooltip_down_333333.png') no-repeat;
	color: white;
	font-size: 12px;
	white-space: nowrap;
}

.tooltip_down_ffffff {
	position: absolute;
	display: none;
	top: -26px;
	left: 0px;
	height: 22px;
	line-height: 22px;
	padding: 0px 6px 5px;
	background: url('/images/tooltip_down_ffffff.png') no-repeat;
	background-position: left bottom;
	color: #666666;
	font-size: 12px;
	white-space: nowrap;
}


.tooltip_down_right_ffffff {
	position: absolute;
	display: none;
	top: -28px;
	right: 5px;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px 5px;
	background: url('/images/tooltip_down_right_ffffff.png') no-repeat;
	background-position: right bottom;
	color: #333333;
	font-size: 12px;
	white-space: nowrap;
}

.tooltip_down_right_333333 {
	position: absolute;
	display: none;
	top: -29px;
	right: -11px;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px 5px;
	background: url('/images/tooltip_down_right_333333.png') no-repeat;
	background-position: right bottom;
	color: white;
	font-size: 12px;
	white-space: nowrap;
}

#inner_main {
	width: 643px;
	float: right;
}

#inner_main .title_box, 
#inner_main .module {
	width: 619px;
	padding: 12px;
	position: relative;
}

#inner_main .module {
/* 	background: #e9e9e9; */
/* 	background: white; */
	margin: 0px 0px 0px;
	position: relative;
	background: #eeeeee;
	/* 	background: url('/images/white_80.png'); */
/* 	border-top: 1px solid #d9d9d9; */
}

#inner_main .module .heading {
		color: #333333;
		height: 28px;
		line-height: 28px;
		width: 619px;
		margin-bottom: 10px;
		text-align: left;
/* 		border-bottom: 1px solid #dddddd; */
		/*background: #eeeeee;
*/
}

/* #inner_main .module .heading a { color: #d33e3f; } */

#inner_main .module .heading .button {
	line-height: 22px; 
	font-size: 12px; 
	padding: 0 8px;
	height: 22px;
	float: right;
	width: 42px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}

#inner_main .module .heading .title {
	font-size: 14px; 
	color: #555555;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	float: left;
}

.on_alert_box {
	height: 50px;
	background: #d13c40;
}


#shelves {}

/* ------------------------------ Products */

.products {
/* 	background: #f8f8f8; */
/* 	margin-top: 33px; */
	margin-left: -6px;
}

.products .product {
	float: left;
	width: 130px;
	height: 217px;
	padding: 10px;
	margin: 0px 0px 6px 6px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	background: white;
/* 	border-bottom: 1px solid #dddddd; */
}

.products .product .top {
	display: block;
	width: 130px;
	height: 130px;
	line-height: 129px;
	text-align: center;
	position: relative;
}

.products .product .top .image {
	max-height: 130px;
	max-width: 130px;
	vertical-align: middle;
	position: relative;
}

.products .product .top .image:hover {
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha (opacity=80);
}

.products .product .bottom {
	width: 130px;
	margin-top: 5px;
	position: relative;
}

.products .product .bottom .details { color: #cccccc; }
.products .product .bottom .details a { color: #d33e3f; }

.products .product .bottom .details a.title { 
	color: #333333;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	
}
.products .product .bottom .details .title:hover { color: #d33e3f; }

.products .product .feedback {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #fbfbfb;
}

.product:hover .feedback {
	display: block;
}

.products .product .feedback .buttons {
	height: 30px;
	line-height: 30px;
	color: #666666;
/* 	border: 1px solid #f8f8f8; */
}

/*
.products .product .feedback .buttons:hover {
	border-color: #cccccc;
}
*/

.products .product .feedback .buttons .button {
	width: 37px;
	height: 30px;
	text-align: center;
	float: left;
}

.products .product .feedback .buttons .like {
	width: 38px;
}

.products .product .feedback .buttons .button:hover {
	cursor: pointer;
	color: #d33e3f;
}

.products .product .feedback .buttons .pushed {
	background: #d33e3f /* url('/images/black_30.png') repeat-x */;
	color: white;
}

.products .product .feedback .buttons .comments_none {
	background: url('/images/bubbles_12.png') 0px -59px no-repeat; 
	width: 38px;
}

.products .product .feedback .buttons .comments_some {
	background: url('/images/bubbles_12.png') 0px -174px no-repeat; 
	width: 38px;
}

.products .product .feedback .buttons .comments_some:hover {
	background: white url('/images/bubbles_12.png') 0px -199px no-repeat; 
	width: 38px;
}

.products .product .feedback .buttons .comments_none:hover {
	background: url('/images/bubbles_12.png') 0px -109px no-repeat; 
}

.products .product .feedback .buttons .held,
.products .product .feedback .buttons .held:hover {
	color: #666666;
}

.products .product .feedback .buttons .pushed:hover { color: white; }

.products .product .feedback .buttons span.in {
	display: none;
}

.products .product .feedback .buttons .pushed span.out {
	display: none;
}

.products .product .feedback .buttons .pushed span.in {
	display: block;
}

/* ------------------------------ Comments */


#comments_container {
	width: 390px;
	float: left;
}

#add_comment {
	clear:both;
	height: 32px;
	margin-bottom: 22px;
}

#comment_data {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	background: white url('/images/slim_shadow_light.png') repeat-x;
	width: 289px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding: 5px 6px;
	vertical-align: top;
	float: left;
}

.comment_photo_self, .comment_photo {
	float: left;
	height: 32px;
	width: 32px;
	margin-right: 8px;
}

#comments {
}

.comment_photo {
	float: left;
	height: 32px;
	width: 32px;
	margin-right: 8px;
	display: block;
}

.comment_unit {
	padding-bottom: 16px;
	overflow: hidden;
}

.comment_unit_right {
	line-height: 21px;
	margin-top: -5px;
	margin-left: 40px;
	display: block;
}

.commenter_name, .comment_time {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #333333;
}

.commenter_name {
	font-weight: bold;
}

.comment_time {
	color: #999999;
}

.comment_text {
	vertical-align: top;
	font-size: 14px;
	color: #777777;
}

.small_button {
	height: 32px;
	width: 48px;
	line-height: 30px;
	background: #525252 url('/images/alert-overlay.png') repeat-x; 
	color: #fff; 
	text-decoration: none;
	overflow: visible;
	font-size: 12px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border: none;
	cursor: pointer;
	display: inline;
	vertical-align: top;
}

.small_button:hover {
	background-color: #323232;
}

#footer {
  line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #cccccc;
	padding: 0px 0px 10px;
	margin: 30px auto 0;
	clear: both;
}

/* ------------------------------ Button Context Box */

.button .context_box {
	width: 130px;
	height: 197px;
	position: absolute;
	top: -207px;
	right: 0px;
/* 	background: url('/images/white_80.png'); */
	background: white;
	padding: 40px 10px 0px;
	line-height: 100%;
	text-align: left;
	font-size: 12px;
	cursor: default;
	z-index: 500;
}

.button .context_box .step {
	margin-bottom: 10px;
}

.button .context_box .inactive .textfield {
	-moz-opacity: 0.4;
	opacity: .40;
	filter: alpha (opacity=40);
	background-image: none;
}

.button .context_box .inactive .dollar {
	display: none;
}

.button .context_box .title {
	color: #666666;
	margin-bottom: 4px;
}

.button .context_box .title .option .checkbox { 
	margin-left: 8px; 
	-moz-opacity: 0.2;
	opacity: .20;
	filter: alpha (opacity=20);
}

.button .context_box .title .option label { 
	color: #cccccc;
	margin-left: -2px;
}

.button .context_box .title .option:hover label, /* same on hover as when step deactivated */
.button .context_box .title .option:hover .checkbox,
.button .context_box .inactive .title .option .checkbox,
.button .context_box .inactive .title .option label {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha (opacity=100);
	color: #999999;
}


.button .context_box .textfield {
	font-size: 12px;
	color: #666666;
	width: 120px;
	height: 22px;
	padding: 0px 4px;
	border: 1px solid #cccccc;
	background: #fbfbfb url('/images/slim_shadow_light.png') repeat-x;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	line-height: 22px;
}

.button .context_box .price {
	width: 58px;
	padding-left: 11px;
}

.button .context_box .price_container {
	position: relative;
}

.button .context_box .price_container .dollar {
	position: absolute;
	top: 1px;
	left: 4px;
	height: 22px;
	width: 8px;
	line-height: 22px;
	color: #666666;
}

.button .context_box .but {
	height: 28px;
	line-height: 24px;
	font-size: 12px;
	margin-left: 0px;
}

.button .context_box .add_to_closet {
	width: 130px;
}

.button .context_box .cancel {
	margin-top: 27px;
	width: 150px;
	margin-left: -10px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	background: #fbfbfb;
	text-align: center;
	display: block;
	cursor: pointer;
}

.button .context_box .cancel:hover {
	color: #d33e3f;
}

/* ------------------------------ Extras */

#extras {
	padding: 24px 25px 30px; /* keeps footer away from goodies */
	width: 785px;
	position: relative;
	background: #eeeeee url('/images/slim_shadow_light.png') repeat-x;
}

#extras:after {
	clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}

#extras .feedback {
	width: 324px;
	float: right;
	font-size: 14px;
	color: #999999;
}

#extras .feedback .buttons {
	height: 32px;
	width: 190px;
	margin-bottom: 22px;
}

#extras .feedback .buttons .button {
	width: 62px;
	height: 30px;
	display: block;
	background-color: white;
	line-height: 30px;
	text-align: center;
	float: left;
	border: 1px solid #cccccc;
	margin-right: -1px;
	position: relative;
	color: #666666;
}

#extras .feedback .buttons .button:hover {
	cursor: pointer;
	color: #d33e3f;
}

#extras .feedback .buttons .button:active,
#extras .feedback .buttons .pushed:active {
	background: #f8f8f8 url('/images/slim_shadow_light.png') repeat-x;
	line-height: 30px;
}

#extras .feedback .buttons .pushed,
#extras .feedback .buttons .pushed:hover {
	background: #f8f8f8 url('/images/slim_shadow_light.png') repeat-x;
	line-height: 30px;
	color: #666666;
}

#extras .feedback .buttons .button span.in {
	display: none;
}

#extras .feedback .buttons .pushed span.in {
	display: inline-block;
}

#extras .feedback .buttons .held,
#extras .feedback .buttons .held:hover {
	border: 1px solid #cccccc;
	background: #f8f8f8 url('/images/slim_shadow_light.png') repeat-x;
	color: #999999;
}

#extras .feedback .feed_item {
	width: 100%;
	height: 32px;
	line-height: 32px;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
}

#extras .feedback .feed_item a {
	color: #d33e3f;
}


/* ------------------------------ Box Overlay */

#shadow {
  	position: absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height: 100%;
    z-index: 6000;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
    background-color: #333333;
}
  
#cancel_button {
    position: fixed;
    top: 14px;
    right: 10px;
    padding:2px;
    width: 35px;
    height: 34px;
    background-image:url('/images/close.png');
    background-repeat: no-repeat;
    cursor: pointer;
  	cursor: hand; /* for IE 5.x */
    text-decoration: none;
    z-index: 10000;
}

/* ------------------------------ Buttons */

.button_light {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	background: white url('/images/alert-overlay-inverse.png') repeat-x;
	color: #666666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	border: 0;
	text-align: center;
}

.button_dark {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #525252 url('/images/alert-overlay.png') repeat-x;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 0;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.button_dark:hover {
	background-color: #323232;
}


.button_blue {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #0d549c url('/images/alert-overlay.png') repeat-x;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 0;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.button_blue:hover {
	background-color: #1e4774;
}

.button_red {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #cc2222 url('/images/alert-overlay.png') repeat-x;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border: 0;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.button_red:hover {
	background-color: #9f1414;
}

.button_silver {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #cccccc url('/images/button_silver_bg.png') repeat-x;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	cursor: pointer;
	border: 1px solid #999999;
	text-align: center;
/* 	border-bottom: 1px solid rgba(0,0,0,0.25); */
}

.button_silver:hover { border: 1px solid #666666; }
.button_silver:active { background: #dddddd; }

/* ------------------------------ Effects */

.slim_shadow_light { /* for permanent shadows */
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.slim_shadow_ultra_light { /* for permanent shadows */
	box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px 0px;
}

.slim_shadow_dark {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.hover_shadow_light { /* for buttons on hover */
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0);
}

.hover_shadow_light:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.hover_shadow_light:active {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

.shadow {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	-moz-box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999'); 	/* For IE 5.5 - 7 */
}

.shadow_overlay {
	-webkit-box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
	-moz-box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
	box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
}


.box_shadow {
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.faded {
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha (opacity=50);
}

.rounded_5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rounded_3 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.rounded_5_top {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.rounded_3_top {
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.rounded_3_bottom {
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;;
	border-radius: 0px 0px 3px 3px;
}

.rounded_3_left {
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}

.rounded_6 {
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

.rounded_6_top {
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.dark_button {
	border: 1px solid #333333;
	color: white;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	background: #6e6e6e; /* Old browsers */
	background: -moz-linear-gradient(top, #6e6e6e 0%, #5a5a5a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e6e6e), color-stop(100%,#5a5a5a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* W3C */
}

.awesome { 
	font-family: 'FuturaStdBold', Arial, sans-serif; 
	font-size: 14px;
	border: 0;
	overflow: visible;
	position: absolute;
}

.awesome, .awesome:visited {
	background: #222 url('/images/alert-overlay.png') repeat-x; 
	padding: 0px 10px; 
	color: #fff; 
	text-decoration: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
	.awesome:hover									{ background-color: #111; color: #fff; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 12px; height: 32px; line-height: 32px; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 16px; height: 46px; line-height: 46px; padding: 0px 12px; }
	
	.blue.awesome, .blue.awesome:visited			{ background-color: #24578f; }
	.blue.awesome:hover								{ background-color: #1e4774; }




/* --------- Auto Complete Styles ------ */
.ac_results {
  padding: 0px;
  border: 1px solid #cccccc;
  background-color: white;
  z-index: 99999;
}

.ac_results ul {
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.ac_results li {
	cursor: pointer;
	color: #666666;
	margin: 0px;
	padding: 5px 5px;
	width: 253px;
	display: block;
	font-size: 14px;
  overflow: hidden;
}

.ac_results li:hover {
}

.ac_loading {
  /*background: white url('indicator.gif') right center no-repeat;*/
}

.ac_odd {
  /*background-color: #eee;*/
}

.ac_over {
	background-color: #dddddd;
}

/* --------- End of Auto Complete Styles --------- */

/* ------------------------------ Fonts */

@font-face {
    font-family: 'FuturaStdBold';
    src: url('/type/futurastd-bold-webfont.eot');
    src: url('/type/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-bold-webfont.woff') format('woff'),
         url('/type/futurastd-bold-webfont.ttf') format('truetype'),
         url('/type/futurastd-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('/type/futurastd-book-webfont.eot');
    src: url('/type/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-book-webfont.woff') format('woff'),
         url('/type/futurastd-book-webfont.ttf') format('truetype'),
         url('/type/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCGalliardStdBold';
    src: url('/type/galliardstd-bold-webfont.eot');
    src: url('/type/galliardstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/galliardstd-bold-webfont.woff') format('woff'),
         url('/type/galliardstd-bold-webfont.ttf') format('truetype'),
         url('/type/galliardstd-bold-webfont.svg#ITCGalliardStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCGalliardStdRoman';
    src: url('/type/galliardstd-roman-webfont.eot');
    src: url('/type/galliardstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/galliardstd-roman-webfont.woff') format('woff'),
         url('/type/galliardstd-roman-webfont.ttf') format('truetype'),
         url('/type/galliardstd-roman-webfont.svg#ITCGalliardStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MistralStdRoman';
    src: url('/type/mistralstd-webfont.eot');
    src: url('/type/mistralstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/mistralstd-webfont.woff') format('woff'),
         url('/type/mistralstd-webfont.ttf') format('truetype'),
         url('/type/mistralstd-webfont.svg#MistralStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
