/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	border-collapse: collapse;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit; 
	//color: expression(this.parentNode.currentStyle['color']);

}

body {
	font-family: font-family: Georgia, Times New Roman, serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
	overflow-x: hidden;
	height: 650px;
}

h1 {
	font-size: 48px;
	font-weight: normal;
	color: #791a10;
	font-family: Georgia;
}

#logo {
	width: 640px;
	height: 47px;
	margin-left:-1px;
	float: left;
}

#welcome_box {
	width: 845px;
	height: 51px;
	padding: 17px 20px 20px 20px;
	margin: 20px auto;
	background: #791a10;
	color: white;
	font-size: 20px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	line-height: 26px;
	position: relative;
}

.welcome_subtitle {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 20px;
	color: #cccccc;
}

.welcome_button {
	position: absolute;
	top: 21px;
	right: 20px;
	border: 0;
	overflow: visible;
}

#header {
	height: 49px;
/* 	background: white; */
	background: #333333 /*url('/images/alert-overlay.png') repeat-x */;
	border-bottom: 1px solid #dddddd;
}

#navbar {
	width: 885px;
	margin: 0 auto;
/* 	background: yellow; */
}

#container {
	width: 885px;
	height: 400px;
	position: relative;
	top: 40px; /* change dynamically with JS.io */
	margin-left: auto;
	margin-right: auto;
}

.instructions {
/* 	font-family: 'Permanent Marker', cursive; */
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 20px;
	color: #999999;
	padding: 0px 15px 10px;
}

.emphasis { color: #791a10; }

#instructions_1 {
	margin: 0 auto;
	position: absolute;
	left: 180px;
	top: -80px;
	z-index: 100;
}

#instructions_2 {
	margin: 0 auto;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 100;
}

#instructions_3 {
	margin: 0 auto;
	position: absolute;
	right: 160px;
	top: 370px;
	z-index: 100;
}

#left, #right {
	height: 400px;
	float: left;
}

#left {	
	width: 350px;
	height: 350px;
/*	background:url('/images/photo_frame.png');
	background-repeat: no-repeat; */
	border: 1px solid #dddddd;
	background: white;
	padding: 24px;
	text-align: center;
}

.photo {
	line-height: 350px;
}

#left_photo {
	max-width: 350px;
	max-height: 350px;
	vertical-align: middle;
}

#item_search {
	margin-top: 102px;
}

#product_query {
	height: 34px;
	width: 287px;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	font-size: 20px;
	color: #cccccc;
	line-height: 34px;
	border-width: 1px 0px 1px 1px;
	border-color: #dddddd;
	border-style: solid;
	padding: 5px 8px;
	float: left;
}

#product_selection {
  display: none;
}

#product_search {
	float: right;
	width: 46px;
	height: 46px;
	margin: 0;
  	border: 0;
  	background: transparent url('/images/search_button.png') no-repeat;
  	overflow: hidden;
  	cursor: pointer;
  	cursor: hand; /* for IE 5.x */
}

.swfupload {
	background: url('/images/upload.png') no-repeat;
	cursor: pointer;
  	cursor: hand; /* for IE 5.x */
}

#right {
	width: 485px;
	position: relative;
}

#right_content, #right_new_content {
	border-left: 1px solid #dddddd;
	margin-left: 40px;
	padding-left: 20px;
}

#right_content { margin-top: 127px; }
#right_new_content { margin-top: 70px; }

#right_titlebox {
	width: 355px;
	padding-left: 65px;
	position: relative;
	line-height: 150%;
	margin-bottom: 12px;
}

#user_photo {
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}

#right_commentbox {
	width: 420px;
	line-height: 150%;
	margin-top: 13px;
}

#speechmarks_open, #speechmarks_close {
	width: 50px;
	height: 30px;
	float: left;
}

#speechmarks_open { background: url('/images/speechmarks_open.png') no-repeat; }
#speechmarks_close { background: url('/images/speechmarks_close.png') no-repeat; }

#user_comment {
	font-family: 'Georgia', Times New Roman, serif;
	float:left;
	max-width:290px;
	width: expression(this.width > 290 ? 290: true);
	padding: 0 15px;
	color: #999999;
	font-size: 16px;
	line-height: 140%;
}

#user_name {
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	color: #bbbbbb;
	font-size: 14px;
}

.is_sharing {
	line-height: 50px;
}

#item_name {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 12px;
}

#right_commentbox {
	font-family: inherit;
	color: #78797d;
	margin-bottom: 10px;
}

#blocker { /* enables left border of right_content to stretch down to comment height */
	clear:both;
	width: 100%;
	height: 1px;
}

#action_button {
	width: 216px;
	height: 46px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
	bottom: 50px;
	left: 71px;
  	border: 0;
  	overflow: hidden;
}

.action {
	position: absolute;
	bottom: 40px;
	left: 71px;
	border: 0;
	overflow: visible;
}

.action:active {
	bottom: 49px;
}

.f {
	vertical-align: middle;
	margin-right: 10px;
}

.save_and_share {
	background: transparent url('/images/save_and_share_button.png') no-repeat;
}

#product_title, #product_endorsement {
	width: 398px;
	height:26px;
	border: 1px solid #dddddd;
	font-size: 20px;
	color: #cccccc;
	line-height: 26px;
	padding: 5px 8px;
}

#product_endorsement {
	height: 76px;
}

#product_title { font-family: 'FuturaStdBold', Arial, sans-serif; margin-bottom: 12px; }
#product_endorsement { font-family: Georgia, Times New Roman, serif; }


#chooser {
	position: absolute;
	top: 0px;
	margin: 30px;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
	border: 1px solid #cccccc;
  z-index: 5000;
}

#chooser_cancel_bar {
	height: 34px;
	margin-top: 15px;
}

.cancel_chooser {
	width: 160px;
	height: 34px;
	line-height: 34px;
	margin-right: 15px;
}

.change_photo {
	width: 160px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	bottom: 20px;
	left: 120px;
	z-index: 3000;
}

.photo_choice_cell {
	width: 160px;
	height: 160px;
	line-height: 160px;
	float:left;
	margin: 15px 15px 0px 0px; 
	position: relative;
	cursor: pointer;
	border: 1px solid #eeeeee;
}

.photo_choice_cell:hover {
	background: #f5f5f5;
}

.photo_choice {
	max-width: 160px;
	max-height: 160px;
	vertical-align: middle;
}

.choose_this img {
	width: 120px;
	height: 46px;
	padding: 57px 20px;
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
}

#footer {
    padding-left: 20px;
    width:100%;
    height:20px;
    line-height: 20px;
	font-size: 12px;
	text-align: middle;
	width: 100%;
	text-transform: uppercase;
	color: #bbbbbb;
	clear:both;
}

.navigation {
	position: absolute;
	top: -32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	color: #791a10;
	font-size: 12px;
}

.navigation:hover {
	text-decoration: underline;
}

.next, .previous {
	width: 48px;
	height: 48px;
	font-family: Times, sans-serif;
	font-size: 48px;
	line-height: 40px;
	color: #cccccc;
	border: 1px solid #dddddd;
	text-align: center;
	position: absolute;
	top: 173px;
	background: white;
}

.next {
	right: -65px;
}

.previous {
	left: -65px;
}

.previous:hover, .next:hover {
	border: 1px solid #791a10;
	color: #791a10;
}

/* ------------------------------ User Log-in, Profile Nav */

#user_nav {
	width: 879px;
	height: 50px;
	padding: 30px 0;
	margin: auto;
	left:0; right:0;
	position: absolute;
/* 	background: yellow; */
}

.nav {
	position: absolute;
	top: 30px;
	right: 0px;
	border: 0;
	overflow: visible;
}

.strapline {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	line-height: 50px;
	font-size: 24px;
}

.logout, .login { 
	height: 49px;
	line-height: 49px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	font-size: 14px;
	color: #dddddd;
	padding: 0 12px 0 45px;
	float: right;
	position: relative;
	z-index: 5000;
}

.logout:hover, .login:hover {
	color: white;
}

.logout_user_photo {
	width: 24px;
	height: 24px;
	display:inline;
	position: absolute;
	top: 13px;
	left: 12px;
}

.logout_v {
	height: 9px;
	width: 9px;
	background: transparent url('/images/v_dddddd.png');
	background-repeat: no-repeat;
	float: right;
	margin: 21px 0px 0px 8px;
}

.logout:hover div.logout_v {
	background: url('/images/v_ffffff.png');
}

.logout:hover li.choice {
	display: block;
}

.logout li.button {
	display:block;
}

.logout li.choice {
	display: none;
	width: auto;
	text-align: left;
	margin-right: -13px;
	margin-left: -13px;
	height: 32px;
	line-height: 32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 12px;
	color: #999999;
	background: white;
	padding: 0 12px;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

li.choice:hover {
	background: #f8f8f8;
	color: #333333;
}

li.last_item {
	border-bottom: 1px solid #cccccc;
}


/* ------------------------------ Profile-specific */


#profile_details {
	width: 885px;
	height: 50px;
	margin: 30px auto 0;
/* 	background: pink; */
}

.profile_user_photo {
	width: 50px;
	height: 50px;
	margin-right: 16px;
	float: left;
}

#profile_details_right {
	height: 80px;
	width: 500px;
	margin-left: 66px;
/* 	background: gray; */
}

#profile_username {
	font-family: 'FuturaStdBold', Arial, sans-serif;
	line-height: 31px;
	font-size: 24px;
}

#profile_bio {
	margin-left: -6px;
	margin-top: -1px;
}

#user_byline_default {
	width: 500px;
	height: 26px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	height: 24px;
	color: #999999;
/* 	background: yellow; */
}

input#user_byline {
	width: 288px;
	height: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	border: 1px solid #dddddd;
	padding: 0 4px;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-left: -6px;
}

#user_edit {
	width: 40px;
	height: 24px;
	border: none;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 12px;
	color: #cccccc;
	background: none;
	cursor: pointer;
}

#user_edit:hover {
	text-decoration: underline;
}

#profile_container {
	width: 915px;
	margin: 30px auto 0;
/* 	background: yellow; */
}

#suggestions {
	width: 915px;
	height: 140px;
}


.suggestion {
	position: relative; /* needed for button height */
	overflow: visible;
	border: 0;
	width: 192px;
	text-align: center;
	margin: 0 0 15px 15px;
	border: 1px solid #dddddd;
	height: 48px;
	line-height: 48px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #999999;
	background: white;
	padding: 0 8px;
}

.suggestion {
	float: left;
}

.suggestion:hover {
	border-color: #791a10;
	color: #791a10;
}

#products {
	padding-left: 0px;
}

#products ul li {
	float: left;
    margin: 0 0 15px 15px;
    width: 435px;
    height: 210px;
}

.product {
	width: 433px;
	height: 208px;
	border: 1px solid #dddddd;
	background: white;
	display:block;
}

.sample {
	color: #cccccc;
}

.product:hover {
	border-color: #791a10;
}

.product_left {
	float: left;
	width: 180px;
	height: 180px;
	line-height: 180px;
	padding: 14px;
	text-align: center;
	position: relative;
}

.product_left_image {
	max-height: 180px;
	max-width: 180px;
	vertical-align: middle;
}

.product_right {
	float: left;
	height: 154px;
	width: 203px;
	padding: 40px 14px 14px 8px;
	position: relative;
	overflow: hidden;
}

.product_title, .product_title_sample { /* as a class, refers to profile page items, as an id, refers to item page items */
	font-family: 'FuturaStdBold', Century Gothic, Arial, sans-serif; 
	margin-bottom: 12px; 
	color: #333333;
}

.product_endorsement, .product_endorsement_sample { /* as a class, refers to profile page items, as an id, refers to item page items */
	font-family: Georgia, Times New Roman, serif; 
	color: #999999;
	font-size: 14px;
	line-height: 140%;
	height: 80px;
}

.product_title_sample, .product_endorsement_sample {
	color: #cccccc;
}

.product_comment_count {
	position: absolute;
	bottom: 14px;
	right: 14px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #999999;
}

.product_comment_bubble {
	vertical-align: bottom;
}

/* ------------------------------ Comments */


#comments_container {
	margin-top: 20px;
	margin-bottom: 20px; /* this creates space at bottom of page */
	width: 400px;
}

#comment_data {
	width: 336px;
	height:30px;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	font-size: 14px;
	color: #cccccc;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	margin-left: 10px;
	padding: 5px;
	float: left;
}

#comment_photo_self, .comment_photo {
	float: left;
	height: 42px;
	width:42px;
}

.comment_photo {
	float: left;
	height: 42px;
	width: 42px;
	margin-right: 10px;
	display: block;
}

.comment_unit {
	padding-top: 20px;
	overflow: hidden;
}

.comment_unit_right {
	line-height: 130%;
	margin-top: -3px;
	margin-left: 52px;
	display: block;
}

.commenter_name, .comment_time {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #333333;
}

.commenter_name {
	font-weight: bold;
}

.comment_time {
	color: #999999;
}

.comment_text {
	font-size: 14px;
	color: #999999;
/* 	font-family: Georgia, serif; */
	font-family: 'FuturaStdBook', Arial, sans-serif; 
}
	

/* ------------------------------ Effects */

.shadow {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	-moz-box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	box-shadow: 0px 0px 3px 0px rgba(00, 00, 00, 0.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999')"; /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#999999'); 	/* For IE 5.5 - 7 */
}

.shadow_overlay {
	-webkit-box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
	-moz-box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
	box-shadow: 0 0 6px 2px rgba(00, 00, 00, 0.1);
}


.box_shadow {
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.faded {
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha (opacity=70);
}

.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 15px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.dark_button {
	border: 1px solid #333333;
	color: white;
	text-align: center;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	cursor: hand;
	cursor: pointer;
	background: #6e6e6e; /* Old browsers */
	background: -moz-linear-gradient(top, #6e6e6e 0%, #5a5a5a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e6e6e), color-stop(100%,#5a5a5a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #6e6e6e 0%,#5a5a5a 100%); /* W3C */
}

.awesome { 
	font-family: 'FuturaStdBold', Arial, sans-serif; 
	font-size: 16px;
}

.awesome, .awesome:visited {
	background: #222 url('/images/alert-overlay.png') repeat-x; 
	padding: 0px 10px; 
	color: #fff; 
	text-decoration: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
	.awesome:hover									{ background-color: #111; color: #fff; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 12px; height: 32px; line-height: 32px; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 16px; height: 46px; line-height: 46px; padding: 0px 12px; }
	
	.blue.awesome, .blue.awesome:visited			{ background-color: #24578f; }
	.blue.awesome:hover								{ background-color: #1e4774; }

/* ------------------------------ Fonts */

@font-face {
    font-family: 'FuturaStdBold';
    src: url('/type/futurastd-bold-webfont.eot');
    src: url('/type/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-bold-webfont.woff') format('woff'),
         url('/type/futurastd-bold-webfont.ttf') format('truetype'),
         url('/type/futurastd-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('/type/futurastd-book-webfont.eot');
    src: url('/type/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-book-webfont.woff') format('woff'),
         url('/type/futurastd-book-webfont.ttf') format('truetype'),
         url('/type/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCGalliardStdBold';
    src: url('/type/galliardstd-bold-webfont.eot');
    src: url('/type/galliardstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/galliardstd-bold-webfont.woff') format('woff'),
         url('/type/galliardstd-bold-webfont.ttf') format('truetype'),
         url('/type/galliardstd-bold-webfont.svg#ITCGalliardStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCGalliardStdRoman';
    src: url('/type/galliardstd-roman-webfont.eot');
    src: url('/type/galliardstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/galliardstd-roman-webfont.woff') format('woff'),
         url('/type/galliardstd-roman-webfont.ttf') format('truetype'),
         url('/type/galliardstd-roman-webfont.svg#ITCGalliardStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MistralStdRoman';
    src: url('/type/mistralstd-webfont.eot');
    src: url('/type/mistralstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/mistralstd-webfont.woff') format('woff'),
         url('/type/mistralstd-webfont.ttf') format('truetype'),
         url('/type/mistralstd-webfont.svg#MistralStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ------------------------------ Mozilla-Only fall-back fonts */

/* ------------------------------ Fonts */

@-moz-document url-prefix() {
    #item_name, 
    #product_title, 
    #welcomebox,
    .profile_username, 
    .suggestion, 
    .product_title, 
    .product_title_sample,
    .awesome,
    .strapline,
    .logout,
    .login { 
    	font-family: Arial, sans-serif; font-weight: bold; 
    }
}
