/* ----- basic -----*/
.container, .navbar .container { width: 945px; }

.col { 
	width: 184px;
	float: left;
	margin-right: 5px; }
	
/* ----- header ----- */

.navbar-inner { 
	background: #555;
	border-bottom: 1px solid white;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important; }
  
.navbar-inner .container {
	height: 40px; }
	
.navbar .brand {
	color: white;
	font-weight: bold;
	padding: 9px 20px 11px; }

.navbar a:hover {
	color: white !important; }
	
.navbar .nav .dropdown-toggle {
	padding: 10px 15px 11px 5px; }
	
.navbar .nav .dropdown-toggle .caret, 
.navbar .nav .open.dropdown .caret {
	border-top-color: #666;
	border-top-color: white;
	opacity: 1.0;
  filter: alpha(opacity=100); }

.navbar .nav > li > a {
	color: white;
	line-height: 21px;
	text-shadow: none; }
	
.dropdown-menu {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important; }
	
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
/* 	color: #3389cc !important; */
	text-decoration: none;
	background-color: #555; }

/* ----- feed, col-triple ----- */

.feed, .col-triple { 
	width: 562px;
	float: left;
	margin-right: 5px; }

.feed .item, .col-triple .item {
	position: relative;
	padding: 20px;
	background: white;
	color: #777;
	margin-bottom: 4px;
	border-left: 1px solid #e4e3e3;
	border-right: 1px solid #e4e3e3; 
	border-bottom: 1px solid #d8d7d7; }
	
.feed .item .user-box {
	margin-top: -4px;
	margin-bottom: 14px;
	font-size: 12px;
	height: 36px;
	width: 520px; }
	
.feed .item .user-box img {
	width: 36px;
	height: 36px;
	float: left; }

.feed .item .user-box .small {
	padding-left: 4px;
	font-size: 11px;
	color: #999; }

.feed .item .photo-box {
	display: block;
	line-height: 0;
	text-align: center;
	background: white; }
	
.feed .item .photo-box img {
	max-width: 520px;
  max-height: 390px; }

.feed .item .photo-box,
.feed .item .details-box {
	margin-bottom: 18px; }
	
/*
.feed .item .extras {
	position: relative;
	padding-top: 27px; }

.feed .item .extras .box-out {
	position: absolute;
	z-index: 0;
	top: 0;
	right: -21px;
	bottom: -24px;
	left: -21px;
	background: #f6f6f6;
	border-left: 1px solid #d8d7d7;
	border-right: 1px solid #d8d7d7; 
	border-bottom: 1px solid #d8d7d7; }
*/

.feed .item .likes-box {
	position: relative;
	margin-top: -5px;
	line-height: 28px;
	margin-bottom: 18px; }
	
.feed .item .likes-box .user-photo {
	height: 28px;
	width: 28px; 
	float: left;
	margin-right: 5px; }

.feed .item .comments-box {
	margin-bottom: 3px; }

.feed .item .comments-box .comment-box {
	clear: both; 
	min-height: 28px; 
	margin-bottom: 12px; 
	position: relative; 
	padding-left: 35px; }

.feed .item .comments-box .comment-box .user-photo {
	position: absolute;
	top: 0;
	left: 0;
	height: 28px;
	width: 28px; }
	
.feed .item .comments-box .comment-box h6 {
	line-height: 1;
	text-transform: none;
	margin-bottom: 3px; }
	
.feed .item .comments-box .comment-box.new,
.feed .item .comments-box .comment-box.new input {
	margin-bottom: 0; }
	
/* ----- creation ----- */

.creation .photo-box {
	min-height: 100px;
  background: white url("/images/loading_spinner_large_trans.gif") no-repeat;
  background-position: center;
  text-align: center;
  display: none;
  margin-bottom: 20px; }

.creation .photo-box .photo {
  max-width: 520px;
  max-height: 390px; }

.creation .change-photo {
	position:absolute; 
	top: 0; 
	right: 0;
	z-index: 10; }

.creation .change-box { position: relative; }

/* ----- grid ----- */

.grid { 
	width: 756px;
	float: left; }

.grid .item {
	position: relative;
	float: left;
	width: 158px;
	height: 220px;
	padding: 12px;
	background: white;
	margin: 0 5px 4px 0;
	border-left: 1px solid #e4e3e3;
	border-right: 1px solid #e4e3e3; 
	border-bottom: 1px solid #d8d7d7; }

.grid .item a.photo-box {
	display: table-cell;
	background: white;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 158px;
	height: 158px;
	max-width: 158px;
	max-height: 158px; }

@media \0screen { .grid .item a.photo-box { display: block; } }
	
.grid .item a.photo-box img {
	max-width: 158px;
	max-height: 158px; }

.grid .item .details {
	margin-top: 10px; }

.grid .item .actions { display: none; }
.grid .item:hover .actions { display: block; }
	
/* ----- side boxes ----- */
	
.self-box {
	margin-top: 4px;
	height: 50px;
	font-size: 15px;
	font-weight: bold; }
	
.self-box a.user-photo {
	float: left;
	display: block;
	width: 50px;
	height: 50px; }

.self-box a.user-photo img {
	width: 50px;
	height: 50px; }
	
.self-box .user-name {
	float: left;
	display: table;
	height: 100%;
	width: 124px;
	padding-left: 10px;
	font-weight: bold; }

.self-box .user-name p {
	display: table-cell; 
	vertical-align: middle;
	font-size: 14px;
	line-height: 22px; }

.self-box .user-name a { color: #333; }
.self-box .user-name a:hover { color: #3389cc; }
	
.user-box .photo-box {
	position: relative;
	width: 148px;
	height: 148px;
	padding: 10px;
	border-left: 1px solid #e4e3e3;
	border-right: 1px solid #e4e3e3; 
	border-bottom: 1px solid #d8d7d7;
	overflow: hidden;
	background: white;
	text-align: center; }
	
.user-box .photo-box .border {
	position: absolute;
	top: 0;
	left: 0;
	width: 148px;
	height: 148px;
	border: 10px solid white; }

.user-box .photo-box img {
	height: 148px;
	overflow: hidden;
	max-width: none;
	margin-left: -50%;
	margin-right: -50%; }
	
.user-box p.user-name {
	padding-top: 19px;
	padding-left: 11px;
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	margin-bottom: 0; }

.list-box {
	padding-top: 20px;
	padding-left: 11px;
	color: #666;
	margin-bottom: 20px; }

.list-box a { color: #777; }

.object-list li { 
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	margin-bottom: 4px; }

.object-list li img { 
	float: left;
	height: 28px;
	width: 28px;
	margin-right: 8px; }
	
.nav-box {
	padding-left: 11px;
	font-size: 12px;
	color: #666; }

.nav-box a {
	display: block;
	padding-left: 7px;
	margin-bottom: 8px;
	color: #666; }

/* ----- buttons and fields ----- */

.icon-like {
	background-image: url("/images/glyphicons-halflings-custom.png") !important;
  background-position: 0 0; }
  
.btn.pushed {
	background: none; 
	color: white;
	background: #666;
	border: 1px solid transparent;
	text-shadow: none;
	cursor: default;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  
.btn.pushed .icon-like {
	background-image: url("/images/glyphicons-halflings-custom-white.png") !important; }

.btn-mid, .btn-mid:hover { 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff; }
 
.btn-mid.active {
  color: rgba(255, 255, 255, 0.75); }

.btn-mid {
  background-color: #6f6f6f;
  background-image: -moz-linear-gradient(top, #8a8a8a, #535353);
  background-image: -ms-linear-gradient(top, #8a8a8a, #535353);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8a8a), to(#535353));
  background-image: -webkit-linear-gradient(top, #8a8a8a, #535353);
  background-image: -o-linear-gradient(top, #8a8a8a, #535353);
  background-image: linear-gradient(top, #8a8a8a, #535353);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#535353', GradientType=0);
  border-color: #626262 #656565 #484848;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.btn-mid:hover,
.btn-mid:active,
.btn-mid.active,
.btn-mid.disabled,
.btn-mid[disabled] {
  background-color: #545454; }
  
.btn-mid:active, .btn-mid.active {
  background-color: #3e3e3e \9; }

input:focus, textarea:focus {
  border-color: rgba(51, 137, 204, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 137, 204, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 137, 204, 0.8);;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 137, 204, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }














/* ----- own boxes ----- */

.item .own-box.popover {
	top: 27px !important; 
	left: -70px !important; }

.profile .thumbnails li .own-box.popover {
	top: 27px !important; 
	left: -83px !important; }

/* ---------- onboarding indicators */

.brand.step.indicator {
	padding-right: 10px; 
	opacity: 0.3;
	filter: alpha(opacity=30); }

.nav .step.indicator {
	color: white; 
	padding-left: 0; 
	opacity: 0.3;
	filter: alpha(opacity=30); }
	
.step.indicator.active {
	opacity: 1;
	filter: alpha(opacity=100); }
	
/* ---------- item pages */ 

.item .thumbnail a img {
	max-height: 350px;
	max-width: 570px; }

/* ---------- image src url conversions */

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png"); }

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png"); }
  
/* ---------- general tweaks to bootstrap */

body { 
	padding-top: 0px;
	background: #F2F0ED;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
	
li { list-style: none; }

h1, h2, h3, h4, h5, h6 { 
	color: #333; }

input, .btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  color: #555;
  text-decoration: none; }

a:hover {
	color: #3389cc;
	text-decoration: none; }

.thumbnail { 
	background: white;
	text-decoration: none !important;
	cursor: pointer; }

.alert { position: relative; }
.alert-info h3 { color: #3A87AD; }
.alert-info .thumbnail,
.alert-info li:hover .thumbnail { 
	border-color: #BCE8F1 !important;
	-webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  
legend { border-bottom: none; }

legend + .control-group {
	margin-top: 11px;
	-webkit-margin-top-collapse: separate; }

label { color: #666; }

[class^=".caret-"]::before, [class*=" caret-"]::before,
[class^=".caret-"]::after, [class*=" caret-"]::after {
	content: '';
	display: inline-block;
	position: absolute; }
	
.alert-info.caret-top-left::before {
	top: -7px;
	left: 20px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #9AD0D8; }

.alert-info.caret-top-left::after {	
	top: -6px;
	left: 21px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #D9EDF7; }

/* multi btn-group on single line fix */	
.btn-group::after {
	clear: none; }
	
.btn-group .btn.individual {
	position: relative;
	float: none;
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }

.typeahead {
	z-index: 2000; }
	
.modal { display: none; }
.modal.fade.in { display: block; }

.close { font-family: Arial; }

.well { position: relative; }

footer { margin-top: 32px; }
footer, footer a, footer a:hover { color: #ccc; }
footer p { text-align: center; }

.q-point {
	min-width: 25px;
	min-height: 25px;
	background: url('/images/q-point.png') no-repeat; }
	
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* ---------- message drawer */

.message-drawer {
	z-index: 1051; 
	position: fixed; 
	width: 500px; 
	left: 50%; 
	top: 47px; 
	text-align: center;
	margin-left: -275px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5); }

/* ---------- loading animations */

.loading.large {
	min-height: 40px;
  background-image: url('/images/loading_spinner_large_trans.gif');
  background-position: center center;
  background-repeat: no-repeat; }

.loading.large.left {
	background-position: center left; }
  
.loading.large.inline {
	display: none;
	width: 32px;
	height: 32px;
	background: url('/images/loading_spinner_large_trans.gif') center center no-repeat; }

.loading.small.inline {
	display: none;
	width: 16px;
	height: 16px;
  background: url('/images/loading_spinner_small_trans.gif') center center no-repeat; }
  
.well .loading.large {
  background-image: url('/images/loading_spinner_large_WhiteSmoke.gif'); }

.load .loading.inline { /* turns inline loads on/off */
	display: inline-block; }

.load .hide-when-loading {
	display: none; }
	
/* ---------- strike-thru text divider */

.strike-thru {
	height: 9px;
	border-top: 1px solid #dddddd;
	padding-top: 16px;
	margin-top: 25px;
	color: #999999;
	text-align: center; }

.strike-thru span, 
.strike-thru a { 
	padding: 0 10px;
	background: white; 
	position: relative;
	color: inherit;
	top: -26px; }

/* ---------- chooser */

.chooser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
	overflow: visible;
	z-index: 1050; }

.chooser .search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 8px 0;
  z-index: 9999;
  border-bottom: 1px solid #dddddd; }

.chooser .search-bar .control-group {
	width: 500px; 
	border-right: 110px solid transparent;
	margin: 0 auto; }

.chooser .search-bar .control-group.load {
  background: url('/images/loading_spinner_small_trans.gif') center right no-repeat; }

.chooser .search-bar .close {
	font-size: 36px; 
	padding: 5px 15px; }

.chooser .control-label.error { color: #B94A48; }

.chooser .control-label span.error { display: block; }
.chooser .control-label span.error { display: none; }

.chooser .control-label.error span.error { display: block; }
.chooser .control-label.error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 160px;
  height: 160px;
  line-height: 158px;
  float: left;
  margin: 15px 15px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eeeeee; }

.photo-choice:hover .btn {
  display: block; }

.photo-choice .btn { 
	display: none;
	width: 108px;
	position: absolute; 
	bottom: 10px; 
	left: 15px; }

.photo-choice .item-photo {
  max-width: 160px;
  max-height: 158px;
  vertical-align: middle; }

.scroll-instructions {
  height: 44px;
  width: auto;
  line-height: 44px;
  border-top: 1px solid #dddddd;
  text-align: center;
  position: fixed;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  display: none; }

.results {
	margin-top: 45px;
	height: 500px;
	text-align: center; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6000;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	background-color: white;
	z-index: -1; }
	
/* ---------- invite 1: styles */ 
	
.invite .well.styles li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.styles .thumbnails {
	margin-left: -9px; }

/* ---------- invite 2: friends */

.invite .well.friends .thumbnails {
	margin-left: -9px; }

.invite .well.friends li {
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.friends .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	height: 32px; }
	
.invite .well.friends .thumbnail .thumb-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }
  
/* ---------- invite 3: finish */

.invite .well .fb-timeline {
	font-size: 11px;
	line-height: 1.28; }

.invite .well .fb-timeline .user-block {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 32px; }

.invite .well .fb-timeline .user-block .user-photo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px; }

.invite .well .fb-timeline .above-content {
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px; }

.invite .well .fb-timeline .display-content {
	height: 90px; }

.invite .well .fb-timeline .display-content .art-photo {
	height: 90px;
	width: 90px;
	background-position: center center;
	background-size: auto 90px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px; }

/* ---------- settings */ 

.settings .checkbox {  
	padding: 6px 10px 6px 25px;
	color: #666;
	background-color: whiteSmoke;
/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
*/
	cursor: pointer; }
	
/* ---------- user-cell image and name nav button */

.navbar .nav > li.user-cell > a {
	padding-left: 38px; 
	position: relative; }

.user-cell .avatar {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px; }

/* ---------- fade-to-background div content overflow */

.overflow-fade {
	position: absolute; 
	top: 2px; 
	right: 0px; 
	bottom: 2px; 
	background: url("/images/fade.png");
	background-repeat: repeat-y;
	width: 24px; }

/* ---------- general styles */
.faded-30 {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.faded-50 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.faded-60 {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.faded-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.faded-90 {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.faded-95 {
  opacity: 0.95;
  filter: alpha(opacity=95); }

.to-90:hover {
	opacity: 0.90;
  filter: alpha(opacity=90); }

.to-opaque:hover {
	opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- font-face fonts */

@font-face{
	font-family:'oa-regular'; 
	src:url("../type/oa-rega-40dc7f284babe12d55cd4ed020f845cc.eot");
	src:url("../type/oa-rega-40dc7f284babe12d55cd4ed020f845cc.eot?#iefix") format("embedded-opentype"),url("../type/oa-rega-764755e725a193aceb372f917dbebae3.woff") format("woff"),url("../type/oa-rega-52bf1c67b809af90dcdc8a678a8eb40b.ttf") format("truetype"),url("../type/oa-rega-c4b49d91f8aec6f84c63535b0e6f3199.svg#oa-regular") format("svg");
	font-weight:normal;
	font-style:normal; }

@font-face{
	font-family:'oa-medium';
	src:url("../type/oa-medi-f5358fc49187f3eb408f369a5486cdc0.eot");
	src:url("../type/oa-medi-f5358fc49187f3eb408f369a5486cdc0.eot?#iefix") format("embedded-opentype"),url("../type/oa-medi-8bc469d4b2ab90c1694842a9b55f673d.woff") format("woff"),url("../type/oa-medi-808705d02dc52ac1fe9ad7edb30a267c.ttf") format("truetype"),url("../type/oa-medi-8c5a7b5a79d35bc1169d726e66d68767.svg#oa-medium") format("svg");
	font-weight:normal;
	font-style:normal; }

@font-face{
	font-family:'oa-bold';
	src:url("../type/oa-bold-d530fd6906357ebd11e8b846ad9eb57a.eot");
	src:url("../type/oa-bold-d530fd6906357ebd11e8b846ad9eb57a.eot?#iefix") format("embedded-opentype"),url("../type/oa-bold-1eb2d90b7337000cdf085c8ec4a29f4e.woff") format("woff"),url("../type/oa-bold-c01fcd49dab49fc111f4e5d4ab12da6d.ttf") format("truetype"),url("../type/oa-bold-398e2b3410c15eab0d8736f18c1cd0b0.svg#oa-bold") format("svg");
	font-weight:normal;
	font-style:normal; }
