/* Text & User Photos
==================================================================== */

.txt.xl { font-size: 22px; }
.txt.l  { font-size: 16px; }
.txt.m  { font-size: 14px; }
.txt.s  { font-size: 12px; }
.txt.xs { font-size: 11px; }

.txt    { line-height: 150%; }

ul.txt.s li { margin-bottom: 8px; }
ul.txt.s li .user-photo { margin-right: 4px; }

.user-photo.xxl { width: 48px; height: 48px; }
.user-photo.xl  { width: 40px; height: 40px; }
.user-photo.l   { width: 32px; height: 32px; }
.user-photo.m   { width: 28px; height: 28px; }
.user-photo.s   { width: 24px; height: 24px; }
.user-photo.xs  { width: 16px; height: 16px; }


/* Feed
==================================================================== */
	
.feed-title {}	

.feed-intro {
	display: block;
	padding: 13px 12px 20px;
	margin-bottom: -7px;
	text-align: center;
	color: #999;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden; }

a.feed-intro:hover { color: #ccc; }

a.feed-intro .highlight { font-weight: bold; }

.feed-loading.white { 
	background: url('/images/loading/loading-snake-333-FFF.gif') center no-repeat;
	height: 80px; }

.feed-loading.whitesmoke { 
	background: url('/images/loading/loading-snake-333-F5F5F5.gif') center no-repeat;
	height: 80px; }

.feed-loading.ccc { 
	background: url('/images/loading/loading-snake-333-CCC.gif') center no-repeat;
	height: 80px; }

.feed-loading.dark { 
	background: url('/images/loading/loading-snake-FFF-393939.gif') center no-repeat;
	height: 80px; }
	
.feed { background: white; }

.feed-grid-container { 
	width: 692px; 
	padding-left: 16px;
	margin: 64px auto 24px;
	background: white; }
	
.feed-grid-container .feed-loading { margin-left: -16px; }

.feed.grid { text-align: center; }

.feed.grid .item {
	width: 200px;
	display: inline-block;
	font-size: 0;
	margin: 16px 18px 0px 0px;
	vertical-align: top; }
	
.feed.grid .item .photo-box {
	height: 200px;
	line-height: 200px;
	background-image: none; }

.feed.grid .item .panel .caret {
	left: 10px;
	top: -8px;
	vertical-align: bottom;
	border-bottom: 8px solid #EEE;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent; }
	
.feed.grid .item .photo-box .item-photo {
	max-height: 200px; }

.feed.grid .item .panel .title-box { 
	text-align: left;
	font-size: 12px;
	max-height: 52px;
	min-height: 0;
	padding-left: 34px;
	overflow: hidden;
	text-overflow: ellipsis; }
	
.feed.grid .item .panel .title-box .user-photo.xl {
	width: 28px;
	height: auto; }

.feed.grid .item .panel .endorsement-box, 
.feed.grid span.time { display: none; }

	
/* Item
==================================================================== */
	
.item { background: white; }

.item .photo-box {
	width: auto;
	min-height: 150px;
	padding: 4.615384615%;
	background: url('/images/loading-blocks-dark-trans.gif') center no-repeat;
	background: url('/images/loading/loading-snake-555.gif') center no-repeat;
	text-align: center;
	line-height: 1; }

/* .item .photo-box .item-photo { max-height: 472px; } */
.item .photo-box .item-photo { max-height: 354px; }

.item .photo-box .actions.top-left     { top: 24px; left: 24px;     }
.item .photo-box .actions.top-right    { top: 24px; right: 24px;    }
.item .photo-box .actions.bottom-right { bottom: 24px; right: 24px; }
.item .photo-box .actions.bottom-left  { bottom: 24px; left: 24px;  }
	
.item .photo-box .like {
	width: 46px;
	height: 32px;
	padding-left: 16px;
	padding-right: 16px;
	top: 32px;
	left: 32px; }

.like.btn.pushed .icon-heart.icon-white,
.like.btn .icon-heart.icon-black { display: none; }
	
.like.btn.pushed .icon-heart.icon-black { 
	display: inline-block;
	opacity: 0.6;
	filter: alpha(opacity=60); } 
	
.like.btn.pushed, .like.btn-pushed:hover { background: #eee; } 
	
.item .panel { padding: 0 4.615384615% 4.615384615%; }

.item .panel .panel-contents {
	background: #eee;
	padding: 2.966101694915%; }
	
.item .panel .panel-contents .caret {
	width: 0;
	height: 0;
	left: 21px;
	top: -12px;
	vertical-align: bottom;
	border-bottom: 12px solid #eee;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 0 solid transparent;
	content: ""; }

/* -- title -- */

.item .panel .title-box {
	color: #555;
	min-height: 48px;
	padding-left: 50px;
	margin-top: -3px; }

.item .panel .title-box a.link-out { 
	padding-right: 13px;
	background: url('/images/arrow-out-177DBE-l.png') center right no-repeat; }

.item .panel .title-box .user-photo { left:0; top: 3px; }
.item .panel .title-box .em { /* font-weight: bold; */ }
.item .panel .title-box .time { 
	font-size: 12px; 
	font-weight: normal;
	color: #999;
	white-space: nowrap; }

/* -- title link-disabled -- */

.feed.link-disabled .item-photo { 
	max-height: 264px;
	cursor: default;  }

.feed.link-disabled .title-box a {
	cursor: default;
	color: #555;
	font-weight: bold;
	border-bottom: none;
	padding: 0 !important;
	background: none !important; }
	
/* -- endorsement -- */

.item .panel .endorsement-box{
	padding-top: 8px;
	color: #555; }

/* -- likes -- */

.item .panel .likes-box {
	height: 32px;
	line-height: 1;
	color: #555;
	padding: 8px 0 0;
	overflow-y: hidden;
	white-space: nowrap; }

.item .panel .likes-box .fader {
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	z-index: 500;
	background: url("/images/fade-right.png") 0 -300px; }
	
.item .panel .likes-box .text {
	padding-right: 6px; } 

.item .panel .likes-box .num {
	-webkit-font-smoothing: antialiased;
	font-weight: bold; 
	font-size: 32px; }

.item .panel .likes-box .user-photo-box {
	width: 24px;
	height: 24px; 
	display: inline-block;
	vertical-align: top;
	margin-top: 4px; }

/* -- comments -- */

.item .panel .comments-box { padding-top: 14px; }

.item .panel .comment-box {
	min-height: 28px; 
	margin-bottom: 12px;
	padding-left: 36px; 
	clear: both;
	color: #666; }
	
.item .panel .comment-box .user-photo { left: 0; top: 0; }
.item .panel .comment-box .user-name,
.item .panel .comment-box .user-name a {
	color: #333;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 3px; }
	
.item .panel input,
.item .panel textarea { 
	background: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px inset; }
	
.item .panel .add-comment-box input {
	width: 100%;
	height: 28px;
	border: none;
	background: white;
	padding-left: 35px;
	margin-bottom: 0; }


/* Logged-in item
==================================================================== */

.item-row-box {
	background: white;
	padding: 14px;
	overflow: hidden; }
	
.item-row-box div.item { 
	display: inline;
	width: 10%;
	padding: 1.25% }

.item-row-box div.item .item-photo {
	width: 10%;
	padding: 1.25%
	height: auto;
	max-height: 10%; }


/* Profile
==================================================================== */

.profile-box {
	margin: 2px 0 12px;
	padding: 16px !important; }
	
.profile-box .user-box .user-photo { margin-right: 9px; }

.profile-box .user-box .basics {
	width: 100%;
	height: 48px;
	padding: 3px 0 0 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 26px;
	line-height: 22px;
	color: white;
	font-weight: bold; }
	
.profile-box .user-box .basics .item-count {
	font-size: 14px; 
	font-weight: normal;
	color: #ccc;
	padding-right: 8px; }
	
.profile-box .user-box .basics .t-box { height: 11px; vertical-align: -1px; }
.profile-box .user-box .basics .f-box { height: 14px; vertical-align: -1px; }
	
/* -- byline -- */

.bio-box { padding-top: 13px; }
.bio-box .user-bio { line-height: 20px; }
.bio-box input[type=text] { width: 86.8%}
.bio-box .btn { width: 12%; margin-left: 1.2%; padding: 0; }
.bio-box a.mini {
	padding-left: 3px; 
	font-size: 11px; 
	font-weight: bold; 
	text-transform: uppercase; }

/* -- follow count boxes -- */

.follow-count-box { 
	border-top: 1px solid #494949;
	line-height: 1; 
	margin-top: 13px;
	padding-top: 11px;
	width: 50%; }
	
.follow-count-box.right {
	border-left: 1px solid #494949;
	padding-left: 12px; }

.follow-count-box .txt.xs { 
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	padding: 0 11px 0 4px; }

.follow-count-box span.num {
	font-weight: bold;
	font-size: 28px; }
	
.follow-count-box ul { vertical-align: top; }
	
.follow-count-box ul li { 
	vertical-align: top;
	padding-top: 3px;
	padding-right: 4px; }
	
.follow-count-box	ul li .user-photo { opacity: 0.9; filter: alpha(opacity=90); }
.follow-count-box:hover	ul li .user-photo { opacity: 1; filter: alpha(opacity=100); }


/* -- follow button 2nd-degree styling -- */

.btn.follow { position: absolute; }

.profile-box .btn.follow {
	top: 16px;
	right: 16px;
	width: 90px;
	font-size: 11px;
	text-transform: uppercase; }

.profile-box .btn.follow [class^="icon-"] { margin-top: 0px; }

.well-box.info-box .btn.follow {
	top: 12px;
	right: 12px;
	width: 80px; }
	
.well-box.list-box .btn.follow {
	top: 0;
	right: 0;
	width: 58px;
	height: 28px;
	line-height: 28px;
	padding: 0px;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;  }
	
.well-box.list-box .btn.follow [class^="icon-"] { margin-top: 1px; }
	
.btn.follow.btn-green .unfollow { display: none; }
.btn.follow.btn-green:hover .icon-ok { display: none; }
.btn.follow.btn-green:hover .unfollow { display: block; }

	
/* -- Logged-out follow modal (Classic) -- */

.modal.classic { 
	width: 472px;
	margin-left: -236px;
	margin-top: 0;
	top: 185px;
	border: 0; }
	
.modal.classic .modal-header { 
	text-align: center;
	border: 0; }
	
.modal.classic .close { 
	font-family: Arial, sans-serif;
	font-size: 28px;
	margin-top: 1px; }

.modal.classic h4 { 
	color: #555;
	line-height: 18px;
	margin-bottom: 0; }
	

/* -- profile feed -- */
               
.profile-feed-title {}	

.profile-feed { 
	background: white;
	z-index: 2;
	padding: 0 6px 16px; }
	
.card { 
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background: white; }
	
.card .photo-box {
	width: auto;
	height: 236px;
	line-height: 236px;
	padding: 12px 6px;
	text-align: center; }
	
.card .photo-box .item-photo {
	max-width: 100%;
	max-height: 236px; }
	
.card .panel { padding: 0 6px 12px 6px; }

.card .panel .panel-contents { 
	background: #eee;
	padding: 10px;}
	
.card .panel .panel-contents .caret {
	width: 0;
	height: 0;
	left: 18px;
	top: -10px;
	vertical-align: bottom;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0 solid transparent;
	content: ""; }

.card .panel .title-box { color: #555; }

.card .panel .title-box a.link-out { 
	padding-right: 11px;
	background: url('/images/arrow-out-177DBE-s.png') center right no-repeat; }