/* ---------- home specific */

* { 	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; }

body { 	
	background: #F2F0ED;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  
a:hover { text-decoration: none !important; }

.container {
	width: 660px;
	margin: 0 auto;
	padding-top: 72px;
	padding-bottom: 80px; }

/*
.screen { 
	display: table; 
	text-align: center; 
	vertical-align: middle; 
	min-height: 604px; }
*/
	
.title {
	font-size: 22px;
	color: #777;
	font-weight: bold;
	text-align: center;
	padding-bottom: 38px; }

.title .name { color: #555; }

.squares {
	padding-left: 22px; }
	
.square, .rectangle {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 8px 8px 0;
	float: left;
	background: white; }

.rectangle { 
	width: 408px;
	background: #F2F0ED; }

.square.m {
	background: #555;
	color: white;
	font-weight: bold;
	font-size: 160px;
	line-height: 194px;
	text-align: center;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05); 
	/* box-shadow:inset 0 0 20px #333333; */  }
	
.square.item { padding: 10px; }
	
.square.item img {
	max-width: 180px;
	max-height: 180px; }

.square.item .m {
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	background: #F2F0ED; }
	
.last { margin-bottom: 0 !important; }
	
.square.text {
	padding: 16px;
	color: white;
	background: #555;
	font-size: 22px;
	line-height: 30px; }
	
a.square.fb {
	background: #3b5998;
	text-align: center;
	-webkit-transition:background 0.25s ease-in;
	-moz-transition:background 0.25s ease-in; 
	-o-transition:background 0.25s ease-in;  
	transition:background 0.25s ease-in; }

a.square.fb:hover{
	background: #1f4696; }

a.square.fb:active { border-top: 1px solid #4f628a; }

a.square.fb.load { 
	cursor: default;
	background: #1f4696 url('/images/loading_blocks_small_blue_trans.gif') no-repeat center; }
	
.load .hide-when-loading { display: none; }

a.square.fb .log_in {
	padding: 68px 0 6px;
	color: #eee;
	font-size: 13px; }
	
.steps {
	background: white; }
	
.steps .square,
.steps .rectangle {
	margin-bottom: 48px; }
	
.action-bar {
	height: 200px;
	padding-left: 44px;
	background: #555; }

.action-bar .container { padding: 0; }
	
.action-bar .square,
.action-bar .rectangle {
	margin-bottom: 0; }

.action-bar .rectangle {
	background: none;
	line-height: 180px;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 22px; }
	
footer, footer a, footer a:hover {
	padding-top: 10px;
	text-align: center;
	color: #bbb; }