/* Basics
==================================================================== */

* { margin: 0; }

html, body { height: 100%; }

body { 
	background: #eee;
	overflow-x: hidden;
	font-size: 14px;
	text-rendering: optimizelegibility; }

a { 
	color: #099CDE;
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	
a:hover { 
	color: #177dbe;
	text-decoration: none; }
	
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px; }

.background-cover {
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2; }
	
.dimmer {
	position: fixed;
	z-index: -1;
	background: url('/images/colors/black-40.png');
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; }

.dimmer.twenty { background: url('/images/colors/black-20.png'); }
.dimmer.sixty { background: url('/images/colors/black-60.png'); }
.dimmer.seventy { background: url('/images/colors/black-70.png'); }
.dimmer.seventy-five { background: url('/images/colors/black-75.png'); }
.dimmer.eighty { background: url('/images/colors/black-80.png'); }
.dimmer.hundred { background: black; }

/* Home Basics
==================================================================== */

body { 
	background: #444; }
	
.wrapper {
	overflow: hidden; }
	
.background-cover { display: block !important; }

/* Header, Container and Footer
==================================================================== */

.header {
	height: 72px;
	left: 0;
	right: 0;
	background: white;
	margin-bottom: 36px; }
	
.header .navigation {
 height: 72px;
 background: white;
 line-height: 72px; }

.header .navigation .action {
	float:right;
	margin-top: 15px; }

.header .navigation .logo {
	margin-top: 4px;
	float: left;
	height: 78px; }

.container, .header .navigation, footer .inner {
	width: 840px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto; }

.container { padding-bottom: 64px; }
	
footer { text-align: center; }

footer, .push {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	background: #f8f8f8; }

footer, footer a, footer a:hover { color: #ccc; }

footer.dark {
	background: url('/images/colors/black-25.png');}

footer.dark, footer.dark a, footer.dark a:hover { color: #666; }

footer .like-button-box {
	height: 26px; 
	bottom: 0; 
	overflow: hidden; }


/* Logged-out header
==================================================================== */	

.logged-out .item-header { 
	padding: 16px 0; }
	
.logged-out .item-header .logo { 
	height: 60px;
	padding-right: 12px; }
	
.logged-out .item-header .text {
	vertical-align: -7px;
	font-size: 18px;
	color: white;
	font-family: 'RooneyLightItalic', Georgia; }

.logged-out .item-header .btn { 
	margin-top: 13px;
	width: 300px; 
	float: right; }


/* Home item
==================================================================== */	

.box {
	margin: 0 auto;
	width: 520px; }

.top {
	background: #eee;
	padding: 20px 20px 20px 80px;
	-webkit-border-radius: 5px 5px 0 0; 
    -moz-border-radius: 5px 5px 0 0;   
  		border-radius: 5px 5px 0 0;
  font-family: 'RooneyLightItalic';
  color: #555;
  font-size: 16px;
  line-height: 24px; }

.top span.em {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: bold; }
	
.top .user-photo {
	width: 48px;
	height: 48px;
	left: 20px;
	top: 20px;
	float: left; }

.dark-slice {
	background: url('/images/colors/black-30.png'); 
 	top: 0;
 	left: -1000px;
 	right: -1000px;
 	bottom: -1000px;
 	z-index: -1; }

.bottom {
	background: white;
	padding: 20px;
	height: 380px;
	line-height: 340px;
	-webkit-border-radius: 0 0 5px 5px; 
    -moz-border-radius: 0 0 5px 5px;   
  		border-radius: 0 0 5px 5px; 
  color: #ccc;
  font-size: 13px;
  text-align: center; }
 
.bottom .item-photo { max-width: 80%; }

.bottom .item-details { 
	bottom: 20px;
	width: 100%;
	line-height: 1;
	text-align: center; }

/*
.item {
	width: 520px;
	margin: 0 auto; }
	
.item .intro {
	height: 88px;
	background: #f8f8f8;
}

.item .photo {
	width: 520px; 
	height: 520px; 
	padding: 24px;
	background: white url('/images/loading-blocks-dark-trans.gif') center no-repeat; 
	text-align: center;
	line-height: 472px;
	-webkit-border-radius: 5px !important; 
     -moz-border-radius: 5px !important;  
          border-radius: 5px !important; }
  
.item .photo img.stamp {
	width: 48px;
	height: 48px;
	top: 18px;
	right: 18px; }
*/



/*
.logo {
	width: 96px;
	z-index: 1; }
	
.box { 
	position: absolute;
	z-index: 0;
	background: url('/images/colors/black-60.png');
	top: 0;
	bottom: 0;
	left: 5%;
	width: 384px;
	padding-top: 13%;
	text-align: center; }
	
.box p.strap {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: white;
	padding: 20px 0 9px; }

.box p.strap .sub { 
	font-family: 'RooneyLightItalic', Georgia, serif;
	font-weight: normal; }

.box .sub { 
	color: #ccc;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.box .share-to {
	font-family: 'RooneyLightItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: white;
	font-size: 12px; }
	
.box .share-to span.mine { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	-webkit-font-smoothing: antialiased; }
	
.box img.shares { 	
	margin-top: 6px;
	height: 16px; }
	
.box img.shares.tw { 
	margin-bottom: -4px;
	padding-left: 4px;
	padding-right: 4px; }

.background {
	background-size: cover;
	background-position: 50% 50%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -2; }
	
.modal-body a { color: #177DBE; }
.modal-footer { text-align: center; }
	
footer, .push {
	position: absolute;
	bottom: 0;
	left: 5%;
	text-align: center;
	color: #ccc;
	height: 36px;
	width: 384px;
	line-height: 36px;
	background: url('/images/colors/black-25.png'); }
*/
	

/* Buttons
==================================================================== */

.btn {
  display: inline-block;
  *display: inline;
  padding: 0 12px;
  height: 32px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 32px;
  font-family: 'RooneyLightItalic', Georgia;
  font-weight: normal !important;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #099CDE;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:first-child { *margin-left: 0; }

.btn:hover {
	color: white;
  text-decoration: none;
  background: #177DBE;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:focus { outline: none; }

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-large {
  padding: 0 16px;
  height: 42px;
  font-size: 15px;
  line-height: 42px;
  line-height: 40px\0/ !important;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

.btn [class^="icon-"] { margin-top: 1px; }
.btn-large [class^="icon-"] { margin-top: 2px; }
.btn-mini [class^="icon-"] { margin-top: -1px; }

.btn-mini {
  padding: 0 6px;
  height: 18px;
  font-size: 11px;
  line-height: 18px; }
  
.btn-user {
	overflow-y: hidden;
	padding-left: 38px !important; }

.btn-user.btn-mini { 
	padding-left: 22px !important; }
  
.btn-user.btn-large { 
	padding-left: 50px !important; }
	
.btn-user .self-photo {
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; }

.btn-user.btn-mini .self-photo {
	width: 18px;
	height: 18px; }

.btn-user.btn-large .self-photo {
	width: 42px;
	height: 42px; }

.btn-user.btn-large.btn-white .self-photo {
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; }
	
.btn.btn-red { background: #EE472A; }
.btn.btn-red:hover { background: #E4156D; }

.btn.btn-black { 
	opacity: 0.8;
  filter: alpha(opacity=80); 
	background: url('/images/colors/black-40.png');
  -webkit-transition: opacity .15s ease-in;
	-moz-transition: opacity .15s ease-in;
	-o-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in; }
	
.btn.btn-black:hover,
.btn.btn-black.active {
	opacity: 1;
  filter: alpha(opacity=100); }
  
.btn.btn-gray {
	text-align: left;
	background: #EEE;
	color: #999; }

.btn.btn-white { 
	background: white; 
	color: #575E62; 
	border: 1px solid #ddd; }
	
.btn.btn-white:hover { background: #eee; }

.btn.btn-white { height: 30px; }
.btn.btn-white.btn-large { height: 40px; }
.btn.btn-white.btn-mini { height: 16px; }

	
.btn.btn-white [class^="icon-"],
.btn.btn-white [class*=" icon-"] {
	opacity: 0.75;
  filter: alpha(opacity=75); }

.btn.btn-facebook { background: #3B5998; }
.btn.btn-facebook:hover { background: #1F4696; }

.btn.checklist .icon-ok { display:none; }

.btn.checklist.done { 
	cursor: default;
	text-decoration: line-through; 
	opacity: 0.5; 
	background: none; }
	
.btn.checklist.done [class^="icon-"] { display: none; }
.btn.checklist.done .icon-ok { display: inline-block; }

.icon-like.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
	background-position: 0 0; }

.icon-mine.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
	background-position: -24px 0; }
	
.icon-facebook.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -48px 0; }
 
.icon-shoes.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -72px 0; }
  
.icon-phone.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -96px 0; }
  
.icon-media-item.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -168px 0; }

.icon-bag.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -144px 0; }

.icon-top.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -192px 0; }


/* ----- loading button states ----- */
.btn.pushed, .btn-pushed:hover, 
.btn.load, .btn.load:hover { background: #177DBE; cursor: default; }

.btn-red.pushed, .btn-red.pushed:hover,
.btn-red.load, .btn-red.load:hover { background: #E4156D; }	

.btn-white.pushed, .btn-white.pushed:hover,
.btn-white.load, .btn-white.load:hover { background: #555; color: white; }	

.btn span.in { display: none; }
.btn.pushed .in { display: inline; }
.btn.pushed .out { display: none; }
  
.icon-loading {
	display: none;
  width: 16px;
  height: 15px;
  *margin-right: .3em;
  background-image: url("/images/loading-blocks-dark-trans.gif"); 
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.icon-loading.icon-white { background: url("/images/loading-blocks-white-trans.gif"); }
.load .icon-loading { display: inline-block; }
.load .hide-when-loading { display: none; }


/* ----- btn groups & dropdowns ----- */	
.btn-group > .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-group.open .btn.dropdown-toggle { 
	color: white;
	  -webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-group.open .btn-mine.dropdown-toggle { 
	background: #177DBE; }

.dropdown-menu {
  position: absolute;
  top: 100%;
 	right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; }
 
.dropdown-menu a {
  display: block;
  padding: 5px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #575E62;
  white-space: nowrap; }

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #575E62;
  text-decoration: none;
  background-color: #eee; }
  
.typeahead.dropdown-menu {
	width: 250px !important; }


/* Message Drawer
==================================================================== */

.message-drawer {
	z-index: 1051; 
	position: fixed; 
	width: 520px; /* total width w/padding: 449px */
	left: 50%;
	right: 50%; 
	top: 8px; 
	height: 56px;
	line-height: 38px;
	text-align: center;
	margin-left: -260px;
	opacity: 0.98;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }

.alert { 	
	border: 0; 
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-shadow: none;
	-webkit-font-smoothing: antialiased !important;
	background: #e1b503; }
	
.alert-success { background: #65bc46; }
.alert-info    { background: #177ac0; }
.alert-error   { background: #dc4523; }

.message-drawer .close { 
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=100);
	color: white; }


/* Loading Animations
==================================================================== */

.btn .loading.inline { display: none; }

.loading.large {
	min-height: 60px;
  background-image: url('/images/loading_spinner_large_trans.gif');
  background-position: center center;
  background-repeat: no-repeat; }

.loading.large.left {
	background-position: center left; }
  
.loading.large.inline {
	display: none;
	width: 32px;
	height: 32px;
	background: url('/images/loading_spinner_large_trans.gif') center no-repeat; }

.loading.small.inline,
.loading.small.inline.dark {
	display: none;
	width: 16px;
	height: 16px;
  background: url('/images/loading_blocks_small_light_trans.gif') center no-repeat; }
  
.loading.large.body{
  background-image: url('/images/loading_spinner_large_body.gif'); }

.loading.blocks.body {
	min-height: 60px;
	background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/images/loading_blocks_body.gif'); }

.load .loading.inline { /* turns inline loads on/off */
	display: inline-block; }

.load .hide-when-loading { display: none; }
.load .show-when-loading { display: inline-block; }
  

/* General Classes
==================================================================== */

.mine { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased; }

.f:after {
	content: "f";
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
	font-weight: bold; 
	font-style: normal !important;
	font-size: 18px; 
	padding-right: 6px; 
	vertical-align: -1px; }

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }

.error { color: #d5432b !important; }
input.error, 
textarea.error { 
	border-color: #d5432b !important;
	background: #fdece9 !important; }

input.error:focus, textarea.error:focus {
	border-color: #b94a48 !important;
  -webkit-box-shadow: 0 0 6px #d5432b;
     -moz-box-shadow: 0 0 6px #d5432b;
          box-shadow: 0 0 6px #d5432b; }

input.highlight-on-focus:focus,
textarea.highlight-on-focus:focus {
	background: #e6f7fd;
	color: #177DBE; }
          
.three-to-two { margin-right: 38px; }
/* see media queries for 2-span variant */

.square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }
	
.shaded {
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }
	
.fb-favicon {
	width: 14px;
	height: 14px; 
	background: url("/images/fb-icons.gif") -1px -289px; }
	
.fb-11 {
	width: 11px;
	height: 11px; 
	background: url("/images/fb-icons.gif") -3px -116px; }

.border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; }

.rounded-3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
	
.rounded-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }
	
.rounded-8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; }

.rounded-16 {
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px; }
	
.transition-bg {
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	transition: background .15s ease-in; }
	
.transition-color {
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	
.unselectable { 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; } 
  

/* Text Field Bootstrap Overrides
==================================================================== */

input, textarea { font-family: 'RooneyLightItalic'; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0); }

   
/* Fonts
==================================================================== */

@font-face {
    font-family: 'RooneyLightItalic';
    src: url('/type/rooney-lightitalic-webfont.eot');
    src: url('/type/rooney-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/rooney-lightitalic-webfont.woff') format('woff'),
         url('/type/rooney-lightitalic-webfont.ttf') format('truetype'),
         url('/type/rooney-lightitalic-webfont.svg#RooneyLightItalic') format('svg');
    font-style: normal;
    font-weight: normal; }