/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	border-collapse: collapse;
	list-style: none;
}

html {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit; 
	//color: expression(this.parentNode.currentStyle['color']);
}

/*-------------------- Home 1 (Girl) --------------------*/

body.home1 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
}

#container.home1 {
	width: 325px;
	height: 590px;
	margin: 0 auto;
	padding: 0 15px 0 575px;
	position: relative;
	background: url('/images/home1.jpg') no-repeat;
}

#heading.home1 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 40px;
	padding: 88px 0 24px;
}

.intro {
	font-size: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#container.home1 ul {
	padding: 0px 0px 32px 24px;
	color: #999999;
	font-size: 24px;
}

#container.home1 ul li {
	list-style-type: disc;
	line-height: 40px;
}

.button_home1 {
	position: absolute;
}

#tiny.home1 {
	font-size: 12px;
	color: #999999;
	text-align: center;
	width: 268px;
	margin-top: 55px;
}

#footer.home1 {
    line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}



/*-------------------- Home 2 (3 closets) --------------------*/

body.home2 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
}

#container.home2 {
	width: 885px;
	height: 565px;
	margin: 0 auto;
	padding: 25px 15px 0px 15px;
	text-align: center;
	background: url('/images/home2.jpg') no-repeat;
	position: relative;
}

#heading.home2 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 40px;
	padding: 5px 0 24px;
}

.button_home2 {
	position: absolute;
	left: 331px;
}

#tiny.home2 {
	font-size: 12px;
	color: #999999;
	text-align: center;
	width: 270px;
	position: absolute;
	top: 230px;
	left: 323px;
}


#footer.home2 {
  line-height: 20px;
	font-size: 14px;
	position: absolute;
	color: #cccccc;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}

/*-------------------- Home 3 (Art) --------------------*/

body.home3 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	overflow-y: hidden;
}

#container.home3 {
	width: 473px;
	height: 500px;
	margin: 0 auto;
	padding-top: 80px;
	padding-right: 412px;
	text-align: center;
	background: url('/images/home3.jpg') no-repeat;
	position: relative;
}

#heading.home3 {
	font-size: 48px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 54px;
	padding: 5px 0 24px;
}

.intro_home3 {
	font-size: 32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#tiny.home3 {
	font-size: 12px;
	color: #999999;
}

.p_home3 {
	margin-top: 25px;
	font-size: 20px;
	color: #999999;
	line-height: 34px;
}


#footer.home3 {
	position: absolute;
	bottom: 20px;
	left: 0px;
  line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	width: 885px;
	text-align: center;
	margin: 0 auto;
}

/*-------------------- Home 4 (Zendesk) --------------------*/

body.home4 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
}

#container.home4 {
	width: 885px;
	height: 360px;
	margin: 48px auto 0px;
	background: url('/images/home4_text.gif') no-repeat;
	position: relative;
}

#heading.home4 {
	font-size: 48px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 54px;
	padding: 5px 0 24px;
}

.intro_home4 {
	font-size: 32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#tiny.home4 {
	font-size: 12px;
	color: #999999;
}

.p_home4 {
	margin-top: 25px;
	font-size: 20px;
	color: #999999;
	line-height: 34px;
}


#footer.home4 {
  line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	width: 885px;
	text-align: center;
	margin: 20px auto 0px;
}

/*-------------------- Home 5 (Gojee) --------------------*/

body.home5 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #f8f8f8 url('/images/home5.jpg') no-repeat;
	background-position: center top;
	overflow: hidden;
}

#container.home5 {
	width: 480px;
	height: 475px;
	padding-top: 85px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#box_home5 {
	width: 480px;
	height: 321px;
	background: url('/images/black_65.png');
	margin: 0 auto;
	position: relative;
}

#heading.home5 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: white;
	line-height: 40px;
	padding: 24px;
}

.intro_home5 {
	font-size: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#tiny.home5 {
	margin-top: 50px;
	font-size: 12px;
	color: #999999;
}

.p_home5 {
	margin-top: 20px;
	font-size: 16px;
	color: white;
	line-height: 24px;
}


#footer.home5 {
	color: #666666;
  line-height: 20px;
	font-size: 12px;
	color: #999999;
	width: 480px;
	text-align: center;
	margin: 6px auto 0px;
}


/*-------------------- Home 6 (Gojee1) --------------------*/

body.home6 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #e9e9e9 url('/images/home5.jpg') no-repeat;
	background-position: center top;
	overflow: hidden;
}

#container.home6 {
	width: 885px;
	height: 590px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#box_home6 {
	width: 250px;
	margin-top: 50px;
	height: 200px;
	position: absolute;
	left: 40px;
}

#heading.home6 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #333333;
	line-height: 38px;
	padding: 0px 0 16px;
}

.intro_home6 {
	font-size: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#tiny.home6 {
	margin-top: 50px;
	font-size: 12px;
	color: #999999;
}

.p_home6 {
	margin-top: 20px;
	font-size: 16px;
	color: white;
	line-height: 24px;
}


#footer.home6 {
	color: #666666;
  line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	width: 885px;
	text-align: center;
	margin: 0px auto 0px;
}

/*-------------------- Home 6 (Gojee1) --------------------*/

body.home7 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: black url('/images/home7.jpg') no-repeat;
	background-position: center top;
	overflow: hidden;
}

/*-------------------- Awesome Button --------------------*/

.log_in_with_facebook {
	width: 252px;
	height: 50px;
	background: url('/images/log_in_with_facebook.png') no-repeat;
	cursor: pointer;
	display: inline-block;
}

.log_in_with_facebook:hover {
	background: url('/images/log_in_with_facebook.png') 0 -50px no-repeat;
}

.log_in_with_facebook_no_shadow {
	width: 250px;
	height: 47px;
	background: url('/images/log_in_with_facebook_no_shadow.png') no-repeat;
	cursor: pointer;
	display: inline-block;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.log_in_with_facebook_no_shadow:hover {
	background: url('/images/log_in_with_facebook_no_shadow.png') 0 -50px no-repeat;
}


.awesome { 
	font-family: 'FuturaStdBold', Arial, sans-serif; 
	font-size: 16px;
	border: 0;
	overflow: visible;
}

.awesome, .awesome:visited {
	background: #222 url('/images/alert-overlay.png') repeat-x; 
	padding: 0px 10px; 
	color: #fff; 
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
	.awesome:hover									{ background-color: #111; color: #fff; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 12px; height: 32px; line-height: 32px; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 16px; height: 46px; line-height: 46px; padding: 0px 12px; }
	
	.blue.awesome, .blue.awesome:visited			{ background-color: #24578f; }
	.blue.awesome:hover								{ background-color: #1e4774; }



/*-------------------- Navbar (Home1 (Girl) and 4 (Zendesk) only) --------------------*/

#header {
	height: 40px;
	background: #333333;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#navbar {
	width: 885px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	z-index: 5000;
}

#logo {
	width: 640px;
	height: 40px;
	margin-left:-1px;
	float: left;
	position: absolute;
	margin-top: -3px;
}

.nav {
	height: 40px;
	position: absolute;
	right: 15px;
	cursor: pointer;
}

.nav li {
	float: left;
}

.nav li ul {
	background: white;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	z-index: 5000;
}

.nav li ul li {
	float: none;
	width: auto;
	line-height: 32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 12px;
	color: #999999;
	background: white;
	padding: 0px 12px 0px;
}

.nav li ul li:hover {
	background: #f8f8f8;
	color: #333333;
}

.nav_menu {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	color: #dddddd;
	font-size: 14px;
}

.nav_menu:hover {
	color: white;
}

/* Handles the showing and hiding of menu items */
.nav_add_item_button:hover ~ .nav_add_list, .nav_add_list:hover, .nav_login_button:hover ~ .nav_login_list, .nav_login_list:hover {
	display: block;
}

.nav_add_item_button { } /* For FFox / Narrower Arial Font */

.nav_add_list, .nav_login_list {
	display: none;
}

.nav_login_button_user_photo {
	width: 22px;
	height: 22px;
	vertical-align:-6px;
	margin-right: 4px;
	margin-top: -1px;
}

.logout_v {
	display: inline-block;
	height: 9px;
	width: 9px;
	background: url('/images/v_dddddd_ffffff.png') 0 0;
	background-repeat: no-repeat;
	vertical-align: 0px;
	zoom: 1; 
	*display: inline;
	*vertical-align: middle;
}

.nav_login_button:hover div.logout_v {
	background: url('/images/v_dddddd_ffffff.png') 0 -14px;
}

.f {
	vertical-align: middle;
	margin-right: 10px;
}

.rounded_5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/*-------------------- Fonts --------------------*/

@font-face {
    font-family: 'FuturaStdBold';
    src: url('/type/futurastd-bold-webfont.eot');
    src: url('/type/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-bold-webfont.woff') format('woff'),
         url('/type/futurastd-bold-webfont.ttf') format('truetype'),
         url('/type/futurastd-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('/type/futurastd-book-webfont.eot');
    src: url('/type/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-book-webfont.woff') format('woff'),
         url('/type/futurastd-book-webfont.ttf') format('truetype'),
         url('/type/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------ Mozilla-Only fall-back fonts */

/*
@-moz-document url-prefix() {
    #item_name, 
    #product_title, 
    #welcomebox,
    #profile_username,
    .landing_heading, 
    .suggestion, 
    .product_title, 
    .product_title_sample,
    .awesome,
    .strapline,
    .logout,
    .login,
    .small_button,
    .nav_menu, 
    #heading.home1,
    #heading.home2 { 
    	font-family: Arial, sans-serif; font-weight: bold; 
    }
}
*/

