* { margin: 0; }

html, body { height: 100%; }

body { 
	background: #2b2b2b;
	font-size: 0;
	line-height: 1;
	color: #333;
	text-rendering: optimizelegibility; }
	
a:hover { text-decoration: none; }
	
.wrapper {
	min-width: 904px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px;
	background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #404040 0%, #2b2b2b 50%);
	background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #404040 0%, #2b2b2b 50%);
	background-image: -o-radial-gradient(center top, ellipse farthest-corner, #404040 0%, #2b2b2b 50%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 541, color-stop(0, #404040), color-stop(0.5, #2b2b2b));
	background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #404040 0%, #2b2b2b 50%);
	background-image: radial-gradient(ellipse farthest-corner at center top, #404040 0%, #2b2b2b 50%); }

.header { text-align: center; width: 904px; margin: 0 auto; }
.header .logo { padding: 24px 0 6px; height: 73px; }

.container {
	width: 904px;
	text-align: center; }
	
.video-frame iframe { 
	padding: 12px;
	background-color: rgba(0,0,0,0.16); 
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important; }
	
h2 {
	padding: 22px 0 32px;
	font-size: 28px;
	font-weight: normal;
	color: #eee;
	letter-spacing: -1px;
	text-shadow: 0 1px rgba(0,0,0,0.32); }

.btn-twitter, .btn-facebook { 
	width: 244px;
	height: 52px;
	margin: 0 5px;
	font-size: 16px;
	text-shadow: 0 1px rgba(0,0,0,0.32);
	line-height: 51px; }

.spacer { height: 64px; }

footer { text-align: center; }

footer, .push {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	background-color: rgba(0,0,0,0.12); }
	
footer .inner {
	width: 880px;
	margin: 0 auto; }

footer .inner ul li { 
	display: inline;
	margin: 0 4px; }
	
footer, footer a, footer a:hover { color: #777; }
footer .like-button-box {
	height: 26px; 
	bottom: 0; 
	overflow: hidden; }
	
footer .twitter-button-box {
	height: 26px; 
	left: 96px;
	bottom: 0; 
	overflow: hidden; }