/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	border-collapse: collapse;
	list-style: none; }

a {
	text-decoration: none;
	color: inherit; }

/* ------------------------------ Header */

.log_in {
	z-index: 10000;
	position: absolute;
	top: 0px;
	right: 48px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 16px;
  background: url('/images/black_40.png'); 
  -moz-opacity: 0.80;
  opacity: .8;
  filter: alpha(opacity=80);
  zoom: 1;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); }

.log_in:hover {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100);}

/*-------------------- Blackout --------------------*/

body.blackout {
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1; }
  
.blackout .black {
	background: url('/images/black_60.png');
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 9000; }

.blackout .black .overlay {
	position: relative;
	margin: 180px auto 0;
	border-top: 1px solid white;
	border-bottom: 1px solid #cccccc;
	background: url('/images/f5f5f5_95.png');
	width: 402px;
	padding: 24px;	
	height: 156px;
	box-shadow: 0 0 45px 5px #333333;
	-moz-box-shadow: 0 0 45px 5px #333333;
	-webkit-box-shadow: 0 0 45px #333333;
	text-align: center;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 26px;
	color: #555555;
	line-height: 150%;
	text-shadow: 0 1px 1px white; }

.blackout .black .overlay .em {
	color: #3B5B96; }
	
.blackout .black .cross_browser_shadow {
	width: 320px;
	display: inline-block;
	padding-bottom: 2px;
	background: url('/images/shadow_bottom_20_10.png') bottom center repeat-x; }

.blackout .black .login_with_facebook {
	width: 320px;
	height: 60px;
	margin-top: 13px;
	display: block;
	cursor: pointer;
	border: none;
	background: url("/images/welcome_buttons_pop.png") no-repeat;
	background-position: -40px 0px;
	font-size: 20px;
	color: #555;
	text-shadow: 0 1px 1px white; }

.blackout .black .login_with_facebook:hover { background-position: -40px -60px; }
.blackout .black .login_with_facebook:active { background-position: -40px -120px; }

.blackout .black .click_login_orange_arrow {
	width: 280px;
	height: 135px;
	background: url("/images/click_login_orange_arrow.png") no-repeat;
	position: absolute;
	top: 183px;
	left: 85px; }
	
.blackout iframe {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%; }

.blackout #header {
  height: 68px;
  z-index: 10000 !important;
  position: relative;
  background-color: black; }

.blackout #header .navbar {
  position: relative;
  margin: 0 auto;
  z-index: 10000 !important; }
  
.blackout #header .navbar.wide { width: 980px; }

.blackout #header .navbar .logo {
	width: 137px;
	height: 32px;
  padding: 17px 20px 19px 0px;
  display: block;
  background: url('/images/oncloset_logo_34_white.png') 0 17px no-repeat; }

.blackout #header .navbar .nav {
  height: 42px;
  position: absolute;
  right: 0px;
  top: 13px;
  cursor: pointer; }

.blackout #header .navbar .nav li {
  float: left;
  position: relative; }

.blackout #header .navbar .nav li .nav_menu {
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  position: relative;
  padding: 0 16px;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); }

.blackout #header .navbar .nav li:hover {
  background: url('/images/white_10.png'); }

/*-------------------- Splash --------------------*/

body.splash {
  font-family: 'FuturaStdBook', Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
  background: #e9e4e1 url("/images/home_glow_lite_tiled.jpg");
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1; }

.splash #header {
  height: 68px;
  background: url('/images/header_black_convex.png') center bottom repeat-x;
  z-index: 10000 !important;
  padding-bottom: 2px;
  margin-bottom: 18px; }

.splash #header .navbar {
  position: relative;
  margin: 0 auto;
  text-align: center;
  line-height: 68px;
  font-size: 22px;
  color: #cccccc;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  z-index: 10000 !important; }
  
.splash #header .navbar.narrow { width: 865px; }

.splash #header .navbar .logo {
	width: 137px;
	height: 32px;
	position: absolute;
  left: 0px
  top: 0px;
  padding: 17px 20px 19px 0px;
  display: block;
  background: url('/images/oncloset_logo_34_white.png') 0 17px no-repeat; }

.splash #header .navbar .log_in_oval {
	width: 142px;
	height: 42px;
  display: block;
  background: url('/images/log_in.png') 0 -42px no-repeat; }
 
.splash #header .navbar .log_in_oval:active {
	background-position: 0 0; }

.splash #header .navbar .nav {
  height: 42px;
  position: absolute;
  right: 0px;
  top: 13px;
  cursor: pointer; }
  
.splash .dark_half {
	width: 100%;
	position: absolute;
	top: 438px;
	height: 830px;
	overflow: hidden;
	background: url('/images/splash_dark_half_bg.png') repeat-x; }
  
.splash #container {
  margin: 0px auto 0px;
  position: relative; }
  
.splash #container.narrow { width: 865px; }

.splash .splash_items {
	width: 865px;
	height: 205px;
	padding-top: 307px;
	text-align: center;
  background: url('/images/splash_items.jpg') no-repeat; }

.splash .splash_items .cross_browser_shadow {
	width: 320px;
	display: inline-block;
	padding-bottom: 2px;
	background: url('/images/shadow_bottom_20_10.png') bottom center repeat-x; }

.splash .splash_items .login_with_facebook {
	width: 320px;
	height: 60px;
	margin-top: 13px;
	display: block;
	cursor: pointer;
	border: none;
	background: url("/images/welcome_buttons_pop.png") no-repeat;
	background-position: -40px 0px;
	font-size: 20px;
	color: #555;
	text-shadow: 0 1px 1px white; }

.splash .splash_items .login_with_facebook:hover { background-position: -40px -60px; }
.splash .splash_items .login_with_facebook:active { background-position: -40px -120px; }

.splash .splash_panels {
	width: 865px;
	height: 546px;
	margin: 20px 0; }

.splash .splash_panel_1 { 
	width: 865px;
	height: 194px;
	background: url('/images/splash_panel_1.jpg') no-repeat; }
	
.splash .splash_panel_2 { 
	width: 865px;
	height: 176px;
	background: url('/images/splash_panel_2.jpg') no-repeat; }

.splash .splash_panel_3 { 
	width: 865px;
	height: 176px;
	background: url('/images/splash_panel_3.jpg') no-repeat; }

.splash #footer {
	font-size: 12px;
	color: #999999;
	text-align: center;
	position: absolute;
	width: 100%;
	clear: both;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	z-index: 0; }

/*-------------------- Path --------------------*/

body.path {
  font-family: 'FuturaStdBook', Arial, sans-serif;
  background-color: black;
  font-size: 16px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1; }

.path .background {
	position: absolute;
	width: 100%;
	height: 100%; }

.path .background .canvas {
	position: relative; }
	
.path .background img {
	width: 100%;
	height: auto;
	z-index: -100; }
	
.path .background .fade_bottom {
	width: 100%;
	height: 200px;
	background-image: url("/images/fade_bottom.png");
	position: absolute;
	bottom: 0px;
	background-repeat: repeat-x; }

.path .strip {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 32px 48px 40px; }

.path .strip .logo {
	color: white;
	font-size: 40px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) }
	
.path .strip .strapline {
	font-size: 24px;
	line-height: 32px;
	padding: 4px 0;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-opacity: 0.8;
  opacity: .8;
  filter: alpha(opacity=80);
  zoom: 1; }
  
.path .next_shadow {
	width: 97px;
	display: inline-block;
	padding-bottom: 2px;
	background: url('/images/shadow_bottom_20_10.png') bottom center repeat-x; }

.path .next {
	width: 97px;
	height: 42px;
	margin-top: 13px;
	display: block;
	cursor: pointer;
	border: none;
	background: url("/images/login_with_facebook_230_42.png") 0 -126px no-repeat; }

.path .next:hover { background-position: 0 -168px; }
.path .next:active { background-position: 0 -210px; }

.path .cross_browser_shadow {
	width: 230px;
	display: inline-block;
	padding-bottom: 2px;
	background: url('/images/shadow_bottom_20_10.png') bottom center repeat-x; }
  
.path .login_with_facebook {
	width: 230px;
	height: 42px;
	margin-top: 13px;
	display: block;
	cursor: pointer;
	border: none;
	background: url("/images/login_with_facebook_230_42.png") no-repeat; }

.path .login_with_facebook:hover { background-position: 0 -42px; }
.path .login_with_facebook:active { background-position: 0 -84px; }

.path .tiles {
	margin-top: 33px;
	width: 408px; 
	position: absolute; }

.path .tiles .tile {
	width: 133px;
	height: 189px;
	margin: 0 3px 2px 0;
	float: left;
	-moz-opacity: 0.90;
  opacity: .90;
  filter: alpha(opacity=90);
  zoom: 1; }

/*
.path .tiles .tile:hover {
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }
*/
  
.path .tiles .slotting {
	position: absolute;
	width: 154px;
	height: 208px; 
	top: -19px;
	left: 272px;
	zoom: 1;
	-moz-opacity: 0.90;
  opacity: .90;
  filter: alpha(opacity=90);
	z-index: 10000 !important; }

/*
.path .tiles .slotting:hover {
	background-position: 0 -208px;
	-moz-opacity: 1.00;
  opacity: 1.00;
  filter: alpha(opacity=100); }
*/
  
.path .tiles .stamps {
	width: 580px;
	height: 350px;
	margin-top: -26px;
	margin-left: -18px;
	-moz-opacity: 0.90;
  opacity: .90;
  filter: alpha(opacity=90);
	background: url("/images/home_path/tiles/stamps.png") no-repeat; }

.path .tiles .timeline {
	width: 427px;
	height: 344px;
	margin-left: -1px;
	position: relative;
	background: url("/images/home_path/tiles/timeline.png") no-repeat; }

.path .tiles .timeline .item {
	width: 87px;
	height: 150px;
	position: absolute;
	background: url("/images/home_path/tiles/timeline_items.jpg") no-repeat;
	top: 116px; }
	
.path .tiles .timeline .item.first { 
	left: 30px; background-position: 0 0; }
.path .tiles .timeline .item.first:hover {
	background-position: 0 -150px; }
	
.path .tiles .timeline .item.second { 
	left: 127px; background-position: -87px 0; }
.path .tiles .timeline .item.second:hover {
	background-position: -87px -150px; }
	
.path .tiles .timeline .item.third { 
	left: 224px; background-position: -174px 0; }
.path .tiles .timeline .item.third:hover {
	background-position: -174px -150px; }

.path .tiles .timeline .item.fourth { 
	left: 321px; background-position: -261px 0; }
.path .tiles .timeline .item.fourth:hover {
	background-position: -261px -150px; }


/*-------------------- Home 5 (Gojee) --------------------*/

body.home5 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: url('/images/tile35.jpg');
	background-position: center top;
	overflow: hidden;
}

#container.home5 {
	width: 480px;
	height: 475px;
	padding-top: 85px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#box_home5 {
	width: 480px;
	height: 321px;
	background: url('/images/333333_90.png');
	margin: 0 auto;
	position: relative;
}

#heading.home5 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: white;
	line-height: 40px;
	padding: 24px;
}

.intro_home5 {
	font-size: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#tiny.home5 {
	margin-top: 50px;
	font-size: 12px;
	color: #999999;
}

.p_home5 {
	margin-top: 20px;
	font-size: 16px;
	color: white;
	line-height: 24px;
}


#footer.home5 {
	color: #666666;
  line-height: 20px;
	font-size: 12px;
	color: #999999;
	width: 480px;
	text-align: center;
	margin: 6px auto 0px;
}



/*-------------------- Home 7 (Batch) --------------------*/

body.home7 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: white url('/images/tile35_33.jpg');
	background-position: center top;
	overflow: hidden;
}

#container.home7 {
	width: 800px;
	margin: 0px auto 0;
	padding-top: 100px;
	position: relative;
	text-align: center;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	z-index: 1;
}

#container.home7 .login_button {
	width: 334px;
	height: 120px;
	margin: 26px auto 0;
	background: url('/images/home_batch_login.png');
	display: block;
}

#container.home7 .login_button:hover {
	background-position: 0 -120px;
}

#container.home7 .login_shadow {
	width: 334px;
	height: 30px;
	background: url('/images/home_batch_login_shadow.png') repeat-x;
	margin: 0 auto;
	font-size: 12px;
	color: #cccccc;
	line-height: 30px;
	text-align: center;
}

#footer.home7 {
	font-size: 12px;
	color: #cccccc;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	font-family: 'FuturaStdBook', Arial, sans-serif; 
	z-index: 0;
}

/*-------------------- Fonts --------------------*/

@font-face {
    font-family: 'FuturaStdBold';
    src: url('/type/futurastd-bold-webfont.eot');
    src: url('/type/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-bold-webfont.woff') format('woff'),
         url('/type/futurastd-bold-webfont.ttf') format('truetype'),
         url('/type/futurastd-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('/type/futurastd-book-webfont.eot');
    src: url('/type/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-book-webfont.woff') format('woff'),
         url('/type/futurastd-book-webfont.ttf') format('truetype'),
         url('/type/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}