* { margin: 0; }

html, body { height: 100%; }

body { 
	background: #2b2b2b;
	font-size: 0;
	line-height: 1;
	color: white;
	text-rendering: optimizelegibility;
	overflow-x: hidden;
	background: #eee; }
	
a:hover { text-decoration: none; }
	
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px; }
	
.dark-top { 
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 622px;
	background: url('/images/backgrounds/bg-strip.png') repeat-x top left; }

.header { text-align: center; width: 904px; margin: 0 auto; }
.header .logo { padding: 21px 0 12px; height: 73px; }

.container {
	width: 100%; }
	
.video-frame { 
	background: black;
	text-align: center; }
	
	
h2 {
	padding: 30px 0 32px;
	font-size: 28px;
	text-align: center;
	font-weight: normal;
	color: #eee;
	letter-spacing: -1px;
	text-shadow: 0 1px rgba(0,0,0,0.32); }
	
h2 .user-photo.xxl {
	margin-right: 12px; 
	vertical-align: -16px; }

h3 {
	padding: 0 0 10px;
	font-size: 20px;
	font-weight: normal;
	color: #555;
	letter-spacing: -1px; }
	
p { 
	font-size: 15px;
	line-height: 145%;
	color: #777; }

ul { margin: 0 !important; }

.rwd-show { display: none; }

.btn-twitter, .btn-facebook { 
	width: 244px;
	height: 52px;
	font-size: 16px;
	text-shadow: 0 1px rgba(0,0,0,0.32);
	line-height: 51px; }

.btn-facebook { border-left: 1px solid rgba(0,0,0,0.1); }

.learn-more {
	display: inline-block;
	width: 112px;
	height: 36px;
	line-height: 35px;
	margin: 36px 0 8px;
	font-size: 13px;
	color: #ccc;
	background: #262626;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1); }

.learn-more:hover { color: #eee; }

.col-3 { 
	width: 30%;
	margin: 0 1.5%;
	display: inline-block;
	text-align: left; 
	vertical-align: top; }
	
.cell { 
	display: inline-block;
	background: white;
	padding: 13px 26px 11px 76px;
	font-size: 13px;
	line-height: 18px;
	color: #888; 
	background: #f8f8f8;
/* 	border: 1px solid transparent; */ }

.cell:hover { 
	color: #777;
	background: white;
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	transition: background .15s ease-in;
/* 	border: 1px solid #ddd; */ }

.cell:active { margin-top: 2px; }

.cell i {
	bottom: 14px;
	right: 10px;
	opacity: 0.5;
	filter: alpha(opacity=50); }
	
.cell:hover i {
	opacity: 0.7;
	filter: alpha(opacity=70); }
	
.cell .user-photo { 
	left: 14px; 
	top: 14px;
	width: 50px;
	height: 50px; }
	
.modal.eyeglass { 
	text-align: left;
	width: 576px;
	padding: 12px;
	background-color: rgba(255,255,255,0.5);
	margin-left: -298px;
	margin-top: 0;
/* 	top: 48px; */
	top: 94px;
/* 	height: 600px; */
	bottom: 110px;
	border: 0;
	overflow: visible !important; }

.modal.eyeglass .modal-body {
	max-height: none;
	padding: 0;
	overflow-y: auto; }

.modal.eyeglass .close {
	right: -26px;
	top: -34px; 
	height: 30px;
	color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
	text-shadow: none;
	font-size: 36px;
	z-index: 10000; }

.modal.eyeglass .close:hover {
	opacity: 0.8;
	filter: alpha(opacity=80); }

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity=80); }

.spacer { height: 64px; } 

footer { text-align: center; }

footer, .push {
	height: 32px;
	line-height: 32px;
	font-size: 12px; }
	
footer .inner {
	width: 880px;
	margin: 0 auto; }

footer .inner ul li { 
	display: inline;
	margin: 0 4px; }
	
footer, footer a, footer a:hover { color: #bbb; }
footer .like-button-box {
	height: 26px; 
	bottom: 0; 
	overflow: hidden; }
	
footer .twitter-button-box {
	height: 26px; 
	left: 96px;
	bottom: 0; 
	overflow: hidden; }

	


/*
@media screen and (max-width: 600px) { 
 
 .header, .container, footer .inner { width: 100%; }
 footer { padding: 0 11px; text-align: right; }
 .header .logo { height: 44px; padding-top: 12px; }
 
 h2 .user-photo.xxl { 
 	height: 24px;
 	margin-right: 6px;
 	vertical-align: -4px; }
 
 .video-frame iframe { 
	 	padding: 0; 
	 	width: 100% !important; 
		height: 142px;
	 	-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		border-radius: 0 !important; }
	h2 { font-size: 18px; line-height: 140%; padding: 14px 0 19px; }
	h3 { font-size: 15px; line-height: 140%; padding: 0 0 7px; letter-spacing: normal; }
	p { font-size: 13px; line-height: 140%; padding-bottom: 5px; }
	.btn-twitter, .btn-facebook { height: 44px; font-size: 14px; line-height: 42px; }
	.btn-facebook { margin-top: 9px; }
	
	.btn.btn-large img.t-box { height: 14px; }
	.btn.btn-large img.f-box { height: 18px; }
	
	.learn-more { margin: 24px 0 5px; }
	
	.col-3 { width: 90%; margin: 0 5%; }
	
	.rwd-show { display: inline-block !important; }
	.rwd-hide { display: none !important; }

}
*/
