/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	border-collapse: collapse;
	list-style: none;
}

html {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit; 
	//color: expression(this.parentNode.currentStyle['color']);
}

/*-------------------- Home 1 (Girl) --------------------*/

body.home1 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
}

#container.home1 {
	width: 325px;
	height: 590px;
	margin: 0 auto;
	padding: 0 15px 0 575px;
	position: relative;
	background: url('/images/home1.jpg') no-repeat;
}

#heading.home1 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 40px;
	padding: 88px 0 24px;
}

.intro {
	font-size: 24px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-weight: normal;
}

#container.home1 ul {
	padding: 0px 0px 32px 24px;
	color: #999999;
	font-size: 24px;
}

#container.home1 ul li {
	list-style-type: disc;
	line-height: 40px;
}

.button_home1 {
	position: absolute;
}

#tiny.home1 {
	font-size: 12px;
	color: #999999;
	text-align: center;
	width: 268px;
	margin-top: 55px;
}

#footer.home1 {
    line-height: 20px;
	font-size: 14px;
	color: #cccccc;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}



/*-------------------- Home 2 (3 closets) --------------------*/

body.home2 {
	font-family: 'FuturaStdBook', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background: #edebeb url('/images/bg_strip.png');
	background-repeat: repeat-x;
	background-attachment:fixed;
}

#container.home2 {
	width: 885px;
	height: 565px;
	margin: 0 auto;
	padding: 25px 15px 0px 15px;
	text-align: center;
	background: url('/images/home2.jpg') no-repeat;
	position: relative;
}

#heading.home2 {
	font-size: 32px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #791a10;
	line-height: 40px;
	padding: 5px 0 24px;
}

/*
#container.home2 ul {
	padding: 100px 0px 32px 0px;
	color: #999999;
	font-size: 24px;
}

#container.home2 ul li {
	list-style-type: none;
	float: left;
	width: 33%;
	text-align: center;
	line-height: 40px;
}
*/

.button_home2 {
	position: absolute;
	left: 333px;
}

#tiny.home2 {
	font-size: 12px;
	color: #999999;
	text-align: center;
	width: 270px;
	position: absolute;
	top: 230px;
	left: 323px;
}


#footer.home2 {
    line-height: 20px;
	font-size: 14px;
	position: absolute;
	color: #cccccc;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}


/*-------------------- Awesome Button --------------------*/

.awesome { 
	font-family: 'FuturaStdBold', Arial, sans-serif; 
	font-size: 16px;
	border: 0;
	overflow: visible;
}

.awesome, .awesome:visited {
	background: #222 url('/images/alert-overlay.png') repeat-x; 
	padding: 0px 10px; 
	color: #fff; 
	text-decoration: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
	.awesome:hover									{ background-color: #111; color: #fff; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 12px; height: 32px; line-height: 32px; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 16px; height: 46px; line-height: 46px; padding: 0px 12px; }
	
	.blue.awesome, .blue.awesome:visited			{ background-color: #24578f; }
	.blue.awesome:hover								{ background-color: #1e4774; }



/*-------------------- Navbar (Home1 only) --------------------*/

#header {
	height: 45px;
	background: #333333;
}

#navbar {
	width: 885px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	z-index: 5000;
}

#logo {
	width: 640px;
	height: 47px;
	margin-left:-1px;
	float: left;
	position: absolute;
	margin-top: -3px;
}

.nav {
	height: 45px;
	position: absolute;
	right: 15px;
	cursor: pointer;
}

.nav li {
	float: left;
}

.nav li ul {
	background: white;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	z-index: 5000;
}

.nav li ul li {
	float: none;
	width: auto;
	line-height: 32px;
	font-family: 'FuturaStdBook', Arial, sans-serif;
	font-size: 12px;
	color: #999999;
	background: white;
	padding: 0px 12px 0px;
}

.nav li ul li:hover {
	background: #f8f8f8;
	color: #333333;
}

.nav_menu {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 12px;
	font-family: 'FuturaStdBold', Arial, sans-serif;
	color: #dddddd;
	font-size: 14px;
}

.nav_menu:hover {
	color: white;
}

/* Handles the showing and hiding of menu items */
.nav_add_item_button:hover ~ .nav_add_list, .nav_add_list:hover, .nav_login_button:hover ~ .nav_login_list, .nav_login_list:hover {
	display: block;
}

.nav_add_item_button { } /* For FFox / Narrower Arial Font */

.nav_add_list, .nav_login_list {
	display: none;
}

.nav_login_button_user_photo {
	width: 22px;
	height: 22px;
	vertical-align:-6px;
	margin-right: 4px;
	margin-top: -1px;
}

.logout_v {
	display: inline-block;
	height: 9px;
	width: 9px;
	background: url('/images/v_dddddd_ffffff.png') 0 0;
	background-repeat: no-repeat;
	vertical-align: 0px;
	zoom: 1; 
	*display: inline;
	*vertical-align: middle;
}

.nav_login_button:hover div.logout_v {
	background: url('/images/v_dddddd_ffffff.png') 0 -14px;
}

.f {
	vertical-align: middle;
	margin-right: 10px;
}

/*-------------------- Fonts --------------------*/

@font-face {
    font-family: 'FuturaStdBold';
    src: url('/type/futurastd-bold-webfont.eot');
    src: url('/type/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-bold-webfont.woff') format('woff'),
         url('/type/futurastd-bold-webfont.ttf') format('truetype'),
         url('/type/futurastd-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('/type/futurastd-book-webfont.eot');
    src: url('/type/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/futurastd-book-webfont.woff') format('woff'),
         url('/type/futurastd-book-webfont.ttf') format('truetype'),
         url('/type/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------ Mozilla-Only fall-back fonts */

@-moz-document url-prefix() {
    #item_name, 
    #product_title, 
    #welcomebox,
    #profile_username,
    .landing_heading, 
    .suggestion, 
    .product_title, 
    .product_title_sample,
    .awesome,
    .strapline,
    .logout,
    .login,
    .small_button,
    .nav_menu, 
    #heading.home1,
    #heading.home2 { 
    	font-family: Arial, sans-serif; font-weight: bold; 
    }
}

