/* ---------- home specific */

body {
	background: #f5f5f5 url('/images/home_gradient_bg.png') repeat-x;
	padding-top: 0px; }

container {
	margin-top: -20px; }

.thumbnail {
	padding: 0 19px 20px;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
	cursor: default;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.1);
	box-shadow: 0 0 4px rgba(0,0,0,.1);
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px; }

.items-bg {
	position: absolute;
	top: 0;
	left: 20px; }

.center-box {
	width: 428px;
	height: 208px;
	padding: 6px 11px 11px;
	position: absolute;
	top: 168px;
	left: 244px;
	text-align: center; }

.slogan {
	font-size: 26px;
	line-height: 34px;
	font-weight: bold; }
	
a.login {
	display: block;
	margin: 13px auto 0;
	width: 304px;
	height: 116px;
	background: url('/images/home_bootstrap_login.png'); }

a.login:hover {
	background-position: 0 -116px; }

a.login:active {
	border-top: 1px solid transparent;
	height: 107px; }
	
.faq {
	margin-left: 0;
	padding: 22px 15px 0;
	background: url('/images/home_bootstrap_hr_tapered.png') no-repeat; }

.span-q {
	width: 260px;
	margin-left: 0;
	padding: 0 15px; }
	
footer, footer a, footer a:hover {
	padding-top: 10px;
	text-align: center;
	color: #bbb; }