/* Basics
==================================================================== */

* { margin: 0; }

html, body { height: 100%; }

body { 
	background-color: #333;
	background-attachment: fixed;
	background-position: top center;
	font-size: 0;
	line-height: 1;
	color: #333;
	text-rendering: optimizelegibility; 
	overflow-x: hidden; }

body.bg-left-down {
	background-position: top left;
	background-repeat: repeat-y; }

body.bg-right-down {
	background-position: top right;
	background-repeat: repeat-y; }

body.bg-cover { 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%; }
	
body.bg-grow-horizontal { 
	background-size: auto 100%;
	background-repeat: no-repeat; }
	
a { 
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in;
	color: #ccc; }
	
a:hover { 
	text-decoration: none;
	color: #ccc; }

a:focus { outline: none; }

a.dark       { color: #ccc;  }
a.dark:hover { color: white; }

a.light       { color: #177DBE; }
a.light:hover { color: #105e90; }

a.dark.underlined  { border-bottom: 1px solid #838383; }
a.light.underlined { border-bottom: 1px solid #8bbede; }
a.light.underlined:hover { border-color: #87aec7; }
	
ul, ol { 
	margin: 0;
	list-style: none; }

li { line-height: 1; }

.box-title {
	padding: 12px 0;
	font-size: 11px;
  color: #999;
  font-weight: bold;
  text-transform: uppercase; }

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px;
	background: url('/images/backgrounds/grain-576-shaded.png') fixed top center repeat-y; }
	
.dimmer {
	position: fixed;
	z-index: -1;
	background: url('/images/colors/black-40.png');
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; }

.dimmer.ten 				  { background: url('/images/colors/black-10.png'); }
.dimmer.twenty 				{ background: url('/images/colors/black-20.png'); }
.dimmer.fourty 				{ background: url('/images/colors/black-40.png'); }
.dimmer.fifty 				{ background: url('/images/colors/black-50.png'); }
.dimmer.sixty				  { background: url('/images/colors/black-60.png'); }
.dimmer.seventy 			{ background: url('/images/colors/black-70.png'); }
.dimmer.seventy-five	{ background: url('/images/colors/black-75.png'); }
.dimmer.eighty 				{ background: url('/images/colors/black-80.png'); }
.dimmer.hundred 			{ background: black; }


/* Header, Container, Footer and Fixed Bars
==================================================================== */

.header { height: 84px; padding-top: 24px !important; }
.header .logo-box { width: 128px; top: 13px; margin-left: -5px; }
.header .logo:active { margin-top: 1px; }
.header .logo.centered { left: 50%; margin-left: -59px; }

/* -- search dropdown --*/

.search.typeahead.dropdown-menu {
	margin-top: -1px;
	margin-left: -1px;
	width: 162px;
	min-width: 162px; /* required */
	font-size: 12px;
	border-width: 1px 1px 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.2);
	padding-bottom: 0;
	-webkit-border-radius: 4px 4px 6px 6px !important; 
	-moz-border-radius: 4px 4px 6px 6px !important; 
	border-radius: 4px 4px 6px 6px !important;  }

.search.typeahead.dropdown-menu li a { 
  width: auto;
	padding: 4px 8px; 
	color: #555;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; }
	
.search.typeahead.dropdown-menu li a .user-photo.s {
	margin-right: 6px; }
	
.search.typeahead.dropdown-menu li:last-child {
	background: white;
	color: #555 !important;
	-webkit-border-radius: 0 0 3px 3px !important; 
	-moz-border-radius: 0 0 3px 3px !important; 
	border-radius: 0 0 3px 3px !important; }

.search.typeahead.dropdown-menu li:last-child a { 
	color: #555 !important;
	background: none;
	padding: 8px 8px; 
	font-weight: bold;
	border-top: 1px solid #ddd; }

.search.typeahead.dropdown-menu li:last-child a img { display: none; }

.search.typeahead.dropdown-menu li:last-child a:hover {
	background: white !important;
	color: #555 !important;
	-webkit-border-radius: 0 0 3px 3px !important; 
	-moz-border-radius: 0 0 3px 3px !important; 
	border-radius: 0 0 3px 3px !important; }

/* -- user dropdown -- */

.header a.btn-user { display: block; }

.header .btn-group { display: inline-block; }

.header a.btn-user .user-photo { opacity: 0.9; filter: alpha(opacity=90); }
.header a.btn-user:hover .user-photo { opacity: 1; filter: alpha(opacity=100); }

.header input.search { width: 160px; }
	
.header .btn-group .caret { 
	border-top: 6px solid #ccc;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent; }

.header .btn-group.open .dropdown-toggle { 
	color: white;
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }
 
.header .dropdown-toggle:hover .caret,        
.header .btn-group.open .caret { border-top: 6px solid white; }

/* -- notifications count -- */

.header .btn-group .btn.btn-red.dropdown-toggle {
	height: 28px; 
	min-width: 28px; 
	padding: 0 8px; 
  margin: 0 0 0 6px; 
  line-height: 28px !important; 
  font-weight: bold; 
  font-size: 13px; 
  color: white; }

/* ie min-width btn bug fix */  
.ie8 .header .btn-group .btn.btn-red.dropdown-toggle,
.ie9 .header .btn-group .btn.btn-red.dropdown-toggle { min-width: 0; }

.header .btn-group .btn.btn-red.dropdown-toggle .btn.btn-red.dropdown-toggle {
	background-color: #A6321D; }

.header .btn-group .btn.btn-red.dropdown-toggle.zero { 
	background-color: #444;
	color: #ddd !important; }

.header .btn-group.open .btn.btn-red.dropdown-toggle.zero {
	background: #555; }
	
.header .dropdown-menu {
	top: 34px;
	border: 0;
	min-width: 130px;
	background: #393939 !important;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
	
.header .dropdown-menu.nav { margin-right: -6px; }
.header .dropdown-menu.notifications { 
	max-width: 520px;
	margin-right: -39px; 
	padding: 10px; }
	
.header .dropdown-menu.notifications li { padding-right: 0 !important; }
	
.header .dropdown-menu.notifications a {
 padding: 0;
 line-height: 1; }
 
.header .dropdown-menu.notifications a:hover { background: none; }

.header .dropdown-menu.nav a {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #ccc;
  white-space: nowrap;
  -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none; }

.header .nav.dropdown-menu li > a:hover,
.header .nav.dropdown-menu li > a:focus,
.header .nav.dropdown-menu .active > a,
.header .nav.dropdown-menu .active > a:hover {
  color: white;
  text-decoration: none;
  background: none !important; 
  -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none; }
	
/* -- container -- */

.container {
	width: 576px;
	padding: 0 28px 64px;
	margin: 0 auto;
	background: #444 url('/images/backgrounds/grain.png') fixed top center repeat-y; }
	
.container.fullscreen {
	width: 100%;
	height: 100%;
	background: #393939;
	padding: 0 10px; }

/* -- footer -- */

footer { text-align: right; }

footer, .push {
	height: 32px;
	line-height: 32px;
	font-size: 12px; }
	
footer .inner {
	width: 576px;
	padding: 0 28px;
	margin: 0 auto; }

footer .inner ul li { 
	display: inline;
	margin: 0 4px; }
	
footer, footer a, footer a:hover { color: #777; }
footer .like-button-box {
	height: 26px; 
	bottom: 0; 
	overflow: hidden; }
	
footer .twitter-button-box {
	height: 26px; 
	left: 124px;
	bottom: 0; 
	overflow: hidden; }
	

/* -- fixed bars -- */

.bar { 
	position: fixed;
	left:0;
	right:0;
	height: 64px;
	margin-bottom: 0;
	font-size: 0;
	text-align: left;
	z-index:9999;
	padding: 12px 0; }
	
.bar .close {
	color: white;
	font-size: 36px; 
	font-weight: bold;
	top: 18px;
	right: 25px;
	box-shadow: none; }
	
.bar.top {
	top:0;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 6px rgba(0, 0, 0, 0.3); }
	
.bar .logo {
	height: 47px;
	top: 10px;
	left: 15px; }

.bar.bottom { 
	bottom: 0;
	-webkit-box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px -3px 6px rgba(0, 0, 0, 0.2);
	box-shadow:         0px -3px 6px rgba(0, 0, 0, 0.2); }


/* Text & User Photos
==================================================================== */

.txt.xl { font-size: 22px; }
.txt.l  { font-size: 16px; }
.txt.m  { font-size: 14px; }
.txt.s  { font-size: 12px; }
.txt.xs { font-size: 11px; }

.txt    { line-height: 150%; }

ul.txt.s li { margin-bottom: 8px; }
ul.txt.s li .user-photo { margin-right: 4px; }

.user-photo.xxl { width: 48px; height: 48px; }
.user-photo.xl  { width: 40px; height: 40px; }
.user-photo.l   { width: 32px; height: 32px; }
.user-photo.m   { width: 28px; height: 28px; }
.user-photo.s   { width: 24px; height: 24px; }
.user-photo.xs  { width: 16px; height: 16px; }


/* Who to Follow, Notifications, Email Importer Box
==================================================================== */

.user-action-box {
	padding: 0 17% 5px 42px;
	min-height: 36px;
	margin-bottom: 10px;
	border-bottom: 1px solid #494949; }

.email-action-box {
	padding: 10px 0 0 0;
	margin-bottom: -4px;
	border-top: 1px solid #494949;  }

.user-action-box:last-child { 
	margin-bottom: -9px !important;
	border-bottom: none !important; }

.user-action-box .user-photo {
	top: 0;
	left: 0; }

.user-action-box .top-line { font-weight: bold; }

.user-action-box .top-line,
.email-action-box .top-line {
	color: white;
	line-height: 120%; }

.user-action-box .bottom-line,
.email-action-box .bottom-line {
	line-height: 170%;
	color: #ccc; }

ul.notifications li.user-action-box { 
	padding-right: 0;
	margin-left: 16px; }
	
/* .btn-red.zero ~ ul.notifications li.user-action-box { margin-left: 0; } */

.user-action-box.unread .dot { 
	top: 11px;
	left: -17px;
	display: block;
	padding: 0;
	width: 10px;
	height: 10px; }


/* -- header notifications dropdown -- */

.user-action-box .dot { display: none; }

.header ul.notifications li.user-action-box.unread .dot { 
	top: 9px; left: -18px; }

.header ul.notifications li.user-action-box {
	padding: 0 2px 5px 35px !important;
	min-height: 30px;
	margin-bottom: 7px;
	overflow: hidden; }
	
.header ul.notifications li.user-action-box .user-photo { width: 28px; height: 28px; }
.header ul.notifications li.user-action-box .top-line  { font-size: 12px;}

.header ul.notifications li.user-action-box .bottom-line  { line-height: 16px; }
.header ul.notifications li.user-action-box:last-child  { margin-bottom: -8px !important; }


/* Feed
==================================================================== */
	
.feed-title {}	

.feed-intro {
	display: block;
	padding: 13px 12px 20px;
	text-align: center;
	color: #999;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden; }

a.feed-intro:hover { color: #ccc; }

a.feed-intro .highlight { font-weight: bold; }

.feed-loading.white { 
	background: url('/images/loading/loading-snake-333-FFF.gif') center no-repeat;
	height: 80px; }

.feed-loading.whitesmoke { 
	background: url('/images/loading/loading-snake-333-F5F5F5.gif') center no-repeat;
	height: 80px; }

.feed-loading.ccc { 
	background: url('/images/loading/loading-snake-333-CCC.gif') center no-repeat;
	height: 80px; }

.feed-loading.dark { 
	background: url('/images/loading/loading-snake-FFF-393939.gif') center no-repeat;
	height: 80px; }
	
.feed { background: white; }


/* --- Feed Grid --- */

.feed-grid-container { 
	width: 692px; 
	padding-left: 16px;
	margin: 64px auto 24px;
	background: white; }
	
.feed-grid-container .feed-loading { margin-left: -16px; }

.feed.grid { text-align: center; }

.feed.grid .item {
	width: 200px;
	display: inline-block;
	font-size: 0;
	margin: 16px 18px 0px 0px;
	vertical-align: top; }
	
.feed.grid .item .photo-box {
	height: 200px;
	line-height: 200px;
	background-image: none; }

.feed.grid .item .panel .caret {
	left: 10px;
	top: -8px;
	vertical-align: bottom;
	border-bottom: 8px solid #EEE;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent; }
	
.feed.grid .item .photo-box .item-photo {
	max-height: 200px; }

.feed.grid .item .panel .title-box { 
	text-align: left;
	font-size: 12px;
	max-height: 52px;
	min-height: 0;
	padding-left: 34px;
	overflow: hidden;
	text-overflow: ellipsis; }
	
.feed.grid .item .panel .title-box .user-photo.xl {
	width: 28px;
	height: auto; }

.feed.grid .item .panel .endorsement-box, 
.feed.grid span.time { display: none; }


/* --- Feed Grid No-User-Photo --- */

.feed.grid.no-user-photo .item .panel .title-box { padding-left: 0; }
.feed.grid.no-user-photo .item .panel .title-box .user-photo { display: none; }

.feed.grid.no-user-name .item .panel .title-box .user-name { display: none; }
.feed.grid.no-user-bought-pronoun .item .panel .title-box .user-bought-pronoun { display: none; }

	
/* Item
==================================================================== */
	
.item { background: white; }

.item .photo-box {
	width: auto;
	min-height: 150px;
	padding: 4.615384615%;
/* 	background: url('/images/loading/loading-snake-555.gif') center no-repeat; */
	text-align: center;
	line-height: 1; }

/* .item .photo-box .item-photo { max-height: 472px; } */
.item .photo-box .item-photo { max-height: 354px; }

.item .photo-box .actions { line-height: 0; }
.item .photo-box .actions.hover { display: none; }
.item:hover .photo-box .actions.hover { display: block; }

.item .photo-box .actions.top-left     { top: 24px; left: 24px;     }
.item .photo-box .actions.top-right    { top: 24px; right: 24px;    }
.item .photo-box .actions.bottom-right { bottom: 24px; right: 24px; }
.item .photo-box .actions.bottom-left  { bottom: 24px; left: 24px;  }

.hover-appear { 
	opacity: 0;
	filter: alpha(opacity=0); }

.item .photo-box:hover .actions .hover-appear { 	
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity .25s ease-in;
	-moz-transition: opacity .25s ease-in;
	-o-transition: opacity .25s ease-in;
	transition: opacity .25s ease-in; }
	
.item .photo-box .like {
	width: 46px;
	height: 32px;
	padding-left: 16px;
	padding-right: 16px;
	top: 32px;
	left: 32px; }

.like.btn.pushed .icon-heart.icon-white,
.like.btn .icon-heart.icon-black { display: none; }
	
.like.btn.pushed .icon-heart.icon-black { 
	display: inline-block;
	opacity: 0.6;
	filter: alpha(opacity=60); } 
	
.like.btn.pushed, .like.btn-pushed:hover { background: #eee; } 
	
.item .panel { padding: 0 4.615384615% 4.615384615%; }

.item .panel .panel-contents {
	background: #eee;
	padding: 2.966101694915%; }
	
.item .panel .panel-contents .caret {
	width: 0;
	height: 0;
	left: 21px;
	top: -12px;
	vertical-align: bottom;
	border-bottom: 12px solid #eee;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 0 solid transparent;
	content: ""; }

/* -- title -- */

.item .panel .title-box {
	color: #555;
	min-height: 48px;
	padding-left: 50px;
	margin-top: -3px; }

.item .panel .title-box a.link-out { 
	padding-right: 13px;
	background: url('/images/arrow-out-177DBE-l.png') center right no-repeat; }

.item .panel .title-box .user-photo { left:0; top: 3px; }
.item .panel .title-box .em { /* font-weight: bold; */ }
.item .panel .title-box .time { 
	font-size: 12px; 
	font-weight: normal;
	color: #999;
	white-space: nowrap; }

/* -- title link-disabled -- */

.feed.link-disabled .item-photo { 
	max-height: 264px;
	cursor: default;  }

.feed.link-disabled .title-box a {
	cursor: default;
	color: #555;
	font-weight: bold;
	border-bottom: none;
	padding: 0 !important;
	background: none !important; }
	
/* -- endorsement -- */

.item .panel .endorsement-box{
	padding-top: 8px;
	color: #555; }

/* -- likes -- */

.item .panel .likes-box {
	height: 32px;
	line-height: 1;
	color: #555;
	padding: 8px 0 0;
	overflow-y: hidden;
	white-space: nowrap; }

.item .panel .likes-box .fader {
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	z-index: 500;
	background: url("/images/fade-right.png") 0 -300px; }
	
.item .panel .likes-box .text {
	padding-right: 6px; } 

.item .panel .likes-box .num {
	-webkit-font-smoothing: antialiased;
	font-weight: bold; 
	font-size: 32px; }

.item .panel .likes-box .user-photo-box {
	width: 24px;
	height: 24px; 
	display: inline-block;
	vertical-align: top;
	margin-top: 4px; }

/* -- comments -- */

.item .panel .comments-box { padding-top: 14px; }

.item .panel .comment-box {
	min-height: 28px; 
	margin-bottom: 12px;
	padding-left: 36px; 
	clear: both;
	color: #666; }
	
.item .panel .comment-box .user-photo { left: 0; top: 0; }
.item .panel .comment-box .user-name,
.item .panel .comment-box .user-name a {
	color: #333;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 3px; }
	
.item .panel input,
.item .panel textarea { 
	background: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px inset; }
	
.item .panel .add-comment-box input {
	width: 100%;
	height: 28px;
	border: none;
	background: white;
	padding-left: 35px;
	margin-bottom: 0; }


/* Logged-in item
==================================================================== */

.item-row-box {
	background: white;
	padding: 14px;
	overflow: hidden; }
	
.item-row-box div.item { 
	display: inline;
	width: 10%;
	padding: 1.25% }

.item-row-box div.item .item-photo {
	width: 10%;
	padding: 1.25%
	height: auto;
	max-height: 10%; }


/* Profile
==================================================================== */

.profile-box {
	margin: 2px 0 12px;
	padding: 16px !important; }
	
.profile-box .user-box .user-photo { margin-right: 9px; }

.profile-box .user-box .basics {
	width: 100%;
	height: 48px;
	padding: 3px 0 0 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 26px;
	line-height: 22px;
	color: white;
	font-weight: bold; }
	
.profile-box .user-box .basics .item-count {
	font-size: 14px; 
	font-weight: normal;
	color: #ccc;
	padding-right: 8px; }
	
.profile-box .user-box .basics .t-box { height: 11px; vertical-align: -1px; }
.profile-box .user-box .basics .f-box { height: 14px; vertical-align: -1px; }
	
/* -- byline -- */

.bio-box { padding-top: 13px; }
.bio-box .user-bio { line-height: 20px; }
.bio-box input[type=text] { width: 86.8%}
.bio-box .btn { width: 12%; margin-left: 1.2%; padding: 0; }
.bio-box a.mini {
	padding-left: 3px; 
	font-size: 11px; 
	font-weight: bold; 
	text-transform: uppercase; }

/* -- follow count boxes -- */

.follow-count-box { 
	border-top: 1px solid #494949;
	line-height: 1; 
	margin-top: 13px;
	padding-top: 11px;
	width: 50%; }
	
.follow-count-box.right {
	border-left: 1px solid #494949;
	padding-left: 12px; }

.follow-count-box .txt.xs { 
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	padding: 0 11px 0 4px; }

.follow-count-box span.num {
	font-weight: bold;
	font-size: 28px; }
	
.follow-count-box ul { vertical-align: top; }
	
.follow-count-box ul li { 
	vertical-align: top;
	padding-top: 3px;
	padding-right: 4px; }
	
.follow-count-box	ul li .user-photo { opacity: 0.9; filter: alpha(opacity=90); }
.follow-count-box:hover	ul li .user-photo { opacity: 1; filter: alpha(opacity=100); }


/* -- follow button 2nd-degree styling -- */

.btn.follow { position: absolute; }

.profile-box .btn.follow {
	width: 90px;
	font-size: 11px;
	text-transform: uppercase;
	top: 16px;
	right: 16px; }

.profile-box .btn.follow [class^="icon-"] { margin-top: 0px; }

.user-action-box .btn.follow {
	width: 15%;
	right: 0;
	top: 0;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0; }
	
.user-action-box .btn.follow [class^="icon-"] { margin-top: -1px; }

.well-box.info-box .btn.follow {
	top: 12px;
	right: 12px;
	width: 80px; }
	
.well-box.list-box .btn.follow {
	top: 0;
	right: 0;
	width: 58px;
	height: 28px;
	line-height: 28px !important;
	padding: 0px;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;  }
	
.well-box.list-box .btn.follow [class^="icon-"] { margin-top: 1px; }

	
/* -- Logged-out follow modal (Classic) -- */

.modal.classic { 
	width: 472px;
	margin-left: -236px;
	margin-top: 0;
	top: 185px;
	border: 0; }
	
.modal.classic .modal-header { 
	text-align: center;
	border: 0; }
	
.modal.classic .close { 
	font-family: Arial, sans-serif;
	font-size: 28px;
	margin-top: 1px; }

.modal.classic h4 { 
	color: #555;
	line-height: 18px;
	margin-bottom: 0; }
	

/* -- profile feed -- */
               
.profile-feed-title {}	

.profile-feed { 
	background: white;
	z-index: 2;
	padding: 0 6px 16px; }
	
.card { 
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background: white; }
	
.card .photo-box {
	width: auto;
	height: 212px;
	line-height: 212px;
	padding: 12px 6px;
	text-align: center; }
	
.card .photo-box .item-photo {
	max-width: 100%;
	max-height: 200px; }
	
.card .panel { padding: 0 6px 12px 6px; }

.card .panel .panel-contents { 
	background: #eee;
	padding: 10px;}
	
.card .panel .panel-contents .caret {
	width: 0;
	height: 0;
	left: 18px;
	top: -10px;
	vertical-align: bottom;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0 solid transparent;
	content: ""; }

.card .panel .title-box { color: #555; }

.card .panel .title-box a.link-out { 
	padding-right: 11px;
	background: url('/images/arrow-out-177DBE-s.png') center right no-repeat; }	
	
	
/* Unit-box
==================================================================== */

.unit-box.border-box { width: 520px; padding-bottom: 12px; }

	
/* Users-boxes and Wells
==================================================================== */

.well-box {
	padding: 2.307692307%;
	background: #393939;
	color: #ccc;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	vertical-align: top; }

.well-box.tab {
	font-weight: bold;
	padding: 16px 12px; 
	font-size: 20px; 
	height: 56px; 
	margin-top: 2px; 
	margin-bottom: -8px; }
	
.well-box.tab.on { color: white; cursor: default; }

.well-box.tab.off {
	background: none;
	box-shadow: none; }

.well-box.padded { padding: 12px 18px 18px; }

.well-box h2 { 
	font-size: 22px;
	line-height: 150%;
	color: white;
	-webkit-font-smoothing: antialiased; }

.split { 
	vertical-align: top;
	display: inline-block; 
	width: 48.65%; }

.connections-box ul { 
	padding-bottom: 4px;
	min-height: 52px;
	vertical-align: top; }

.connections-box ul.single li { width: 100%;  }
.connections-box ul.double li { width: 50%;   }
.connections-box ul.triple li { width: 33.3%; }

.connections-box ul.double.offset-margin 		{ margin-left: -2.5%; }
.connections-box ul.double.offset-margin li { width: 47.5%; margin-left: 2.5%; }

.connections-box ul li.txt { 
	display: inline-block; 
	margin-bottom: 8px;
	white-space: nowrap; }

.connections-box ul li.pic { 
	display: inline-block; 
	margin-bottom: 8px;
	white-space: nowrap; }
	
.connections-box ul li .user-photo { margin-right: 4px; }

.connections-box a img { opacity: 0.9; filter: alpha(opacity=90); }
.connections-box a:hover img { opacity: 1; filter: alpha(opacity=100); }


/* About Page
==================================================================== */

.info-box { margin-bottom: 12px; }
.info-box h2 a { color: white; }
.info-box.pictured { padding-left: 72px; }
.info-box.pictured .user-photo { top: 12px; left: 12px; }
.info-box .unit { padding: 2px 0 12px; }
.info-box h4 { color: white; line-height: 165%; margin-bottom: 5px; }	
.info-box p { line-height: 150%; margin-bottom: 5px; }


/* Switch Toggle
==================================================================== */

.create-box .panel a.toggle-switch {
	position: relative;
	float: right;
	display: block;	
	width: 75px;
	height: 30px;
	line-height: 30px;
	background: white;
  border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #333 !important;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.create-box .panel a.toggle-switch div.on,
.create-box .panel a.toggle-switch div.off {
	height: 30px; }
  
.create-box .panel a.toggle-switch div.on { 
	display: block;
	background: #177DBE;
	color: white;
	border: 1px solid transparent;
	margin: -1px -1px 0 -1px;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.create-box .panel a.toggle-switch div.off {
	display: none;
	background: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.create-box .panel a.toggle-switch.off div.off { display: block; }
.create-box .panel a.toggle-switch.off div.on { display: none; }   

.create-box .panel a.toggle-switch .text { 
	width: 42px;
	text-align: center; }
    
.create-box .panel a.toggle-switch .knob { 
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	margin-top: -1px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	width: 32px; }
	
.create-box .panel a.toggle-switch .knob .border {
	width: 100%;
	height: 100%;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
	
.create-box .panel a.toggle-switch .on .text { float: left; }
.create-box .panel a.toggle-switch .off .text { float: right; }

.create-box .panel a.toggle-switch .on .knob {
	float: right;
	margin-right: -1px; }
	
.create-box .panel a.toggle-switch .off .knob { 
	float: left;
	margin-left: -1px; }
	

/* Creation 
==================================================================== */

.create-box {}

.create-box input.enter { 
	width: 83.39%;
	margin-right: 1.61%; }
               
.create-box .btn.go { 
	padding: 0;
	width: 15%;
	vertical-align: top; }
	
.create-box .panel .store-name { 
	width: 170px;
	float: left; }
	
.create-box .item .photo-box .item-photo { max-height: 264px !important; }

.create-box .panel label {
	line-height: 1; 
	height: 13px;
	float: left;
	color: #666;
	font-size: 13px; 
	padding: 0 0 0 18px;
	margin-left: 8px;
	cursor: pointer;
	opacity: 0.6;
  filter: alpha(opacity=60); }

.create-box .panel label:hover {
	opacity: 1;
  filter: alpha(opacity=100); }
	
.create-box .panel input.check {
	top: 1px;
	left: 0;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0; }
  
.typeahead.dropdown-menu {
	width: 250px;
	font-size: 14px; }
 
.create-box .panel .review-box { margin: 20px 0 8px; }
 
.create-box .panel .btn.add-review {
	text-align: left;
	padding-left: 12px;
	background: #e2e2e2; 
	font-weight: normal;
	border: 0;
	box-shadow: none;
	color: #999;
	display: block; }

.create-box .panel .btn.add-review .icon-pencil {
	opacity: 0.4;
  filter: alpha(opacity=40); }
  
.create-box .panel .btn.add-review:hover { color: #666; }
.create-box .panel .btn.add-review:hover .icon-pencil {
	opacity: 0.8;
  filter: alpha(opacity=80); }

.create-box .panel .share-switches { font-size: 0; }
  
.create-box .panel .post-to {
	font-weight: bold;
	color: #666;
	font-size: 15px;
	height: 42px;
	padding: 5px 5px 5px 12px;
	line-height: 32px;
	background: white; }
	

/* Chooser
==================================================================== */

.chooser { 
	position: absolute;
	top:0;
	left:0;
	right:0;
	width: 100% !important;
	height: 200%;
	text-align:left;
	background: white;
	padding-bottom:20px;
	overflow: hidden;
	z-index: 1050; }
	
.results { 
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
 	background: #f2f2f2;
 	font-size: 0;
	margin-top: 64px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-left: 18px;
	padding-bottom: 61px; /* 16 + 45 */
	overflow-y: scroll;
	text-align: center;
	z-index: 1050;
	-webkit-overflow-scrolling: touch; }
	
.results, .chooser { *zoom: 1; }

.results:before,
.results:after,
.chooser:before,
.chooser:after {
  display: table;
  content: ""; }
  
.chooser:after,
.results:after { clear: both; }

.chooser .search-bar { 
	position: fixed;
	top:0;
	left:0;
	right:0;
	margin-bottom: 0;
	font-size: 0;
	text-align: center;
	z-index:9999;
	padding: 6px 0;
	white-space: nowrap;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 6px rgba(0, 0, 0, 0.3);
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky; }

.chooser .search-bar .logo {
	height: 47px;
	top: 10px;
	left: 15px; }

.inset-container {
	display: inline-block;
	padding: 6px; 
	background: #474747;
	white-space: nowrap; }
	
.chooser .search-bar .inset-container .prompt {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	padding: 0 15px 0 8px;
	margin-right: -2px;
	font-size: 14px;
	line-height: 40px;
	color: #CCC;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4); }

.chooser .search-bar .btn-help {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	padding: 4px 13px 0;
	font-size: 12px;
	line-height: 15px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	border-top: 1px solid #393939 !important;
	border-bottom: 1px solid #353535 !important;
	border-left: 1px solid #393939 !important; 
	border-right: 1px solid #393939 !important; }
		
@media screen and (max-width: 946px) { 
	.chooser .search-bar .btn-help { display: none; }
}

.chooser .search-bar input.enter {
	width: 418px;
	margin-right: 6px; }

.chooser .search-bar input.enter:focus { background: white; }

.chooser .search-bar .btn.go { 
	width: 87px;
	vertical-align: top; }
		
.chooser .search-bar .close {
	color: white;
	font-size: 36px; 
	font-weight: bold;
	top: 18px;
	right: 25px;
	box-shadow: none; }

.chooser span.default { display: block; }
.chooser span.error   { display: none; }

.chooser .error span.error   { display: block; }
.chooser .error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 200px;
  height: 200px;
  line-height: 198px;
	display: inline-block;
 	font-size: 0;
  margin: 16px 18px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  background: white;
  border: 1px solid #ddd; }
 
.photo-choice:hover { border-color: #bbb; }

.photo-choice .btn { 
	display: none;
	position: absolute; 
	bottom: 10px; 
	left: 30px;
	right: 30px; }
	
.photo-choice:hover .btn { display: none; }

.photo-choice .item-photo {
  max-width: 87.87878788%;
  max-height: 87.87878788%;
  vertical-align: middle; }
  
.scroll-instructions {
	height:44px;
	width:auto;
	line-height:44px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border-top: 1px solid #ddd;
	text-align: center;
	position: fixed;
	right:0;
	left:0;
	bottom:0;
	display:none;
	z-index: 1051; }

.scroll-instructions .caret {
	border-top: 7px solid #666;
	margin-left: 2px; 
	vertical-align: -0px; }
	
.scroll-instructions .loading {
	width: 100%;
	height: 44px;
	background: url('/images/loading/loading-snake-555.gif') center no-repeat; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1; }
	
.modal.dark {
	border: none;
	background-color: #333;
	background-color: rgba(51,51,51,0.94); }
	
.modal.dark .close {
	font-weight: normal;
	color: #ccc;
	opacity: 1;
	filter: alpha(opacity=100); }
	
.modal.dark .close:hover { color: white; }
	
.modal.dark h3 {
	color: white;
	font-size: 18px; 
	margin-bottom: 2px; }

.modal.dark p {
	color: #ccc;
	font-size: 14px;
	line-height: 21px; }
	
.modal.dark.help-search { 
	padding: 19px;
	width: 436px;
	top: 72px;
	margin: 0 0 0 -218px; }


/* Email Import Picker
==================================================================== */	
	
.inset-container .inset-message {
	text-align: left; 
	width: 388px; 
	font-weight: bold; 
	line-height: 40px; 
	font-size: 20px; 
	color: white; 
	text-shadow: 0 1px 1px rgba(0,0,0,0.4); }
	
.inset-message span { display: none; }

.inset-message span img { padding: 0 8px 0 14px; margin-top: -2px; }
.inset-message span .icon-white { margin: 6px 9px 0 15px; }

.inset-message.working  .message-working  {display: block;}
.inset-message.working  .message-complete {display: none;}
.inset-message.working  .message-update   {display: none;}
.inset-message.complete .message-working  {display: none;}
.inset-message.complete .message-complete {display: block;}
.inset-message.complete .message-update   {display: none;}
.inset-message.update  .message-working  {display: none;}
.inset-message.update  .message-complete {display: none;}
.inset-message.update  .message-update   {display: block;}
	
	
/* Settings
==================================================================== */

.backgrounds .tile {
	margin: 6px; 
	width: 152px; 
	height: 64px;
	background-position: center; }
	
.backgrounds .tile.selected { 
	border: 4px solid #177DBE;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important; }
