/* Basics
==================================================================== */

* { margin: 0; }

html, body { height: 100%; }

body { 
	background: #444;
	font-size: 0;
	line-height: 1;
	color: #333;
	text-rendering: optimizelegibility; }
	
a { 
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	
a:hover { text-decoration: none; }

a:focus { outline: none; }
	
ul, ol { 
	margin: 0;
	list-style: none; }

.txt.xl { font-size: 22px; }
.txt.l  { font-size: 16px; }
.txt.m  { font-size: 14px; }
.txt.s  { font-size: 12px; }
.txt.xs { font-size: 11px; }

.txt { line-height: 150%; }

ul.txt.s li { margin-bottom: 8px; }
ul.txt.s li .user-photo { margin-right: 4px; }

.user-photo.xxl { width: 48px; height: 48px; }
.user-photo.xl  { width: 40px; height: 40px; }
.user-photo.l   { width: 32px; height: 32px; }
.user-photo.m   { width: 28px; height: 28px; }
.user-photo.s   { width: 24px; height: 24px; }
.user-photo.xs  { width: 16px; height: 16px; }

.box-title {
	padding: 12px 0;
	font-size: 11px;
  color: #999;
  font-weight: bold;
  text-transform: uppercase; }

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -32px; }

.background-cover {
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2; }
	
.dimmer {
	position: fixed;
	z-index: -1;
	background: url('/images/colors/black-40.png');
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; }

.dimmer.twenty 				{ background: url('/images/colors/black-20.png'); }
.dimmer.fourty 				{ background: url('/images/colors/black-20.png'); }
.dimmer.fifty 				{ background: url('/images/colors/black-50.png'); }
.dimmer.sixty				  { background: url('/images/colors/black-60.png'); }
.dimmer.seventy 			{ background: url('/images/colors/black-70.png'); }
.dimmer.seventy-five	{ background: url('/images/colors/black-75.png'); }
.dimmer.eighty 				{ background: url('/images/colors/black-80.png'); }
.dimmer.hundred 			{ background: black; }


/* Header, Container and Footer
==================================================================== */

.header { 
	width: 712px;
	height: 109px;
	padding: 17px 10px 0 /* 182px */;
	top: 0;
	left: 50%;
	margin-left: -356px; 
	background: #444;
	z-index: 10; }


.header.fixed {
	position: fixed;
	top: -39px; }

.header .logo { 
	height: 48px;
	margin-top: 31px;
	top: auto; }

.header .create-box { padding-left: 172px; }

.header input.enter { 
	width: 320px;
	height: 40px;
	padding: 0 10px;
	border: 0;
	background: #666;
	box-shadow: none;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out; }

.header input.enter:hover { background: #737373; }

.header input.enter:focus { 
	background: white;
	width: 348px; }
	
.header a.btn-user { 
	display: block; }
	
.header .btn-user .caret-box {
	height: 12px;
	right: 0;
	top: 100%;
	left: 0;
	padding-top: 2px;
	text-align: center; }
	
.header .btn-user .caret-box .caret { border-top: 4px solid #ccc; }

.container {
	width: 520px;
	padding: 0 10px 64px;
	margin: 0 auto 0; }

footer { text-align: center; }

footer, .push {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
/* 	background: #333;  */}
	
footer .inner {
	width: 712px;
	padding: 0 10px 0 182px;
	margin: 0 auto; }
	
footer, footer a, footer a:hover { color: #777; }
footer .like-button-box {
	height: 26px; 
	bottom: 0; 
	overflow: hidden; }


/* Side Column
==================================================================== */

.col.side { 
	width: 172px;
	top: 109px;
	bottom: 0; }
	
.connections-box {
  top: 35px;
  right: 0;
  bottom: 0;
 	left: 0; }

.connections-box a { color: ccc; }
.connections-box a:hover { color: white; }
.connections-box a img { opacity: 0.8; }
.connections-box a:hover img { opacity: 1; }


/* Main Column
==================================================================== */
	
.feed { 
	background: white;
	width: 520px; }
	
.item { background: white; }

.item .photo-box {
	width: auto;
	height: auto;
	padding: 24px;
	background: url('/images/loading-blocks-dark-trans.gif') center no-repeat;
	text-align: center;
	line-height: 1; }

.item .photo-box .actions.top-right {
	top: 24px;
	right: 24px; }
	
.item .photo-box .like {
	display: none;
	padding: 6px 26px 10px;
	background: #eee;
	bottom: 24px;
	left: 24px; 
	border-bottom: 1px solid #ccc;}

.item .photo-box .like .thumb {
	width: 16px;
	height: 16px; }
	
.item .panel { padding: 0 24px 24px 24px; }

.item .panel .panel-contents {
	background: #eee;
	padding: 14px; }
	
.item .panel .panel-contents .caret {
	width: 0;
	height: 0;
	left: 21px;
	top: -12px;
	vertical-align: bottom;
	border-bottom: 12px solid #eee;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 0 solid transparent;
	content: ""; }

/* -- title -- */

.item .panel .title-box {
	color: #555;
	min-height: 48px;
	padding-left: 52px;
	margin-top: -3px; }

.item .panel .title-box a { 
	color: #555;
	border-bottom: 1px dotted #999; }
	
.item .panel .title-box a:hover { color: #333; }
.item .panel .title-box a.link-out { 
	padding-right: 13px;
	background: url('/images/arrow-out.png') center right no-repeat; }

.item .panel .title-box .user-photo { left: 0; top: 3px; }
.item .panel .title-box .em { font-weight: bold; }
	
/* -- endorsement -- */

.item .panel .endorsement-box{
	padding-top: 8px;
	color: #555; }

/* -- likes -- */

.item .panel .likes-box {
	height: 32px;
	line-height: 1;
	color: #555;
	padding: 8px 0 0;
	overflow-y: hidden;
	white-space: nowrap; }

.item .panel .likes-box .fader {
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	z-index: 500;
	background: url("/images/fade-right.png") 0 -300px; }
	
.item .panel .likes-box .text {
	padding-right: 6px; } 

.item .panel .likes-box .num {
	-webkit-font-smoothing: antialiased;
	font-weight: bold; 
	font-size: 32px; }

.item .panel .likes-box .user-photo-box { 
	display: inline-block;
	vertical-align: top;
	margin-top: 4px; }

/* -- comments -- */

.item .panel .comments-box { padding-top: 14px; }

.item .panel .comment-box {
	min-height: 28px; 
	margin-bottom: 12px;
	padding-left: 36px; 
	clear: both;
	color: #666; }
	
.item .panel .comment-box .user-photo { left: 0px; top: 0px; }
.item .panel .comment-box .user-name {
	color: #333;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 5px; }
	
.feed .item .panel .add-comment-box input {
	width: 100%;
	height: 28px;
	border: none;
	background: white;
	padding-left: 35px;
	margin-bottom: 0;
	box-shadow: none; }







