/* Media Queries - Mobile
==================================================================== */
   
@media screen and (max-width: 575px) { 
	
	.rwd-show { display: inline-block !important; }
	.rwd-hide { display: none !important; }

	body {
		background-color: #444 !important; 
		background-image: none !important; }
		
	.txt.l  { font-size: 14px; }
		
	.wrapper { background: none; }
						
	.container, footer .inner {
		width: 100%;
		padding-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		background: none; }
		
	.header .logo { width: 108px; } 
	
	.header input.search { width: 144px; }
	.search.typeahead.dropdown-menu { width: 146px !important; min-width: 146px; }
	
	.btn-facebook,
	.btn-twitter {
		width: 88px !important; }
		
	.profile-box .btn.follow { position: static; width: 100%; margin: 13px 0 -5px; }
	.profile-box .modal { width: 320px; margin-left: -160px; }
		
	.unit-box { width: 100% !important; }
	.well-box { padding: 8px; }
	
	/* -- importer -- */
	
	.importer-top-bar .inset-message { font-size: 16px; }
	
	/* -- chooser -- */
  .chooser .search-bar .search-container { width: 100%; }
  .chooser .search-bar input.enter {
		width: 80%; margin-right: 2%; }

	.chooser .search-bar .btn.go { width: 18%; }
	.chooser .results { padding-left: 9px; }
	.chooser .photo-choice {
  	width: 94px;
  	height: 94px;
  	line-height: 92px;
  	margin: 8px 9px 0px 0px; }
  	
  .card .photo-box {
  	height: auto;
		line-height: 1;
  	max-height: 236px; }
  	
  /* -- feed -- */
  
  .feed-container { margin: 0 -10px; }
  
  /* -- onboarding -- */
  
  .onboarding h1 { font-size: 38px; }
	.onboarding h2 { font-size: 20px; }
	
	.onboarding .steps { font-size: 12px; }
  
  .feed-grid-container { 
  	text-align: center;
  	width: 100%;
  	padding-left: 4%; }
  	
  .feed-grid-container .cat { width: 96%; margin-right: 4%; }
  
  .feed.grid .item {
  	width: 44%;
  	margin: 6px 4% 0px 0px; }
	
	.feed.grid .item .photo-box {
		height: 140px;
		line-height: 140px; }
	
	.feed.grid .item .photo-box img { max-height: 140px !important; }
	
	.feed.grid .item .panel { padding: 0; }
	.feed.grid .item .panel .panel-contents { padding: 6px; }
	
	.feed.grid .item .panel .title-box { 
		line-height: 130%;
		max-height: 45px;
		min-height: 0; }
	
	.feed.grid .item .panel .title-box .user-name,
	.feed.grid .item .panel .title-box .store-name { display: none; }
}
