/* Media Queries - Mobile - Repeats all of Tablet in case Tablet is ditched
==================================================================== */
   
@media screen and (max-width: 540px) {

	/* --- basics --- */
	body { background: #444; }	
	.hide-on-mobile { display: none !important; }
	.hide-except-mobile { display: block !important; }
	footer .inner { text-align: right; }
	input[type=text] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
	input[type=text]:focus {
		background: #e6f7fd;
		color: #177DBE; }

	.container, .header .navigation, footer .inner { 
		width: 100%;
		padding-left: 10px;
		padding-right: 10px; }
	
	/* --- feed, itme --- */
	
	.feed { margin-top: 0; }
	
	.feed .item { margin-bottom: 10px; }
	
	.item,
	.item .actions, 
	.item .panel,
	.item .panel .panel-contents,
	.user-box .friends-box,
	.box {
		width: 100%;
	 	height: auto !important; }
	 
	.item .photo { 
	 	width: 100%;
	 	padding: 18px;
	 	height: auto;
	 	line-height: 1;
	 	-webkit-border-radius: 5px 5px 0 0; 
	  -moz-border-radius: 5px 5px 0 0;  
	  border-radius: 5px 5px 0 0; }
	
	.item .photo img.item-photo {
		max-width: 100%; 
		max-height: 532px; }
		
	.item .photo img.stamp {
		width: 32px;
		height: 32px;
		top: 16px;
		right: 16px; }
	
	.item .panel { 
		padding: 16px 0 18px;
		font-size: 13px;
		line-height: 18px;
	 	-webkit-border-radius: 0 0 5px 5px; 
	    	-moz-border-radius: 0 0 5px 5px;  
	         	border-radius: 0 0 5px 5px; }
	         	
	.item .panel .panel-contents {
		padding-left: 18px;
		padding-right: 18px; }
		
  .item .panel .title-box { 
		font-size: 15px;
		line-height: 22px; }
	
	.item .panel .title-box .user-photo {
		width: 24px;
		height: 24px; 
		vertical-align: -6px; }
		
	.item .panel .endorsement { padding-top: 8px; }

	
	.item .panel .likes-box { padding-bottom: 12px; }
	
	.item .panel .likes-box .num { font-size: 30px; }
	
	.item .panel .likes-box .user-photo-box .user-photo { 
		width: 24px;
		height: 24px; }
		
	.item .panel .user-photo,
	.item .panel .self-photo {
		width: 24px;
		height: 24px; }
	
	.item .panel .comment-box { padding-left: 32px; }
	
	.feed .item .panel .add-comment-box input {
		padding-left: 4px;
		font-size: 13px;
		height: 28px;
		line-height: 1; }
	
	.item .panel.fb .fb-11 {
		display: block;
		z-index: 100;
		width: 11px;
		height: 11px;
		top: 13px;
		left: 15px; }
		
	
	/* --- logged-out item --- */
	.logged-out .item-header { 
		padding: 14px 0 12px !important; }
	
	.logged-out .item-header .logo { 
		height: 32px !important;
		padding-right: 4px !important; }
	
	.logged-out .item-header .text {
		vertical-align: -2px !important;
		font-size: 12px !important; }
			
	.logged-out .item-header .btn { 
	 	width: 100% !important;
	 	float: none !important; }
		
	.onboarding .box.itemized {
		width: auto; }
   
  /* no overflow abs. positioned add-comment-box when narrow */
  .item .panel-contents.overflowing { overflow-y: visible; }
	.item .panel.overflowing .panel-contents .add-comment-box {
		position: relative !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: none;
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; }
   
  .item .actions,
  .user-box .friends-box {
  	padding: 0; } 
  	
  .three-to-two { margin-right: 24px; }
  .cards { margin-right: -24px; }
  
  /* creation */
	.create-box { background: none; }
	.create-box .btn-red { width: 100% !important; }
	.create-box .search-box { padding: 10px 0; }
	.create-box .enter-item-name { width: 100%; }
	
	/* chooser */
	.chooser { 
		position: relative; 
		margin-left: -10px; 
		margin-right: -10px; 
		padding: 10px 4px 10px 10px; 
		background: white; }
		
	.chooser .search-bar { 
		padding: 0 6px 4px 0;
		margin-bottom: 0;
		border-bottom: none;
/* 		padding: 10px; */
		position: relative; }
	.chooser .search-bar .control-group { width: auto; margin: 0; }
	.chooser .search-bar .controls { margin-left: 0 !important; }
	.chooser .search-bar input.search-field { 
		padding: 0 8px;
		width: 100% !important;
		height: 42px; }
		
	.photo-choice {
	  width: 96px;
	  height: 96px;
	  line-height: 1;
	  float: left;
	  margin: 6px 6px 0 0;
	  border: 1px solid #eeeeee; }

	.photo-choice:hover .btn { display: none; }
	
	.photo-choice .item-photo {
	  max-width: 94px;
	  max-height: 94px;
	  vertical-align: middle; }
	
	.results { 
		position: relative;
		margin: 0;
		padding: 0; }
		
	.shadow {
		display: none; 
		background: white;
		z-index: 1049;}
		
		
/*
.results { 
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
 	background: white;
	margin-top:49px;
	margin-bottom: 45px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	overflow-y: scroll;
	text-align:center;
	z-index: 1050; }
*/
  
  
  
  /* home page */
  
  .slides_container { 
		width: 100%;
	 	height: auto !important; }
	
	.home .logged-out .item .photo,
	.slides_control, 
	.slides_container { 
		height: 240px !important; }
	
	.home .logged-out .item .photo {
		background-size: 100% auto;
		background-attachment: fixed;
  	background-position: center !important; }
  
  .home .shares { height: 12px; }

  .home .logged-out .item .photo .description { display: none; }

  .home .item .panel .panel-contents { 
  	padding: 16px 18px;
  	display: none; }
  
  .home .item .panel .panel-contents .friend-photo {
		width: 14px;
		height: 14px; 
		vertical-align: -2px; }
  
  .home .item .panel .panel-contents.current { 
  	display: block;
  	cursor: default;
  	-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px; }
		
	.home .item .panel .panel-contents .caret { 
		left: 50%;
		margin-left: -10px;
		top: -10px;
		border-bottom: 10px solid #f8f8f8;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 0px solid transparent;
		content: "";
		opacity: 1;
		filter: alpha(opacity=100); }
		
	.home .item .panel .panel-contents.current .caret { 
		left: 50%;
		margin-left: -10px;
		top: 0px;
		border-bottom-color: #099CDE;
		border-right-color: transparent;
		-webkit-transition: border-bottom-color 0.75s ease-out;
		-moz-transition: border-bottom-color 0.75s ease-out;
		-o-transition: border-bottom-color 0.75s ease-out;
		transition: border-bottom-color 0.75s ease-out; }
		
  .home .item .panel .panel-contents .title-box { padding: 0; }
  
  .home .testimonials { margin-top: 28px; }
  
  .home .testimonials p { 
  	font-size: 14px; 
  	margin-bottom: 6px; }
  
  .home .testimonials ul { margin: 0 0 0 0; }
  
  .home .testimonials ul li { 
  	margin: 3px 0;
  	width: 100%; 
  	background: #444;
  	font-size: 13px;
  	padding-left: 44px; }
  
  .home .testimonials ul .user-photo { 
		width: 24px;
		height: 24px;
  
}