/* Media Queries - Mobile - Repeats all of Tablet in case Tablet is ditched
==================================================================== */
   
@media screen and (max-width: 540px) {

	/* --- basics --- */
	body { background: #333; }	
	.hide-on-mobile { display: none; }
	footer .inner { text-align: right; }
	.background-cover { display: none; }
	.dimmer { display: none; }

	.container, .header .navigation, footer .inner { 
		width: 100%;
		padding-left: 10px;
		padding-right: 10px; }
	
	/* --- item --- */
	.item,
	.item .actions, 
	.item .panel,
	.item .panel .panel-contents,
	.user-box .friends-box,
	.box {
		width: auto;
	 	height: auto !important; }
	 
	.item .photo { 
	 	width: 100%;
	 	padding: 18px;
	 	height: auto;
	 	line-height: 1;
	 	-webkit-border-radius: 5px 5px 0 0; 
	    	-moz-border-radius: 5px 5px 0 0;  
	         	border-radius: 5px 5px 0 0; }
	
	.item .photo img.item-photo {
		max-width: 100%; 
		max-height: 532px; }
		
	.item .photo img.stamp {
		width: 32px;
		height: 32px;
		top: 16px;
		right: 16px; }
	
	.item .panel { 
		padding: 18px 0;
	 	-webkit-border-radius: 0 0 5px 5px; 
	    	-moz-border-radius: 0 0 5px 5px;  
	         	border-radius: 0 0 5px 5px; }
	         	
	.item .panel .panel-contents {
		padding-left: 18px;
		padding-right: 18px; }
	
	/* --- logged-out item --- */
	.logged-out .item-header { 
		padding: 14px 0 12px !important; }
	
	.logged-out .item-header .logo { 
		height: 32px !important;
		padding-right: 4px !important; }
	
	.logged-out .item-header .text {
		vertical-align: -2px !important;
		font-size: 12px !important; }
			
	.logged-out .item-header .btn { 
	 	width: 100% !important;
	 	float: none !important; }
	 	
	.logged-out .item .panel .title-box { 
		font-size: 15px;
		line-height: 22px;
		padding-bottom: 12px; }
	
	.logged-out .item .panel .title-box .user-photo { 
		vertical-align: -8px; }
		
	.onboarding .box.itemized {
		width: auto; }
   
  /* no overflow abs. positioned add-comment-box when narrow */
  .item .panel-contents.overflowing { overflow-y: visible; }
	.item .panel.overflowing .panel-contents .add-comment-box {
		position: relative !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: none;
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; }
   
  .item .actions,
  .user-box .friends-box {
  	padding: 0; } 
  	
  .three-to-two { margin-right: 24px; }
  .cards { margin-right: -24px; }
  
  /* --- home --- */
  
  .slides_container,
	.slides_container div {
		width: auto; }
   
}