@media screen and (max-width: 600px) {

/*
.container, .header .navigation, footer .inner { width: 100%; }

body { background: #333; }

.background-cover { display: none; }
.dimmer { display: none; }

.btn-large {
  padding: 0 16px;
  height: 42px;
  font-size: 15px;
  line-height: 42px;
  line-height: 40px\0/ !important;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
*/


} /* ----- End of mobile media query ----- */