/* Media Queries - Tablets
==================================================================== */

@media screen and (max-width: 840px) {

	.background-cover { display: none; }

	.container, .header .navigation, footer .inner { 
		width: 540px; }
		
	.item,
	.item .actions, 
	.item .panel,
	.item .panel .panel-contents,
	.user-box .friends-box {
		width: 100%;
		height: auto !important; }
	 
	.item .photo { 
	 	-webkit-border-radius: 5px 5px 0 0; 
	  	-moz-border-radius: 5px 5px 0 0;  
	         border-radius: 5px 5px 0 0; }
	         
	.item .panel { 
	 	-webkit-border-radius: 0 0 5px 5px; 
	  	-moz-border-radius: 0 0 5px 5px;  
	    	border-radius: 0 0 5px 5px; }
	         
	.onboarding .box.itemized {
		width: 520px; }
		
	/* --- logged-out item --- */
	.logged-out .item-header { 
		padding: 14px 0 30px !important; }
			
	.logged-out .item-header .btn { 
		margin-top: 9px;
	 	width: 100% !important;
	 	float: none !important; }
   
  /* no overflow abs. positioned add-comment-box when narrow */
  .item .panel-contents.overflowing { overflow-y: visible; }
	.item .panel.overflowing .panel-contents .add-comment-box {
		position: relative !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: none;
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; }
   
  .item .actions,
  .user-box .friends-box {
  	padding: 0; } 
  	
  .three-to-two { margin-right: 24px; }
  .cards { margin-right: -24px; }
  
  /* home page */
  
  .home .background-cover { display: block; }
  
  .home .item .panel .panel-contents { 
  	display: none;
  	padding: 20px 24px; }
  
  .home .item .panel .panel-contents.current { 
  	display: block;
  	-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px; }
	
	.home .item .panel .panel-contents a {
	  cursor: default !important; }
	  
	.home .item .panel .panel-contents .caret { 
		left: 28px;
		top: -10px;
		border-bottom: 10px solid #f8f8f8;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 0px solid transparent;
		content: "";
		opacity: 1;
		filter: alpha(opacity=100); }
		
	.home .item .panel .panel-contents.current .caret { 
		left: 28px;
		top: 0px;
		border-bottom-color: #099CDE;
		border-right-color: transparent;
		-webkit-transition: border-bottom-color 0.75s ease-out;
		-moz-transition: border-bottom-color 0.75s ease-out;
		-o-transition: border-bottom-color 0.75s ease-out;
		transition: border-bottom-color 0.75s ease-out; }
		
  .home .logged-out .item .panel .panel-contents .title-box { padding: 0; }

}