/* Onboarding
==================================================================== */

.container.onboarding { }
	
.onboarding p {
	color: #666;
	font-size: 15px !important;
	line-height: 24px; }

.onboarding p.sub {
	margin-top: 12px;
	font-size: 11px;
	color: #999;
	text-align: center; }

.onboarding .heading {
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
	line-height: 32px;
	color: #333; 
	text-align: center;
	margin-top: -12px;
	margin-bottom: 24px; }
	
.onboarding ol { 
	padding-left: 50px; }

.onboarding .create-box .search-box { padding: 0; }
	
.onboarding input.first-item  {
	font-family: 'RooneyLightItalic', Georgia;
	width: 348px;
	padding: 0 8px;
	height: 42px;
	font-size: 15px;
	margin: 0; }

.onboarding .hint {
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
	line-height: 1;
	color: #777; 
	text-align: center;
	margin-top: 18px; }

.onboarding .hint span.nike {
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	font-style: oblique;
	font-size: 12px;
	color: #888;
	letter-spacing: -1px; }
	
.onboarding .examples { 
	color: #666;
	background: white;
	margin-top: 36px;
	border-top: 1px dotted #CCC;
	padding: 18px 0; }

.onboarding .examples p {
	color: #666;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin-bottom: 13px; }

.onboarding .examples .example {
	line-height: 20px;
	height: 72px;
	width: 446px;
	background: #f8f8f8;
	margin: 0 auto 12px; }
	
.onboarding .examples .example .text { 
	float: left;
	padding-top: 15px; }

.onboarding .examples .item-photo { 
	width: 62px;
	height: 62px;
	padding: 5px;
	background: white;
	float: left; 
	margin-right: 10px; }
	
.onboarding .examples .item-name { 
	font-family: 'RooneyLightItalic', Georgia;
	font-size: 20px; }
	
.onboarding .examples .sub { 
	font-size: 12px;
	color: #999; }	
	
.onboarding .examples .user-name { 
	font-weight: bold; }	
	









* { margin: 0; }

html, body { height: 100%; }

body { 
	background: #eee;
	overflow-x: hidden;
	font-size: 14px;
	text-rendering: optimizelegibility; }

a { 
	color: #0ab0ed;
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	
a:hover { 
	color: #177dbe;
	text-decoration: none; }
	
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -36px; }


/* Header Nav
==================================================================== */

.header {
	height: 72px;
	background: white;
	margin-bottom: 36px; }
	
.header .navigation {
 height: 72px;
 line-height: 72px; }

.header .navigation .action {
	float:right;
	margin-top: 15px; }

.header .navigation .logo {
	top: 4px;
	left: 0;
	height: 78px; }
	
.header .btn-user { 
	padding-left: 50px !important;
	overflow-y: hidden; }

.header .btn-user .self-photo {
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; }
	
.header .btn-group .icon-chevron-down {
	opacity: 0.75;
  filter: alpha(opacity=75); }

.container, .header .navigation, footer .inner {
	width: 820px;
	margin: 0 auto; }

.container { padding-bottom: 64px; }
	
.thumbnail-box { 
	padding: 0 0 36px;
	font-size: 0;
	border-bottom: 1px dotted #CCC; }
	
.thumbnail-box p {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 13px; }

.thumbnail-box .thumb { 
	display: inline-block;
	margin: 0 4px 4px 0;
	background-repeat:no-repeat;
	background-position:center;
	background-size: 50px auto;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
	background: white; }
	
.thumbnail-box .thumb img {
	height: 50px;
	height: auto; }
	
.thumbnail-box .thumb.frameable:hover {
	cursor: pointer;
	border: 4px solid #0AB0ED;
	margin-top: -4px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: -4px; }

.thumbnail-box .thumb.selected { 
	border-bottom: 4px solid #0AB0ED;
	margin-bottom: 0px; }

.thumbnail-box .btn { 
	display: inline-block;
	vertical-align: top;
	margin-top: 18px; }
	
footer, .push {
	height: 36px;
	line-height: 36px;
	background: #f8f8f8; }

footer, footer a, footer a:hover { color: #ccc; }


/* Creation
==================================================================== */

.create-box {
	line-height: 0;background: #f8f8f8; 
	border-bottom: 1px dotted #CCC;
	text-align: center; }

.create-box .search-box {
	padding: 20px 0;
	vertical-align: middle; }
	
.create-box .enter-item-name {
	font-family: 'RooneyLightItalic', Georgia;
	width: 348px;
	padding: 0 8px;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	margin: 0; }

/* .create-box { z-index: 1050; position: fixed; top: 16px; } */
/* .create-box { z-index: 1050; position: absolute; } */

.create-box .panel textarea,
.create-box .panel input {
	width: 100%;
	font-size: 15px;
	padding: 8px 6px;
	margin-bottom: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
	
.create-box .panel .store-name { 
	width: 170px;
	float: left;
	height: 38px; 
	padding-top: 0;
	padding-bottom: 0;
	line-height: 38px; }

.create-box .panel textarea.review { margin-bottom: 24px; }

.create-box .panel label {
	line-height: 1; 
	height: 13px;
	float: left;
	color: #666;
	font-size: 13px; 
	padding: 0 0 0 18px;
	margin-left: 8px;
	cursor: pointer;
	opacity: 0.6;
  filter: alpha(opacity=60); }

.create-box .panel label:hover {
	opacity: 1;
  filter: alpha(opacity=100); }
	
.create-box .panel input.check {
	top: 1px;
	left: 0;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0; }
 
.create-box .panel .btn.add-review {
	text-align: left;
	background: #eee; 
	color: #999;
	display: block;
	margin-top: 20px; }

.create-box .panel .btn.add-review .icon-pencil {
	opacity: 0.4;
  filter: alpha(opacity=40); }
  
.create-box .panel .btn.add-review:hover { color: #666; }
.create-box .panel .btn.add-review:hover .icon-pencil {
	opacity: 1;
  filter: alpha(opacity=100); }
  
.create-box .panel .post-to {
	font-weight: bold;
	color: #666;
	height: 42px;
	margin-top: 20px;
	padding: 5px 5px 5px 9px;
	line-height: 32px;
	background: white; }
	

/* Switch Toggle
==================================================================== */

.create-box .panel a.toggle-switch {
	position: relative;
	float: right;
	display: block;	
	width: 75px;
	height: 30px;
	line-height: 30px;
	background: white;
  border: solid 1px #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #333 !important;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.create-box .panel a.toggle-switch div.on,
.create-box .panel a.toggle-switch div.off {
	height: 30px; }
  
.create-box .panel a.toggle-switch div.on { 
	display: block;
	background: #177DBE;
	color: white;
	border: 1px solid transparent;
	margin: -1px -1px 0 -1px;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.create-box .panel a.toggle-switch div.off {
	display: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.create-box .panel a.toggle-switch.off div.off { display: block; }
.create-box .panel a.toggle-switch.off div.on { display: none; }   

.create-box .panel a.toggle-switch .text { 
	width: 42px;
	text-align: center; }
    
.create-box .panel a.toggle-switch .knob { 
	border: 1px solid #ccc;
	margin-top: -1px;
	box-sizing: border-box; 
	width: 32px;
	background-color: whiteSmoke; }
	
.create-box .panel a.toggle-switch .knob .border {
	width: 100%;
	height: 100%;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
	
.create-box .panel a.toggle-switch .on .text { float: left; }
.create-box .panel a.toggle-switch .off .text { float: right; }

.create-box .panel a.toggle-switch .on .knob {
	float: right;
	margin-right: -1px; }
	
.create-box .panel a.toggle-switch .off .knob { 
	float: left;
	margin-left: -1px; }

	
/* Chooser
==================================================================== */

.chooser { 
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 200%;
	text-align:left;
	background:white;
	padding-bottom:20px;
	padding-left:15px;
	overflow: visible;
	z-index:1050; }
	
.results { 
	position: fixed;
	top: 0;
	bottom: 0;
	max-height: 100%;
	margin-top:45px;
	margin-bottom: 45px;
	padding-bottom: 15px;
	overflow-y: scroll;
	text-align:center;
	z-index: 1050; }
	
.results, .chooser { *zoom: 1; }

.results:before,
.results:after,
.chooser:before,
.chooser:after {
  display: table;
  content: ""; }
  
.chooser:after,
.results:after {
  clear: both; }

.chooser .search-bar { 
	position: fixed;
	top:0;
	left:0;
	right:0;
	background:white;
	padding:8px 0;
	z-index:9999;
	border-bottom:1px solid #ddd; }

.chooser .search-bar input.search-field {
	font-family: 'RooneyLightItalic', Georgia;
	height: 22px;
	line-height: 22px; }
	  
.chooser .search-bar .control-group {
	width: 500px; 
	border-right: 110px solid transparent;
	margin: 0 auto; }

.chooser .search-bar .control-group.load {
  background: url('/images/loading_blocks_small_light_trans.gif') 428px center no-repeat; }

.chooser .search-bar .close {
	font-size: 36px; 
	padding: 5px 10px; }
	
.chooser .control-label { height: 22px; line-height: 22px; }	

.chooser .control-label.error { color: #B94A48; font-weight: bold; }

.chooser .control-label span.error { display: block; }
.chooser .control-label span.error { display: none; }

.chooser .control-label.error span.error { display: block; }
.chooser .control-label.error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 160px;
  height: 160px;
  line-height: 158px;
  float: left;
  margin: 15px 15px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eeeeee; }

.photo-choice:hover .btn {
  display: block; }

.photo-choice .btn { 
	display: none;
	position: absolute; 
	bottom: 10px; 
	left: 30px;
	right: 30px; }

.photo-choice .item-photo {
  max-width: 160px;
  max-height: 158px;
  vertical-align: middle; }
  
.scroll-instructions {
	height:44px;
	width:auto;
	line-height:44px;
	border-top:1px solid #ddd;
	text-align:center;
	position:fixed;
	background:white;
	right:0;
	left:0;
	bottom:0;
	display:none;
	z-index: 1051; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6000;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	background-color: white;
	z-index: -1; }
	
/* Feed Item
==================================================================== */

.feed { margin-top: 36px; }

.feed .item { 
	margin-bottom: 36px; }
	
.feed .item .title-box {
	width: 520px;
	font-size: 24px;
	line-height: 32px;
	color: #666;
	padding-left: 78px;
	margin-bottom: 16px; 
	float: left; }
	
.feed .item .title-box .user-photo {
	width: 64px;
	height: 64px; 
	top: 0;
	left: 0;}
	
.feed .item .user-name, .feed.item .item-name,
.feed.item .store-name {
	font-weight: bold; }

.feed .item .item-name,
.feed .item .store-name {
	font-weight: bold;
	color: #555; }
	
.feed .item .title-box .time {
	font-family: 'RooneyLightItalic', Georgia;
	font-weight: normal;
	color: #999;
	font-size: 14px; 
	white-space: nowrap; }

.item .photo {
	width: 520px; 
	height: 520px; 
	background: #FFF; 
	text-align: center;
	line-height: 520px;
	float: left; }
	
.item .photo .navigation {
	top: 24px;
	left: 24px;
	line-height: 1; }
	
.item .photo img.item-photo {
	min-height: 240px;
	max-width: 440px; 
	max-height: 440px; }
	
.item .photo img.stamp {
	width: 54px;
	height: 54px;
	top: 19px;
	right: 19px; }


/* Item Actions + Comments
==================================================================== */

.item .actions, .item .panel {
	width: 300px; 
	float: left;
	overflow-y: hidden; }

.item .actions {
	margin-bottom: 16px;
	padding: 26px 24px 0; }
	
.item .panel {
	height: 520px;
	padding: 24px 0;
	background: #f8f8f8;
	border-radius: 0 5px 5px 0; 
	text-align: left;
	font-size: 15px;
	line-height: 24px; }

.item .panel .panel-contents {
	padding-left: 24px; 
	padding-right: 24px;
	overflow-x: hidden;  }
	
.item .panel .endorsement { color: #666; }
	
.item .panel .endorsement {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 12px;
	margin-bottom: 18px; }
	
.item .panel .likes-box {
	height: 28px;
	line-height: 1;
	color: #555;
	margin-top: -4px;
	padding-bottom: 16px;
	margin-bottom: 18px;
	border-bottom: 1px dotted #ccc;
	overflow-y: hidden;
	white-space: nowrap; }

.item .panel .likes-box .fader {
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	z-index: 500;
	background: url("/images/fade-right.png") top left; }
	
.item .panel .likes-box .text {
	padding-right: 6px; } 

.item .panel .likes-box .num {
	-webkit-font-smoothing: antialiased;
	font-weight: bold; 
	font-size: 36px; }

.item .panel .likes-box .user-photo-box { 
	display: inline-block;
	vertical-align: top;
	margin-top: 4px; }
	
.item .panel .likes-box .user-photo-box .user-photo { 
	width: 28px;
	height: 28px; }

.item .panel .comment-box {
	min-height: 28px;
	margin-bottom: 12px;
	padding-left: 36px; 
	clear: both;
	color: #575E62;
	font-family: 'RooneyLightItalic', Georgia; }
	
.item .panel .user-photo,
.item .panel .self-photo {
	width: 28px;
	height: 28px;
	top: 0;
	left: 0; }

.item .panel .user-name {
	font-family: Arial;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	line-height: 1;
	text-transform: none;
	margin-bottom: 3px; }
	
.feed .item .panel .add-comment-box input {
	font-family: 'RooneyLightItalic', Georgia;
	padding-left: 36px;
	font-size: 15px;
	width: 100%;
	height: 28px;
	margin-bottom: 0; }	

.item .blurb {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 24px;
	margin-bottom: 18px; 
	font-size: 20px; 
	font-weight: bold; 
	line-height: 30px; }
	
/* adds fb icons if .fb class added*/
.item .panel .fb-11 { display: none; }
.item .panel.fb .fb-11 {
	display: block;
	z-index: 100;
	width: 11px;
	height: 11px;
	top: 17px;
	left: 19px; }

/* top +11px for overflowing gradient padding */
.item .panel.overflowing.fb .add-comment-box .fb-11 { top:28px; }
	
/* when panel content overflows */
.item .panel.overflowing .panel-contents {
	height: 433px; 
	overflow-y: scroll; }
	
.item .panel.overflowing .panel-contents .add-comment-box {
	position: absolute;
	bottom: 24px;
	left: 24px;
	right: 24px;
	background: #f8f8f8;
	padding-top: 11px;
	border-top: 1px solid #ddd;
	-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
	z-index: 101; }

.item .panel.overflowing .panel-contents .add-comment-box .self-photo { top: 11px; }


/* Profile
==================================================================== */	

.user-box { 
	padding: 0 0 36px;
/*
	line-height: 0;border-bottom: 1px dotted #CCC;
	margin-bottom: 36px;
*/ }
	
.user-box .photo-box {
	float: left;
	width: 140px;
	height: 140px;
	padding: 10px;
	overflow: hidden;
	background: white;
	text-align: center; }
	
.user-box .photo-box .border {
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
	background: transparent;
	border: 10px solid white; }
	
.user-box .photo-box img {
	height: 148px;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: none;
	margin-left: -50%;
	margin-right: -50%; }

.user-box .text-box {
	width: 340px;
	height: 160px;
	padding-left: 20px;
	float:left; }
	
.user-box .text-box .user-name {
	padding-top: 14px;
	font-size: 32px;
	line-height: 36px;
	font-weight: bold; }

.user-box .text-box .user-bio {
	padding: 6px 0px;
	font-size: 18px;
	line-height: 24px;
	color: #999;
	font-family: 'RooneyLightItalic', Georgia; }

.user-box .friends-box { 
	padding-left: 24px;
	margin-top: 12px;
	float:left;
	width: 248px;
	overflow-x: hidden;
	white-space: nowrap; }

.user-box .friends-box p {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	margin-top: 6px;
	line-height: 18px;
	margin-bottom: 8px; }

.user-box .friends-box .friend {
	display: inline; }
	
.user-box .friends-box .friend img { 
	width: 32px;
	height: 32px; }
	
.user-box .friends-box .fader {
	bottom: 0;
	right: 0;
	width: 32px;
	height: 32px;
	z-index: 500;
	background: url("/images/fade-right.png") bottom left no-repeat; }
	
/* Profile Card
==================================================================== */

.cards { margin-right: -38px; }

.card {
	width: 248px; 
	margin-top: 0;
	margin-bottom: 28px;
	margin-left: 0; 
	float: left;
	background: #f8f8f8; }

.card .photo {
	width: 248px; 
	height: 248px; 
	background: #FFF; 
	text-align: center;
	line-height: 248px; }

.card .photo img {
	max-width: 224px;
	max-height: 224px; }

.card .actions {
	padding: 12px 0 0 12px; }
	
.card .title-box {
	overflow: hidden;
	height: 90px;
	padding: 12px 12px 14px;
	font-size: 15px;
	line-height: 20px;
	color: #666; }

.card .title-box span { white-space: nowrap; }

.card .title-box .fader {
	width: 44px;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	background: url("/images/fade-right.png") top left ; }
	
.card .item-name,
.card .store-name {
	font-weight: bold; }

.card .item-name,
.card .store-name {
	font-weight: bold;
	color: #555; }
	
.card .title-box .time {
	font-family: 'RooneyLightItalic', Georgia;
	font-weight: normal;
	color: #999;
	font-size: 14px; 
	white-space: nowrap; }
	
	
/* Invite
==================================================================== */

.invite .preview-box {
	width: 520px;
	margin: 0 auto; }

.invite .preview-box p {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 13px; }

.invite .preview-box p .fb-favicon {
	display: inline-block;
	vertical-align: -2px;
	padding-right: 2px; }

.invite .fb-timeline {
	font-family: Lucida Grande, Verdana, Arial;
	width: 518px;
	padding: 4px;
	background: white;
	font-size: 11px;
	line-height: 1.28;
	border: 1px solid #C4CDE0;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }

.invite .fb-timeline .user-block {
	border-bottom: 1px solid #e5e5e5;
	color: #3B5998;
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 32px; }

.invite .fb-timeline .user-block .user-photo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px; }

.invite .fb-timeline .above-content {
	color: #333;
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px; }

.invite .fb-timeline .display-content {
	color: #3B5998;
	height: 90px; }

.invite .fb-timeline .display-content .art-photo {
	height: 90px;
	width: 90px;
	line-height: 0;
	background-position: center center;
	background-size: auto 90px;
	background-repeat: no-repeat;
	float: left;
	font-size: 72px;
	color: white;
	text-align: center;
	margin-right: 10px; }

.invite .fb-timeline .display-content .art-photo img {
	padding-top: 2px;
	width: 70px;
	height: 70px; }
	
.invite .search-box{ 
	width: 520px;
	margin: 18px auto 24px; }
	
.invite .search-box input {
	font-family: 'RooneyLightItalic', Georgia;
	width: 518px;
	padding: 0 8px;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	margin: 0; }
	
.invite .search-box .close {
	top: 7px;
	right: 15px;
	font-size: 28px;
	line-height: 28px;
	font-family: Arial;
	vertical-align: bottom; }

.invite .friends-box li.friend {
	float: left;
	list-style-type: none;
	margin-top: 0;
	padding: 4px;
	margin-bottom: 20px; 
	margin-left: 0px;
	width: 246px;
	color: #666; 
	border: 1px solid #ccc;
	background: white;
	font-size: 12px;
	line-height: 32px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }
	
.invite .friends-box li.friend .user-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 6px; }
	
	
/* Buttons
==================================================================== */

.btn {
  display: inline-block;
  *display: inline;
  padding: 0 12px;
  height: 32px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 32px;
  font-family: 'RooneyLightItalic', Georgia;
  font-weight: normal !important;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #0AB0ED;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:first-child { *margin-left: 0; }

.btn:hover {
	color: white;
  text-decoration: none;
  background: #177DBE;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:focus { outline: none; }

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-large {
  padding: 0 16px;
  height: 42px;
  font-size: 15px;
  line-height: 42px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px; }

.btn [class^="icon-"] { margin-top: 1px; }
.btn-large [class^="icon-"] { margin-top: 2px; }
.btn-mini [class^="icon-"] { margin-top: -1px; }

.btn-mini {
  padding: 0 6px;
  height: 18px;
  font-size: 11px;
  line-height: 18px; }
	
.btn.btn-red { background: #EE472A; }
.btn.btn-red:hover { background: #E4156D; }

.btn.btn-black { 
	opacity: 0.8;
  filter: alpha(opacity=80); 
	background: url('/images/colors/black-40.png');
  -webkit-transition: opacity .15s ease-in;
	-moz-transition: opacity .15s ease-in;
	-o-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in; }
	
.btn.btn-black:hover {
	opacity: 1;
  filter: alpha(opacity=100); }
  
.btn.btn-gray {
	text-align: left;
	background: #EEE;
	color: #999; }

.btn.btn-white { 
	background: white; 
	color: #575E62; 
	border: 1px solid #eee; }
	
.btn.btn-white:hover { background: #eee; }

.btn.btn-white { height: 30px; }
.btn.btn-white.btn-large { height: 40px; }
.btn.btn-white.btn-mini { height: 16px; }

.btn.btn-facebook { background: #3B5998; }
.btn.btn-facebook:hover { background: #1F4696; }

.icon-like.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
	background-position: 0 0; }

.icon-mine.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
	background-position: -24px 0; }
	
.icon-facebook.icon-white {
	background-image: url("/images/glyphicons-halflings-custom-white.png")!important;
  background-position: -48px 0; }


/* ----- loading button states ----- */
.btn.pushed, .btn-pushed:hover, 
.btn.load, .btn.load:hover { background: #177DBE; cursor: default; }

.btn-red.pushed, .btn-red.pushed:hover,
.btn-red.load, .btn-red.load:hover { background: #E4156D; }	

.btn-white.pushed, .btn-white.pushed:hover,
.btn-white.load, .btn-white.load:hover { background: #555; color: white; }	

.btn span.in { display: none; }
.btn.pushed .in { display: inline; }
.btn.pushed .out { display: none; }
  
.icon-loading {
	display: none;
  width: 16px;
  height: 13px;
  *margin-right: .3em;
  background-image: url("/images/loading-blocks-dark-trans.gif"); 
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.icon-loading.icon-white { background: url("/images/loading-blocks-white-trans.gif"); }
.btn.load .icon-loading { display: inline-block; }
.btn.load .hide-when-loading { display: none; }


/* ----- btn groups & dropdowns ----- */	
.btn-group > .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-group.open .btn.dropdown-toggle { 
	color: white;
	  -webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-group.open .btn-mine.dropdown-toggle { 
	background: #177DBE; }
          

.dropdown-menu {
  position: absolute;
  top: 100%;
 	right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; }
 
.dropdown-menu a {
  display: block;
  padding: 5px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #575E62;
  white-space: nowrap; }

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #575E62;
  text-decoration: none;
  background-color: #eee; }
  
.typeahead.dropdown-menu {
	width: 250px !important; }


/* Message Drawer
==================================================================== */

.message-drawer {
	z-index: 1051; 
	position: fixed; 
	width: 520px; /* total width w/padding: 449px */
	left: 50%;
	right: 50%; 
	top: 8px; 
	height: 56px;
	line-height: 38px;
	text-align: center;
	margin-left: -260px;
	opacity: 0.98;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }

.alert { 	
	border: 0; 
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-shadow: none;
	-webkit-font-smoothing: antialiased !important;
	background: #e1b503; }
	
.alert-success { background: #65bc46; }
.alert-info    { background: #177ac0; }
.alert-error   { background: #dc4523; }

.message-drawer .close { 
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=100);
	color: white; }


/* Loading Animations
==================================================================== */

.btn .loading.inline { display: none; }

.loading.large {
	min-height: 60px;
  background-image: url('/images/loading_spinner_large_trans.gif');
  background-position: center center;
  background-repeat: no-repeat; }

.loading.large.left {
	background-position: center left; }
  
.loading.large.inline {
	display: none;
	width: 32px;
	height: 32px;
	background: url('/images/loading_spinner_large_trans.gif') center no-repeat; }

.loading.small.inline,
.loading.small.inline.dark {
	display: none;
	width: 16px;
	height: 16px;
  background: url('/images/loading_blocks_small_light_trans.gif') center no-repeat; }
  
.loading.large.body{
  background-image: url('/images/loading_spinner_large_body.gif'); }

.loading.blocks.body {
	min-height: 60px;
	background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/images/loading_blocks_body.gif'); }

.load .loading.inline { /* turns inline loads on/off */
	display: inline-block; }

.load .hide-when-loading { display: none; }
.load .show-when-loading { display: inline-block; }
  

/* General Classes
==================================================================== */

.mine { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	-webkit-font-smoothing: antialiased; }

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }

.error { color: #d5432b !important; }
input.error, textarea.error { border-color: #d5432b !important; }

input.error:focus, textarea.error:focus {
	border-color: #b94a48 !important;
  -webkit-box-shadow: 0 0 6px #d5432b;
     -moz-box-shadow: 0 0 6px #d5432b;
          box-shadow: 0 0 6px #d5432b; }

.three-to-two { margin-right: 38px; }
/* see media queries for 2-span variant */

.square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }
	
.fb-favicon {
	width: 14px;
	height: 14px; 
	background: url("/images/fb-icons.gif") -1px -289px; }
	
.fb-11 {
	width: 11px;
	height: 11px; 
	background: url("/images/fb-icons.gif") -3px -116px; }

.border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; }

.rounded-3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
	
.rounded-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }
	
.rounded-8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; }
	
.transition-bg {
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	transition: background .15s ease-in; }
	
.transition-color {
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	

/* Media Queries
==================================================================== */

@media screen and (max-width: 800px) {

	.container, .header .navigation, footer .inner { width: 520px; }
	
	.item,
  .item .actions, 
  .item .panel,
  .item .panel .panel-contents,
  .user-box .friends-box {
   width: 520px;
   height: auto !important; }
   
  /* no overflow abs. positioned add-comment-box when narrow */
  .item .panel-contents.overflowing { overflow-y: visible; }
	.item .panel.overflowing .panel-contents .add-comment-box {
		position: relative !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: none;
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; }
   
  .item .actions,
  .user-box .friends-box {
  	padding: 0; } 
  	
  .three-to-two { margin-right: 24px; }
  .cards { margin-right: -24px; }
}
   
   
/* Fonts
==================================================================== */

@font-face {
    font-family: 'RooneyLightItalic';
    src: url('/type/rooney-lightitalic-webfont.eot');
    src: url('/type/rooney-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/rooney-lightitalic-webfont.woff') format('woff'),
         url('/type/rooney-lightitalic-webfont.ttf') format('truetype'),
         url('/type/rooney-lightitalic-webfont.svg#RooneyLightItalic') format('svg');
    font-style: normal;
    font-weight: normal; }
