/* ---------- image src url conversions */

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png"); }

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png"); }

/* ---------- crisp webkit button text */

.btn {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* ---------- footer colors */

footer, footer a { color: #cccccc; }

/* ---------- loading animations */

.loading-large-center {
	position: absolute; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background: url('/images/loading_spinner_large_trans.gif') no-repeat; }

.loading-small-inline {
	display: inline-block;
	width: 16px;
	height: 16px;
  background: url('/images/loading_spinner_small_trans.gif') center center no-repeat; }
	
/* ---------- strike-thru text divider */

.strike-thru {
	height: 9px;
	border-top: 1px solid #dddddd;
	padding-top: 18px;
	margin-top: 27px;
	color: #999999;
	text-align: center; }

.strike-thru span, 
.strike-thru a { 
	padding: 0 10px;
	background: white; 
	position: relative;
	color: inherit;
	top: -28px; }
	
.well .strike-thru span, 
.well .strike-thru a { 
	background: #f5f5f5; }
  
/* ---------- creation */

.creation .photo-box {
	position: relative;
  height: 200px;
  line-height: 200px;
  background: white url("/images/loading_spinner_large_trans.gif") no-repeat;
  background-position: center;
  text-align: center;
  display: none;
  padding: 5px;
  margin-bottom: 18px; }

.creation .photo-box .photo {
  max-width: 410px;
  max-height: 200px; }

.creation .change-photo {
	position:absolute; 
	top: 5px; 
	right: 5px;
	display: none; }

.creation .change-box { position: relative; }

.creation .change-box:hover .change-photo {
	display: block;
	z-index: 10; }

/* ---------- chooser */

.chooser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
	overflow: visible; }

.chooser .search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 8px 0;
  z-index: 9999;
  border-bottom: 1px solid #dddddd; }

.chooser .search-bar .control-group {
	width: 500px; 
	border-right: 110px solid transparent;
	margin: 0 auto; }

.chooser .search-bar .control-group.loading {
  background: url('/images/loading_spinner_small_trans.gif') center right no-repeat; }

.chooser .search-bar .close {
	font-size: 36px; 
	padding: 5px 15px; }

.chooser .control-label.error { color: #B94A48; }

.chooser .control-label span.error { display: block; }
.chooser .control-label span.error { display: none; }

.chooser .control-label.error span.error { display: block; }
.chooser .control-label.error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 160px;
  height: 160px;
  line-height: 158px;
  float: left;
  margin: 15px 15px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eeeeee; }

.photo-choice:hover .btn {
  display: block; }

.photo-choice .btn { 
	display: none;
	width: 108px;
	position: absolute; 
	bottom: 10px; 
	left: 15px; }

.photo-choice .item-photo {
  max-width: 160px;
  max-height: 158px;
  vertical-align: middle; }

.scroll-instructions {
  height: 44px;
  width: auto;
  line-height: 44px;
  border-top: 1px solid #dddddd;
  text-align: center;
  position: fixed;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  display: none; }

.results {
	margin-top: 45px;
	height: 500px;
	text-align:center; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6000;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	background-color: white;
	z-index: -1; }
	
/* ---------- invite: styles */ 

.invite .well .thumbnail {
	background: white; }
	
.invite .well.styles li.span2 {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.styles .thumbnails {
	margin-left: -9px; }

.invite .well.styles .thumbnail {
	height: 93px; }

/* ---------- invite: friends */

.invite .well.friends .thumbnails {
	margin-left: -9px; }

.invite .well.friends li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.friends .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	text-decoration: none;
	height: 32px; }
	
.invite .well.friends .thumbnail .user-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }

.invite_search .x-text {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 6px;
  background: url("/images/x-text.gif") no-repeat;
  cursor: pointer; }

.invite_search .x-text:hover {
  background: url("/images/x-text.gif") 0px -30px no-repeat; }
  
/* ---------- invite: finish */

.invite .well .fb-timeline {
	font-size: 11px;
	line-height: 1.28; }

.invite .well .fb-timeline .user-block {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-botttom: 5px;
	height: 32px; }

.invite .well .fb-timeline .user-block .user-photo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px; }

.invite .well .fb-timeline .above-content {
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px; }

.invite .well .fb-timeline .display-content {
	height: 90px; }

.invite .well .fb-timeline .display-content .art-photo {
	height: 90px;
	width: 90px;
	float: left;
	margin-right: 10px; }

/* ---------- settings */ 

.settings .well .checkbox {  
	padding: 6px 10px 6px 25px;
	color: #555;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer; }
	
/* ---------- items (user + store ) */ 

.thumbnails.items {
	margin-left: -2px; }
	
.thumbnails.items > li {
  margin: 0 0 3px 3px; }

.thumbnails.items li .thumbnail {
	position: relative;
  padding: 0;
  width: 202px;
  height: 264px;
	background-repeat: no-repeat;
	background-position: 50% 60%; }

.thumbnails.items li .thumbnail .bottom .fade {
	width: 30px;
	height: 34px;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: yellow url("/images/bottom_right_fade.png") center right repeat-y; }

.thumbnails.items li .thumbnail .bottom {
	height: 18px;
	padding: 8px 0 8px 8px;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	text-align: left;
	color: #AAA;
	white-space: nowrap;
	overflow: hidden; }

.thumbnails.items li .thumbnail .bottom img {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 6px; }

/* ---------- user-cell image and name nav button */

.user-cell .avatar {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.user-cell:hover .avatar {
  opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- fade-to-background div content overflow */

.overflow-fade {
	position: absolute; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	background: url(/images/fade.png);
	background-repeat: repeat-y; }

.well a .overflow-fade {
	background-position-y: -50px; }

.well a:hover .overflow-fade {
	background-position-y: -100px; }

/* ---------- general styles */
.faded-30 {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.faded-50 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.faded-60 {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.faded-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.faded-90 {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.to-90:hover {
	opacity: 0.90;
  filter: alpha(opacity=90); }

.to-opaque:hover {
	opacity: 1;
  filter: alpha(opacity=100); }
  
/* ---------- general changes to bootstrap */

.close { font-family: Arial; }

/* ---------- font-face fonts */

@font-face {
  font-family: 'FuturaStdBold';
  src: url("../type/futurastd-bold-webfont.eot");
  src: url("../type/futurastd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-bold-webfont.woff") format("woff"), url("../type/futurastd-bold-webfont.ttf") format("truetype"), url("../type/futurastd-bold-webfont.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaStdBook';
  src: url("../type/futurastd-book-webfont.eot");
  src: url("../type/futurastd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-book-webfont.woff") format("woff"), url("../type/futurastd-book-webfont.ttf") format("truetype"), url("../type/futurastd-book-webfont.svg#FuturaStdBook") format("svg");
  font-weight: normal;
  font-style: normal; }