/* welcome */
.welcome-box {
	color: white; 
	font-weight: bold; 
	text-align: center; 
  font-size: 24px; 
  line-height: 30px; 
  padding: 14px 0; 
  background: none; 
  border: none; 
  margin-bottom: 12px; }
 
.welcome-box a {
	color: #66ccff; 
	text-decoration: underline; }
	
.welcome-box a:hover {
	color: #66ffff; }	

/* suggestions */

.suggestions {
	padding: 5px 1px 2px 5px;
	background-color: #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin: -3px 0 15px; 
	line-height: 32px; }

.suggestion {
	float: left;
	margin: 0 4px 3px 0; }

.suggestions:before, .suggestions:after {
	display: table;
  content: ""; }
  
.suggestions:after {
  clear: both; }

/* own boxes */

.item .own-box.popover {
	top: 27px !important; 
	left: -70px !important; }

.profile .thumbnails li .own-box.popover {
	top: 27px !important; 
	left: -83px !important; }

/* sets: list view */

.sets .items {
	margin: 0; }
	
.sets .items:before, .sets .items:after {
  display: table;
  content: ""; }

.sets .items:after {
  clear: both; }
  
.sets .items li {
	float: left; 
	list-style:none; }

.sets legend {
	line-height: 32px; }

.sets .btn-group.right {
	display: none;
	position: absolute;
	top: 12px;
	right: 12px; }

/* sets: set view */

.set .items {
	margin: 0; }

.set .items {
	margin: 0; }
	
.set .items:before, .set .items:after {
  display: table;
  content: ""; }

.set .items:after {
  clear: both; }
  
.set .items li {
	float: left; 
	list-style:none; }

.set .items .thumb-photo {
	display: table-cell;
	background: white;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle; }

/* ---------- onboarding indicators */

.brand.step.indicator {
	padding-right: 10px; 
	opacity: 0.3;
	filter: alpha(opacity=30); }

.nav .step.indicator {
	color: white; 
	padding-left: 0; 
	opacity: 0.3;
	filter: alpha(opacity=30); }
	
.step.indicator.active {
	opacity: 1;
	filter: alpha(opacity=100); }

/* ---------- picker: styles, stores and items */

.picker .hider {
	z-index: 2; 
	background: #333; 
	position: fixed; 
	top: 0; 
	width: 746px; 
	margin: 0 97px; 
	height: 75px; 
	padding-top: 60px; }

.picker .hider .well {
	width: 706px; 
	height: 36px; 
	overflow-y: hidden; 
	border-bottom: none; 
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; }

.picker .well li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.picker .well .thumbnails {
	margin-left: -9px; }
	
.picker .well.stores .thumbnail .thumb-photo { height: 125px; }
.picker .well.styles .thumbnail .thumb-photo { height: 93px; }

.picker .well.items .thumbnail .thumb-photo {
	display: table-cell;
	background: white;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 125px;
	height: 125px; }

.picker .well .thumbnail .caption {
	overflow: hidden;
	white-space: nowrap; }

/* ---------- closets (user + store ) */ 

.profile .profile-card .profile-img {
	float: left; 
	margin-right: 12px; 
	width: 128px; 
	height: 128px; 
	overflow: hidden; 
	text-align: center; }

.profile .profile-card .profile-img img {
	height: 100%;
	max-width: none;
	margin-left: -50%;
	margin-right: -50%; }

.profile .profile-card .byline {
	font-size: 13px;
	line-height: 18px;
	color: #777777; }

.profile .profile-card .profile-card-inner {
	width: 436px;
	float: left; }
	
.profile .profile-card .profile-card-actions {
	padding-bottom: 2px;
	padding-left: 10px;
	margin-left: 10px;
	width: 212px; 
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	float: right; }

.profile .profile-card .profile-card-actions .actions-header {
	position: relative;
	height: 16px;
	line-height: 16px;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-size: 11px; 
	color: #999999; 
	font-weight: bold; }
	
.actions-header .right {
	position: absolute;
	right: 0;
	padding-right: 3px; 
	text-transform: none; 
	font-weight: normal; }

.profile .profile-card .profile-card-actions .nav-stacked {
	background: white;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
	
.profile .profile-card .profile-card-actions .thumbnails {
	margin-left: -6px; }

.profile .profile-card .profile-card-actions .thumbnails li {	
	margin: 0 0 4px 6px;
	width: 103px; }

.profile .profile-card .profile-card-actions .thumbnail {	
	padding-right: 6px;
	height: 24px;
	overflow: hidden;
	color: #333;
	font-size: 11px;
	line-height: 12px; }

.profile .profile-card .profile-card-actions .thumbnail .thumb-photo {	
	float: left;
	margin-right: 6px;
	width: 24px;
	height: 24px; }

.profile .well.items .thumbnail .thumb-photo { 
/* preserves thumbnail corners; for items bc imgs have variable height */
	display: table-cell;
	background: white;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 130px;
	height: 130px; }
		
.profile .well.items li:hover .thumbnail { /* for entire item hover*/
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }
  
.caption.absolute { /* outside of thumbnail, bc imgs have variable height */
	color: #999;
	position: absolute; 
	right: 5px; 
	bottom: 5px; 
	left: 11px; 
	height: 28px; 
	font-size: 12px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden; }

.caption .icon {
	height: 16px;
	width: 16px;
	float: left;
	vertical-align: middle;
	margin: 6px 5px 0 0; }

.profile .well.items li .btn-group.left {	
	display: none; 
	position: absolute; 
	top: 5px; 
	left: 5px; }

.profile .well.items li .btn-group.active,
.profile .well.items li:hover .btn-group {
	display: block; }
	
.profile .modal {
	border: none; 
	background: WhiteSmoke; 
	width: 460px; 
	margin-left: -230px; }

.profile .modal .thumbnails {
	margin-left: -9px; }

.profile .modal .thumbnails li {
	margin: 0 0 7px 8px; 
	width: 135px; }

.profile .modal .thumbnails .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	height: 32px; }
	
.profile .modal .thumbnails .thumbnail .thumb-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }
	
/* ---------- item pages */ 

.item .thumbnail a img {
	max-height: 350px;
	max-width: 570px; }

/* ---------- image src url conversions */

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png"); }

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png"); }
  
/* ---------- general tweaks to bootstrap */

body { 
	background: #333;
	padding-bottom: 24px; }
	
li { list-style: none; }

.thumbnail { 
	background: white;
	text-decoration: none !important;
	cursor: pointer; }

/* multi btn-group on single line fix */	
.btn-group::after {
	clear: none; }
	
.btn-group .btn.individual {
	position: relative;
	float: none;
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }

.typeahead {
	z-index: 2000; }
	
.modal { display: none; }
.modal.fade.in { display: block; }

/* --- thumbnail selected -- */

.thumbnail.selected {
	background: #08C; 
	border: 1px solid transparent; }

.thumbnail.selected .caption {
	background: none !important; }

.thumbnail.selected .caption h5 {
	color: white; }

.thumbnail.selected .caption .overflow-fade {
	background-position: 0 -150px;
	width: 40px; }
	
.thumbnail.selected .caption .overflow-fade [class^="icon-"],
.thumbnail.selected .caption .overflow-fade [class*=" icon-"] {
	display: block; }

/* --- thumbnail disabled --*/

.thumbnail.disabled {
	background: whiteSmoke; }

.thumbnail.disabled .thumb-photo {
	opacity: 0.3;
	filter: alpha(opacity=30); }

.thumbnail.disabled .caption h5 {
	color: #ccc; }

.thumbnail.disabled .caption .overflow-fade {
	background-position: 0 -50px; }

.thumbnail.disabled:hover {
	background: white; }

.thumbnail.disabled:hover .thumb-photo {
	opacity: 1;
	filter: alpha(opacity=100); }

.thumbnail.disabled:hover .caption h5 {
	color: #333; }

.thumbnail.disabled:hover .caption .overflow-fade {
	background-position: 0 0; }

.profile .well.items li:hover .thumbnail.no-hover {
	cursor: default;
	border: 1px solid #DDD !important;
	background: whiteSmoke;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }

.thumbnail.disabled.no-hover:hover .thumb-photo {
	opacity: 0.3;
	filter: alpha(opacity=30); }

.thumbnail .caption .overflow-fade [class^="icon-"],
.thumbnail .caption .overflow-fade [class*=" icon-"] {
	display: none; }

.navbar .nav > li.disabled:hover > a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.close { font-family: Arial; }

.well { position: relative; }

.well legend {
	border-bottom: none;
	margin-bottom: 18px; }

.btn {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

footer, footer a, footer a:hover { color: #666666; }
footer p { text-align: center; }

.q-point {
	min-width: 25px;
	min-height: 25px;
	background: url('/images/q-point.png') no-repeat; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* ---------- message drawer */

.message-drawer {
	z-index: 1051; 
	position: fixed; 
	width: 500px; 
	left: 50%; 
	top: 47px; 
	text-align: center;
	margin-left: -275px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5); }

/* ---------- loading animations */

.loading.large {
	min-height: 40px;
  background-image: url('/images/loading_spinner_large_trans.gif');
  background-position: center center;
  background-repeat: no-repeat; }

.loading.large.left {
	background-position: center left; }
  
.loading.large.inline {
	display: none;
	width: 32px;
	height: 32px;
	background: url('/images/loading_spinner_large_trans.gif') center center no-repeat; }

.loading.small.inline {
	display: none;
	width: 16px;
	height: 16px;
  background: url('/images/loading_spinner_small_trans.gif') center center no-repeat; }
  
.well .loading.large {
  background-image: url('/images/loading_spinner_large_WhiteSmoke.gif'); }

.load .loading.inline { /* turns inline loads on/off */
	display: inline-block; }

.load .tab-text {
	display: none; }
	
/* ---------- strike-thru text divider */

.strike-thru {
	height: 9px;
	border-top: 1px solid #dddddd;
	padding-top: 18px;
	margin-top: 27px;
	color: #999999;
	text-align: center; }

.strike-thru span, 
.strike-thru a { 
	padding: 0 10px;
	background: white; 
	position: relative;
	color: inherit;
	top: -28px; }
	
.well .strike-thru span, 
.well .strike-thru a { 
	background: WhiteSmoke; }
  
/* ---------- creation */

.creation .photo-box {
	position: relative;
	min-height: 100px;
  max-height: 200px;
  background: white url("/images/loading_spinner_large_trans.gif") no-repeat;
  background-position: center;
  text-align: center;
  display: none;
  padding: 5px;
  margin-bottom: 18px; }

.creation .photo-box .photo {
  max-width: 100%;
  max-height: 200px; }

.creation .change-photo {
	position:absolute; 
	top: 6px; 
	right: 6px;
	z-index: 0;
	display: none; }

.creation .change-box { position: relative; }

.creation .change-box:hover .change-photo {
	display: block;
	z-index: 10; }

.creation .alert.ways {
	position: relative; }

.creation .alert.ways::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #8ecedb;
	position: absolute;
	top: -7px;
	left: 20px; }

.creation .alert.ways::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #D9EDF7;
	position: absolute;
	top: -6px;
	left: 21px; }

/* ---------- chooser */

.chooser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
	overflow: visible;
	z-index: 1050; }

.chooser .search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 8px 0;
  z-index: 9999;
  border-bottom: 1px solid #dddddd; }

.chooser .search-bar .control-group {
	width: 500px; 
	border-right: 110px solid transparent;
	margin: 0 auto; }

.chooser .search-bar .control-group.load {
  background: url('/images/loading_spinner_small_trans.gif') center right no-repeat; }

.chooser .search-bar .close {
	font-size: 36px; 
	padding: 5px 15px; }

.chooser .control-label.error { color: #B94A48; }

.chooser .control-label span.error { display: block; }
.chooser .control-label span.error { display: none; }

.chooser .control-label.error span.error { display: block; }
.chooser .control-label.error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 160px;
  height: 160px;
  line-height: 158px;
  float: left;
  margin: 15px 15px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eeeeee; }

.photo-choice:hover .btn {
  display: block; }

.photo-choice .btn { 
	display: none;
	width: 108px;
	position: absolute; 
	bottom: 10px; 
	left: 15px; }

.photo-choice .item-photo {
  max-width: 160px;
  max-height: 158px;
  vertical-align: middle; }

.scroll-instructions {
  height: 44px;
  width: auto;
  line-height: 44px;
  border-top: 1px solid #dddddd;
  text-align: center;
  position: fixed;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  display: none; }

.results {
	margin-top: 45px;
	height: 500px;
	text-align: center; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6000;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	background-color: white;
	z-index: -1; }
	
/* ---------- invite 1: styles */ 
	
.invite .well.styles li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.styles .thumbnails {
	margin-left: -9px; }

/* ---------- invite 2: friends */

.invite .well.friends .thumbnails {
	margin-left: -9px; }

.invite .well.friends li {
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.friends .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	height: 32px; }
	
.invite .well.friends .thumbnail .thumb-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }
  
/* ---------- invite 3: finish */

.invite .well .fb-timeline {
	font-size: 11px;
	line-height: 1.28; }

.invite .well .fb-timeline .user-block {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 32px; }

.invite .well .fb-timeline .user-block .user-photo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px; }

.invite .well .fb-timeline .above-content {
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px; }

.invite .well .fb-timeline .display-content {
	height: 90px; }

.invite .well .fb-timeline .display-content .art-photo {
	height: 90px;
	width: 90px;
	background-position: center center;
	background-size: auto 90px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px; }

/* ---------- settings */ 

.settings .well .checkbox {  
	padding: 6px 10px 6px 25px;
	color: #555;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer; }

/* ---------- user-cell image and name nav button */

.navbar .nav > li.user-cell > a {
	padding-left: 38px; 
	position: relative; }

.user-cell .avatar {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.user-cell:hover .avatar {
  opacity: 1;
  filter: alpha(opacity=100); }

.user-cell.disabled:hover .avatar {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* ---------- fade-to-background div content overflow */

.overflow-fade {
	position: absolute; 
	top: 2px; 
	right: 0px; 
	bottom: 2px; 
	background: url("/images/fade.png");
	background-repeat: repeat-y;
	width: 24px; }

/* ---------- general styles */
.faded-30 {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.faded-50 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.faded-60 {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.faded-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.faded-90 {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.faded-95 {
  opacity: 0.95;
  filter: alpha(opacity=95); }

.to-90:hover {
	opacity: 0.90;
  filter: alpha(opacity=90); }

.to-opaque:hover {
	opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- font-face fonts */

@font-face{
	font-family:'oa-regular'; 
	src:url("../type/oa-rega-40dc7f284babe12d55cd4ed020f845cc.eot");
	src:url("../type/oa-rega-40dc7f284babe12d55cd4ed020f845cc.eot?#iefix") format("embedded-opentype"),url("../type/oa-rega-764755e725a193aceb372f917dbebae3.woff") format("woff"),url("../type/oa-rega-52bf1c67b809af90dcdc8a678a8eb40b.ttf") format("truetype"),url("../type/oa-rega-c4b49d91f8aec6f84c63535b0e6f3199.svg#oa-regular") format("svg");
	font-weight:normal;
	font-style:normal; }

@font-face{
	font-family:'oa-medium';
	src:url("../type/oa-medi-f5358fc49187f3eb408f369a5486cdc0.eot");
	src:url("../type/oa-medi-f5358fc49187f3eb408f369a5486cdc0.eot?#iefix") format("embedded-opentype"),url("../type/oa-medi-8bc469d4b2ab90c1694842a9b55f673d.woff") format("woff"),url("../type/oa-medi-808705d02dc52ac1fe9ad7edb30a267c.ttf") format("truetype"),url("../type/oa-medi-8c5a7b5a79d35bc1169d726e66d68767.svg#oa-medium") format("svg");
	font-weight:normal;
	font-style:normal; }

@font-face{
	font-family:'oa-bold';
	src:url("../type/oa-bold-d530fd6906357ebd11e8b846ad9eb57a.eot");
	src:url("../type/oa-bold-d530fd6906357ebd11e8b846ad9eb57a.eot?#iefix") format("embedded-opentype"),url("../type/oa-bold-1eb2d90b7337000cdf085c8ec4a29f4e.woff") format("woff"),url("../type/oa-bold-c01fcd49dab49fc111f4e5d4ab12da6d.ttf") format("truetype"),url("../type/oa-bold-398e2b3410c15eab0d8736f18c1cd0b0.svg#oa-bold") format("svg");
	font-weight:normal;
	font-style:normal; }
