/* ---------- onboarding indicators */

.brand.step.indicator {
	padding-right: 10px; 
	opacity: 0.3;
	filter: alpha(opacity=30); }

.nav .step.indicator {
	color: white; 
	padding-left: 0; 
	opacity: 0.3;
	filter: alpha(opacity=30); }
	
.step.indicator.active {
	opacity: 1;
	filter: alpha(opacity=100); }

/* ---------- picker: stores */

.picker .hider {
	z-index: 2; 
	background: #333; 
	position: fixed; 
	top: 0; 
	width: 746px; 
	margin: 0 97px; 
	height: 75px; 
	padding-top: 60px; }

.picker .hider .well {
	width: 706px; 
	height: 36px; 
	overflow-y: hidden; 
	border-bottom: none; 
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0; }

.picker .well.stores li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.picker .well.stores .thumbnails {
	margin-left: -9px; }

.picker .well.stores .thumbnail {
	height: 157px;
/* 	height: 125px; */
	text-decoration: none; }
	
.picker .well.stores .thumbnail .thumb-photo {
	height: 125px;
/* 	height: 93px; */
	overflow: hidden; }

/*
.picker .well.stores .thumbnail .thumb-photo img {
	margin-top: -16px; }
*/

.picker .well.stores .thumbnail .caption {
	overflow: hidden;
	white-space: nowrap; }

/* ---------- items (user + store ) */ 

.profile .profile-card .profile-img {
	float: left; 
	margin-right: 12px; 
	width: 128px; 
	height: 128px; 
	overflow: hidden; 
	text-align: center; }

.profile .profile-card .byline {
	font-size: 16px;
	line-height: 22px;
	color: #777777; }

.profile .profile-card .profile-card-inner {
	width: 436px;
	float: left; }
	
.profile .profile-card .profile-card-actions {
	padding-bottom: 2px;
	padding-left: 10px;
/* 	border-left: 1px solid #ddd;  */
	margin-left: 10px;
	width: 212px; 
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	float: right; }

.profile .profile-card .profile-card-actions .actions-header {
	position: relative;
	height: 16px;
	line-height: 16px;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-size: 11px; 
	color: #999999; 
	font-weight: bold; }
	
.actions-header .right {
	position: absolute;
	right: 0;
	padding-right: 3px; 
	text-transform: none; 
	font-weight: normal; }

.profile .profile-card .profile-card-actions .nav-stacked {
	background: white;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
	
.profile .profile-card .profile-card-actions .thumbnails {
	margin-left: -6px; }

.profile .profile-card .profile-card-actions .thumbnails li {	
	margin: 0 0 4px 6px;
	width: 103px; }

.profile .profile-card .profile-card-actions .thumbnail {	
	padding-right: 6px;
	height: 24px;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	font-size: 11px;
	line-height: 12px; }

.profile .profile-card .profile-card-actions .thumbnail .thumb-photo {	
	float: left;
	margin-right: 6px;
	width: 24px;
	height: 24px; }

.profile .well.items .thumbnail {
	padding-bottom: 36px; }

.profile .well.items .thumbnail .img-box { /* preserves thumbnail corners */
	display: table-cell;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 130px;
	height: 130px; }
		
.profile .well.items li:hover .thumbnail { /* for entire item hover*/
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }
  
.profile .well.items li .caption { /* outside of thumbnail */
	color: #999;
	position: absolute; 
	right: 5px; 
	bottom: 5px; 
	left: 11px; 
	height: 28px; 
	font-size: 12px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden; }

.profile .well.items li .caption .icon {
	height: 16px;
	width: 16px;
	float: left;
	vertical-align: middle;
	margin: 6px 5px 0 0; }

.profile .well.items li .btn-group {	
	display: none; 
	position: absolute; 
	top: 5px; 
	left: 5px; }

.profile .well.items li:hover .btn-group {
	display: block; }
	
.profile .modal {
	border: none; 
	background: WhiteSmoke; 
	width: 460px; 
	margin-left: -230px; }

.profile .modal .thumbnails {
	margin-left: -9px; }

.profile .modal .thumbnails li {
	margin: 0 0 7px 8px; 
	width: 135px; }

.profile .modal .thumbnails .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	text-decoration: none;
	height: 32px; }
	
.profile .modal .thumbnails .thumbnail .thumb-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }

/* ---------- image src url conversions */

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png"); }

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png"); }
  
/* ---------- general tweaks to bootstrap */

body { background: #333; }

.thumbnail { background: white; }

.thumbnail.selected {
	background: #08C; 
	border: 1px solid #08C; }

.thumbnail.selected .caption h5 {
	color: white; }

.thumbnail.selected .caption .overflow-fade {
	background-position: 0 -150px;
	width: 40px; }

.thumbnail .caption .overflow-fade [class^="icon-"],
.thumbnail .caption .overflow-fade [class*=" icon-"] {
	display: none; }

.thumbnail.selected .caption .overflow-fade [class^="icon-"],
.thumbnail.selected .caption .overflow-fade [class*=" icon-"] {
	display: block; }
	
[class^="icon-"].off, [class*=" icon-"].off {
	display: none; }

.navbar .nav > li.disabled:hover > a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.close { font-family: Arial; }

.btn {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

footer, footer a, footer a:hover { color: #666666; }

/* ---------- message drawer */

.message-drawer {
	z-index: 1051; 
	position: fixed; 
	width: 500px; 
	left: 50%; 
	top: 47px; 
	margin-left: -275px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 4px 12px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5); }

/* ---------- loading animations */

.loading.large {
	min-height: 40px;
  background-image: url('/images/loading_spinner_large_trans.gif');
  background-position: center center;
  background-repeat: no-repeat; }

.loading.large.left {
	background-position: center left; }
  
.loading.large.inline {
	display: none;
	width: 32px;
	height: 32px;
	background: url('/images/loading_spinner_large_trans.gif') center center no-repeat; }

.loading.small.inline {
	display: none;
	width: 16px;
	height: 16px;
  background: url('/images/loading_spinner_small_trans.gif') center center no-repeat; }
  
.well .loading.large {
  background-image: url('/images/loading_spinner_large_WhiteSmoke.gif'); }

.form-actions.load .loading.inline { /* turns inline loads on/off */
	display: inline-block; }
	
/* ---------- strike-thru text divider */

.strike-thru {
	height: 9px;
	border-top: 1px solid #dddddd;
	padding-top: 18px;
	margin-top: 27px;
	color: #999999;
	text-align: center; }

.strike-thru span, 
.strike-thru a { 
	padding: 0 10px;
	background: white; 
	position: relative;
	color: inherit;
	top: -28px; }
	
.well .strike-thru span, 
.well .strike-thru a { 
	background: WhiteSmoke; }
  
/* ---------- creation */

.creation .photo-box {
	position: relative;
	min-height: 100px;
  max-height: 200px;
  background: white url("/images/loading_spinner_large_trans.gif") no-repeat;
  background-position: center;
  text-align: center;
  display: none;
  padding: 5px;
  margin-bottom: 18px; }

.creation .photo-box .photo {
  max-width: 100%;
  max-height: 200px; }

.creation .change-photo {
	position:absolute; 
	top: 6px; 
	right: 6px;
	z-index: 0;
	display: none; }

.creation .change-box { position: relative; }

.creation .change-box:hover .change-photo {
	display: block;
	z-index: 10; }

/* ---------- chooser */

.chooser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	background: white;
	padding-bottom: 20px;
	padding-left: 15px;
	overflow: visible;
	z-index: 1050; }

.chooser .search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 8px 0;
  z-index: 9999;
  border-bottom: 1px solid #dddddd; }

.chooser .search-bar .control-group {
	width: 500px; 
	border-right: 110px solid transparent;
	margin: 0 auto; }

.chooser .search-bar .control-group.load {
  background: url('/images/loading_spinner_small_trans.gif') center right no-repeat; }

.chooser .search-bar .close {
	font-size: 36px; 
	padding: 5px 15px; }

.chooser .control-label.error { color: #B94A48; }

.chooser .control-label span.error { display: block; }
.chooser .control-label span.error { display: none; }

.chooser .control-label.error span.error { display: block; }
.chooser .control-label.error span.default { display: none; }
	
.chooser .cancel {
  position: fixed;
  top: 16px;
  right: 13px;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
	z-index: 1032; }
  
.photo-choice {
  width: 160px;
  height: 160px;
  line-height: 158px;
  float: left;
  margin: 15px 15px 0px 0px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eeeeee; }

.photo-choice:hover .btn {
  display: block; }

.photo-choice .btn { 
	display: none;
	width: 108px;
	position: absolute; 
	bottom: 10px; 
	left: 15px; }

.photo-choice .item-photo {
  max-width: 160px;
  max-height: 158px;
  vertical-align: middle; }

.scroll-instructions {
  height: 44px;
  width: auto;
  line-height: 44px;
  border-top: 1px solid #dddddd;
  text-align: center;
  position: fixed;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  display: none; }

.results {
	margin-top: 45px;
	height: 500px;
	text-align: center; }

.shadow {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6000;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
	box-shadow: 0 0 18px rgba(0,0,0,0.4);
	background-color: white;
	z-index: -1; }
	
/* ---------- invite 1: styles */ 
	
.invite .well.styles li {
	margin-left: -9px;
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.styles .thumbnails {
	margin-left: -9px; }

.invite .well.styles .thumbnail {
	height: 125px;
	text-decoration: none; }

/* ---------- invite 2: friends */

.invite .well.friends .thumbnails {
	margin-left: -9px; }

.invite .well.friends li {
	margin: 0 0 7px 8px; 
	width: 135px; }

.invite .well.friends .thumbnail {
	color: #333333; 
	font-size: 11px;
	line-height: 1.28;
	text-decoration: none;
	height: 32px; }
	
.invite .well.friends .thumbnail .thumb-photo {
	float: left; 
	height: 32px;
	width: 32px;
	margin-right: 8px; }
  
/* ---------- invite 3: finish */

.invite .well .fb-timeline {
	font-size: 11px;
	line-height: 1.28; }

.invite .well .fb-timeline .user-block {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-botttom: 5px;
	height: 32px; }

.invite .well .fb-timeline .user-block .user-photo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px; }

.invite .well .fb-timeline .above-content {
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px; }

.invite .well .fb-timeline .display-content {
	height: 90px; }

.invite .well .fb-timeline .display-content .art-photo {
	height: 90px;
	width: 90px;
	background-position: center center;
	background-size: auto 90px;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px; }

/* ---------- settings */ 

.settings .well .checkbox {  
	padding: 6px 10px 6px 25px;
	color: #555;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer; }

/* ---------- user-cell image and name nav button */

.user-cell .avatar {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.user-cell:hover .avatar {
  opacity: 1;
  filter: alpha(opacity=100); }

.user-cell.disabled:hover .avatar {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* ---------- fade-to-background div content overflow */

.overflow-fade {
	position: absolute; 
	top: 2px; 
	right: 0px; 
	bottom: 2px; 
	background: url(/images/fade.png);
	background-repeat: repeat-y;
	width: 24px; }

/* ---------- general styles */
.faded-30 {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.faded-50 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.faded-60 {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.faded-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.faded-90 {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.faded-95 {
  opacity: 0.95;
  filter: alpha(opacity=95); }

.to-90:hover {
	opacity: 0.90;
  filter: alpha(opacity=90); }

.to-opaque:hover {
	opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- font-face fonts */

@font-face {
  font-family: 'FuturaStdBold';
  src: url("../type/futurastd-bold-webfont.eot");
  src: url("../type/futurastd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-bold-webfont.woff") format("woff"), url("../type/futurastd-bold-webfont.ttf") format("truetype"), url("../type/futurastd-bold-webfont.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaStdBook';
  src: url("../type/futurastd-book-webfont.eot");
  src: url("../type/futurastd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-book-webfont.woff") format("woff"), url("../type/futurastd-book-webfont.ttf") format("truetype"), url("../type/futurastd-book-webfont.svg#FuturaStdBook") format("svg");
  font-weight: normal;
  font-style: normal; }