/* ---------- image src url conversions */

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings.png"); }

.icon-white {
  background-image: url("/images/glyphicons-halflings-white.png"); }

/* ---------- crisp webkit button text */

.btn {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* ---------- footer colors */

footer, footer a { color: #cccccc; }

/* ---------- strike-thru text divider */

.strike-thru {
	height: 9px;
	border-top: 1px solid #dddddd;
	padding-top: 18px;
	margin-top: 27px;
	color: #999999;
	text-align: center; }

.strike-thru span, 
.strike-thru a { 
	padding: 0 10px;
	background: white; 
	position: relative;
	color: inherit;
	top: -28px; }
	
.well .strike-thru span, 
.well .strike-thru a { 
	background: #f5f5f5; }
  
/* ---------- creation */

.creation .photo_box {
	position: relative;
  height: 200px;
  line-height: 200px;
  background: white url("/images/spinner.gif") no-repeat;
  background-position: center;
  text-align: center;
  display: none;
  padding: 5px;
  margin-bottom: 18px; }

.creation .photo_box .photo {
  max-width: 410px;
  max-height: 200px; }

.creation .change-photo {
	position:absolute; 
	top: 5px; 
	right: 5px;
	display: none; }

.change-box { position: relative; }

.change-box:hover .change-photo {
	display: block;
	z-index: 10; }

/* ---------- settings */ 

.settings .well .checkbox {  
	padding: 6px 10px 6px 25px;
	color: #555;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer; }
	
/* ---------- items */ 

.thumbnails.items {
	margin-left: -2px; }
	
.thumbnails.items > li {
  margin: 0 0 3px 3px; }

.thumbnails.items li .thumbnail {
	position: relative;
  padding: 0;
  width: 202px;
  height: 264px;
	background-repeat: no-repeat;
	background-position: 50% 60%; }

.thumbnails.items li .thumbnail .bottom .fade {
	width: 30px;
	height: 34px;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: yellow url("/images/bottom_right_fade.png") center right repeat-y; }

.thumbnails.items li .thumbnail .bottom {
	height: 18px;
	padding: 8px 0 8px 8px;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	text-align: left;
	color: #AAA;
	white-space: nowrap;
	overflow: hidden; }

.thumbnails.items li .thumbnail .bottom img {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 6px; }

/* ---------- user-cell image and name nav button */

.user-cell .avatar {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.user-cell:hover .avatar {
  opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- fade-to-background div content overflow */

.overflow-fade {
	position: absolute; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	background: url(/images/fade.png);
	background-repeat: repeat-y; }

.well a .overflow-fade {
	background-position-y: -50px; }

.well a:hover .overflow-fade {
	background-position-y: -100px; }

/* ---------- general styles */
.faded-30 {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.faded-50 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.faded-60 {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.faded-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.faded-90 {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.to-opaque:hover {
	opacity: 1;
  filter: alpha(opacity=100); }

/* ---------- font-face fonts */

@font-face {
  font-family: 'FuturaStdBold';
  src: url("../type/futurastd-bold-webfont.eot");
  src: url("../type/futurastd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-bold-webfont.woff") format("woff"), url("../type/futurastd-bold-webfont.ttf") format("truetype"), url("../type/futurastd-bold-webfont.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaStdBook';
  src: url("../type/futurastd-book-webfont.eot");
  src: url("../type/futurastd-book-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futurastd-book-webfont.woff") format("woff"), url("../type/futurastd-book-webfont.ttf") format("truetype"), url("../type/futurastd-book-webfont.svg#FuturaStdBook") format("svg");
  font-weight: normal;
  font-style: normal; }