<li class="user-action-box relative <%=notification.get('unread') ? "unread" : "read"%>">
	<div class="btn dot rounded-16 absolute"></div>
  <a class="opacity-80-100 transition-opacity" href="<%=notification.path('notification')%>">
    <img class="user-photo l absolute rounded-3" 
      src="<%=notification.get('image_url')%>" />
    <span class="txt m top-line"><%=notification.get('entity')%></span>
  <br>
  <span class="txt s bottom-line"><%=notification.get('event')%></span>
  </a> 
</li> 
