<li class="user-action-box relative <%=notification.get('unread') ? "unread" : ""%>">
  <a class="notification-state" href="<%=notification.path('notification')%>">
    <img class="user-photo l absolute rounded-3" 
      src="<%=notification.get('image_url')%>" />
    <span class="txt m user-name"><%=notification.get('entity')%></span>
  <br>
  <span class="txt s user-info"><%=notification.get('event')%></span>
  </a> 
</li> 
