<div class="user-photo-box">
  <a href="<%=like.get('user').path('like')%>"
      rel="tooltip"
      title="<%=like.get('user').fullName()%>">
    <img class="user-photo"
      src="<%=like.get('user').get('square_image_url')%>" 
      alt='<%=like.get('user').fullName()%>'/>
  </a>
</div>
