<div class="user-photo-box relative">
  <a href="<%=like.get('user').path('like')%>">
    <img class="user-photo s rounded-3"
      src="<%=like.get('user').get('square_image_url')%>" 
      alt=''/>
  </a>
</div>&nbsp;
