<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Create</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
	  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	  <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	  
	  <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
	  <link href="stylesheets/feed.css" media="screen" rel="stylesheet" type="text/css" />
	  <script src="javascripts/libs/jquery-1.7.1.js" type="text/javascript"></script>
	  <script src="javascripts/libs/bootstrap.js" type="text/javascript"></script>
	  
  </head>
	<body>
	
		<!-- header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        
          <a href="/feed.html.erb" class="brand">MINE</a>
                    
          <div class="nav-collapse">
            <ul class="nav pull-right">
                         
              <li>
                <a href="/settings.html.erb"> Invite friends</a>
              </li>
              <li class="user-cell">
                <a style="white-space: nowrap; display: block; padding-right: 10px;" href="/grid.html.erb">
                   <img class="avatar" src="http://graph.facebook.com/517379696/picture?type=square" />
                  Pierre Legrain
                </a>
              </li>
              <li class="dropdown">
                <!-- replacing link to "<#=new_product_path(:src => 'bar')%>" with "#" -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                	<li>
                  	<a href="/settings.html.erb">Settings</a>
                  </li>
                  <li>
                    <a href="/feed.html.erb">Log Out</a>
                  </li>
                </ul>
              </li>
              
            </ul> <!-- /nav -->
          </div> <!-- /nav-collapse -->
        </div> <!-- /container -->
      </div> <!-- /navbar-inner -->
    </div> <!-- /navbar navbar-fixed-top -->
	
		<div class="container">
			<div class="col">
			
				<div class="self-box">
					<a href="/grid.html.erb" class="user-photo">
						<img src="http://graph.facebook.com/517379696/picture?type=square" />
					</a>
					<div class="user-name">
						<p><a href="/grid.html.erb">Pierre Legrain</a></p>
					</div>
				</div>
				
				<div class="list-box">
				
					<h4 style="margin-bottom: 14px;">Sharing with</h4>
					<ul class="object-list" style="margin: 0;">
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/15402933/picture?type=square" />Dan Sack</a></li>
						<li><a href="/grid.html.erb#"><img src="http://graph.facebook.com/513303014/picture?type=square" />Chris Couhault</a></li>
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/699760342/picture?type=square" />Deepak Rao</a></li>
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/502835064/picture?type=square" />Siddharth Batra</a></li>
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/21072/picture?type=square" />Shayne Fitz-Coy</a></li>
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/1618084/picture?type=square" />Arar Han</a></li>
						<li><a href="/grid.html.erb"><img src="http://graph.facebook.com/213492/picture?type=square" />Caitlin Hogan</a></li>
					</ul>
					
				</div> <!-- /list-box -->
					
				<div class="nav-box">
					<a href="/invite.html.erb"><i class="icon-user"></i> Invite friends</a>
					<a href="/settings.html.erb"><i class="icon-cog"></i> Settings</a>
				</div>

			</div> <!-- /col -->
		
		
			<!-- feed -->
			<div class="feed">
			
				<!-- creation -->
				<div class="item creation">
					
					<form action="/products" class="form-horizontal" id="new_product" style="margin-bottom: 0;" method="post">
					
					<div style="margin:0;padding:0;display:inline">
						<input name="authenticity_token" type="hidden" value="/d0HTKza06VbJ0aP8E7KGqxE+FvaRmIyjoTBlpZpI+8=">
					</div>
			    
					  <input id="product_suggestion_id" name="product[suggestion_id]" type="hidden">
					  <input id="product_category_id" name="product[category_id]" type="hidden" value="8">
					  <input id="product_source_product_id" name="product[source_product_id]" type="hidden" value="">
					  <input id="product_price" name="product[price]" type="hidden" value="0">
					  <input id="product_is_gift" name="product[is_gift]" type="hidden" value="false">
					  <input id="product_source_url" name="product[source_url]" type="hidden" value="http://www.essentialmall.com.au/YSL_L_HOMME-60ML_EDT-87832">
					  <input id="product_orig_image_url" name="product[orig_image_url]" type="hidden" value="http://www.essentialmall.com.au/images/uploads/thumbproduct/YSL_L_HOMME_60ML_EDT_M0421.jpg">
					  <input id="product_orig_thumb_url" name="product[orig_thumb_url]" type="hidden" value="http://ts4.mm.bing.net/images/thumbnail.aspx?q=4872774042256071&amp;id=3ba8f4125bf421edad59bb738bdc2c90">
					  <input id="product_is_hosted" name="product[is_hosted]" type="hidden" value="false">
					  
						<div id="query_box" style="display: none; ">
						
							<fieldset>
							
								<h4 style="font-size: 15px; margin-bottom: 8px;">Share a purchase</h4>
									
						    <input type="text" style="width: 412px;" placeholder="Detailed item name or URL">
						    	
					    	<a class="btn btn-mid" 
					    					href="/create.html.erb"
					    					style="width: 72px;"
					    					title="Search" 
					    					type="button" 
					    					alt="Search">
					    		<i class="icon-camera icon-white"></i>
					    		Find item
					    	</a>	
		  
							</fieldset>
					    
						</div> <!-- /query_box -->
						
						<div class="change-box">
							<div class="btn change-photo" id="product_change_photo">
								<i class="icon-camera"></i> Change photo
							</div>
								
							<div class="photo-box" id="product_selection" style="display: block; ">
								<img class="photo" id="product_selection_photo" src="http://d1nmlfaeq5l5rw.cloudfront.net/g_ZjFiNGZiNWY5ZjhjYWQxYjExYjExMzI3NjkzMzY2.jpg">
							</div> <!-- /photo_box -->
							
						</div>
					
					  
					
					  <div id="extra_steps" style="">
					  
							<div class="control-group" id="title_box">
					      <label class="control-label" style="width: 145px;">
									Item name
					      </label>
					      <div class="controls" style="margin-left: 155px;">
						      <input id="product_title" name="product[title]" size="30" style="width: 200px;" type="text">
					      </div>
					    </div> <!-- /title -->
						
							<div class="control-group" id="store_box">
						    <label class="control-label" style="width: 145px;">
						      Store where bought
						    </label>
								<div class="controls" style="margin-left: 155px;">
							    <input autocomplete="off" id="product_store_name" name="product[store_name]" size="30" style="width: 200px;" type="text">
							    <span class="help-inline faded-80">          
								    <label class="checkbox" for="product_is_store_unknown" style="padding-top: 5px;"><input name="product[is_store_unknown]" type="hidden" value="0"><input id="product_is_store_unknown" name="product[is_store_unknown]" type="checkbox" value="1"> Not sure</label>
						      </span> 
							  </div>
						  </div> <!-- /store -->  
						  
							<div class="strike-thru" id="endorsement_initiate">
							  <a href="javascript:void(0)"><i class="icon-pencil faded-30"></i> Add an optional note?</a>
							</div>
							
							<div class="control-group" id="endorsement_container" style="display:none">
					      <label class="control-label" style="width: 145px;">
					        Review
					      </label>
								<div class="controls" style="margin-left: 155px;">
						      <textarea cols="40" id="product_endorsement" name="product[endorsement]" rows="6" style="width: 200px;"></textarea>
								</div>
					    </div> <!-- /endorsement -->
					
							<button type="submit" class="btn btn-large btn-mid" style="width: 100%;">
								Add to Mine
							</button> <!-- submit -->
					    
						</div>
		 		 </form>
				
				</div> <!-- /creation -->
			
				<div class="item">
				
					<div id="feedback" style="position: absolute; top: 20px; right: 20px;">
						<a style="float: right" href="/" class="btn"><i class="icon-pencil"></i></a>
				    <a style="float: right; margin-right: -1px;" href="/" class="btn pushed"><i class="icon-like"></i></a>
				    <a style="float: right; margin-right: -1px;" href="/" class="btn">Mine</a>
					</div>
					
					<a class="photo-box" target="_blank" href="http://www.yslbeautyus.com/L'Homme-Eau-De-Toilette-Spray/284YSL,default,pd.html">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NmIzYjY2YTExMzdlYzhkYTllNjIxMzMyMjAwMjg1.jpg" />
					</a>
					<div class="details">
						<div class="title" style="line-height: 36px;">
							<img src="http://graph.facebook.com/699760342/picture?type=square" />
							Yves Saint Laurent L'Homme Cologne
						</div>
						<div class="store" style="line-height: 28px;">
							<img src="http://d1nmlfaeq5l5rw.cloudfront.net/t_YWEyZDRhMjg1MDc0MjJhODMyYjYxMzI4NDkxMjMw.png" />
							Macy's
						</div>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
				
					<div id="feedback" style="position: absolute; top: 20px; right: 20px;">
						<a style="float: right" href="/" class="btn"><i class="icon-pencil"></i></a>
				    <a style="float: right; margin-right: -1px;" href="/" class="btn"><i class="icon-like"></i></a>
				    <a style="float: right; margin-right: -1px;" href="/" class="btn">Mine</a>
					</div>
					
					<a class="photo-box" target="_blank" href="http://www.prontostyle.com/compare/swiss-gear-tsa-compatible-messenger-11501010711">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_MGIwMDRhZjk5ZDE1NjM5MzkwMmExMzI4NjUyNzIz.jpg" />
					</a>
					<div class="details">
						<div class="title" style="line-height: 36px;">
							<img src="http://graph.facebook.com/502835064/picture?type=square" />
							Swiss Gear Messenger Bag
						</div>
						<div class="store" style="line-height: 28px;">
							<img src="http://d1nmlfaeq5l5rw.cloudfront.net/t_MjBhNDZlMmM3NzI2NWYzNmY4Y2MxMzI4NDkxMjI1.png" />
							Target
						</div>
					</div>
				</div> <!-- /item -->
			
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.jcrew.com/mens_special_sizes/extrasmall/sweaters/PRDOVR~17181/17181.jsp">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NWZhZDdlOGFkZmQzMTI5YmFjZDExMzMxNjg4MTU5.jpg" />
					</a>
					<div class="details">
						<div class="title" style="line-height: 36px;">
							<img src="http://graph.facebook.com/517379696/picture?type=square" />
							Cotton-cashmere Half-zip Sweater in caspian blue
						</div>
						<div class="store" style="line-height: 28px;">
							<img src="http://d1nmlfaeq5l5rw.cloudfront.net/t_Zjk0YWUwZGI0NjExYzcwMDRjMTcxMzI4NDkxMTI4.png" />
							J.Crew
						</div>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://coffeemakersonecup.com/tag/french-press">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NTliNTFjM2Q1YzA0ZDVkZTQ4NzMxMzIwNjk0ODIz.jpg" />
					</a>
					<div class="details">
						<h4>Bodum Single-Cup Coffee Press <small>Target</small></h4>
						<p>
							Gift from Gabe Adams.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.perfumezilla.com/ralph-lauren/ralph-lauren-polo-sport-men-water-basics-post-shave-relief-balm217107.php">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_ZjFiOThlNDY2YzQzYmNmMTIwY2UxMzI4NTczNzMz.jpg" />
					</a>
					<div class="details">
						<h4>Polo Sport Water Basics Shower Gel <small>UltraFragrances.com</small></h4>
						<p>
							Amazing. Just got this, love it.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.ubergizmo.com/2010/01/apple-magic-mouse-draining-bluetooth-keyboard-batteries/">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_YTQ2OTIwNDVkNjE0ZTE3ZWY0ODExMzI4NTY3OTUx.jpg" />
					</a>
					<div class="details">
						<h4>Wireless Keyboard <small>Apple Store</small></h4>
						<p>
							
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.jcrew.com/mens_category/sweaters/merino/PRDOVR~46880/46880.jsp">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NzdiMDhkYTI4ZmU2YmVhYmY3NTIxMzMyMzY5NzEz.jpg" />
					</a>
					<div class="details">
						<h4>Cotton-cashmere Half-zip Sweater in gray <small>J.Crew</small></h4>
						<p>
							Amazing. Just got this, love it.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://shopping.cherchons.com/r/jean-stretch-taille-haute.html/">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_YmY1NGYzNmExMmY1NzRlZDIwNTcxMzIxODQzMjc1.jpg" />
					</a>
					<div class="details">
						<h4>Levi's 517 Straight Leg Jeans <small>Nordstrom Rack</small></h4>
						<p>
							These have all the weight and shape of my way more expensive Lucky Jeans; love them. I think they were roughly $45. Dry clean only, though.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.flatpanelshd.com/news.php?subaction=showfull&id=1280235460">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NWQ3ODFjNzEwNmNkMjM1OGUxYjQxMzI4NTYyMjUx.jpg" />
					</a>
					<div class="details">
						<h4>LED Cinema Display 27" <small>Apple Store</small></h4>
						<p>
							Amazing piece of kit. Danger: may make your design work appear better than it really is.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://skinflint.co.uk/eu/620361">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_ZjVlODEzMGJkN2RhYzdjODM3Y2QxMzMxODM2NjI0.jpg" />
					</a>
					<div class="details">
						<h4>iPad 2 with blue Smart Cover  <small>Apple Store</small></h4>
						<p>
							Killer App: GTA 3
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.parfumerie.nl/zoek-op-merk/armani/code-homme/giorgio-armani-code-homme-75-gr-deodorant-stick">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_MDA5NGJlNDBhMTI0NDBmMDczODUxMzI4NTYxODM3.jpg" />
					</a>
					<div class="details">
						<h4>Armani Code Deodorant Stick <small>Amazon</small></h4>
						<p>
							Smells like awesome.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://kitchendinner.com/Electronics/brother-dcp7040-multi-function-lase.htm">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_MWIzMzBlOGEzNDZkOTNiNTkzMTkxMzIxODYzOTQ2.jpg" />
					</a>
					<div class="details">
						<h4>Rugged Hard Drive 500GB <small>Amazon</small></h4>
						<p>
							Firewire 800 is killer
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.ozonesocks.com/emoticon.html">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_Y2M4MDRkOGNkOTRkYWZmMTFlN2UxMzMxNzk1NzU5.jpg" />
					</a>
					<div class="details">
						<h4>Ozone Emoticon Socks <small>Karma</small></h4>
						<p>
							
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.nicetoys.com/mouserugsmatrix.html">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NDRkYWIxMGViMzljY2UyMmFjMTExMzI4NTYxNTM1.jpg" />
					</a>
					<div class="details">
						<h4>Lextra Freud Mouse Rug <small>Barnes & Noble</small></h4>
						<p>
							Always starts a desk-side conversation!
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.totes.co.uk/details.aspx?PID=35148">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_Mzg0NDE1NzAwMjM3YWE2YzFhOWMxMzI4NTYxMzA1.jpg" />
					</a>
					<div class="details">
						<h4>Isotoner Men's Reversible Knit Scarf <small>Amazon</small></h4>
						<p>
							Birthday gift from Deechop Rao!
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://pulse2.com/category/nintendo-wii/">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NmFiM2JkZmVlMjgwYTRmNTU2MWExMzMyMzg4Mjkw.jpg" />
					</a>
					<div class="details">
						<h4>Nintendo Wii <small>Target</small></h4>
						<p>
							Wii Sports Resort archery. Enough said.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://www.youbeli.com/apple-magic-mouse-p-6698.html">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_ZTBmYjM2MWM4YjAzYjUyZmU0MTgxMzIxNzYyNTUz.jpg" />
					</a>
					<div class="details">
						<h4>Magic Mouse <small>Apple Store</small></h4>
						<p>
							Glides on my Sigmund Freud carpet mouse mat like butter on my ass. Takes some getting used to, though, if you’re upgrading from a ‘Mighty.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://uncrate.com/stuff/new-balance-991/">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_ZWNlODcyYzQ0ZmRiOThlZTYxZWQxMzI4NDk2NDIz.jpg" />
					</a>
					<div class="details">
						<h4>New Balance 991s <small>Sports Authority</small></h4>
						<p>
							Smells like awesome.
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://paulstamatiou.com/review-nikon-d90-dslr-camera">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NzVmZWIwNmNhMGEzMGMxZjA2N2QxMzI0OTM1MDI5.jpg" />
					</a>
					<div class="details">
						<h4>Nikon D90 <small>TekServe</small></h4>
						<p>
							Always starts a desk-side conversation!
						</p>
					</div>
				</div> <!-- /item -->
				
				<div class="item">
					<a class="photo-box" target="_blank" href="http://citysole.com/blog/2010/06/03/vans-e-street-black-pewter/">
						<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_NmQyMTA0OTViN2M2YzMxYzhkMDQxMzI4NTY4MTEw.jpg" />
					</a>
					<div class="details">
						<h4>Gray Surf Siders <small>Vans</small></h4>
						<p>
							Birthday gift from Deechop Rao!
						</p>
					</div>
				</div> <!-- /item -->

			</div> <!-- /feed -->
			
			<div class="col">
				<!-- Creation tips <br /> -->
			</div>
			
		</div> <!-- /container -->
		
	  <footer style="text-align: center;">
    	<p>
      	© 2012
      </p>
    </footer>
	
	</body>
</html>
