<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>







<!-- Full-width	container -->

<div style="width:100%!important;margin:0;padding:0;text-rendering: optimizelegibility;-webkit-font-smoothing: antialiased;">
	<table cellpadding="0" cellspacing="0" border="0" style="line-height:100%!important;width:100%!important;background:#fff;margin:0;padding:0">
		<tbody>
			<tr>
				<td valign="top" style="border-collapse:collapse;vertical-align:top">
					<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#ffffff">
						<tbody>
							<tr>
								<td height="30" colspan="3" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							<tr>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
								
								<!-- Email body -->
								
								<td width="500" valign="top" style="border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
										
											<!-- Salutation -->
											
											<tr>
												<td valign="top" style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;color:#777; font-size:24px;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
														<b>
															Welcome to Mine, 
															<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#555555">Pierre</font>
														</b>
													</font>
												</td>
											</tr>
											
											<!-- /Salutation -->
											
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
											<tr>
												<td style="border-collapse:collapse;vertical-align:top">
													<table cellpadding="0" cellspacing="0" border="0" width="100%">
														<tbody>
															<tr>
																<td style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:16px;line-height:24px;color:#777;border-collapse:collapse;vertical-align:top">
																	<table cellpadding="0" cellspacing="0" border="0" width="100%">
																		<tbody>
																			<tr>
																				
																				<!-- Message text -->
																				
																				<td align="top" style="border-collapse:collapse;vertical-align:top">
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						We're happy you've signed up!<br />
																						<a href="/" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Share your first purchase</font></a> with friends.
																					</font>
																				</td>
																				
																				<!-- /Message text -->
																				
																			</tr>
																			<tr>
																				<td colspan="3" style="line-height:2;border-collapse:collapse;vertical-align:top">
																					<br>
																					
																					<!-- Action button -->
																					
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						<font color="#589111">
																							<a href="/" style="color:#fff;text-decoration:none;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-weight:bold;padding:8px 12px;width:84px;text-align:center;
																								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
																							  background-color: #6f6f6f;
																							  background-image: -moz-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -ms-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8a8a), to(#535353));
																							  background-image: -webkit-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -o-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: linear-gradient(top, #8a8a8a, #535353);
																							  background-repeat: repeat-x;
																							  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#535353', GradientType=0);
																							  border-color: #626262 #656565 #484848;
																							  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
																							  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);" 
																							target="_blank">
																								Share a purchase
																							</a>
																						</font>
																					</font>
																					
																					<!-- /Action button -->
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								
								<!-- /Email body -->
								
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- Footer -->
							
							<tr style="background-color:#F2F0ED;background:#F2F0ED;">
								<td width="30" style="background-color:#F2F0ED;background:#F2F0ED;border-collapse:collapse;vertical-align:top">
								</td>
								<td style="padding:15px 0 15px 0;border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
											<tr>
												
												<!-- Logo -->
												
												<td width="40" height="40" valign="top" style="border-collapse:collapse;vertical-align:top">
													<a href="http://getmine.com/" target="_blank" style="text-decoration:none;">
														<div alt="Mine" title="Mine" width="40" height="40" style="height: 40px; width: 40px; line-height: 40px; text-align: center; color: #fff; background: #555; background-color: #555; outline:none;text-decoration:none;border:none;display:block">
															<img src="/images/mine-40-555.gif" />
														</div>
													</a>
												</td>
												
												<!-- /Logo -->
												
												<td width="30" style="border-collapse:collapse;vertical-align:top">
												</td>
												
												<!-- Boilerplate text -->
												
												<td height="30" width="470" style="text-align:left;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:9px;color:#bbbbbb;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="1" color="#999999">This message was sent to 
													
														<!-- Recipient's address -->
														
														<a href="mailto:plegrain@alumni.stanford.edu" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999999">plegrain@alumni.stanford.edu.
															</font>
														</a>
														
														<!-- /Recipient's address -->
														
														If you don't want to receive these emails from Mine in the future you can 
														
														<!-- Unsubscribe link -->
														
														<a href="http://getmine.com/settings" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999">change your notification settings here. 
															</font>
														</a>
														
														<!-- /Unsubscribe link -->
														
														<br>Mine - 855 El Camino Real, Bdg 5 #309, Palo Alto CA 94301 USA
													</font>
												</td>
												
												<!-- /Boilerplate text -->
												
											</tr>
										</tbody>
									</table>
								</td>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- /Footer -->
							
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
</div> <!-- /Full-width	container -->	



	
	
	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
<!-- Full-width	container -->

<div style="width:100%!important;margin:0;padding:0;text-rendering: optimizelegibility;-webkit-font-smoothing: antialiased;">
	<table cellpadding="0" cellspacing="0" border="0" style="line-height:100%!important;width:100%!important;background:#fff;margin:0;padding:0">
		<tbody>
			<tr>
				<td valign="top" style="border-collapse:collapse;vertical-align:top">
					<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#ffffff">
						<tbody>
							<tr>
								<td height="30" colspan="3" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							<tr>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
								
								<!-- Email body -->
								
								<td width="500" valign="top" style="border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
										
											<!-- Salutation -->
											
											<tr>
												<td valign="top" style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;color:#777; font-size:24px;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
														<b>
															Hey 
															<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#555555">Pierre</font>,
														</b>
													</font>
												</td>
											</tr>
											
											<!-- /Salutation -->
											
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
											<tr>
												<td style="border-collapse:collapse;vertical-align:top">
													<table cellpadding="0" cellspacing="0" border="0" width="100%">
														<tbody>
															<tr>
																<td style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:16px;line-height:24px;color:#777;border-collapse:collapse;vertical-align:top">
																	<table cellpadding="0" cellspacing="0" border="0" width="100%">
																		<tbody>
																			<tr>
																			
																				<!-- User image -->
																				
																				<td valign="top" style="border-collapse:collapse;vertical-align:top">
																					<a href="/" target="_blank">
																						<img src="http://graph.facebook.com/712995187/picture">
																					</a>
																				</td>
																				
																				<td width="15" style="border-collapse:collapse;vertical-align:top">
																				</td>
																				
																				<!-- /User image -->
																				
																				<!-- Message text -->
																				
																				<td align="top" style="border-collapse:collapse;vertical-align:top">
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						Just a quick note to say<br />
																						<a href="/" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Ray Bradford</font></a> 
																							is now sharing purchases with you.
																					</font>
																				</td>
																				
																				<!-- /Message text -->
																				
																			</tr>
																			<tr>
																				<td colspan="3" style="line-height:2;border-collapse:collapse;vertical-align:top">
																					<br>
																					
																					<!-- Action button -->
																					
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						<font color="#589111">
																							<a href="/" style="color:#fff;text-decoration:none;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-weight:bold;padding:8px 12px;width:84px;text-align:center;
																								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
																							  background-color: #6f6f6f;
																							  background-image: -moz-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -ms-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8a8a), to(#535353));
																							  background-image: -webkit-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -o-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: linear-gradient(top, #8a8a8a, #535353);
																							  background-repeat: repeat-x;
																							  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#535353', GradientType=0);
																							  border-color: #626262 #656565 #484848;
																							  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
																							  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);" 
																							target="_blank">
																								View Ray's Mine
																							</a>
																						</font>
																					</font>
																					
																					<!-- /Action button -->
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								
								<!-- /Email body -->
								
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- Footer -->
							
							<tr style="background-color:#F2F0ED;background:#F2F0ED;">
								<td width="30" style="background-color:#F2F0ED;background:#F2F0ED;border-collapse:collapse;vertical-align:top">
								</td>
								<td style="padding:15px 0 15px 0;border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
											<tr>
												
												<!-- Logo -->
												
												<td width="40" height="40" valign="top" style="border-collapse:collapse;vertical-align:top">
													<a href="http://getmine.com/" target="_blank" style="text-decoration:none;">
														<div alt="Mine" title="Mine" width="40" height="40" style="height: 40px; width: 40px; line-height: 40px; text-align: center; color: #fff; background: #555; background-color: #555; outline:none;text-decoration:none;border:none;display:block">
															<img src="/images/mine-40-555.gif" />
														</div>
													</a>
												</td>
												
												<!-- /Logo -->
												
												<td width="30" style="border-collapse:collapse;vertical-align:top">
												</td>
												
												<!-- Boilerplate text -->
												
												<td height="30" width="470" style="text-align:left;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:9px;color:#bbbbbb;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="1" color="#999999">This message was sent to 
													
														<!-- Recipient's address -->
														
														<a href="mailto:plegrain@alumni.stanford.edu" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999999">plegrain@alumni.stanford.edu.
															</font>
														</a>
														
														<!-- /Recipient's address -->
														
														If you don't want to receive these emails from Mine in the future you can 
														
														<!-- Unsubscribe link -->
														
														<a href="http://getmine.com/settings" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999">change your notification settings here. 
															</font>
														</a>
														
														<!-- /Unsubscribe link -->
														
														<br>Mine - 855 El Camino Real, Bdg 5 #309, Palo Alto CA 94301 USA
													</font>
												</td>
												
												<!-- /Boilerplate text -->
												
											</tr>
										</tbody>
									</table>
								</td>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- /Footer -->
							
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
</div> <!-- /Full-width	container -->	







<!-- Full-width	container -->

<div style="width:100%!important;margin:0;padding:0;text-rendering: optimizelegibility;-webkit-font-smoothing: antialiased;">
	<table cellpadding="0" cellspacing="0" border="0" style="line-height:100%!important;width:100%!important;background:#fff;margin:0;padding:0">
		<tbody>
			<tr>
				<td valign="top" style="border-collapse:collapse;vertical-align:top">
					<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#ffffff">
						<tbody>
							<tr>
								<td height="30" colspan="3" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							<tr>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
								
								<!-- Email body -->
								
								<td width="500" valign="top" style="border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
										
											<!-- Salutation -->
											
											<tr>
												<td valign="top" style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;color:#777; font-size:24px;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
														<b>
															Hey 
															<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#555555">Pierre</font>,
														</b>
													</font>
												</td>
											</tr>
											
											<!-- /Salutation -->
											
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
											<tr>
												<td style="border-collapse:collapse;vertical-align:top">
													<table cellpadding="0" cellspacing="0" border="0" width="100%">
														<tbody>
															<tr>
																<td style="font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:16px;line-height:24px;color:#777;border-collapse:collapse;vertical-align:top">
																	<table cellpadding="0" cellspacing="0" border="0" width="100%">
																		<tbody>
																			<tr>
																			
																				<!-- User images -->
																				
																				<td valign="top" style="border-collapse:collapse;vertical-align:top;">
																					<a href="/" target="_blank" style="padding-right: 10px; text-decoration: none;">
																						<img src="http://graph.facebook.com/712995187/picture">
																					</a>
																					
																					<a href="/" target="_blank" style="padding-right: 10px; text-decoration: none;">
																						<img src="http://graph.facebook.com/15402933/picture">
																					</a>
																					
																					<a href="/" target="_blank" style="padding-right: 10px; text-decoration: none;">
																						<img src="http://graph.facebook.com/15400974/picture">
																					</a>
																					
																				</td>
																				
																				<!-- /User images -->
																																			
																			</tr>
																			<tr>
																				
																				<!-- Message text -->
																				
																				<td align="top" style="border-collapse:collapse;vertical-align:top">
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																					
																						<a href="/" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Ray</font></a>, 
																							
																						<a href="/" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Dan</font></a> and 
																							
																						<a href="/" style="color:#197DCA;font-weight:bold" target="_blank">
																							<font color="#197DCA">Gabe</font></a> 
																							
																							shared a few things they bought this week.
																					</font>
																				</td>
																				
																				<!-- /Message text -->
																				
																			</tr>	
																			
																			<tr>
																				<td colspan="3" style="line-height:2;border-collapse:collapse;vertical-align:top">
																					<br>
																					
																					<!-- Action button -->
																					
																					<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="4" color="#777777">
																						<font color="#589111">
																							<a href="/" style="color:#fff;text-decoration:none;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-weight:bold;padding:8px 12px;width:84px;text-align:center;
																								text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
																							  background-color: #6f6f6f;
																							  background-image: -moz-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -ms-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8a8a), to(#535353));
																							  background-image: -webkit-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: -o-linear-gradient(top, #8a8a8a, #535353);
																							  background-image: linear-gradient(top, #8a8a8a, #535353);
																							  background-repeat: repeat-x;
																							  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#535353', GradientType=0);
																							  border-color: #626262 #656565 #484848;
																							  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
																							  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);" 
																							target="_blank">
																								View their purchases
																							</a>
																						</font>
																					</font>
																					
																					<!-- /Action button -->
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" style="border-collapse:collapse;vertical-align:top">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								
								<!-- /Email body -->
								
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- Footer -->
							
							<tr style="background-color:#F2F0ED;background:#F2F0ED;">
								<td width="30" style="background-color:#F2F0ED;background:#F2F0ED;border-collapse:collapse;vertical-align:top">
								</td>
								<td style="padding:15px 0 15px 0;border-collapse:collapse;vertical-align:top">
									<table cellpadding="0" cellspacing="0" border="0" align="left">
										<tbody>
											<tr>
												
												<!-- Logo -->
												
												<td width="40" height="40" valign="top" style="border-collapse:collapse;vertical-align:top">
													<a href="http://getmine.com/" target="_blank" style="text-decoration:none;">
														<div alt="Mine" title="Mine" width="40" height="40" style="height: 40px; width: 40px; line-height: 40px; text-align: center; color: #fff; background: #555; background-color: #555; outline:none;text-decoration:none;border:none;display:block">
															<img src="/images/mine-40-555.gif" />
														</div>
													</a>
												</td>
												
												<!-- /Logo -->
												
												<td width="30" style="border-collapse:collapse;vertical-align:top">
												</td>
												
												<!-- Boilerplate text -->
												
												<td height="30" width="470" style="text-align:left;font-family:Helvetica Neue, Helvetica, Arial,sans-serif;font-size:9px;color:#bbbbbb;border-collapse:collapse;vertical-align:top">
													<font face="Helvetica Neue, Helvetica, Arial,sans-serif" size="1" color="#999999">This message was sent to 
													
														<!-- Recipient's address -->
														
														<a href="mailto:plegrain@alumni.stanford.edu" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999999">plegrain@alumni.stanford.edu.
															</font>
														</a>
														
														<!-- /Recipient's address -->
														
														If you don't want to receive these emails from Mine in the future you can 
														
														<!-- Unsubscribe link -->
														
														<a href="http://getmine.com/settings" style="font-weight:bold;text-decoration:none;color:#999999" target="_blank">
															<font color="#999">change your notification settings here. 
															</font>
														</a>
														
														<!-- /Unsubscribe link -->
														
														<br>Mine - 855 El Camino Real, Bdg 5 #309, Palo Alto CA 94301 USA
													</font>
												</td>
												
												<!-- /Boilerplate text -->
												
											</tr>
										</tbody>
									</table>
								</td>
								<td width="30" style="border-collapse:collapse;vertical-align:top">
								</td>
							</tr>
							
							<!-- /Footer -->
							
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
</div> <!-- /Full-width	container -->	

	
	
	


</body>
</html>
