<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Item</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
	  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	  <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	  
	  <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
	  <link href="stylesheets/feed.css" media="screen" rel="stylesheet" type="text/css" />
	  <script src="javascripts/libs/jquery-1.7.1.js" type="text/javascript"></script>
	  <script src="javascripts/libs/bootstrap.js" type="text/javascript"></script>
	   
  </head>
	<body>
	
		<!-- header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        
          <a href="/feed.html.erb" class="brand">MINE</a>
                    
          <div class="nav-collapse">
            <ul class="nav pull-right">
                         
              <li>
                <a href="#"> Invite friends</a>
              </li>
              <li class="user-cell">
                <a style="white-space: nowrap; display: block; padding-right: 10px;" href="/grid.html.erb">
                   <img class="avatar" src="http://graph.facebook.com/517379696/picture?type=square" />
                  Pierre Legrain
                </a>
              </li>
              <li class="dropdown">
                <!-- replacing link to "<#=new_product_path(:src => 'bar')%>" with "#" -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                	<li>
                  	<a href="/settings.html.erb">Settings</a>
                  </li>
                  <li>
                    <a href="/feed.html.erb">Log Out</a>
                  </li>
                </ul>
              </li>
              
            </ul> <!-- /nav -->
          </div> <!-- /nav-collapse -->
        </div> <!-- /container -->
      </div> <!-- /navbar-inner -->
    </div> <!-- /navbar navbar-fixed-top -->
	
		<div class="container">
		
			<div class="col-triple" style="margin-left: 189px;">
				<div class="feed">
				
					<div class="item">
					
						<div class="actions" id="feedback" style="position: absolute; top: 20px; right: 20px;">
							<a style="float: right" href="/" class="btn"><i class="icon-pencil"></i></a>
							<a style="float: right; margin-right: -1px;" href="/" class="btn"><i class="icon-like"></i></a>
						</div>
						
						<div class="user-box">
							<img class="user-photo" src="http://graph.facebook.com/517379696/picture?type=square" />
							<img class="store-icon" src="http://d1nmlfaeq5l5rw.cloudfront.net/t_Zjk0YWUwZGI0NjExYzcwMDRjMTcxMzI4NDkxMTI4.png" />
							<div style="float: left; margin-left: 8px;">
								<h5>Pierre Legrain</h5>
								Macy's 3 hours ago
							</div>
						</div>
						
						<a class="photo-box" target="_blank" href="http://www.jcrew.com/mens_special_sizes/extrasmall/sweaters/PRDOVR~17181/17181.jsp">
							<img src="http://d1nmlfaeq5l5rw.cloudfront.net/g_YmY1NGYzNmExMmY1NzRlZDIwNTcxMzIxODQzMjc1.jpg" />
						</a>
						
						<div class="details-box">
							<h5>Cotton-cashmere Half-zip Sweater in caspian blue</h5>
							These have all the weight and shape of my way more expensive Lucky Jeans; love them. I think they were roughly $45. Dry clean only, though.
						</div>
						
						<div class="likes-box">
							<div style="width: 100%; height: 28px; clear: both; margin-bottom: 5px;">
								<img class="user-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/27480_503144823_9439_q.jpg" />
								<img class="user-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/276360_536355480_2743763_q.jpg" />
								<img class="user-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161709_514565204_1326382032_q.jpg" />
							</div>
							You, Josh Cincinnati, Deepak Rao and 15 others like this.
						</div>
						
						<div class="comments-box">
						
							<div class="comment-box">
								<img class="user-photo" src="http://graph.facebook.com/21072/picture?type=square" />
								<h6>Shayne Fitz-Coy</h6>
								Wow Pierre, this really sucks big cock. MPAA Chief Suggests Backroom Negotiations On New SOPA Are Well Underway 
							</div>
							
							<div class="comment-box">
								<img class="user-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275320_502835064_375000716_q.jpg" />
								<h6>Siddharth Batra</h6>
								I think they were roughly $45. Dry clean only, though. 
							</div>
							
							<div class="comment-box">
								<img class="user-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/173802_15400974_419859317_q.jpg" />
								<h6>Gabe Adams</h6>
								Picking up coconut voilas for the team — at Bytes Café. 
							</div>
							
							<div class="comment-box new" style="margin-top: 15px;">
								<img class="user-photo" src="http://graph.facebook.com/517379696/picture?type=square" />
								<input type="text" style="width: 475px;" placeholder="Add a comment">
							</div>
							
						</div> <!-- /comments -->
						
					</div> <!-- /item -->	
					
				</div> <!-- /feed -->
				
			</div> <!-- /col-triple -->
			
			<div class="col">
				<!-- Creation tips <br /> -->
			</div>
			
		</div> <!-- /container -->
		
	  <footer style="text-align: center;">
    	<p>
      	© 2012
      </p>
    </footer>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    	  $('#button-fb-photo').tooltip();
    	  $('#button-mine').tooltip();
			});
    </script>
	
	</body>
</html>
