<div class="feed_item">

  <a href="<%=action.get('user').path('action_photo')%>">
    <img src="<%=action.get('user').get('photo_url')%>" 
          class='comment_photo_self slim_shadow_dark' alt=''/>
  </a>

  <a href="<%=action.get('user').path('action_name')%>">
    <%=action.get('user').get('first_name') + ' ' + action.get('user').get('last_name')%>
  </a>

  <%=action.get('name') == 'own' ? ' also ' : ''%>
  <%=action.get('name') + 's this.'%>
</div>

