<%cache ["v4",user,"ifollowers"] do%>
<div class="list-box">
  <h4 style="margin-bottom: 12px;">Sharing with</h4>
  <ul class="object-list" style="margin: 0;">
    <%=render :partial => "users/member", 
        :locals => {:src => src},
        :collection => user.ifollowers,
        :as => :user%>
  </ul>
</div> 
<%end%>

