
<%=link_to image_tag('f_friends.png',:class => 'f_friends') + 
              'Invite your friends',
            'javascript:void(0);',
            :class  => 'large blue awesome invite_friends',
            :id     => 'action_link'%>

<div class='invite_note'>
  Comparing closets is a <em><u>lot</u></em> of fun!
</div>
