<%if is_current_user(user)%>
  <div class="nav-box">
    <%=link_to "<i class='icon-plus'></i> Invite friends",
        new_invite_path(:src => src),
              :class => "btn btn-small"%>
  </div>
<%end%>

