<div class="nav-box">
  <%=link_to "<i class='icon-user'></i> Invite friends",
      new_invite_path(:src => src)%>
  <%=link_to "<i class='icon-cog'></i> Settings",
      settings_path(:src => src)%>
</div>

