<div id="profile_header">
	<div id="profile_details">
		<%=image_tag @user.photo_url, :class => "profile_user_photo"%>
			<p class="profile_username"><%=@user.first_name + " " + @user.last_name%></p>
			<p class="profile_bio">Mormon chic, if you know what I mean ;-)</p>
	</div>
</div>

<div id="container">
	<%=render @products.first%>
	
	<div id="products">
		<ul>
		<%=render :partial    => "products/preview", 
		          :collection => @products[1..-1], 
		          :as         => :product%>
		</ul>
	</div>
</div>