<!-- Generate presenters to render this page -->
<%@user_presenter = presenter_for(@user)%>

<%content_for :head do%>
  <%=render :partial  => "facebook/og",
            :locals   => {
              :title        => @user_presenter.closet_name,
              :type         => "link",
              :description  => @user_presenter.usage_description,
              :url          => @user_presenter.closet_url("fb"),
              :image        => ""}%>
<%end%>


<div class="container">

  <div class="col">

    <div class="user-box">
      <div class="photo-box">
        <div class="border">
        </div>
        <%=image_tag @user.large_image_url,
            :class => "user-photo"%>
      </div>
      <p class="user-name"><%=@user.full_name%></p>
    </div>
    
    <%=render :partial => "users/ifollowers",
        :locals => {:user => @user}%>
      
    <div class="nav-box">
      <a href="/invite.html.erb"><i class="icon-user"></i> Invite friends</a>
      <a href="/settings.html.erb"><i class="icon-cog"></i> Settings</a>
    </div>

  </div> <!-- /col -->

      <%#render :partial => "users/products",
          :locals => {:user => @user}%>
  </div> <!-- /row -->
  
</div> <!-- /container -->


<%content_for :javascript do%>

  <script type="text/javascript">

    //new Denwen.Views.Users.Show({
    //      userJSON        : <%#@user.to_json(
    //                            :only => [:id,:first_name,:last_name,
    //                                      :handle,:byline,:followings_count,
    //                                      :products_count,
    //                                      :inverse_followings_count])%>,
    //      currentUserJSON : <%#self.current_user.to_json(
    //                            :only    => [:id,:first_name,:last_name,
    //                                          :gender,:handle,:email],
    //                            :methods => [:age])%>,
    //      source          : "<%#@source%>"});

  </script>
<%end%>

