<div class='tab large_top_margin'>
  Top Closets
  <!--<span class="detail">
  	<span class="tooltip_down_right_333333">
    	Most active right now
  	</span>
  	?
  </span>-->
</div>
   
<div id='star_users'>
  <%users.each(function(user){%>
    <%=Denwen.JST['users/user']({user:user, src:'star'})%>
  <%});%>
  <%=helpers.blocker()%>
</div>
