<div class='title'>
  Top Closets
  <span class="detail">
  	<span class="tooltip_down_333333">
    	Caitlin Hogan
  	</span>
  	?
  </span>
</div>
   
<div id='star_users'>
  <%users.each(function(user){%>
    <%=Denwen.JST['users/user']({user:user})%>
  <%});%>
  <%=helpers.blocker()%>
</div>
