<div class='tab'>
  <%if(helpers.isCurrentUser(user.get('id'))){%> 
    Your Stores
  <%} else {%>
    <%=user.get('first_name')%>'s Stores
  <%}%>
</div>
   
<div>
  <%stores.each(function(store){%>
    <%=Denwen.JST['stores/tiled_list']({store:store, src:'user'})%>
  <%});%>
  <%=helpers.blocker()%>
</div>
