<div id="user_suggestions_box">
	<div class="box-title" style="margin-top: -6px;">
		<a class="dark" style="" href="/">Home </a>
		<span style="padding: 0 4px;">
			&bull;
		</span> 
		People to follow
	 </div>
	 
	<div class="well-box border-box rounded-8" style="margin: 2px 0 12px;">
		<ul id="user_suggestions">
		</ul>
	</div>
</div>

<div class="box-footnote txt s">
	Missing someone? <%=link_to "Invite them.",new_invite_path(:src => "bar"),
				:class => "dark"%>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">  
    new Denwen.Views.Users.Suggestions({
          source : "<%=h @source%>"});
  </script>
<%end%>
