<a href="<%=user.path(src)%>" style="position: relative;"> 
	<div class="overflow-fade" style="width: 28px;"></div>
	<img class="icon-img" src="<%=user.get('photo_url')%>" />
	<%=helpers.truncate(user.get('first_name') + ' ' + user.get('last_name'), 20, '…')%>
</a>

