<a href="<%=user.path(src)%>" class="tab image small_top_margin"> 
	<img src="<%=user.get('photo_url')%>" />
	<span class="trans"><%=helpers.truncate(user.get('first_name') + ' ' + user.get('last_name'), 20, '…')%></span>
</a>
