<div class="actions-header">
 They shop here… a lot
</div>

<ul class="thumbnails">
  <%users.each(function(user){%>
  	<li>
   		<%=Denwen.JST['users/user']({user:user, src:'top_shopper'})%>
   	</li>
  <%});%>
</ul> <!-- /thumbnails -->

