<div class="actions-header">
 They shop here… a lot
</div>

<div>
  <%users.each(function(user){%>
    <%=Denwen.JST['users/user']({user:user, src:'top_shopper'})%>
  <%});%>
  <%=helpers.blocker()%>
</div>

