<div class="tile_frame">
  <span class="tooltip_up_000000_80">
    <%=user.get('first_name') + ' ' + user.get('last_name')%>
  </span>

  <a href="<%=user.path(src)%>">
    <img src="<%=user.get('photo_url')%>"
         class='tile' />
  </a>
</div>
