<%if(src != 'invite') {%>
  <div class="tile_frame">
    <span class="tooltip_down_333333">
      <%=user.get('first_name') + ' ' + user.get('last_name')%>
    </span>

    <a href="<%=user.path(src)%>">
      <img src="<%=user.get('photo_url')%>"
            class = 'tile slim_shadow_dark'/>
    </a>
  </div>
<%} else {%>
  <div class="tile_frame invite_<%=index%>"> 
    <span class="tooltip_down_333333">
      Invite a <%=helpers.ordinal(index)%> friend
    </span>
  </div>
<%}%>
