<div class="tile_frame invite_1"> <!-- change _1 to _2,3,4,5 etc -->

	<span class="tooltip_down_333333">
    <%=user.get('first_name') + ' ' + user.get('last_name')%>
  </span>

  <a href="<%=user.path('follow')%>">
    <img src="<%=user.get('photo_url')%>"
          class = 'tile slim_shadow_dark'/>
  </a>
</div>
