<div class="well friends" id="friends_container" style="display:none">
	<fieldset>	
		<legend>
			
			<%=link_to "Preview Invite <i class='icon-chevron-right'></i>",
				  'javascript:void(0)',
	    		:class 		=> 'btn btn-large disabled',
	    		:style    => 'float: right;',
	    		:id    		=> 'friend_picked_button'%>
			
			Pick your friend:
		</legend>
		
		<div class="control-group">
		  
	  	<div style="position: relative; width: 420px;">
	
	      <%=text_field_tag 'search_box', 
	          nil, 
	          :placeholder => '', 
	          :style => 'width: 410px;'%>
	
	      <%=link_to  '&times;',
	          'javascript:void(0)',
	          :id    => 'x_button',
	          :class => 'close',
	          :style => "position: absolute; top: 5px; right: 8px; "\
                      "display: none;"%>
	   
	   	</div>
	   	
	   	</div> <!-- /control-group -->
		
		  <div id="contacts" style="position: relative;">
		    <div class="loading large">
		    </div>
		  </div> <!-- /contacts -->
	  
	</fieldset>		
</div> <!-- /friends_container.well -->


    
