<div id="friends_container" class="picker" style="display:none">
	<div class="hider unselectable" style="width: 460px; height: 80px; margin: 0;">
		<div class="well" style="height: 80px;">
			<fieldset>
			
				<legend>
						<%=link_to "Preview Invite <i class='icon-chevron-right'></i>",
							  'javascript:void(0)',
				    		:class 		=> 'btn btn-large disabled',
				    		:style    => 'float: right;',
				    		:id    		=> 'friend_picked_button'%>
						
						Pick your friend:
				</legend>
				
				<div class="control-group" style="margin-bottom: 0;">
			  	<div style="position: relative; width: 420px;">
			
			      <%=text_field_tag 'search_box', 
			          nil, 
			          :placeholder => '', 
			          :style => 'width: 410px;'%>
			
			      <%=link_to  '&times;',
			          'javascript:void(0)',
			          :id    => 'x_button',
			          :class => 'close',
			          :style => "position: absolute; top: 5px; right: 8px; "\
		                      "display: none;"%>
		   
			   	</div>
			  </div> <!-- /control-group -->
				
			</fieldset>
		</div> <!-- /well -->
	</div> <!-- hider -->
	
	<div class="well friends" style="margin-top: 100px;">
	  <div id="contacts" style="position: relative;">
	    <div class="loading large">
	    </div>
	  </div> <!-- /contacts -->
	</div>
	
</div> <!-- /friends_container --> 


    
