<div class="well friends" id="friends_container" style="display: block">
	
	<legend>…and their name is…</legend>
	
	<div class="control-group">
	  
  	<div id="invite_search_container">

      <%=text_field_tag 'search_box', 
          nil, 
          :placeholder => '', 
          :class => 'input-xlarge'%>

      <%=link_to  '',
          'javascript:void(0)',
          :id    => 'x_button',
          :class => 'x-text',
          :style => 'display:none'%>
   
   	</div>
   	
   	</div> <!-- /control-group -->
	
	  <div id="contacts" class="list">
	    <div class="loading">
	      <%=image_tag 'spinner_dark_bg.gif'%>
	    </div>
	  </div> <!-- /contacts -->
  

	
</div> <!-- /friends_container.well -->


    