<div class="well styles" id="styles_container" style="display:none">
  
	<legend>I'm thinking of inviting a…</legend>
	
	<div class="control-group">
	
		<ul class="thumbnails">

      <%@styles.each do |style|%>
        <li class="span2">
          <a href="#styles-<%=style.id%>/friends" class="thumbnail">
            <%=image_tag style.image_url%>
            <div class="caption">
                <h5><%=style.title%></h5>
            </div>
          </a>
        </li>
      <%end%>

	  </ul>
  
  </div> <!-- /control-group -->
  
</div> <!-- /styles_container.well -->

