<div class="well styles" id="styles_container" style="display: block;">

	<legend>The friend I'm thinking of is…</legend>
	
	<div class="control-group">
	
		<ul class="thumbnails">
			<li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
		      <div class="caption">
              <h5>Boho</h5>
          </div>
		    </a>
		  </li>
		  
		  <li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
		      <div class="caption">
          	<h5>Boho</h5>
        	</div>
		    </a>
		  </li>
		  
		 	<li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
			    <div class="caption">
	          <h5>Boho</h5>
	        </div>
        </a>
		  </li>
		  
		 	<li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
			    <div class="caption">
	          <h5>Boho</h5>
	        </div>
	      </a>
		  </li>
		  
		  <li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
			    <div class="caption">
	          <h5>Boho</h5>
	        </div>
		    </a>
		  </li>
		  
		 	<li class="span2">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/160x120" alt="">
		      <div class="caption">
          	<h5>Boho</h5>
        	</div>
		    </a>
		  </li>
	  </ul>
  
  </div> <!-- /control-group -->
  
</div> <!-- /styles_container.well -->

