<div class="container" style="width:900px" id="container">
  <b>
    Recent purchase search history
  </b> 
  <br/><br/>

  <table border="1">
    <tr>
      <td width="200">
        <b>User</b>
      </td>
      <td width="200">
        <b>Created</b>
      </td>
      <td width="250">
        <b>Query</b>
      </td>
    </tr>
    <tr>
    </tr>
    <%@searches.reverse.each do |search|%>
      <tr>
        <td>
          <%=link_to user_full_name(search.user),
              admin_user_path(search.user.handle)%>
        </td>
        <td>
          <%=search.created_at.strftime("%Y-%m-%d %H:%M")%>
        </td>
        <td style="overflow:hidden;">
          <%=search.query%>
        </td>
      </tr>
    <%end%>
  </table>

  <br/><br/><br/>
</div>


