<%cache ["v7",purchase,purchase.store ? purchase.store : "","card"] do %>

<div class="item">

	<%=image_tag(purchase.store.favicon_url, 
			:class => "store-icon") if purchase.store && 
                                  purchase.store.favicon_url.present?%>

  <%=link_to image_tag(purchase.giant_url),
      purchase_path(purchase.user.handle,purchase.handle,:src => "profile"),
      :class => "photo-box"%>

  <div class="details">
    <h5>
      <%=h truncate(purchase.title,:length => 40)%>
    </h5>
    
    <span class="store"><%=h purchase.store ? purchase.store.name : ""%></span>
  
  </div>
</div> 

<%end%>
