	<div id="chooser" class="chooser border-box" style="display:none;">
				
		<form class="search-bar border-box gradient v-555-444">
		
			<a id="cancel_logo_button" href="javascript:void(0)">
        <%=image_tag("logos/mine-h-white-40-2x.png", 
            :class => "logo absolute")%>
      </a>
	        
	    <a id="cancel_button" 
        class="close opacity-60-80 alias-smooth transition-opacity" 
        href="javascript:void(0)">
				&times;
			</a>

		
			<div class="search-container relative">
		
<!--
				<div class="box-title" id="purchase_image_broken_msg">
					<span class="default">
						Select your
					</span>
					<span class="error">
						Image unavailable.
					</span>
				</div>
-->
		
				<div id="spinner_box">
					
					<input  id="purchase_repeat_query" 
		              class="enter txt l rounded-3 border-box shaded" 
		              name="products[query]" 
		              type="text" 
		              value="">
					<a id="purchase_repeat_search" 
		              class="btn btn-large border-box rounded-3 go shaded" 
		              title="Search"
		              alt="Search">
		      	<span class='hide-when-loading'>
			      	<%=image_tag "icons/PNG-Icons/32px-white/Edition-25-white.png", 
	                :style => "height: 14px; margin-top: 13px; vertical-align: top;"%>
		      	</span>
		      	<i class='icon-loading icon-white'></i>
		      </a>
	    
	      </div> <!-- spinner-box -->  
      
      </div> <!-- search-container -->   
      
		</form> <!-- /search-bar -->


		<div class="results border-box" id="results">
    </div>

	
		<div class="scroll-instructions txt s gradient v-FFF-DDD" 
      id="scroll_for_more_results">
	      <span class="hide-when-loading">
	      	Scroll down for more 
          <b class="caret opaque"></b>
	      </span>
	      <div class="loading">
        </div>
	  </div>
	  
	</div> <!-- chooser -->
	
	<div class="shadow" id="shadow">
  </div>
