	<div id="chooser" class="chooser" style="display:none;">
				
		<!--
		<div class="loader">
			<#=image_tag "loading_tags_32_bw.gif",
   			:style => ""%>
   			Did you add a color and a brand?
 		</div>
		-->
	
		<form class="form-horizontal search-bar">
			
			<a id="cancel_button" class="close hide-on-mobile" href="javascript:void(0)">
				&times;
			</a>
		
			<div id="spinner_box" class="control-group" style="border: 0;">
			
				<label id="purchase_image_broken_msg" class="control-label hide-on-mobile">
					<span class="default">
						Select your
					</span>
					<span class="error">
						Image unavailable.
					</span>
				</label>
				
				<div class="controls" style="margin-left: 150px;">
				
					<input  id="purchase_repeat_query" 
		              class="search-field border-box highlight-on-focus" 
		              name="products[query]" 
		              type="text" 
		              value="">
					<a id="purchase_repeat_search" 
		              class="btn go" 
		              title="Search" 
		              alt="Search">
		      	<span class='hide-when-loading'>
		      		<span class="hide-on-mobile">
		      			Go
							</span>
							<span class="hide-except-mobile">
		      			<i class="icon-chevron-right icon-white"></i>
		      		</span>
		      	</span>
		      	<i class='icon-loading icon-white'></i>
		      </a>
      
        </div> <!-- controls -->     
      
      </div> <!-- /control-group -->
		</form> <!-- /search-bar -->

		<div class="results border-box" id="results">

    </div>

	
		<div class="scroll-instructions hide-on-mobile" id="scroll_for_more_results">
	      <span class="hide-when-loading">
	      	Scroll down for more 
          <b class="caret" style="vertical-align: middle;"></b>
	      </span>
	      <div class="loading small inline" 
          style="margin-bottom: 4px; vertical-align: middle;"></div>
	  </div>
	  
	</div> <!-- chooser -->
	
	<div class="shadow" id="shadow"></div>
