	<div id="chooser" class="chooser border-box" style="display:none;">
				
		<form class="search-bar border-box gradient v-555-444">
		
			<%unless is_phone_device?%>
				<a id="cancel_logo_button" href="javascript:void(0)">
	        <%=image_tag("logos/mine-h-white-40-brighter-2x.png", 
	            :class => "logo absolute")%>
	      </a>
	        
		    <a id="cancel_button" 
	        class="close opacity-60-80 absolute alias-smooth transition-opacity" 
	        href="javascript:void(0)">
					&times;
				</a>
			
			<%end%>

		
			<div class="search-container relative well-box border-box rounded-8" id="spinner_box" style="padding: 6px; background: #474747;">
				
					<div class="rwd-hide prompt border-box rounded-5-left unselectable">	
						<span class="default">
							Select your
						</span>
						<span class="error">
							Unavailable
						</span>
		      </div>
					
					<input  id="purchase_repeat_query" 
		              class="enter txt l rounded-3 border-box" 
		              name="products[query]" 
		              type="text" 
		              value="">
					<a id="purchase_repeat_search" 
		              class="btn btn-silver btn-large border-box rounded-3 go shaded" 
		              title="Search"
		              alt="Search">
		      	<span class='hide-when-loading'>
			      	<%=image_tag "icons/PNG-Icons/32px/Edition-25-shaded.png", 
	                :style => "height: 14px; margin-top: 13px; vertical-align: top;"%>
		      	</span>
		      	<i class='icon-loading icon-white'></i>
		      </a>

      </div> <!-- search-container -->  
      
      
     	<a href="#help-search" role="button" data-toggle="modal"
	    	class="btn-help dark rounded-4 border-box gradient v-555-444 absolute" 
	    	style="width: 88px; right: 72px; top: 12px;">
	    	Searching<br>
	    	Tips
	    </a>

		</form> <!-- /search-bar -->


		<div class="results border-box" id="results">
    </div>
	
		<div class="scroll-instructions txt s gradient v-FFF-DDD" 
      id="scroll_for_more_results">
	      <span class="hide-when-loading">
	      	Scroll down for more 
          <b class="caret opaque"></b>
	      </span>
	      <div class="loading">
        </div>
	  </div>
	  
	</div> <!-- chooser -->
		
	<div class="shadow" id="shadow">
  </div>
  
  <div class="modal dark help-search hide border-box rounded-5 alias-smooth" id="help-search">
    <button type="button" class="close" data-dismiss="modal">
      &times;
    </button>
	  <h3>
	  	Tip 1: Be specific!
	  </h3>
	  <p>
	  	Try adding your item’s <b>color</b> and <b>brand</b>.<br>
	  	Include the <b>store name</b> if your item is uniquely sold there.
	  </p>
	  <h3>
	  	Tip 2:  Paste in a URL
	  </h3>
	  <p style="margin-bottom: 4px;">
	  	If you’ve found your item elsewhere on the web, 
	  	paste in the page’s address for the perfect photo every time.
	  </p>
	</div> <!-- /modal -->
  

