<div class="container">

  <%=render 'purchases/chooser'%>	

	<div id="creation" class="create-box">
    <%form_for @purchase,:url => "/purchases/#{@purchase.id}",
          :html => {
            :class  => 'form-horizontal',
            :style  => 'margin-bottom: 0;',
            :id     => 'edit_purchase'} do |f|%>
  
      <%=render :partial  => 'input', 
                :locals   => {
                  :f                => f,
                  :suggestion       => @suggestion,
                  :submit_text      => "Save Changes",
                  :submit_class     => "edit",
                  :show_cancel_button => true,
                  :show_delete_button => true,
                  :show_query_box   => false,
                  :show_extra_steps => true,
                  :show_fb_share => false}%>
  
		  <%end%> <!-- form -->
	</div>  <!-- create-box -->

</div> <!-- container -->

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Purchases.Edit({
          el            : $('body'),
          purchaseJSON   : <%=@purchase.to_json(
                              :only     => [:id,:user_id,:endorsement],
                              :methods  => [:giant_url])%>,
          source        : '<%=@source%>'});
  </script>

<%end%>

