<div class="bar top border-box gradient v-555-444" style="text-align: center;">
	
  <%=image_tag("logos/mine-h-white-40-brighter-2x.png", 
      :class => "logo absolute")%>
      
  <span class="rwd-hide" 
    id="progress_message"
    style="font-weight: bold; line-height: 36px; font-size: 24px; color: white; text-shadow: 0 1px 1px rgba(0,0,0,0.4);">
  </span>
      
<!--
  <a id="cancel_button" class="close opacity-60-80 absolute alias-smooth transition-opacity" href="javascript:void(0)">
		×
	</a>
-->

	<a href="javascript:void(0)"
      id="submit_button"
			class="btn btn-red btn-large border-box rounded-3 absolute shaded"
			style="width: 160px; top: 12px; right: 12px;">
		<span class="hide-when-loading">
			<i class="icon-ok icon-white" style="padding-right: 4px;"></i> Add to Mine
		</span>
		<i class="icon-loading icon-white"></i>
	</a>
	
</div>

<div class="feed-grid-container border-box rounded-8-bottom">

	<div id="feed" class="feed grid no-user-photo actions link-disabled rounded-8-bottom">
  </div>

	<div id="feed-spinner" class="feed-loading white">
	</div> 
</div> <!-- feed container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    $('#container').addClass('fullscreen');

    new Denwen.Views.Purchases.Unapproved({
      source  : "<%=h @source%>",
      mode : "<%=h params[:mode]%>"});
  </script>
<%end%>
