<!-- Generate presenters for the view -->
<%@purchase_presenter  = presenter_for(@purchase)%>

<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @purchase_presenter.title, 
              :type         => OGObject::Purchase, 
              :description  => @purchase_presenter.description, 
              :url          => @purchase_presenter.url('fb'),
              :image        => @purchase_presenter.square_url,
              :store        => @purchase.store}%>
<%end%>


<div class="container">
	
	<%if logged_in?%>
    <%=render "purchases/show/logged_in"%>
  <%else%>
    <%=render "purchases/show/logged_out"%>
  <%end%>

</div> <!-- /container -->




<%content_for :javascript do%>
  <script type="text/javascript">

    //new Denwen.Views.Purchases.Show({
    //    purchaseJSON : <%#render :partial => "purchases/display.json.erb",
    //                        :locals => {:object => @purchase}%>,
    //    panel : <%#@panel.to_json%>,
    //    friends : <%#logged_in? ? self.current_user.ifollowers.to_json(
    //                                :only => [:id]) : nil.to_json%>,
    //    source : '<%#@source%>'});

  </script>
<%end%>

