
<div id="container" class="home3">

	<p id="heading" class="home3">
		<span class="intro_home3">Create your own</span><br>Online Closet!
	</p>
	
  <%=link_to 	'', 
  						fb_auth_path(:source => @origin), 
  						:class => 'log_in_with_facebook'%>
  						
				
	<div id="tiny" class="home3">
    We never post to Facebook without asking.
  </div>
  
  <div class='p_home3'>
  	Collect the things you own<br />
  	Compare with friends<br />
		Express your style!<br />
	</div>		
	
	<div id="footer" class="home3">
		<%=CONFIG[:name]%> © 2011 · <%=email_link%>
	</div>
   
</div> <!-- container -->



