<!--
<div id="background">
	<img src="/images/home_batch_3.jpg" class="stretch unselectable" />
</div>
-->

<div id="container" class="home7 unselectable">
	<img src="/images/home_batch_text_short.png" class="unselectable" />

  
     <%=link_to 	'', 
  						fb_auth_path(:source => @origin), 
  						:class => 'login_button',
  						:style => ''%>
  	
  	<div class="login_shadow" class="unselectable">
  		<!--For quick sign up. No posting without asking, ever.-->
  	</div>
  	
  	<img class="unselectable" style="position: relative; top:-45px; z-index: 10000;" src="/images/home_batch_never.png" />
   
</div> <!-- container -->

<div id="footer" class="home7 unselectable">
	<%=CONFIG[:name]%> © 2012 · <%=email_link%>
</div>



