<! -- header -->
<div id="header">
	<div class="navbar wide">
    <div class="logo"></div>
    <ul class="nav">
			<li>
        <%=link_to 'Log In', 
                   fb_auth_path(:source => @origin),
                   :class => 'nav_menu',
                   :id    => 'action_link'%>
			</li>
    </ul> 
  </div> 
</div>


<!-- blackout -->
<div class='black'>
	<div class='overlay'>
		Create a <span class='em'>beautiful</span> online closet
		<br />
		of everything you own.
		
		<div class='cross_browser_shadow'>
	   <%=link_to 	'', 
					fb_auth_path(:source => @origin), 
					:class => 'login_with_facebook',
					:style => ''%>
		</div>
					
		<div class='click_login_orange_arrow'></div>
	</div>
</div>

<!-- iframe -->
<iframe src="<%=user_url('Anna-Simpson',:src => 'iframe')%>" 
        scrolling="no" 
        frameborder="0"></iframe>
