
<div id="container" class="home1">

	<p id="heading" class="home1">
		<span class="intro">Create your own</span><br>Online Closet!
	</p>
	
  <ul>
    <li>Collect the things you own</li>
    <li>Compare with friends</li>
    <li>Express your style!</li>
  </ul>
  
  <%=link_to image_tag(
      "f.png",
      :class => "f",
      :alt   => "") + "Connect with Facebook &rsaquo;",
      fb_auth_path(:source => @origin),
      :class => "large blue awesome button_home1",
      :id    => "action_link"%>
				
	<div id="tiny" class="home1">
    We’ll never post to Facebook without asking.
  </div>		

	<div id="footer" class="home1">
		Felvy © 2011 · <a href="mailto:contact@felvy.com">contact@felvy.com</a>
	</div>
   
</div> <!-- container -->



