<!--
<div id="background">
	<img src="/images/home_gold.jpg" class="stretch" />
</div>
-->

<div id="container" class="home5">

	<div id="box_home5">
		<p id="heading" class="home5">
			<span class="intro">Create your own</span><br>Online Closet!
		</p>
  
     <%=link_to 	'', 
  						fb_auth_path(:source => @origin), 
  						:class => 'log_in_with_facebook_no_shadow',
  						:style => 'position: absolute; left: 114px;'%>
  										
		<div id="tiny" class="home5">
    	We never post to Facebook without asking.
  	</div>
  	
	  <div class='p_home5'>
	  	Add favorite things you own<br />
	  	Compare with friends<br />
			Express your style!<br />
		</div>			
	
	</div>

	<div id="footer" class="home5">
		<%=CONFIG[:name]%> © 2011 · <%=email_link%>
	</div>
   
</div> <!-- container -->



