<div id="container" class="home6">
	<div id="box_home6">
		<p id="heading" class="home6">
			<span class="intro">Create your own</span><br>Online Closet!
		</p>
  
     <%=link_to 	'', 
  						fb_auth_path(:src => @origin), 
  						:class => 'log_in_with_facebook_no_shadow',
  						:style => 'position: absolute; left: 0px'%>
  										
		<div id="tiny" class="home6">
    	We never post to Facebook without asking.
  	</div>	
	
	</div>
   
</div> <!-- container -->

<div id="footer" class="home6">
  <%=CONFIG[:name]%> © 2011 · <%=email_link%>
</div>
