

<div class="background" style="background-image: url('/images/home/girl-orange.jpg')"></div>
<div class="dimmer"></div>


<div class="box">
	<img class="logo" src="/images/home/mine-tall.png" />
	<p>
		<span class="sub">A service for saying</span><br />
		‘Hey, I just bought this.’
	</p>
	<a href="<%=fb_auth_path(:src => @origin)%>" class="btn btn-large btn-facebook">
		<i class="icon-facebook icon-white"></i> Log in with Facebook
	</a>

  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMine%2F428223863873172&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;appId=245230762190915" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>

</div>
