

<div class="background" style="background-image: url('/images/home/girl-orange.jpg')"></div>
<div class="dimmer"></div>


<div class="box">
	<img class="logo" src="/images/home/mine-tall.png" />
	<p>
		<span class="sub">A simple service for saying</span><br />
		‘I just bought this!’
	</p>
	<a class="btn btn-large btn-facebook">
		<i class="icon-facebook icon-white"></i> Log in with Facebook
	</a>

</div>

