<!--[if !IE]>-->
<div class="background" style="background-image: url('/images/home_path/burrow_reverse.jpg')"></div>
<div class="background firefox">
	<img src="/images/home_path/burrow_reverse.jpg" width="100%" height="100%" />
</div>
<!--<![endif]-->

<!--[If IE]>
<div class="background" style="text-align: center;">
	<img src="/images/home_path/burrow_reverse.jpg" width="100%" height="100%" />
</div>
<![endif]-->

<div class="dimmer"></div>
<div class="strip">
	<div class="logo">
		OnCloset
	</div>
	<div class="strapline">
		Create a beautiful online closet
		<br />of everything you own.
	</div>
	<div class="cross_browser_shadow">
		<%=link_to 	'', 
				fb_auth_path(:source => @origin), 
				:class => 'login_with_facebook',
				:style => ''%>
	</div>
	<div class="tiles">
		<div class="slotting" style="background-image: url('/images/home_path/tiles/toga.png')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/heart.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/scarf.jpg')"></div>
		<div class="tile" style="background-image: url('/images/trans.png')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/toms.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/uggs.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/bag.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/ipad.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/skinny.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/jacket.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/slips.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/moody.jpg')"></div>
		<div class="tile" style="background-image: url('/images/home_path/tiles/fur.jpg')"></div>
	</div>
</div>
