
<div id="container" class="home2">

	<img src="/images/home2_logo.png">

	<p id="heading" class="home2">
		Create Your Own Online Closet!
	</p>
	
	<%=link_to image_tag(
			"f.png",
			:class => "f",
			:alt   => "") + "Log in with Facebook &rsaquo;",
			fb_auth_path(:source => @origin),
			:class => "large blue awesome button_home2",
			:id    => "action_link"%>
			
	<div id="tiny" class="home2">
    We’ll never post to Facebook without asking.
  </div>		
			
	<div id="footer" class="home2">
	Felvy © 2011 · <a href="mailto:contact@felvy.com">contact@felvy.com</a>
	</div>
	
	    
</div> <!-- container -->

