
<div id="container" class="home2">

  <%=image_tag 'home2_logo.png'%>

	<p id="heading" class="home2">
		Create Your Own Online Closet!
	</p>
	
	<%=link_to image_tag(
			"f.png",
			:class => "f",
			:alt   => "") + "Log in with Facebook &rsaquo;",
			fb_auth_path(:source => @origin),
			:class => "large blue awesome button_home2",
			:id    => "action_link"%>
			
	<div id="tiny" class="home2">
    We’ll never post to Facebook without asking.
  </div>		
			
	<div id="footer" class="home2">
		<%=CONFIG[:name]%> © 2011 · <%=email_link%>
	</div>
	
	    
</div> <!-- container -->

