
<div id="container" class="home4">

   <%=link_to '', 
  						fb_auth_path(:source => @origin), 
  						:class => 'log_in_with_facebook_no_shadow',
  						:style => 'position: absolute; top: 147px; left: 35px;'%>
  						
  <%=image_tag  'home4.jpg', 
                :style => 'position: absolute; top: 0px; right: 0px;'%>
   
</div> <!-- container -->

<div id="footer" class="home4">
		Felvy © 2011 · <a href="mailto:contact@felvy.com">contact@felvy.com</a>
</div>



