<div id="landing_container">

	<div class="landing_heading">
		Share the things you buy and own<br>
		<span class="landing_subtitle">It's fun, and free!</span>
	</div>
	
	<div class="landing_main">
		<ul>
			<li>Catalog the things you own</li>
			<li>Share and compare with friends</li>
			<li>Express your style!</li>
		</ul>
		
		<%=link_to image_tag(
				"f.png",
				:class => "f",
				:alt   => "f") + "Sign up with Facebook &rsaquo;",
				fb_auth_path(:source => @source),
				:class => "large blue awesome landing_button",
				:id    => "action_link"%>
	</div>
	
  <div id="slides">
    <div id="slideshow" style="position:absolute;top:0px;left:0px;z-index:-100;">
        <img class="landing_product_image" src="/images/landing_makeup_1.jpg" />
        <img class="landing_product_image" src="/images/landing_bag_1.jpg" style="display:none"/>
        <img class="landing_product_image" src="/images/landing_shoe_1.jpg" style="display:none"/>
        <img class="landing_product_image" src="/images/landing_jewelry_1.jpg"style="display:none" />
    </div>
  </div>
    
</div> <!-- landing_container -->

<div id="footer">
	Felvy © 2011 · <a href="mailto:contact@felvy.com">contact@felvy.com</a>
</div>

<script type="text/javascript">
 $(document).ready(function(){
  $('#slideshow').cycle({
    fx: 'fade',
    timeout: 6000
    });
 //   $('#slides').slides({
 //     preload: false,
 //     preloadImage: '<%=image_path "transparent.gif"%>',
 //     play: 5000,
 //     pause: 1500,
 //     hoverPause: true,
 //     generatePagination: false,
 //     pagination: false,
 //     effect: 'fade'
 //   });

   mpq.register_once({'landed_on' : '<%=@source%>'});
  });
</script>

