<div class="well-box padded border-box rounded-8 relative">

	<h2>Import your recent purchases, automagically</h2>
	
	<p class="txt m border-box">
		Connect your email, sit back and preview your revived e-receipts.
	</p>
	
	<div style="padding: 12px 0 22px;">
	
		<a id="google_connect_button"
		   class="btn btn-large btn-silver shaded rounded-3" 
		    href="javascript:void(0)" 
		    style="width: 33.3333%;">
		  <%=image_tag "logos/email-gmail-logo-30.png",
		      :class => "hide-when-loading"%>
		  <i class="icon-loading icon-white"></i>
		</a>
		<a id="yahoo_connect_button"
		    class="btn btn-large btn-silver shaded rounded-3" 
		    href="javascript:void(0)" 
		    style="margin-left: 1.61%; width: 33.3333%;">
		  <%=image_tag "logos/email-yahoomail-logo-30.png",
		      :class => "hide-when-loading"%>
		  <i class="icon-loading icon-white"></i>
		</a>
		
	</div>


	<div class="txt s">
		Pick the email you use for Amazon, iTunes, etc...
		<a style="float: right;" class="opacity-80-100 transition-opacity" 
        href="<%=root_path(:src => 'skip')%>">
			Skip
		</a>
	</div>

</div> <!-- /well-box -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Connect({
          successURL: "<%=welcome_path(WelcomeFilter::History,:mode => 'live')%>"});
  </script>
<%end%>

