<div class="header unit-box border-box">
	<img alt="Mine-h-white-48-2x" class="logo absolute" src="/images/logos/mine-h-white-48-2x.png"></a>
	
	<div class="btn-group unselectable well-box border-box rounded-5" 
        style="padding: 6px; float: right;">

    <div class="btn-user relative txt m dark" 
      style="float: left; padding: 0; border: 0;">
      <%=image_tag self.current_user.square_image_url,
            :class => "user-photo m rounded-3 shaded",
            :style => ""%>  	
    </div>
    
  </div>  <!--/btn-group -->
	
</div>


<div class="feed-container rounded-5" 
  style="background: #f5f5f5; margin-bottom: 32px;">

	<div id="feed" class="feed rounded-5 shaded relative">
  </div>

	<div id="feed-spinner" class="feed-loading whitesmoke">
	</div> 
</div> <!-- feed container -->



<div class="bar bottom border-box gradient v-555-444" style="text-align: center;">
	<%=link_to "Start your mine 
			<i class='icon-chevron-right icon-white'></i>",
			      welcome_path(WelcomeFilter::Create),
			      :class => "btn btn-large btn-red border-box rounded-3 shaded",
			      :style => "width: 472px;"%>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
