<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 0}%>

<div class="container">
	<div style="width: 640px; margin: 0 150px;">
		<div class="well">
			<fieldset>
				<legend>
					Welcome to OnCloset, <%=self.current_user.first_name%>!
					
					<%=link_to 'Pick your style <i class="icon-chevron-right icon-white"></i>',
						        welcome_path(WelcomeFilter::Style),
						        :class => 'btn btn-large btn-primary',
						        :style => 'float: right;'%>
				</legend>
			
				<div id="example" class="control-group" style="position: relative;">
		
			    <%=image_tag 'intro.jpg', 
			        :style => 'margin-bottom: 4px;'%>
			    
			    <div id="style" 
	              title="What's your style?",
	       data-content="Geek? Shopaholic? Foodie? Set your style whichever way suits you best.",
	              class="q-point" 
	              style="position: absolute; top: 10px; left: 15px; 
	                      width: 260px; height: 90px; 
	                      background-position: center 55px;"></div>
			    
			    <div id="influencers" 
	              title="Who influences you?",
	       data-content="Add friends with good taste, and get notified when they buy something new.",
	              class="q-point" 
	              style="position: absolute; top: 10px; left: 286px; 
	                      width: 154px; height: 75px; 
	                      background-position: center 40px;"></div>
			    
			    <div id="stores" 
	              title="Where do you shop?",
	       data-content="Add stores, then discover new items through others that also shop there.",
	              class="q-point" 
	              style="position: absolute; top: 10px; left: 438px; 
	                      width: 154px; height: 75px; 
	                      background-position: center 40px;"></div>
			    
			    <div id="items" 
	              title="What are you favorite buys?",
	       data-content="From shoes to jewelry to electronics,<br />fill your OnCloset however you like.",
	              class="q-point"
	              style="position: absolute; top: 121px; left: 0; 
	                      width: 600px; height: 140px;
	                      background-position: center 105px;"></div>
					        
				 </div> <!-- /control-group -->
			</fieldset>
		</div> <!-- /well -->
	</div> <!-- /640px -->
</div> <!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
