<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 0}%>

<div class="container">
	<div style="width: 640px; margin: 0 150px;">
		<div class="well">
		
			<legend>
				Your life, shared through the items you buy.
				
				<%=link_to 'Pick your style <i class="icon-chevron-right icon-white"></i>',
					        welcome_path(WelcomeFilter::Style),
					        :class => 'btn btn-large btn-primary',
					        :style => 'float: right; margin-top: -1px;'%>
			</legend>
			
			<div id="example" class="control-group" style="position: relative;">
	
		    <%=image_tag 'intro.jpg', 
		        :style => 'margin-bottom: 4px;'%>
		    
		    <div id="style" class="q-point" 
		    style="position: absolute; top: 10px; left: 15px; width: 260px; height: 90px;
		    background-position: center 55px;"></div>
		    
		    <div id="influencers" class="q-point" 
		    style="position: absolute; top: 10px; left: 286px; width: 154px; height: 75px;
		    background-position: center 40px;"></div>
		    
		    <div id="stores" class="q-point" 
		    style="position: absolute; top: 10px; left: 438px; width: 154px; height: 75px;
		    background-position: center 40px;"></div>
		    
		    <div id="items" class="q-point"
		    style="position: absolute; top: 121px; left: 0; width: 600px; height: 140px;
		    background-position: center 105px;"></div>
				        
			 </div> <!-- /control-group -->

		</div> <!-- /well -->
	</div> <!-- /640px -->
</div> <!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();

		$('#style').popover({
			placement: 'bottom',
			animation: true,
			delay : 0,
			title : "What's your style?",
			content: 'Glam? Hipster? Casual?<br />Say it whichever way suits you best.'
		});    
		    
		$('#stores').popover({
			placement: 'bottom',
			animation: true,
			delay : 0,
			title : 'Where do you shop?',
			content: 'Discover new items at your favorite stores through other people.'
		});
		
		$('#influencers').popover({
			placement: 'bottom',
			animation: true,
			delay : 0,
			title : 'Who influences you?',
			content: 'Get notified when friends with good taste buy something new.'
		});
		
		$('#items').popover({
			placement: 'bottom',
			animation: true,
			delay : 0,
			title : 'What are you favorite buys?',
			content: 'From shoes to jewelry to electronics,<br />fill your OnCloset however you like.'
		});
  </script>
<%end%>
