<div class="background-cover" 
	style="background-image: url('<%=image_path "home/shorts2.jpg"%>')">
</div>

<div class="dimmer sixty">
</div>

<div class="onboarding">

	<div class="box border-box rounded-5">
	
		<div class="heading">
			<%=image_tag "ob/mine-tags-48-2x.png", :class => "logo"%><br>
			<h2>Welcome <%=self.current_user.first_name%>!</h2>
			<span class="hide-on-mobile">Here's all you need to know.</span>
		</div>
		
		<h3>Posting is crazy simple</h3>
		<p>
			Type in what you bought, pick a photo, and add where you got it.
		</p>
		
		<h3>Share how you want</h3>
		<p>
			Publish to Facebook, Twitter, Tumblr, or keep things among friends on Mine. 
		</p>
	
	  <%=link_to "Post a purchase 
	              <i class='icon-chevron-right icon-white'></i>",
	      welcome_path(WelcomeFilter::Create),
	      :class => "btn btn-large btn-red",
	      :style => "display: block; margin: 20px auto 0px;"%>
      
  </div>

</div>	<!-- /onboarding -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
