<div class="steps">
	<div class="container">
	
		<div class="title">
			Welcome to Mine, <span class="name">Pierre</span>. <br />
			<span style="color: #ccc;">You'll be sharing in seconds.</span>
		</div>
	
		<div class="squares clearfix">
		
			<div class="square text">
				Add friends to see what they buy and where they shop.
			</div>
			<div class="rectangle">
				<%=image_tag 'home_mine/intro/intro1-female.jpg'%>
			</div>
			
			<div class="rectangle">
				<%=image_tag 'home_mine/intro/intro2-female.jpg'%>
			</div>
			<div class="square text">
				Mine syncs neatly with your Facebook Timeline.
			</div>
			
			<div class="square text last">
				Flick a switch to post favorites as large photos.
			</div>
			<div class="rectangle last">
				<%=image_tag 'home_mine/intro/intro3.jpg'%>
			</div>	
					
		</div> <!-- /squares -->
	</div>	
</div> <!-- /steps -->



<div class="bottom-bar">
	<div class="container">

			<a class="btn btn-large go">Got it. Show me Mine <i class="large-icon-chevron-right"></i></a>
	
	</div>
</div> <!-- /bottom-bar -->


<%content_for :javascript do%>
  <script type="text/javascript">
    //new Denwen.Views.Welcome.Show({
    //      currentUser: <%#self.current_user.to_json(
    //                        :only => [:id,:first_name,:last_name,
    //                                    :gender,:handle,:email],
    //                        :methods => [:age])%>});
  </script>
<%end%>
