<div class="steps">
	<div class="container">
	
		<div class="title">
			Welcome to Mine, <span class="name">Pierre</span>. <br />
			You'll be sharing in seconds.
		</div>
	
		<div class="squares clearfix">
		
			<div class="square text">
				Mine is your personal catalog of all your stuff.
			</div>
			<div class="rectangle">
				<%=image_tag 'home_mine/steps/step1.jpg'%>
			</div>
			
			<div class="rectangle">
				<%=image_tag 'home_mine/steps/step2.jpg'%>
			</div>
			<div class="square text">
				It syncs neatly with your Facebook Timeline.
			</div>
			
			<div class="square text last">
				You can post beautiful items as large photos.
			</div>
			<div class="rectangle last">
				<%=image_tag 'home_mine/steps/step3.jpg'%>
			</div>	
					
		</div> <!-- /squares -->
	</div>	
</div> <!-- /steps -->



<div class="bottom-bar">
	<div class="container">

			<a class="btn btn-large go">Got it. Show me Mine &#9658;</a>
	
	</div>
</div> <!-- /bottom-bar -->


<%content_for :javascript do%>
  <script type="text/javascript">
    //new Denwen.Views.Welcome.Show({
    //      currentUser: <%#self.current_user.to_json(
    //                        :only => [:id,:first_name,:last_name,
    //                                    :gender,:handle,:email],
    //                        :methods => [:age])%>});
  </script>
<%end%>
