<div class="bar top border-box gradient v-555-444" style="text-align: center;">
	
  <%=image_tag("logos/mine-h-white-40-brighter-2x.png", 
      :class => "logo absolute")%>
      
      <span class="rwd-hide" style="font-weight: bold; line-height: 36px; font-size: 24px; color: white; text-shadow: 0 1px 1px rgba(0,0,0,0.4);">
      	People share their best buys on Mine.
      </span>

	<a href="<%=welcome_path(WelcomeFilter::Connect)%>"
			class="btn btn-large btn-red border-box rounded-3 absolute shaded"
			style="width: 140px; top: 12px; right: 12px;">
		Start Yours
	</a>
</div>

<div class="feed-grid-container border-box rounded-8-bottom">

	<div id="feed" class="feed grid link-disabled rounded-8-bottom">
  </div>

	<div id="feed-spinner" class="feed-loading white">
	</div> 
</div> <!-- feed container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
