<div class="container onboarding">

	<div class="heading">
		<b>Welcome, Pierre</b><br />
			Thanks for being one of the first to join mine.
	</div>
	
	<h3>What is mine?</h3>
	<p>
		Mine is a simple service for sharing purchases with friends.<br />
		Whether it's for a specific recommendation or just plain curiosity, 
		people often want to learn from what their friends are buying. 
	</p>
	
	<h3>How does it work?</h3>
	<p>
		When you add a new purchase, friends you've invited will 
    see it in their feed of items when they log in.
		You can also share out more widely to your Facebook friends.
	</p>

  <%=link_to "Ok, show me how to add a purchase 
              <i class='icon-chevron-right icon-white'></i>",
      welcome_path(WelcomeFilter::Create),
      :class => "btn btn-large",
      :style => "display: block; margin: 24px 100px 12px;"%>
	
	<p class="sub">Have a question? 
		<a href="mailto:Mine &lt;<%=contact_email%>&gt;">Email us.</a>
	</p>

</div>	<!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
