<div class="header unit-box border-box">
	<img alt="Mine-h-white-48-2x" class="logo absolute" src="/images/logos/mine-h-white-48-2x.png"></a>
	
	<div class="btn-group unselectable well-box border-box rounded-5" 
        style="padding: 6px; float: right;">

    <div class="btn-user relative txt m dark" 
      style="float: left; padding: 0; border: 0;">
      <%=image_tag self.current_user.square_image_url,
            :class => "user-photo m rounded-3 shaded",
            :style => ""%>  	
    </div>
    
  </div>  <!--/btn-group -->
	
</div>

<div class="feed-container rounded-5" style="background: #f5f5f5; margin-bottom: 32px;">
	<div id="feed" class="feed rounded-5 shaded relative">
	
	
		<!-- placeholder items yo -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		    <img class="item-photo rounded-3" src="http://d2lxhjuhtvdpxn.cloudfront.net/g_ZmI4MTNlOTZiNmM0NDc1Mzk3YTUxMzQ0MzY1Mzc2.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/100002925171301/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Abby Faust</a> 
		          bought her
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Lights By Ellie Goulding</a> 
				      from iTunes
			    </div> <!-- /title-box -->
			    <div class="endorsement-box txt m">
		         The only affordable non-cashmere sweater.
		       </div>
			  
			  	<div class="likes-box txt m relative" id="purchase_likes_box_21906" style="">
			
			      <span class="num" id="purchase_likes_21906_aggregate">2</span>
			
			      <span class="text" id="purchase_likes_21906_aggregate_text">likes</span>
			
			      <span id="purchase_likes_21906">
			      <div class="user-photo-box relative">
					  <a href="/Pierre-Legrain?src=like">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/517379696/picture?type=square" alt="">
					  </a>
						</div>
						<div class="user-photo-box relative">
						  <a href="/Deepak-Rao?src=like">
						    <img class="user-photo s rounded-3" src="http://graph.facebook.com/699760342/picture?type=square" alt="">
						  </a>
						</div>
						</span>
			    </div>
		    
		  	</div> <!-- /panel-contents -->
			  
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		    <img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_OGI1NmNkNzJlOGUxNzdlYTUwZjcxMzQzNTY5NTYw.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/516534321/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Dihan Algama</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Specialized Secteur Elite</a> 
				      from CycleSurgery
			    </div> <!-- /title-box -->
			    
			    <div class="likes-box txt m relative" id="purchase_likes_box_21827" style="">
		
			      <span class="num" id="purchase_likes_21827_aggregate">2</span>
			      <span class="text" id="purchase_likes_21827_aggregate_text">likes</span>
			
			      <span id="purchase_likes_21827">
			      <div class="user-photo-box relative">
						  <a href="/Pierre-Legrain?src=like">
						    <img class="user-photo s rounded-3" src="http://graph.facebook.com/517379696/picture?type=square" alt="">
						  </a>
						</div>
						<div class="user-photo-box relative">
						  <a href="/Alex-Griendling?src=like">
						    <img class="user-photo s rounded-3" src="http://graph.facebook.com/100003080911869/picture?type=square" alt="">
						  </a>
						</div>
						</span>
			    </div>
			    
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		    <img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_NmE0OTllNjU5MjRjM2E2NTBhYjAxMzM3MzAwMzE3.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/187864_157973374332695_571247691_q.jpg">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Roger Federer</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">GitHub Stickers</a> 
				      from GitHub
			    </div> <!-- /title-box -->
			    
			    <div class="endorsement-box txt m">
		      	File transfers are back to pre-Lion speeds.  I'll take it as a $20 patch.
		      </div>
			    
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		    <img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_M2JjYzBlOWJiMzhmZTg5NDBlNWMxMzQ0MzczODQz.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/275874_285001433_1036942549_q.jpg">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Stevie Wonder</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Caffeine Free Diet Coke</a> 
				      from Long's
			    </div> <!-- /title-box -->
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		    <img class="item-photo rounded-3" src="http://d2lxhjuhtvdpxn.cloudfront.net/g_YmE4NzA3MThmMDk0YjhkNmYwZTcxMzQzNDQxMDcw.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/100000429128834/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Alexzandra Haberlin</a> 
		          bought her
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Angry Birds Space</a> 
				      from Google Play
			    </div> <!-- /title-box -->
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
			
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		  	<img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_MjM2MTU2YTNjN2FlMWIwNDczM2QxMzQ0NDc2MzYx.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/517379696/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Pierre Legrain</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Nexus 7</a> 
				      from Google
			    </div> <!-- /title-box -->
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		  	<img class="item-photo rounded-3" src="http://d2lxhjuhtvdpxn.cloudfront.net/g_ZjhlNGFlMjViMzExMmIxYWM5MGIxMzQxODk4ODM5.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/100003080911869/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Alex Griendling</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Uncanny X-force 28</a> 
				      from Amazon
			    </div> <!-- /title-box -->
			    
			    <div class="likes-box txt m relative" id="purchase_likes_box_21906" style="">
			
			      <span class="num" id="purchase_likes_21906_aggregate">2</span>
			
			      <span class="text" id="purchase_likes_21906_aggregate_text">likes</span>
			
			      <span id="purchase_likes_21906">
			      <div class="user-photo-box relative">
					  <a href="/Pierre-Legrain?src=like">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/517379696/picture?type=square" alt="">
					  </a>
						</div>&nbsp;
						<div class="user-photo-box relative">
						  <a href="/Deepak-Rao?src=like">
						    <img class="user-photo s rounded-3" src="http://graph.facebook.com/699760342/picture?type=square" alt="">
						  </a>
						</div>&nbsp;
						</span>
			    </div>
			    
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		  	<img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_ZGNiMjAwYWM5OGZlZDk0MWQ2YTUxMzQ0MjcyNjg3.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/517379696/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Pierre Legrain</a> 
		          bought his
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Big Gimp Suit</a> 
				      from Jack's Small Engine & Generator Service
			    </div> <!-- /title-box -->
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<div class="item rounded-5">
		
		  <div class="photo-box relative">
		  	<img class="item-photo rounded-3" src="http://s3.amazonaws.com/denwen-mine-filesystem/g_NWFlZWRhYzQ5M2M3ODg5ZDZiZTMxMzQzNzgxNTM3.jpg">
		  </div>
		  
			<div id="purchase_panel_21909" class="panel">
				<div id="purchase_panel_content_21909" class="panel-contents rounded-5 relative">
					<b class="caret absolute opaque"></b>
					<div class="title-box txt l relative rounded-3">
						<a href="/Pierre-Legrain?src=purchase_photo">
				      <img class="user-photo xl rounded-3 absolute" src="http://graph.facebook.com/51801816/picture?type=square">
				    </a>
				    <a class="em light underlined" href="/Pierre-Legrain?src=purchase_name">
		          Meagan Hall</a> 
		          bought her
				    <a id="purchase_title_21909" href="http://www.bhphotovideo.com/c/product/878214-REG/ASUS_NEXUS7_ASUS_1B16_16GB_Google_Nexus_7_.html" class="em light underlined link-out" target="_blank">Ceramic Pig Planter Vintage Design In Lemon Yellow By Fruitflypie</a> 
				      from Etsy
			    </div> <!-- /title-box -->
			  </div> <!-- /panel-contents -->
		  </div> <!-- /panel -->
		  
		</div> <!-- /item -->
		
		<!-- /end of placeholder items yo -->
	
	
	</div> 
	
	<div id="feed-spinner" class="feed-loading whitesmoke">
	</div> 
</div> <!-- feed container -->

<div class="bar bottom border-box gradient v-555-444" style="text-align: center;">
	<%=link_to "Start your mine 
			<i class='icon-chevron-right icon-white'></i>",
			      welcome_path(WelcomeFilter::Create),
			      :class => "btn btn-large btn-red border-box rounded-3 shaded",
			      :style => "width: 472px;"%>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();
  </script>
<%end%>
