<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 0}%>

<div class="container">
	<div style="width: 640px; margin: 0 150px;">
		<div class="well">
		
			<legend>
				Your life, shared through the items you buy.
				
				<%=link_to 'Pick your style <i class="icon-chevron-right icon-white"></i>',
					        welcome_path(WelcomeFilter::Style),
					        :class => 'btn btn-large btn-primary',
					        :style => 'float: right; margin-top: -1px;'%>
			</legend>
			
			<div id="example" class="control-group" style="position: relative;">
	
		    <%=image_tag 'intro.jpg', 
		        :style => 'margin-bottom: 4px;'%>
		    
		    <div id="style" 
		    style="position: absolute; top: 10px; left: 15px; width: 260px; height: 90px;"></div>
		    
		    <div id="influencers" 
		    style="position: absolute; top: 10px; left: 286px; width: 154px; height: 90px;"></div>
		    
		    <div id="stores" 
		    style="position: absolute; top: 10px; left: 438px; width: 154px; height: 90px;"></div>
		    
		   <div id="items" 
		    style="position: absolute; top: 121px; left: 0; width: 600px; height: 140px;"></div>

				        
				    
				        
			 </div> <!-- /control-group -->

		</div> <!-- /well -->
	</div> <!-- /640px -->
</div> <!-- /container -->


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Welcome.Show();

$('#style').popover({
	placement: 'bottom',
	animation: true,
	delay : 0,
	title : "What's your style?",
	content: 'Glam? Hipster? Nerd?<br />Say it however suits you best.'
});    
    
$('#stores').popover({
	placement: 'bottom',
	animation: true,
	delay : 0,
	title : 'Where do you shop?',
	content: 'Discover new items at your favorite stores through other people.'
});

$('#influencers').popover({
	placement: 'bottom',
	animation: true,
	delay : 0,
	title : 'Who influences you?',
	content: 'Get notified when friends with great taste buy something interesting.'
});

$('#items').popover({
	placement: 'bottom',
	animation: true,
	delay : 0,
	title : 'What are you favorite items?',
	content: 'From shoes to jewelry to electronics,<br />fill out your OnCloset however you like.'
});
  </script>
<%end%>
