<div class='fb-like' style='display:inline; margin-left: 5px; position:relative; top:-4px;'
      data-layout='button_count'
      data-send='<%=send_button%>' 
      data-width='<%=width%>' 
      data-show-faces='<%=faces%>'>
</div>
