<div id="container">
  <table>
    <%@stores.each do |store|%>
      <tr>
        <td><%=link_to store.name, store_path(store.handle)%></td>
        <td><%=store.products_count%></td>
        <td><%=store.image_path ? 
                link_to(
                  image_tag(store.image_url,:height => 50),
                  store.image_url) :
                'No Image'%></td>
        <td><%=link_to 'Edit View',edit_admin_store_path(store.handle)%></td>
      </tr>
    <%end%>
  </table>
</div>
