<ol style="width: 300px">
	<%@stores.each do |store|%>
	<li style="list-style-type:decimal; white-space: nowrap;">
  	<%=link_to store.name, store_path(store.handle)%>
    &nbsp;&nbsp;
    <span><%=store.id%></span>
    <span style="float:right"><%=h store.products_count%></span>
  </li>
	<%end%>
</ol>
