<div class="box-title">
	Notification settings
</div>

<div class="well-box border-box rounded-5" style="padding: 18px;">

	 <%form_for @settings,:url => "/settings/#{@settings.id}",
	  :html => {
	    :class  => 'form-horizontal',
	    :style  => 'margin-bottom: 0;',
	    :id     => 'edit_setting'} do |f|%>
	  
	  <fieldset>
	
			<!-- Notifications -->
			
			<div class="control-group">
				<label class="control-label txt m" style="width: 80px;">
	        Activity
	      </label>
				<div class="controls" style="margin-left: 100px;">
			    <%=f.label :email_influencer,
	            "#{f.check_box :email_influencer} Email me "\
	            "when someone likes or comments on my items, and a weekly digest from people I'm following",
	
	            :class => "checkbox txt m"%>
		    </div>              
			</div>
			
			<div class="control-group">
				<label class="control-label txt m" style="width: 80px;">
	        Updates
	      </label>
				<div class="controls" style="margin-left: 100px;">
			    <%=f.label :email_update,
	            "#{f.check_box :email_update} Email me feature "\
	            "updates and reminders",
	            :class => "checkbox txt m"%>
		    </div>              
	    </div>
			<!-- /Notifications -->
	
	    <div class="" 
	          style="border-top:none; padding-left: 100px; 
	                  background: none;
	                  padding-bottom: 0px;">
	    	<%=submit_tag "Save Changes",
		                  :class  => 'btn btn-mid',
		                  :name   => nil%>
	    </div>
	  
	  </fieldset>
	                        
	<%end%> <!-- /form -->

<%content_for :javascript do%>

  <script type="text/javascript">
    new Denwen.Views.Settings.Index({
          el            : $('#edit_setting'),
          source        : '<%=h @source%>'});
  </script>

<%end%>
