<div class="container well">
  <legend>
    <%=@suggestion.title%>
  </legend>

  <h3>Purchases</h3>
  <br>

  <table width="900">
    <%@suggestion.purchases.all(:include => :user).each do |purchase|%>
      <tr>
        <td width="200">
          <%=image_tag purchase.square_url%>
        </td>
        <td width="300">
          <%=link_to purchase.title,
              purchase_path(purchase.user.handle,purchase.handle)%>
        </td>
        <td width="300">
          <%=purchase.query%>
        </td>
      </tr>
    <%end%>
  </table>
</div>
