# Configuration constants for all RAILS environments

# Constants shared across deployment environments
common: &common
  :aws_access_id: AKIAJWYCAWDPAAKLNKSQ
  :aws_secret_key: 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 
  :fb_app_id: 245230762190915
  :fb_app_secret: 57066dc5c99bfed96f6e24496cc49815
  :mobile_user_agents: palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile

development: &development
  <<: *common
  :host: sbat.tea.ms
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: /
  :edge_server: http://s3.amazonaws.com/denwen-hasit-filesystem
  :asset_host: /
  :emails:
    :noreply_from: Hasit <noreply@hasit.com>
    :sender: manager@hasit.com

staging: &staging
  <<: *common
  :host: staging.tea.ms
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: denwen-hasit-staging
  :edge_server: http://s3.amazonaws.com/denwen-hasit-filesystem
  :asset_host: http://s3.amazonaws.com/denwen-hasit-staging
  :emails:
    :noreply_from: Teams <noreply@hasit.com>
    :sender: manager@hasit.com

production: &production
  <<: *common
  :host: tea.ms
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: denwen-hasit-production
  :edge_server: http://edge.hasit.com
  :asset_host: http://static.hasit.com
  :emails:
    :noreply_from: Teams <noreply@hasit.com>
    :sender: manager@hasit.com


test: &test
  <<: *development
