# Config shared between ruby and javascript
#
# IMP: Run "rake js:dump:config" after editing.
#
shared: &shared
  :dummy: 0

# Constants shared across deployment environments
#
common: &common
  <<: *shared
  :aws_access_id: AKIAJWYCAWDPAAKLNKSQ
  :aws_secret_key: WhaJ7PClLRYEjFto9pDwzV7vARu4FHybkUACXEPd 
  :aws_associate_tag: oncl-20
  :fb_app_id: 245230762190915
  :fb_app_secret: 57066dc5c99bfed96f6e24496cc49815
  :fb_app_token: 245230762190915|FCdWaSQb3KYtAIuxfBtODKf_nww
  :fb_app_namespace: dw_mine
  :fb_verify_token: eea0e1c440ae3d754be314a60c33ea2b
  :bing_app_id: 31862565CFBD51810ABE4AB2CEDCB80D52D33969
  :age_bucket_size: 5
  :user_agent:  Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.8.1.6) Gecko/20070802 SeaMonkey/1.1.4
  :mobile_user_agents: palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile
  :queue:
    :proc: mine_processing
  :max_processing_attempts: 3
  :asset_hosts_count: 4
  :edge_servers_count: 7
  :success: success
  :error: error
  :name: Mine
  :description: "Mine - A simple service for sharing purchases with friends."
  :version: 3.9.0
  :images:
    :white_200x200: private/images/white_200x200.jpg
    :fb_unit_base: private/images/facebook-unit/base.jpg
    :fb_unit_overlay: private/images/facebook-unit/overlay.png

development: &development
  <<: *common
  :host: pleg.getmine.com
  :s3_bucket: denwen-mine-filesystem
  :asset_bucket: /
  :dump_bucket: denwen-mine-dumps
  :edge_server: http://s3.amazonaws.com/denwen-mine-filesystem
  :asset_host: 
  :emails:
    :noreply: Mine <noreply@getmine.com>
    :contact: Mine <contact@getmine.com>

staging: &staging
  <<: *common
  :host: staging.getmine.com
  :s3_bucket: denwen-mine-filesystem
  :dump_bucket: denwen-mine-dumps
  :asset_bucket: denwen-mine-staging
  :edge_server: http://d2lxhjuhtvdpxn.cloudfront.net
  :asset_host: http://d33e0ac60th09p.cloudfront.net
  :emails:
    :noreply: Mine <noreply@getmine.com>
    :contact: Mine <contact@getmine.com>

production: &production
  <<: *common
  :host: getmine.com
  :s3_bucket: denwen-mine-filesystem
  :dump_bucket: denwen-mine-dumps
  :asset_bucket: denwen-mine-production
  :edge_server: http://d2lxhjuhtvdpxn.cloudfront.net
  :asset_host: http://d3sqjd4akk98do.cloudfront.net
  :emails:
    :noreply: Mine <noreply@getmine.com>
    :contact: Mine <contact@getmine.com>

test: &test
  <<: *development

# Config for javascript. 
#
# IMP: Run "rake js:dump:config" after editing.
#
javascript: &javascript
  <<: *shared
  :fb_extended_permissions: 'publish_stream'
  :fb_publish_permissions: 'publish_actions,publish_stream'
  :one_word_query_msg: "<strong>Tip:</strong> Try adding brands and colors, e.g. 'Vans Brown Tweed Slip ons'" 
  :multi_query_msg: "<strong>Tip:</strong> Add items by URL for the perfect photo every time."
  :multi_query_threshold: 5

