# Configuration constants for all RAILS environments

# Constants shared across deployment environments
common: &common
  :aws_access_id: AKIAJWYCAWDPAAKLNKSQ
  :aws_secret_key: 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 
  :fb_app_id: 245230762190915
  :fb_app_secret: 57066dc5c99bfed96f6e24496cc49815
  :mobile_user_agents: palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile
  :success: success
  :error: error
  :msg:
    :product:
      :shoes:
        :query: Search for your shoes...
        :title: Shoe name and brand
        :endorsement: What do you love about these shoes?
      :accessories:
        :query: Search for your accessory...
        :title: Accessory name and brand
        :endorsement: What do you love about this accessory?
      :clothing:
        :query: Search for your clothing...
        :title: Clothing item name and brand
        :endorsement: What do you love about this item?
      :decor:
        :query: Search home decor items...
        :title: Item name and brand
        :endorsement: What do you love about this item?
      :cosmetics:
        :query: Search for your cosmetics...
        :title: Item name and brand
        :endorsement: What do you love about this item?
      :electronics:
        :query: Search for your electronics...
        :title: Item name and brand
        :endorsement: What do you love about item item?
      :jewelry:
        :query: Search for your jewelry...
        :title: Item name and brand
        :endorsement: What do you love about this item?
      :anything:
        :query: Search for your item...
        :title: Item name and brand
        :endorsement: What do you love about this item?

development: &development
  <<: *common
  :host: sbat.felvy.com
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: /
  :edge_server: http://s3.amazonaws.com/denwen-hasit-filesystem
  :asset_host: /
  :emails:
    :noreply_from: Hasit <noreply@hasit.com>
    :sender: manager@hasit.com

staging: &staging
  <<: *common
  :host: staging.felvy.com
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: denwen-hasit-staging
  :edge_server: http://s3.amazonaws.com/denwen-hasit-filesystem
  :asset_host: http://s3.amazonaws.com/denwen-hasit-staging
  :emails:
    :noreply_from: Teams <noreply@hasit.com>
    :sender: manager@hasit.com

production: &production
  <<: *common
  :host: felvy.com
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: denwen-hasit-production
  :edge_server: http://edge.felvy.com
  :asset_host: http://d2enf9yjxhdcvb.cloudfront.net
  :emails:
    :noreply_from: Teams <noreply@hasit.com>
    :sender: manager@hasit.com


test: &test
  <<: *development
