# Config shared between ruby and javascript
#
# IMP: Run "rake js:dump:config" after editing.
#
shared: &shared
  :dummy: 0

# Constants shared across deployment environments
#
common: &common
  <<: *shared
  :aws_access_id: AKIAJWYCAWDPAAKLNKSQ
  :aws_secret_key: WhaJ7PClLRYEjFto9pDwzV7vARu4FHybkUACXEPd 
  :aws_associate_tags: 
    - oncl-20
    - mine0e-20
    - legrain-20
    - cyclopedie-20
    - hodoigemofo-20
    - phililegra-20
    - felvy-20
    - flicker09-20
    - flicker02-20
  :aws_associate_access_ids:
    - AKIAJWYCAWDPAAKLNKSQ
    - AKIAJVUGQ6XHCMYWB3YA
    - AKIAJ3OYXJPSQRRBB4JQ
    - AKIAIEA3QJ2ETUHWMEUA
    - AKIAJ6JZ4VOD34PPB43A
    - AKIAI6MTUBRUW33JSROQ
    - AKIAJMD35QK2XXPMIN5A
    - AKIAJSNSFJKZJ22P4A7Q
    - AKIAIXOEH6FDJUGGZMLA
  :aws_associate_secret_keys:
    - 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
    - IZCUQr6UZOcNTgbjJBSQMldjFa7CRPHQgRV44ksM
    - OcTqTRecfiRCBe/0rKi6KHBJz806jHfZl5ZEKhLm
    - NussHk8Ay138xX7TWyw0tb0D45jGjGT0eGkZqEMm
    - td6y1UOlPWzIk4v7ZPPQ56zDiNbW5iKbIcbY00EH
    - YjuiMQsxTFlCC1yg4zUk7Z8rZfaO7MgIfuW2Qrhc
    - UGvsHLTyHBM4eS6E8sxAusX00APV42lw9wNtuffq
    - E7FLuS1o5UiUHN5CANBQhykdlcZT+e9EkiNPAKPi
    - R7vHWBzVZRXmiDEs59Vs8L9EMr532waNEnLKZFsM
  :iphone_encryption_phrase: f0837530983794e3
  :iphone_salt: 20988410f43fa368
  :ios_app_link: http://itun.es/us/Lje1H.i
  :fb_app_id: 245230762190915
  :fb_app_secret: 57066dc5c99bfed96f6e24496cc49815
  :fb_app_token: 245230762190915|FCdWaSQb3KYtAIuxfBtODKf_nww
  :fb_app_namespace: getmineapp 
  :fb_verify_token: eea0e1c440ae3d754be314a60c33ea2b
  :tw_app_id: 2550915 
  :tw_consumer_key: Y8wcijb0orzZSbkd3fQ4g
  :tw_consumer_secret: i7Oqqpy1I1ZycqRpJOSsBMylURsFlC2Qo7pQc0YbUzk
  :tw_account_id: 607852423
  :tumblr_consumer_key: 89jCI6WNG1Ym9wYLkJ1FfDVTZCsMbdtJoSwPbBzSb6ueJMbo0G
  :tumblr_consumer_secret: L7BbVCPlAYq0ewzxEEEiJyIzgY8Ihj9YxALq9Ol0ueLnStNBwM 
  :best_buy_api_key: 3m5j3vgxbqyv34gvdj2acmda
  :bing_app_id: 31862565CFBD51810ABE4AB2CEDCB80D52D33969
  :windows_azure_key: ruuxSwIt0kdjqOGCubB75QxxbqQn9s5yKqF/NqkAb5Y=
  :google_api_key: AIzaSyDPodc01pJa78yHcY2eIcrDO3glut1z7Iw
  :google_client_id: getmine.com
  :google_client_secret: 9cj_MUP4QEnrGrRqHu5DGSAT
  :yahoo_consumer_key: dj0yJmk9MEE3RGNJZ3dUbUpkJmQ9WVdrOU1raE5OR1pVTkcwbWNHbzlNVFF6TlRneU9EazJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD00MA--
  :yahoo_consumer_secret: 8450b7008949553bfadbc17bc166e788e4753be4
  :twilio_account_sid: ACfa68ffd7d4ab933e4ac388a854482047
  :twilio_auth_token: 0729e544d79a7c8cdf071c196b5b80c2
  :twilio_phone_number: 6506469613
  :admin_salt: 97f8336b05921eeb11ddb1300f454d380f315a43918fb61c046897394f04e0b2
  :admin_password: 43d9b895a65ceaead13a6bc7cb47fe0cd395382a
  :age_bucket_size: 5
  :tag_boundary: @@
  :user_agent:  Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.8.1.6) Gecko/20070802 SeaMonkey/1.1.4
  :mobile_user_agents: palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile
  :tablet_user_agents: ipad|tablet
  :queue:
    :primary_proc: mine_primary_processing
    :proc: mine_processing
    :secondary_proc: mine_secondary_processing
    :crawl: crawl
    :email_feedback: production_mine_email_feedback
  :max_processing_attempts: 3
  :asset_hosts_count: 4
  :edge_servers_count: 7
  :success: success
  :error: error
  :name: Mine
  :description: "Mine is a directory of people and purchases." 
  :version: 7.0.0
  :images:
    :white_200x200: private/images/white_200x200.jpg
    :fb_unit_base: private/images/facebook-unit/base-520x520.jpg
    :fb_unit_overlay: private/images/facebook-unit/overlay-gray.png
  :emails:
    :noreply: Mine <noreply@getmine.com>
    :contact: Mine <contact@getmine.com>
    :natalia: Natalia Stanton <natalia@getmine.com>

development: &development
  <<: *common
  :host: pleg.getmine.com
  :s3_bucket: denwen-mine-filesystem
  :asset_bucket: /
  :dump_bucket: denwen-mine-dumps
  :edge_server: http://s3.amazonaws.com/denwen-mine-filesystem
  :yahoo_consumer_key: dj0yJmk9ZWlrRlRHQ2VHR1pPJmQ9WVdrOVRGTmxSamgyTlRRbWNHbzlNVFV6TkRrNU9UTTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD0zOA--
  :yahoo_consumer_secret: 10ec99d2cced6727676c87814fb38748afbe51f9
  :asset_host: 

staging: &staging
  <<: *common
  :host: staging.getmine.com
  :s3_bucket: denwen-mine-filesystem
  :dump_bucket: denwen-mine-dumps
  :asset_bucket: denwen-mine-staging
  :edge_server: http://d2lxhjuhtvdpxn.cloudfront.net
  :asset_host: http://d33e0ac60th09p.cloudfront.net

production: &production
  <<: *common
  :google_api_key: AIzaSyD2rbGvnNZniyZdFvLlzo8QvLXWHum6SmE
  :host: getmine.com
  :s3_bucket: denwen-mine-filesystem
  :dump_bucket: denwen-mine-dumps
  :asset_bucket: denwen-mine-production
  :edge_server: http://d2lxhjuhtvdpxn.cloudfront.net
  :asset_host: http://d3sqjd4akk98do.cloudfront.net

test: &test
  <<: *development

# Config for javascript. 
#
# IMP: Run "rake js:dump:config" after editing.
#
javascript: &javascript
  <<: *shared
  :one_word_query_msg: "<strong>Tip:</strong> Try adding brands and colors, e.g. 'Vans Brown Tweed Slip ons'" 
  :multi_query_msg: "<strong>Tip:</strong> Add items by URL for the perfect photo every time."
  :multi_query_threshold: 5

