# Configuration constants for all RAILS environments

# Constants shared across deployment environments
common: &common
  :aws_access_id: AKIAJWYCAWDPAAKLNKSQ
  :aws_secret_key: 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 
  :fb_app_id: 245230762190915
  :fb_app_secret: 57066dc5c99bfed96f6e24496cc49815
  :age_bucket_size: 5
  :user_agent:  Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.8.1.6) Gecko/20070802 SeaMonkey/1.1.4
  :mobile_user_agents: palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile
  :queue:
    :proc: hasit_processing
  :max_processing_attempts: 3
  :asset_hosts_count: 4
  :edge_servers_count: 7
  :success: success
  :error: error
  :name: OnCloset
  :keys:
    :user_category_count: user_%d_category_%d_count
    :user_price: user_%d_products_price
    :user_ifollowers: user_%d_ifollowers
    :user_followers: user_%d_followers
    :user_top_stores: user_%d_top_stores
    :user_products_in_category: user_%d_category_%d_products
    :store_category_count: store_%d_category_%d_count
    :store_price: store_%d_products_price
    :store_top_products: store_%d_top_products
    :store_top_shoppers: store_%d_top_shoppers
    :store_products_in_category: store_%d_category_%d_products
    :store_all: store_all
    :store_top: store_top
    :star_users: star_users
    :collection_products: collection_%d_products
    :comment_commentable: comment_commentable_%d_%s
    :action_actionable: action_actionable_%d_%s
  :msg:
    :product:
      :shoes:
        :query: Search for a photo of your shoes
        :query_eg: e.g. 'Zara high heeled boot'
        :title: Item name
        :endorsement_eg: 
      :accessories:
        :query: Search for a photo of your accessory
        :query_eg: e.g. 'Longchamp canvas bag'
        :title: Item name
        :endorsement_eg: 
      :clothing:
        :query: Search for a photo of your clothing item
        :query_eg: e.g. 'BB dakota romaine belted coat'
        :title: Item name
        :endorsement_eg: 
      :decor:
        :query: Search for a photo of your decor item
        :query_eg: e.g. 'Amy butler organic pillows'
        :title: Item name
        :endorsement_eg: 
      :cosmetics:
        :query: Search for a photo of your cosmetics
        :query_eg: e.g. 'Jouer mineral face powder'
        :title: Item name
        :endorsement_eg: 
      :electronics:
        :query: Search for a photo of your electronics
        :query_eg: e.g. 'White iPad 2 3G'
        :title: Item name
        :endorsement_eg: 
      :jewelry:
        :query: Search for a photo of your jewelry
        :query_eg: e.g. 'Tiffany orchid necklace'
        :title: Item name
        :endorsement_eg: 
      :anything:
        :query: Search for a photo of your item
        :query_eg: e.g. 'Moleskine notebook'
        :title: Item name
        :endorsement_eg: 

development: &development
  <<: *common
  :host: sbat.oncloset.com
  :s3_bucket: denwen-hasit-filesystem
  :asset_bucket: /
  :dump_bucket: denwen-hasit-dumps
  :edge_server: http://s3.amazonaws.com/denwen-hasit-filesystem
  :asset_host: 
  :emails:
    :noreply: OnCloset <noreply@oncloset.com>
    :contact: OnCloset <contact@oncloset.com>

staging: &staging
  <<: *common
  :host: staging.oncloset.com
  :s3_bucket: denwen-hasit-filesystem
  :dump_bucket: denwen-hasit-dumps
  :asset_bucket: denwen-hasit-staging
  :edge_server: http://d1nmlfaeq5l5rw.cloudfront.net
  :asset_host: http://de04moj4hdgby.cloudfront.net 
  :emails:
    :noreply: OnCloset <noreply@oncloset.com>
    :contact: OnCloset <contact@oncloset.com>

production: &production
  <<: *common
  :host: oncloset.com
  :s3_bucket: denwen-hasit-filesystem
  :dump_bucket: denwen-hasit-dumps
  :asset_bucket: denwen-hasit-production
  :edge_server: http://d1nmlfaeq5l5rw.cloudfront.net
  :asset_host: http://d2enf9yjxhdcvb.cloudfront.net
  :emails:
    :noreply: OnCloset <noreply@oncloset.com>
    :contact: OnCloset <contact@oncloset.com>


test: &test
  <<: *development
