
# Enumerations shared across ruby & javasript.
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:common: &common
  UserShowHash:
    Owns: 'owns'
    Wants: 'wants'
  InvitePlatform:
    Facebook: 0
    Email: 1

# Enumerations for ruby. 
#
:ruby: &ruby
  <<: *common
  ActionName:
    Like: 'like'
    Own: 'own'
    Want: 'want'
  EmailPurpose:
    Admin: 99
    NewFollower: 1
    TopShopper: 4
    Welcome: 10
    AnotherProduct: 13
    AddItem: 14
    AddFriend: 15
    AddStore: 16
    FriendDigest: 18
  FollowingSource:
    Auto: 0
    Manual: 1
    Suggestion: 2
    Invite: 3
  HealthReportService:
    AnotherItemPrompt: 2
    AddItemsPrompt: 3
    FriendsDigest: 7
    MaintainSearchIndex: 8
  HomeShowSource:
    UserCreateError: 'user_create_error'
    LoginError: 'login_error'
    Logout: 'logout'
  ProductNewSource:
    Error: 'error'
  ProductShowSource:
    Updated: 'product_updated'
  SearchSource:
    New: 0
    Edit: 1
  ShoppingSource:
    User: 0
    Product: 1
  SuggestionGender:
    Neutral: 0
    Male: 1
    Female: 2
  UserShowSource:
    HomeRedirect: 'home_redirect'
    Login: 'login'
    UserCreate: 'user_create'
    ProductCreate: 'product_create'
    ProductDeleted: 'product_deleted'
    ShoppingsCreate: 'shoppings_create'
    ShoppingsCreateError: 'shoppings_create_error'
    Invite: 'invite'
  WelcomeFilter:
    Learn: 'intro'
    Share: 'share'
  OGObject:
    Item: "oncloset:item" 
    Store: "oncloset:store" 
  OGAction:
    Add: "oncloset:add" 

# Enumerations for javascript
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:javascript: &javascript
  <<: *common
  Callback:
    ProductsLoaded: 'productsLoaded'
    ProductsRendered: 'productsRendered'
    UsersListLoaded: 'usersListLoaded'
    StoresLoaded: 'storesLoaded'
    FileSelected: 'fileSelected'
    FileUploadError: 'fileUploadError'
    FileUploadDone: 'fileUploadDone'
    FileUploadProgress: 'fileUploadProgress'
    ProductResultsLoaded: 'productResultsLoaded'
    ProductResultsEmpty: 'productResultsEmpty'
    ProductResultsFinished: 'productResultsFinished'
    ProductResultsQueryEdit: 'productResultsQueryEdit'
  ProductFormType:
    New: 'new'
    Edit: 'edit'
  ProductQueryType:
    Text: 'text'
    URL: 'url'
  ViewAllType:
    UserStores: 'User Stores'

