
# Enumerations shared across ruby & javasript.
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:common: &common
  InvitePlatform:
    Facebook: 0
    Email: 1
  FBSharing:
    Underway: '1'

# Enumerations for ruby. 
#
:ruby: &ruby
  <<: *common
  ActionName:
    Like: 'like'
    Own: 'own'
    Want: 'want'
  EmailPurpose:
    Admin: 99
    NewComment: 0
    NewFollower: 1
    NewLike: 2
    TopShopper: 4
    Welcome: 10
    AnotherPurchase: 13
    AddItem: 14
    AddFriend: 15
    AddStore: 16
    FriendDigest: 18
    Revive: 19
  FeedShowSource:
    Login: 'login'
  FollowingSource:
    Auto: 0
    Manual: 1
    Suggestion: 2
    Invite: 3
  HealthReportService:
    AnotherItemPrompt: 2
    AddItemsPrompt: 3
    FriendsDigest: 7
    MaintainSearchIndex: 8
  HomeShowSource:
    UserCreateError: 'user_create_error'
    LoginError: 'login_error'
    Logout: 'logout'
  PurchaseEditSource:
    Updated: 'updated'
  SearchSource:
    New: 0
    Edit: 1
  SettingsIndexSource:
    Updated: 'updated'
  ShoppingSource:
    User: 0
    Purchase: 1
  SuggestionGender:
    Neutral: 0
    Male: 1
    Female: 2
  UserShowSource:
    PurchaseDeleted: 'purchase_deleted'
  WelcomeFilter:
    Learn: 'intro'
    Create: 'create'
  OGObject:
    Purchase: "dw_mine:purchase" 
    StoreName: "dw_mine:store_name" 
  OGAction:
    Share: "dw_mine:share" 

# Enumerations for javascript
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:javascript: &javascript
  <<: *common
  PurchaseFormType:
    New: 'new'
    Edit: 'edit'
  ProductQueryType:
    Text: 'text'
    URL: 'url'
