
# Enumerations shared across ruby & javasript.
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:common: &common
  InvitePlatform:
    Facebook: 0
    Email: 1
  FBSharing:
    Underway: '1'
  NotificationIdentifier:
    Like: 0
    Comment: 1
    Following: 2
    UnapprovedPurchases: 3
  TWSharing:
    Underway: '1'
  TumblrSharing:
    Underway: '1'
  SearchSource:
    New: 0
    Edit: 1
    User: 2
    Purchase: 3

# Enumerations for ruby. 
#
:ruby: &ruby
  <<: *common
  ActionName:
    Like: 'like'
    Own: 'own'
    Want: 'want'
  EmailPurpose:
    Admin: 99
    NewComment: 0
    NewLike: 2
    NewFollower: 1
    Welcome: 10
    AnotherPurchase: 13
    AddItem: 14
    AddFriend: 15
    AddStore: 16
    FriendDigest: 18
    Suggestions: 20
    AddPurchase: 21
    FeedbackOffer: 22
    Invite: 23
    News: 24
    Importer: 25
    DownloadApp: 26
    FriendImported: 27
    PurchasesImported: 28
  EmailProvider:
    Gmail: 0
    Yahoo: 1
    Hotmail: 2
  FeedShowSource:
    Login: 'login'
  FollowingSource:
    Auto: 0
    Manual: 1
    Suggestion: 2
    Invite: 3
  HealthReportService:
    FriendsDigest: 7
    MaintainSearchIndex: 8
    AfterJoinEmails: 9
    AddPurchaseEmails: 10
    LaunchCrawl: 11
    MaintainEmailList : 12
    MinePurchaseEmails: 13
    PurchasesImportedReminder: 14
    AfterJoinRunImporter: 15
    AfterJoinDownloadApp: 16
  HomeShowSource:
    UserCreateError: 'user_create_error'
    LoginError: 'login_error'
    Logout: 'logout'
    FBDenied: 'fb_denied'
    TWDenied: 'tw_denied'
  PurchaseSource:
    Client: 0
    Email: 1
  PurchaseEditSource:
    Updated: 'updated'
  SettingsIndexSource:
    Updated: 'updated'
  ShoppingSource:
    User: 0
    Purchase: 1
  SuggestionGender:
    Neutral: 0
    Male: 1
    Female: 2
  UserShowSource:
    PurchaseDeleted: 'purchase_deleted'
  WelcomeFilter:
    Info: 'info'
    Learn: 'intro'
    Connect: 'connect'
    History: 'history'
    Create: 'create'
    Share: 'share'
  OGObject:
    Purchase: "getmineapp:purchase" 
    StoreName: "getmineapp:store_name" 
  OGAction:
    Share: "getmineapp:share" 
  TWCard:
    Summary: "summary" 
    Photo: "photo"

# Enumerations for javascript
#
# Use wisely. It's costly to load and populate a giant
# enumerations file on every request.
#
# IMP: After editing please run "rake js:dump:enums" to generate
#      enumerations in JS friendly format.
#
:javascript: &javascript
  <<: *common
  PurchaseFormType:
    New: 'new'
    Edit: 'edit'
  ProductQueryType:
    Text: 'text'
    URL: 'url'
  Settings:
    FbAuth: 'fb_auth'
    TwAuth: 'tw_auth'
    TumblrAuth: 'tumblr_auth'
    GoogleAuth: 'google_auth'
    YahooAuth: 'yahoo_auth'
    HotmailAuth: 'hotmail_auth'
    FbAccessToken: 'fb_access_token'
