<div class="box-title" style="margin-top: -6px;">
	About Mine
</div>

<div class="info-box well-box border-box rounded-5 alias-smooth relative">
	<p class="txt m border-box" style="margin-bottom: 0;">
		Mine is a quick and easy service for telling people when you buy something. 
		Post your item's official picture, store and link; control who you share with; and build your online catalog of purchases.
	</p>
</div>


<div class="box-title">
	The team
</div>

<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative">
  
	<img alt="Pierre Legrain" class="user-photo xxl rounded-3 absolute" src="http://graph.facebook.com/517379696/picture?type=square">

	<div id="follow-box">
	  <a class="btn btn-green follow shaded absolute rounded-3" href="javascript:void(0)" id="destroy_following_5408">
	    <span class="hide-when-loading"><i class="icon-ok icon-white"></i></span>
	    <i class="icon-loading icon-white"></i>
	  </a>
	</div>
	
	<p class="user-name">
		Pierre Legrain
	</p>
	
	<p class="txt m border-box">
		Pierre graduated in Information Design from the University of the Arts, London. 
		He worked in ad planning, political polling and media before moving to Stanford for his MBA. 
		Post-Stanford, he was Twitter's first PMM, working on Promoted Tweets, Accounts and Trends.
		His luckiest break was teaming up Sid and Deepak to work on Mine. He's not a fan of air-conditioning.
	</p>    
       
</div> <!--/about-box -->



<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative" style="margin-top: 0;">
  
	<img alt="Pierre Legrain" class="user-photo xxl rounded-3 absolute" src="http://graph.facebook.com/502835064/picture?type=square">

	<div id="follow-box">
	  <a class="btn follow shaded absolute rounded-3" href="javascript:void(0)" id="create_following_5408">
	    <span class="hide-when-loading">Follow</span>
	    <i class="icon-loading icon-white"></i>
	  </a>
	</div>
	
	<p class="user-name">
		Siddharth Batra
	</p>
	
	<p class="txt m border-box">
		Pierre graduated in Information Design from the University of the Arts, London. 
		He worked in ad planning, political polling and media before moving to Stanford for his MBA. 
		Post-Stanford, he was Twitter's first PMM, working on Promoted Tweets, Accounts and Trends.
		His luckiest break was teaming up Sid and Deepak to work on Mine. He's not a fan of air-conditioning.
	</p>
	   
</div> <!--/about-box -->



<div class="info-box pictured well-box border-box rounded-5 alias-smooth relative" style="margin-top: 0;">
  
	<img alt="Pierre Legrain" class="user-photo xxl rounded-3 absolute" src="http://graph.facebook.com/699760342/picture?type=square">

	<div id="follow-box">
	  <a class="btn follow shaded absolute rounded-3" href="javascript:void(0)" id="create_following_5408">
	    <span class="hide-when-loading">Follow</span>
	    <i class="icon-loading icon-white"></i>
	  </a>
	</div>
	
	<p class="user-name">
		Deepak Rao
	</p>
	
	<p class="txt m border-box">
		Pierre graduated in Information Design from the University of the Arts, London. 
		He worked in ad planning, political polling and media before moving to Stanford for his MBA. 
		Post-Stanford, he was Twitter's first PMM, working on Promoted Tweets, Accounts and Trends.
		His luckiest break was teaming up Sid and Deepak to work on Mine. He's not a fan of air-conditioning.
	</p>    
       
</div> <!--/about-box -->