<div class="box-title" style="margin-top: -6px;">
	Frequently asked questions
</div>

<div class="info-box well-box border-box rounded-5 alias-smooth relative">

	<div class="unit">
		<h4>What is Mine?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			Mine is a directory of people and the interesting things they've bought. People use Mine to import their purchase history, 
		look up, browse and follow other people, discover new items through them, and shop.
		</p>
	</div>
	
	<div class="unit">
		<h4>What do I need to use the service?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			Not much. To 
      <%=link_to_unless @web_view_mode,
          "log in",
          root_path(:src => "faq"),
          :class => "dark underlined"%>
      you need either a Twitter or Facebook account.
			If you want to share your purchases out to Facebook, Twitter and Tumblr, you'll need accounts for these services.
		</p>
	</div>
	
	<div class="unit">
		<h4>Who sees the purchases I share?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			Your followers on Mine (you'll build these up over time), people who look you up by name, and, if you connect your accounts and choose to share out, your connections on Facebook, Twitter and Tumblr, too.
		</p>
	</div>
	
	<div class="unit">
		<h4>What does following someone on Mine do?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			When you click the 'Follow' button next to a user's name, you'll start seeing purchased items they've shared in your feed when you log in.
			You can follow and unfollow anyone you like, at any time.
		</p>
	</div>
	
	<div class="unit">
		<h4>How do I find people to follow?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			If you have someone in mind, you can search for them or invite them to join you. 
			You'll also discover all sorts of interesting people through browsing their purchases, comments and followers.
		</p>
	</div>
	
	<div class="unit">
		<h4>How can I delete one of my items?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			On the web, click the edit (pen) icon on your item, and then the trash icon to delete your item permanently.
			On the Mine iPhone and iPod Touch app, simply swipe your finger across your item and choose 'Delete'.
		</p>
	</div>
	
	<div class="unit">
		<h4>Who makes Mine?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			We're a small team based in Palo Alto, California. Find out more about us 
      <%=link_to "here",
          about_path(:src => "faq",:web_view_mode => @web_view_mode),
          :class => "dark underlined"%>.
		</p>
	</div>
	
	<div class="unit">
		<h4>I have a problem. Whom should I contact?</h4>
		<p class="txt m border-box" style="margin-bottom: 0;">
			Email us any time at <a class="dark underlined" href="mailto:contact@getMine.com">contact@getMine.com</a> and we'll get back to you as soon as we can.
		</p>
	</div>
	
</div>


<%content_for :javascript do%>
  <script type="text/javascript">
    Denwen.Track.action("FAQ View",{"Source" : "<%=@source%>"});
  </script>
<%end unless @web_view_mode%>
