
    <div id="hotmail_connect" 
      class="hotmail-connect"
      style="display:none;">
    
	    <div class="form-row">
		    <div class="label-box txt s border-box inline-block">
		    	<b>Email</b>
		    </div>
		    <div class="action border-box inline-block">
          <%=text_field_tag :hotmail_email,"",
                :class => "txt l rounded-3 border-box",
                :placeholder => "Hotmail, Outlook.com, Live or MSN",
                :class => "enter m border-box rounded-2 inline",
                :style => ""%>
			  </div>
	    </div>
	    
	    <div class="form-row">
	    	<div class="label-box txt s border-box inline-block">
		    	<b>Password</b>
		    </div>
		    <div class="action border-box inline-block">
          <%=password_field_tag :hotmail_password,"",
                :class => "enter m border-box rounded-2 inline"%>
			  </div>
		    <div class="extras txt s border-box inline-block">
		    	<%=image_tag "icons/gray-icon-lock.png",
          		:class => ""%>
		    </div>
	    </div>
	    
	    <div class="form-row">
	    	<div class="label-box txt s border-box inline-block">
		    </div>
		    <div class="action border-box inline-block">
		    	<button id="hotmail_submit_button" 
	          type="submit" 
            class="btn btn-silver btn-small border-box shaded rounded-2"
	          style="width: 90px;">
	          <span class="hide-when-loading">
	            Connect
	          </span>
	          <i class="icon-loading icon-white"></i>
      		</button> <!-- submit -->
		    </div>
				<div class="extras txt s border-box inline-block">
		    </div>
	    </div>
	    
  	  <%=image_tag "logos/hotmail-brands-mid-2x.png",
          :class => "hotmail-brands"%>
    
    </div> <!--/hotmail-connect -->
