
  <! -- modal log in -->
  <div class="modal hide rounded-5" 
    id="hotmail_connect" 
    style="">

    <div class="modal-body rounded-3 relative" 
      style="">
      
      <h2 style=""></h2>

      <%=text_field_tag :hotmail_email,"",
            :class => "txt l rounded-3 border-box",
            :style => ""%>

      <%=password_field_tag :hotmail_password,"",
            :class => "txt l rounded-3 border-box",
            :style => ""%>

      <br>

      <button id="hotmail_submit_button" 
          type="submit" 
          class="btn btn-large border-box shaded rounded-5"
          style="width: 100px; margin-top: 24px;">
          <span class="hide-when-loading">
            Connect
          </span>
          <i class="icon-loading icon-white"></i>
      </button> <!-- submit -->
      
    </div> <!-- /modal-body -->
  </div> <!-- /modal log in -->
