<!DOCTYPE html>
<html lang="en">
  <head>
    <%=include_stylesheets :application-%>
  </head>

  <body>
  
  <div id="container" class="container border-box relative" style="padding-bottom: 26px">   
  
  
  <div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative" style="margin: 26px 0 22px;">


  	<div id="user_box" class="user-box">
  
  	<%=image_tag "home/mike.jpg",
		:class => "user-photo xxl rounded-3 absolute"%>
        
    <div class="basics border-box">
    	<span class="rwd-hide"></span>Mike Hudack 
    	<br>
    	<span class="item-count">
        
          <b>87</b> 
          items
        
      </span>

        <a ><img alt="F-box" class="f-box opacity-80-100" src="http://d3sqjd4akk98do.cloudfront.net/4083694da87bcc220eeabb270012c24ec40b2864/images/social/f-box.png?1349740388"></a>

      
    </div>
         
  </div> <!-- /user-box-->
 
 	<!-- bio: -->

    <div id="user_byline_box" class="bio-box">
			<div class="user-bio txt m border-box">
        I'm a product manager at Facebook. Before that I founded and served as CEO of Blip, an online video company focused on series. 
     </div>
    </div>

  <!--/bio-->


	<!-- Following -->
  
    <div class="follow-count-box inline-block border-box">
    
	    <a class="dark">
				<span class="num">18</span>
				<span class="txt xs"> Following</span>
			</a>
			
				<ul class="rwd-hide border-box inline-block relative">

			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Siddharth Batra">
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/502835064/picture?type=square">
				      	</a>
			        </li>
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/2241884/picture?type=square">
				      	</a>
			        </li>

			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Donnovan Andrews">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/513928966/picture?type=square">
				      	</a>
			        </li>

			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Roman Chadnov">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/1057832864/picture?type=square">
				      	</a>
			        </li>

	      </ul>

    </div> <!-- /follow-count-box -->

  <!-- Followers -->
  
    <div class="follow-count-box right inline-block border-box">
			
			<a class="dark" >
				<span class="num">21</span>
				<span class="txt xs"> Followers</span>
			</a>
			
				<ul class="rwd-hide border-box inline-block relative">

			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="John Heywood">
		        			
				      		<img alt="Profile_image?user_id=14216557&amp;size=bigger" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=14216557&amp;size=bigger">
				      	</a>
			        </li>

			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Anna Levitt">
		        			
				      		<img alt="Profile_image?user_id=7385162&amp;size=bigger" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=7385162&amp;size=bigger">
				      	</a>
			        </li>
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/2241884/picture?type=square">
				      	</a>
			        </li>
	 
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Prateek Saxena">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/733933893/picture?type=square">
				      	</a>
			        </li>
	      
	      </ul>
      
      
    </div> <!-- /follow-count-box-->
  
	

</div> <!--/ profile-box -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div id="feed" class="feed rounded-8 relative">
	<div id="purchase-22764" style="" class="item rounded-8">
  
  
  <div class="photo-box relative">
  
  	<!-- edit button -->
  	
		
		<!-- like button -->
		 
			<a class="like btn pushed absolute shaded border-box rounded-3">
		  	<i class="icon-heart icon-white"></i>
				<i class="icon-heart icon-black"></i>
			</a>		
		
    	<img class="item-photo rounded-3" src="http://g-ecx.images-amazon.com/images/G/01/kindle/dp/2012/KC/paperwhite-display._V389377334_.jpg">
  </div>
  
  
  <div class="panel overflowing">
		<div class="panel-contents border-box rounded-5 relative">
      	
			<b class="caret absolute opaque"></b>
			
			<div class="title-box txt l relative rounded-3">
					
				<%=image_tag "home/mike.jpg",
					:class => "user-photo xl rounded-3 absolute"%>
		    
		    <span style="padding-right: 3px;">
	       Mike Hudack bought his Kindle Paperwhite from Amazon
		    </span>
		    
        <span class="time">
  				5 Oct
				</span>
		   
	    </div> <!-- /title-box -->

				
				<div class="endorsement-box txt m">
          Arrived today. Couldn't wait to get it. A thing of beauty. 
        </div>
       <!-- /endorsement-box -->
      
      
				<div class="likes-box txt m relative" id="purchase_likes_box_22772" style="">
						
						      <!--div class="fader absolute">
						      </div-->
						
						      <span class="num" id="purchase_likes_22772_aggregate">10</span>
						
						      <span class="text" id="purchase_likes_22772_aggregate_text">likes</span>
						
						      <span id="purchase_likes_22772">
						      <div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/502835064/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/517379696/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/699760342/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/6558/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/516534321/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/100000665730518/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/585632969/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/509076692/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/832990009/picture?type=square" alt="">
					</div>
					<div class="user-photo-box relative">
					    <img class="user-photo s rounded-3" src="http://graph.facebook.com/733933893/picture?type=square" alt="">
					</div>
					</span>
				</div> <!-- /likes -->
	    
	    
				<div class="comments-box" id="purchase_comments_box_22790">
					    
					<div id="purchase_comments_22790">
					
						<div class="comment-box relative txt m">
						  <a >
						    <img class="user-photo m absolute rounded-3" src="http://graph.facebook.com/1500439/picture?type=square">
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      Josh Cincinnati
						    </a>
						  </div>
						  I love mine so far! The case they sell is pretty good too.
						</div>
					
						<div class="comment-box relative txt m">
						  <a >
						    <img class="user-photo m absolute rounded-3" src="http://graph.facebook.com/516534321/picture?type=square">
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      Dihan Algama
						    </a>
						  </div>
						  I have to wait until 10/22 ugh
						</div>

						<div class="comment-box relative txt m">
						    <img class="user-photo m absolute rounded-3" src="http://graph.facebook.com/517379696/picture?type=square">
						  <div class="user-name arial txt xs">
						    <a>
						      Pierre Legrain
						    </a>
						  </div>
						  Mike, question I can't seem to get answered anywhere - is it permanently backlit (ie even slightly when you lower the brightness right down) or can you also use it as a regular traditional e-ink kindle?
						</div>
						
						<div class="comment-box relative txt m">
						  <a >
						    <img class="user-photo m absolute rounded-3" src="http://api.twitter.com/1/users/profile_image?user_id=14216557&amp;size=bigger">
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      John Heywood
						    </a>
						  </div>
						  Got it on Wednesday. I think it's called early adopting or something like that. :)
						</div>
						
						<div class="comment-box relative txt m">
						  <a >
						    <img class="user-photo m absolute rounded-3" src="http://api.twitter.com/1/users/profile_image?user_id=14216557&amp;size=bigger">
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      John Heywood
						    </a>
						  </div>
						  Pierre, you can turn down the backlit feature all the way down to a regular kindle
						</div>
						
						<div class="comment-box relative txt m">
						    <img class="user-photo m absolute rounded-3" src="http://graph.facebook.com/517379696/picture?type=square">
						  <div class="user-name arial txt xs">
						    <a>
						      Pierre Legrain
						    </a>
						  </div>
						  Thanks John!
						</div>
						
						<div class="comment-box relative txt m">
						  <a >
						    <img class="user-photo m absolute rounded-3" src="http://graph.facebook.com/6558/picture?type=square">
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      Sonia Kastner
						    </a>
						  </div>
						  FWIW - I love the backlit feature - haven't needed to use it all that much, but it's nice to have the option.
						</div>
						
						<div class="comment-box relative txt m">
						  <a >
		  					<%=image_tag "home/mike.jpg",
									:class => "user-photo m absolute rounded-3"%>
						  </a>
						  <div class="user-name arial txt xs">
						    <a >
						      Mike Hudack
						    </a>
						  </div>
						  Also, I got the version without ads — they weren't too annoying when I saw them on John's Kindle, but I just preferred it.
						</div>
					
					</div>
	      
	    </div> <!-- /comments-box -->
	    
	  </div> <!-- /panel-contents -->

  </div> <!-- /panel -->

</div> <!-- /item -->	
</div>








		   
			</div>
  </body>
</html>
