<!DOCTYPE html>
<html lang="en">
  <head>
    <%=include_stylesheets :application-%>
  </head>

  <body>
  	<div id="container" class="container border-box relative" style="padding-bottom: 26px">   
		  
    <%=render "headers/sample" unless @web_view_mode%>

		<div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative" style="margin-top: 26px">

  	<div id="user_box" class="user-box">
  
			<%=image_tag "home/ag2.jpg",
					:class => "user-photo xxl rounded-3 absolute"%>		
					        
    <div class="basics border-box">
    	<span class="rwd-hide"></span>Alex Griendling 
    	<br>
    	<span class="item-count">
        <b>21</b> 
        items
      </span>
     	<img alt="T-box" class="t-box opacity-80-100" src="http://d3sqjd4akk98do.cloudfront.net/4083694da87bcc220eeabb270012c24ec40b2864/images/social/t-box.png?1349836608">
      <img alt="F-box" class="f-box opacity-80-100" src="http://d3sqjd4akk98do.cloudfront.net/4083694da87bcc220eeabb270012c24ec40b2864/images/social/f-box.png?1349740388">
    </div>
         
  </div> <!-- /user-box-->
 
 
 	<!-- bio: -->
          
  <div id="user_byline_box" class="bio-box">
		<div class="user-bio txt m border-box">
      Graphic designer / illustrator guy. Member of the Google Art Dept. Admirer of outer space. I have a cat named Batman, I never call him Bruce. Other stuff.
   </div>
  </div>
       
  <!--/bio-->


	<!-- Following -->
  
    <div class="follow-count-box inline-block border-box nowrap">
    
	    <a class="dark">
				<span class="num">29</span>
				<span class="txt xs"> Following</span>
			</a>
			
			
				<ul class="rwd-hide border-box inline-block relative">
					
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/504764570/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Andrew Tam">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/51801816/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Krassimir Piperkov">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/517379696/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Josh Cincinnati">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/608682285/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
	      
	      </ul>
	    
      
    </div> <!-- /follow-count-box -->
  
  

  
  <!-- Followers -->
  
    <div class="follow-count-box right inline-block border-box nowrap">
			
			<a class="dark">
				<span class="num">60</span>
				<span class="txt xs"> Followers</span>
			</a>
			
			
				<ul class="rwd-hide border-box inline-block relative">
	
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=187959128&size=bigger">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Siddharth Batra">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=385994232&size=bigger">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Andrew Tam">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=254365757&size=bigger">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Krassimir Piperkov">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/503144823/picture?type=square">
				      	</a>
			        </li>
	 
		        
		      
	      
	      </ul>
      
      
    </div> <!-- /follow-count-box-->
  
	

</div> <!-- /profile-box -->



<div class="box-title profile-feed-title relative">
	Alex's items
</div>



<div class="profile-feed rounded-8 relative">
  
    <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MTI3MDZhNzU1YzBmN2Y3ZGU1MzkxMzUyMDgwMzc0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		X-treme X-men 5 from Comic Conspiracy 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
     
    
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_YTg0ZGQ4OTI2YTk4YzNlZmE4NDUxMzUyMDgwNTkx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		Winter Soldier 12 from Comic Conspiracy 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->


	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MDBmMDJkODViOWM3NTE5YmNiM2IxMzUxNDg0ODM2.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		The Art Of Journey from BlueCanvas
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZjRmZTkwYjc2YjM2YjZjZTA0YWExMzUyMzM1Njc5.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
        	Uncanny X-force 33 from Comic Conspiracy		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZTRiMjliMjlmYWVhODM3NmRkMzAxMzUxNDgzNzM0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            The Avengers BluRay from Target
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZGE1ODI0ZTYzMzMyNGVlOGM3M2YxMzUxNDgzNTAx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

           Saga Volume One from Comic Conspiracy
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->





	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_YmMxZGJiZjgzMzU0NjNlMDU1MGMxMzUxNDgyNzk3.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Grado Prestige Series Sr-60i Padded Headphones from Amazon

		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZmMyYjgzY2ZhOWI3ZjRjZTA3Y2QxMzUxNDgyNDkw.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Mark Of The Ninja from Xbox Live Marketplace
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    
    	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MDA3NDFlNmNhMzIyMTc4ZGMzZTcxMzUxNDgyMTEx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
		      
            Cloud Key Holder from http://www.suck.uk.com/
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->



	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ODFhNmMwMWYyMGE5Yjc2YWM3YjkxMzUxNDgxOTg3.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Cloud Atlas from Leigh's Favorite Books	      

		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->


	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZGYyOWU2NTk5Zjg3ZDNiYjY0MTMxMzUxNDgxODc4.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
		      Hellboy: The Right Hand of Doom from Amazon     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_OWQwMzM3MzFiMWFmZTFjNWE1ZGQxMzUxNDgxNTMy.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Blankets Graphic Novel from Amazon
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZDY3ZjgzNWZmNjlhNDdjNWIwYjYxMzUxNDgxNDA1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

            Halo 4 from Amazon
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->



	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZjFlNmIxZTU1NTA1ZGI3OTBlZTYxMzQ4NTAyMTc0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		     Wolverine The Jungle Adventure from Amazon
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NjViYjg3MGE5ZGEzYzQzZmE0NTMxMzQ3OTA5OTgx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
        	Quad Lock iPhone Case from Quad Lock
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_N2RjNmE4MDE4MjAwYmQ1OWEwNDYxMzQzMzU1NjQz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
		      
           Metal Gear Solid 4 from Amazon
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ODU0YjM5ODNjOWZlNmEwZjI1ZWIxMzQzMzU1NTY1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Metal Gear Solid Hd Collection from Amazon      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MTMwNzY1MzRiNWY3OTRmZDYxYTUxMzQzMzI1NDkx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Uncanny X-force 28      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NDMzODlhOTA2MzZkZGVjNmU5ZWQxMzQzMjY3Njk0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
           OSX Mountain Lion from App Store
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MGExM2I3ZGQ2OTgxYTBhYjYxYTIxMzQzMTAxMDQy.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Dark Knight Rises Tickets from Fandango
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZjhlNGFlMjViMzExMmIxYWM5MGIxMzQxODk4ODM5.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Age Of Apocalypse Omnibus from Amazon	      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->

  
</div> 






		   
			</div>
  </body>
</html>
