<!DOCTYPE html>
<html lang="en">
  <head>
    <%=include_stylesheets :application-%>
  </head>

  <body>
  	<div id="container" class="container border-box relative" style="padding-bottom: 26px">   
		  
    <%=render "headers/sample" unless @web_view_mode%>

		<div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative" style="margin-top: 26px">

  	<div id="user_box" class="user-box">
  
			<%=image_tag "home/Richard2.gif",
					:class => "user-photo xxl rounded-3 absolute"%>		
					        
    <div class="basics border-box">
    	<span class="rwd-hide"></span>Richard Perez 
    	<br>
    	<span class="item-count">
        <b>23</b> 
        items
      </span>
     	<img alt="T-box" class="t-box opacity-80-100" src="http://d3sqjd4akk98do.cloudfront.net/4083694da87bcc220eeabb270012c24ec40b2864/images/social/t-box.png?1349836608">
      <img alt="F-box" class="f-box opacity-80-100" src="http://d3sqjd4akk98do.cloudfront.net/4083694da87bcc220eeabb270012c24ec40b2864/images/social/f-box.png?1349740388">
    </div>
         
  </div> <!-- /user-box-->
 
 
 	<!-- bio: -->
          
  <div id="user_byline_box" class="bio-box">
		<div class="user-bio txt m border-box">
      graphic designer / illustrator / cat whisperer.
   </div>
  </div>
       
  <!--/bio-->


	<!-- Following -->
  
    <div class="follow-count-box inline-block border-box nowrap">
    
	    <a class="dark">
				<span class="num">65</span>
				<span class="txt xs"> Following</span>
			</a>
			
			
				<ul class="rwd-hide border-box inline-block relative">
					
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/608682285/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Andrew Tam">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/503322945/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Krassimir Piperkov">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/100003080911869/picture?type=square">
				      	</a>
			        </li>
		              
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Josh Cincinnati">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=7385162&size=bigger">
				      	</a>
			        </li>
		              
		        
		      
	      
	      </ul>
	    
      
    </div> <!-- /follow-count-box -->
  
  

  
  <!-- Followers -->
  
    <div class="follow-count-box right inline-block border-box nowrap">
			
			<a class="dark">
				<span class="num">88</span>
				<span class="txt xs"> Followers</span>
			</a>
			
			
				<ul class="rwd-hide border-box inline-block relative">
	
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Lee Linden">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/568084922/picture?type=square">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Siddharth Batra">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/513303014/picture?type=square">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Andrew Tam">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://api.twitter.com/1/users/profile_image?user_id=15665038&size=bigger">
				      	</a>
			        </li>
	 
		        
		      
		             
		        
			        <li class="pic s inline-block">
			        	<a style="display: block;" rel="tooltip" data-original-title="Krassimir Piperkov">
		        			
				      		<img alt="Picture?type=square" class="user-photo s shaded rounded-2" src="http://graph.facebook.com/100000415301730/picture?type=square">
				      	</a>
			        </li>
	 
		        
		      
	      
	      </ul>
      
      
    </div> <!-- /follow-count-box-->
  
	

</div> <!-- /profile-box -->



<div class="box-title profile-feed-title relative">
	Richard's items
</div>



<div class="profile-feed rounded-8 relative">


	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MTk5OGZmNWI0NjNmOTAyYThlZGQxMzU0NDY1OTAx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		Charley Harper Animal Kingdom from Ammo 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->


	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NjQ3Nzg1YTI4OTllMDU1OTMwY2QxMzUxODYzNjE4.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		Orc Stain from Amazon 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
     
     
  
    <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZWRlYzI3ODI1YWI3NzNjNGFjODQxMzQ5OTE3NTY2.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		Lab Partners California Gold Poster Set from Lab Partners 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
     
    
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MGNlN2JhZWFlNWZjNWZmNDQ3OTcxMzQ5OTc4OTIz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		Space Chronicles 
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->


	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MjMyNmViMWYyMzJlZjc4NDVjNTIxMzQ5OTc5MDU5.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
       		The Elegant Universe by Brian Greene from Amazon
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZjQwYjUyOGI3NWRjYTc4M2JhYTIxMzQ5OTE3MTg2.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Jim Guthrie - Sword Sworcery EP Vinyl from bandcamp		      
		

		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NThmZGRjMGViZmY0YjZkZTA1MDExMzQ5OTE3MDg0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Gotham's Hero by Alex Griendling from Alex Likes Design
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NjgyNGVmOGVkMjhhZjhjZTNjODkxMzUwMDAyNjY3.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

            Leuchtturm Grid Notebooks from Flax
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->





	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_YjhiNjQ4OTMwNTE4ZTc2NDEyYTgxMzQ5OTE2OTU1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            San Francisco Art Print by Albert & Marie from Etsy

		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_OTAzNTM5MjllYzMzMWQ5NGQzMDIxMzQ5OTE2NTE1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Elephant Magazine Subscription from Frame Publishers
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
    	<%=image_tag "home/creativecloud.jpg",
				:class => "item-photo"%>
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
		      
            Adobe Creative Cloud Subscription from Adobe
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->



	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NWViYjdkYzJmOTdiMDMzZWQwOWQxMzQ5OTE2MzE0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Alex Steinweiss: The Inventor Of The Modern Album Cover from Amazon		      

		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_N2Q0OGVkZWYwZTY4ZGIzYzk0MjExMzQ5OTE2MTIz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">
            Moon Duo - Circles LP from Sacred Bones		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MDhlNDkwMzQxYmIyMWRjMTNhMDAxMzQ5OTE1ODQz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Anatomy of a Xenomorph Shirt from Brand McGinty		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZDNmMWIwNmQzMzM4MmFmMzAyMTExMzQ5OTE1Njg0.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Nobrow 6 from Nobrow Press
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->
  
  
  
  <div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZDMzOTM4ZTk3YmViNzI0YmMxOGYxMzUwMDAzMDUz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

            Blackwing 602 Pencils from Flax
		     
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->



	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZjFlMTNiZDg2ZTEyODljMDQzZjkxMzQ5OTEzMTMz.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		     Golden Book Mary Blair from Amazon
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NzM4MGFmMWM1MjgwNjIxM2Y3OWYxMzQ5OTEyOTY2.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
            Symbol from Amazon
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_ZmEwNzhhZDk5ZGExNWFlZTFiYWQxMzQ5OTEyNjU1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
           Jodorowsky's Dune from Mondo
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NzYzMGVmMTA5YzlkMjIzODVmNzAxMzQ5OTE2NjUx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Building Stories from Amazon		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MTkwNGFiMDI3YTExNGVkMDg5MGIxMzQ5NzM1Mjkw.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Get On Down from Alameda Antiques Faire		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_Nzc3ZjQyYmMwYjJkYzQ4NDg4NWIxMzQ5NzM1MDQx.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      
           Avant Garde 1st Anniversary Issue from Alameda Antiques Faire
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MjA0MzM5MTMxMjBiOGQwN2MwMjcxMzQ5NzM1MDAy.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Avant Garde Devaluing The Dollar from Alameda Antiques Faire
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_YTFmZGQ1NDdhODEwYzNmNzVhMzIxMzQ1Nzc1Mjk3.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Herb Lubalin American Graphic Designer 1918 - 81 from Unit Editions		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_NDAwMDAxNjgxZWE4MzUxZmExZTExMzQwMTI5MjM1.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Nike Free Run 3 from Nike
		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->




	<div class="card relative rounded-3 border-box">
	
    <div class="photo-box rounded-3">
    	 
      	<img alt="" class="item-photo" src="http://d2lxhjuhtvdpxn.cloudfront.net/s_MWJjMjM5NWQyYTVlZTM1NDZlN2IxMzM4MDk3ODYy.jpg">
    	
    </div>
    
    <div class="panel">
    	<div class="panel-contents rounded-3 relative">
    	
    		<b class="caret absolute opaque"></b>
    
		    <div class="title-box txt s relative rounded-3">

		      Cohen Brothers Collection from Amazon		      
		    </div> <!--/title-box -->
    
    	</div> <!--/panel-contents -->
    </div> <!--/panel -->
    
  </div> <!-- /card -->


    
  
</div> 






		   
			</div>
  </body>
</html>
