<div id="container">
  <table>
    <%@collections.each do |collection|%>
      <tr>
        <td><%=link_to collection.name.present? ? collection.name : 'No Name',
                  collection_path(collection.user.handle,collection.id)%></td>
        <td><%=user_full_name(collection.user)%></td>
      </tr>
    <%end%>
  </table>
</div>
