body { 
	background: #eee;
	overflow-x: hidden;
	font-size: 14px;
	text-rendering: optimizelegibility; }

a { 
	color: #0ab0ed;
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	
a:hover { 
	color: #177dbe;
	text-decoration: none; }


/* Header Nav
==================================================================== */

.header {
	height: 72px;
	background: #fff;
	margin-bottom: 36px; }
	
.header .navigation {
 height: 72px;
 line-height: 72px; }

.header .navigation .action {
	float:right;
	margin-top: 15px; }

.header .logo {
	margin-top: 4px;
	height: 78px;
	width: 203px; }
	
.header .btn-user { 
	padding-left: 50px !important;
	overflow-y: hidden; }

.header .btn-user .self-photo {
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px; }
	
.header .btn-group .icon-chevron-down {
	opacity: 0.75;
  filter: alpha(opacity=75); }

.container, .header .navigation, footer .inner {
	width: 820px;
	margin: 0 auto; }
	
.thumbnail-box { 
	padding: 0 0 36px;
	border-bottom: 1px dotted #CCC; }
	
.thumbnail-box p {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 13px; }

.thumbnail-box .thumb { 
	display: inline-block;
	background-repeat:no-repeat;
	background-position:center;
	background-size: 50px auto;
	vertical-align: middle;
	width: 50px;
	height: 50px; }

.thumbnail-box .btn { 
	display: inline-block;
	vertical-align: bottom;
	margin-top: 18px; }
	
footer {
	height: 36px;
	line-height: 36px;
	margin-top: 64px;
	background: #f8f8f8; }

footer, footer a, footer a:hover { color: #ccc; }


/* Creation
==================================================================== */

.create-box {
	line-height: 0;background: #f8f8f8; 
	border-bottom: 1px dotted #CCC;
	margin-bottom: 36px;
	text-align: center; }

.create-box .search-box {
	padding: 20px 0;
	vertical-align: middle; }
	
.create-box .enter-item-name {
	font-family: 'RooneyLightItalic', Georgia;
	width: 348px;
	padding: 0 8px;
	height: 42px;
	font-size: 15px;
	margin: 0; }

/* .create-box { z-index: 1050; position: fixed; top: 16px; } */
/* .create-box { z-index: 1050; position: absolute; } */

.create-box .panel textarea,
.create-box .panel input {
	width: 100%;
	font-size: 15px;
	padding: 8px 6px;
	margin-bottom: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
	
.create-box .panel .store-name { 
	width: 170px;
	float: left;
	height: 38px; 
	line-height: 38px; }

.create-box .panel textarea.review { margin-bottom: 24px; }

.create-box .panel label {
	line-height: 1; 
	height: 13px;
	float: left;
	color: #666;
	font-size: 13px; 
	padding: 0 0 0 18px;
	margin-left: 8px;
	cursor: pointer;
	opacity: 0.6;
  filter: alpha(opacity=60); }

.create-box .panel label:hover {
	opacity: 1;
  filter: alpha(opacity=100); }
	
.create-box .panel input.check {
	top: 1px;
	left: 0;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0; }
 
.create-box .panel .btn.add-review {
	text-align: left;
	background: #eee; 
	color: #999;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px; }

.create-box .panel .btn.add-review .icon-pencil {
	opacity: 0.4;
  filter: alpha(opacity=40); }
  
.create-box .panel .btn.add-review:hover { color: #666; }
.create-box .panel .btn.add-review:hover .icon-pencil {
	opacity: 1;
  filter: alpha(opacity=100); }
  
.create-box .panel .post-to {
	font-weight: bold;
	color: #666;
	height: 42px;
	padding: 5px 5px 5px 9px;
	line-height: 32px;
	background: white; }
	

/* Switch Toggle
==================================================================== */

.create-box .panel a.toggle-switch {
	position: relative;
	float: right;
	display: block;	
	width: 75px;
	height: 30px;
	line-height: 30px;
	background: white;
  border: solid 1px #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #333 !important;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.create-box .panel a.toggle-switch div.on,
.create-box .panel a.toggle-switch div.off {
	height: 30px; }
  
.create-box .panel a.toggle-switch div.on { 
	display: block;
	background: #177DBE;
	color: white;
	border: 1px solid transparent;
	margin: -1px -1px 0 -1px;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }

.create-box .panel a.toggle-switch div.off {
	display: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.create-box .panel a.toggle-switch.off div.off { display: block; }
.create-box .panel a.toggle-switch.off div.on { display: none; }   

.create-box .panel a.toggle-switch .text { 
	width: 43px;
	text-align: center; }
    
.create-box .panel a.toggle-switch .knob { 
	border: 1px solid #ccc;
	margin-top: -1px;
	box-sizing: border-box; 
	width: 32px;
	background-color: whiteSmoke; }
	
.create-box .panel a.toggle-switch .knob .border {
	width: 100%;
	height: 100%;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
	
.create-box .panel a.toggle-switch .on .text { float: left; }
.create-box .panel a.toggle-switch .off .text { float: right; }

.create-box .panel a.toggle-switch .on .knob {
	float: right;
	margin-right: -1px; }
	
.create-box .panel a.toggle-switch .off .knob { 
	float: left;
	margin-left: -1px; }
	
	
/* Feed Item
==================================================================== */

.feed {}

.feed .item { 
	margin-bottom: 36px; }
	
.feed .item .title-box {
	width: 520px;
	font-size: 24px;
	line-height: 32px;
	color: #666;
	padding-left: 78px;
	margin-bottom: 16px; 
	float: left; }
	
.feed .item .title-box .user-photo {
	width: 64px;
	height: 64px; 
	top: 0;
	left: 0;}
	
.feed .item .user-name, .feed.item .item-name,
.feed.item .store-name {
	font-weight: bold; }

.feed .item .item-name,
.feed .item .store-name {
	font-weight: bold;
	color: #555; }
	
.feed .item .title-box .time {
	font-family: 'RooneyLightItalic', Georgia;
	font-weight: normal;
	color: #999;
	font-size: 14px; 
	white-space: nowrap; }

.item .photo {
	width: 520px; 
	height: 520px; 
	background: #FFF; 
	text-align: center;
	line-height: 520px;
	float: left; }
	
.item .photo .navigation {
	top: 24px;
	left: 24px;
	line-height: 1; }
	
.item .photo img {
	max-width: 440px; 
	max-height: 440px; }


/* Item Actions + Comments
==================================================================== */

.item .actions, .item .panel {
	width: 300px; 
	float: left; }

.item .actions {
	margin-bottom: 16px;
	padding: 26px 24px 0; }
	
.item .panel {
	height: 520px;
	padding: 24px;
	background: #f8f8f8;
	border-radius: 0 5px 5px 0; 
	text-align: left;
	font-size: 15px;
	line-height: 24px; }
	
.item .panel .endorsement,
.item .panel .likes-box {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 12px;
	margin-bottom: 18px; }
	
.item .panel .likes-box {
	height: 28px;
	color: #555;
	margin-bottom: 18px;
	overflow: hidden;
	white-space: nowrap; }

.item .panel .likes-box .fader {
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	z-index: 500;
	background: url("/tags/img/fade-right.png") top right ; }
	
.item .panel .likes-box .text {
	padding-right: 6px; } 

.item .panel .likes-box .num {
	-webkit-font-smoothing: antialiased;
	font-weight: bold; 
	font-size: 36px; }

.item .panel .likes-box .user-photo {
	vertical-align: baseline; }

.item .panel .comment-box {
	min-height: 28px;
	margin-bottom: 12px;
	padding-left: 36px; 
	clear: both;
	color: #575E62;
	font-family: 'RooneyLightItalic', Georgia; }
	
.item .panel .user-photo,
.item .panel .self-photo {
	width: 28px;
	height: 28px;
	top: 0;
	left: 0; }

.item .panel .user-name {
	font-family: Arial;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	line-height: 1;
	text-transform: none;
	margin-bottom: 4px; }
	
.feed .item .panel .add-comment-box input {
	font-family: 'RooneyLightItalic', Georgia;
	padding-left: 36px;
	font-size: 15px;
	width: 100%;
	height: 28px;
	margin-bottom: 0; }	


/* Profile
==================================================================== */	

.user-box { 
	padding: 0 0 24px;
	line-height: 0;border-bottom: 1px dotted #CCC;
	margin-bottom: 36px; }
	
.user-box .photo-box {
	float: left;
	width: 140px;
	height: 140px;
	padding: 10px;
	overflow: hidden;
	background: white;
	text-align: center; }
	
.user-box .photo-box .border {
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
	background: transparent;
	border: 10px solid white; }
	
.user-box .photo-box img {
	/*height: 148px;*/
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: none;
	margin-left: -50%;
	margin-right: -50%; }

.user-box .text-box {
	width: 340px;
	height: 160px;
	padding-left: 20px;
	float:left; }
	
.user-box .text-box .user-name {
	padding-top: 14px;
	font-size: 32px;
	line-height: 36px;
	font-weight: bold; }

.user-box .text-box .user-bio {
	padding-top: 6px;
	font-size: 18px;
	line-height: 24px;
	color: #999;
	font-family: 'RooneyLightItalic', Georgia; }

.user-box .friends-box { 
	padding-left: 24px;
	margin-top: 12px;
	float:left;
	width: 248px;
	overflow-x: hidden;
	white-space: nowrap; }

.user-box .friends-box p {
	color: #666;
	font-weight: bold;
	font-size: 15px;
	margin-top: 6px;
	margin-bottom: 8px; }

.user-box .friends-box .friend {
	display: inline; }
	
.user-box .friends-box .friend img { 
	width: 32px;
	height: 32px; }
	
.user-box .friends-box .fader {
	bottom: 0;
	right: 0;
	width: 32px;
	height: 32px;
	z-index: 500;
	background: url("/tags/img/fade-right.png") bottom right no-repeat; }
	
/* Profile Card
==================================================================== */

.cards {}

.card {
	width: 248px; 
	margin: 0 24px 28px 0; 
	float: left;
	background: #f8f8f8; }

.card .photo {
	width: 248px; 
	height: 248px; 
	background: #FFF; 
	text-align: center;
	line-height: 248px; }

.card .photo img {
	max-width: 224px;
	max-height: 224px; }

.card .actions {
	padding: 12px 0 0 12px; }
	
.card .title-box {
	padding: 12px 12px 14px;
	font-size: 15px;
	line-height: 20px;
	color: #666; }
	
.card .item-name,
.card .store-name {
	font-weight: bold; }

.card .item-name,
.card .store-name {
	font-weight: bold;
	color: #555; }
	
.card .title-box .time {
	font-family: 'RooneyLightItalic', Georgia;
	font-weight: normal;
	color: #999;
	font-size: 14px; 
	white-space: nowrap; }
	
	
/* Buttons
==================================================================== */

.btn {
  display: inline-block;
  *display: inline;
  padding: 7px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 18px;
  font-family: 'RooneyLightItalic', Georgia;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #0AB0ED;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:first-child { *margin-left: 0; }

.btn:hover {
	color: white;
  text-decoration: none;
  background: #177DBE;
  -webkit-transition: background .15s ease-in;
	   -moz-transition: background .15s ease-in;
	     -o-transition: background .15s ease-in;
	        transition: background .15s ease-in; }

.btn:focus { outline: none; }

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-large {
  padding: 12px 16px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px; }

.btn [class^="icon-"] { margin-top: 1px; }
.btn-large [class^="icon-"] { margin-top: 2px; }
.btn-mini [class^="icon-"] { margin-top: -1px; }

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px; }

.btn-mine { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased; }
	
.btn.btn-red { background: #EE472A; }
.btn.btn-red:hover { background: #E4156D; }

.btn.btn-black { 
	background: black; 
	opacity: 0.4;
  filter: alpha(opacity=40); 
  -webkit-transition: opacity .15s ease-in;
	-moz-transition: opacity .15s ease-in;
	-o-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in; }
	
.btn.btn-black:hover {
	opacity: 0.6;
  filter: alpha(opacity=60); }

.btn.btn-white { 
	background: white; 
	color: #575E62; 
	border: 1px solid #eee; }
	
.btn.btn-white:hover { background: #eee; }

.btn.btn-white { padding: 6px 12px; }
.btn.btn-white.btn-large { padding: 11px 15px; }
.btn.btn-white.btn-mini { padding: 1px 5px; }

.btn.btn-facebook { background: #3B5998; }
.btn.btn-facebook:hover { background: #1F4696; }

.icon-like.icon-white {
	background-image: url("/tags/img/glyphicons-halflings-custom-white.png")!important;
	background-position: 0 0; }

.icon-mine.icon-white {
	background-image: url("/tags/img/glyphicons-halflings-custom-white.png")!important;
	background-position: -24px 0; }
	
.icon-facebook.icon-white {
	background-image: url("/tags/img/glyphicons-halflings-custom-white.png")!important;
  background-position: -48px 0; }
	
.btn-group > .dropdown-toggle {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.btn-group.open .btn.dropdown-toggle { 
	background-color: #eee; 
	color: white;
	  -webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: none;
	        transition: none;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.dropdown-menu {
  position: absolute;
  top: 100%;
 	right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; }
 
.dropdown-menu a {
  display: block;
  padding: 5px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #575E62;
  white-space: nowrap; }

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #575E62;
  text-decoration: none;
  background-color: #eee; }
  

/* General Classes
==================================================================== */

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }

.square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; }

.rounded-3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
	
.rounded-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }
	
.rounded-8 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; }
	
.transition-bg {
	-webkit-transition: background .15s ease-in;
	-moz-transition: background .15s ease-in;
	-o-transition: background .15s ease-in;
	transition: background .15s ease-in; }
	
.transition-color {
	-webkit-transition: color .15s ease-in;
	-moz-transition: color .15s ease-in;
	-o-transition: color .15s ease-in;
	transition: color .15s ease-in; }
	

/* Media Queries
==================================================================== */

@media screen and (max-width: 800px) {

	.container, .header .navigation, footer .inner { width: 520px; }
	
	.item,
  .item .actions, 
  .item .panel,
  .user-box .friends-box {
   width: 520px;
   height: auto !important; }
   
  .cards { width: 544px; }
   
  .item .actions,
  .user-box .friends-box {
  	padding: 0; } 
}
   
   
/* Fonts
==================================================================== */

@font-face {
    font-family: 'RooneyLightItalic';
    src: url('/tags/type/rooney-lightitalic-webfont.eot');
    src: url('/tags/type/rooney-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/tags/type/rooney-lightitalic-webfont.woff') format('woff'),
         url('/tags/type/rooney-lightitalic-webfont.ttf') format('truetype'),
         url('/tags/type/rooney-lightitalic-webfont.svg#RooneyLightItalic') format('svg');
    font-style: normal;
    font-weight: normal; }