  <!-- Navbar
    ================================================== -->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        
          <div class="brand">
          	<%=CONFIG[:name]%>
          </div>
                    
          <div class="nav-collapse">
            <ul class="nav pull-right">
                
                <li class="user-cell disabled">
                  <a>
                     <%=image_tag self.current_user.photo_url, 
                                :class => "avatar",
                                :alt => ""
                                %>
                    <%=user_full_name(self.current_user)%>
                  </a>
                </li>
              
            </ul> <!-- /nav -->
          </div> <!-- /nav-collapse -->
        </div> <!-- /container -->
      </div> <!-- /navbar-inner -->
    </div> <!-- /navbar navbar-fixed-top -->



