
  <div id='header'>
    <div class='navbar narrow unselectable'>

      <%=image_tag 'oncloset_logo_30_white.png', 
          :alt    => CONFIG[:name],
          :class  => "logo"%>
          
      <ol id='indicators'>
          <li class='first <%=step == 1 ? 'on' : ''%>'></li>
          <li class='second <%=step == 2 ? 'on' : ''%>'></li>
          <li class='third <%=step == 3 ? 'on' : ''%>'></li>
      </ol> 		

    </div>
  </div> <!-- header -->

