  <title>Felvy</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content=" ">
  <meta name="author" content="Hasit"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <!--link rel="shortcut icon" href="<%=image_path('favicon.ico')%>"-->
