<div id="welcome_box">
  See what's in your friends' closets. <br>

	<span class="welcome_subtitle">Invite your friends. See what they own!</span>
	
	<%=link_to image_tag(
				"f.png",
				:class    => "f",
				:alt      => "f") + "Invite your Friends &rsaquo;",
			  "javascript:void(0)",
				:class    => "large blue awesome welcome_button",
				:id       => "action_link",
        :onclick  => "showInviteDialog();"%>
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
    FB.init({
      appId  : '245230762190915',
      status : true,
      cookie : true,
      oauth  : true,

    });

    function showInviteDialog() {
      FB.ui({method: 'apprequests',
        message: 'Come join me on Felvy! An online closet for everything you own.',
        title: 'Invite Your Facebook Friends to Felvy',
      }, requestCallback);
      mpq.track("Invite Clicked");
    }

    function requestCallback(response) {
      if(!response)
        mpq.track("Invite Rejected");
      else
        mpq.track("Invite Completed");
    }
</script>
