<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
    FB.init({
      appId  : '245230762190915',
      status : true,
      cookie : true,
      oauth  : true,

    });

    function showInviteDialog() {
      FB.ui({method: 'apprequests',
        message: 'Come join me on Felvy! An online closet for everything you own.',
        title: 'Invite Your Facebook Friends to Felvy',
      }, requestCallback);

      analytics.inviteSelected();
    }

    function requestCallback(response) {
      if(!response) {
        analytics.inviteRejected();
      }
      else {
        analytics.inviteCompleted();
      }
    }
</script>
