<title><%=title%></title>

<%-if defined? description-%>
<meta name="description" content="<%=description%>" />
<%-end-%>

<%-if defined? keywords-%>
<meta name="keywords" content="<%=keywords%>" />
<%-end-%>

