<div class="row">
  <div class="span12">
    <div class="well white" style="margin-bottom: 12px;">

Join OnCloset now
	 <%=link_to 	'', 
  						fb_auth_path(:src => src,:target => target), 
  						:class => '',
  						:style => ''%>

It's fun, and free!

    </div> <!-- /well profile-card -->
  </div> <!-- /span12 -->
</div> <!-- /row -->
