<!--<div id='footer_onboarding'>
	<div class='welcome_text'>Join OnCloset now</div>
	 <#=link_to 	'', 
  						fb_auth_path(:src => src,:target => target), 
  						:class => 'log_in_with_facebook',
  						:style => ''%>

	<div class='welcome_text'>It's fun, and free!</div>
</div>-->
