<div id='welcome_box'>

	 <%=link_to 	'', 
  						fb_auth_path(:src => src), 
  						:class => 'log_in_with_facebook_no_shadow',
  						:style => 'float:right;'%>
  						
	<%=user_presenter.first_name%> is using <%=CONFIG[:name]%> as
  <%=user_presenter.possessive_pronoun%> online closet!<br>

	<span class='welcome_subtitle'>It's fun, and free :)</span>

</div>
