<div id='welcome_box'>
	<%=user_presenter.first_name%> is using <%=CONFIG[:name]%> to share
  <%=user_presenter.possessive_pronoun%> online closet.<br>

	<span class='welcome_subtitle'>It's fun, and free!</span>
	
	<%=link_to image_tag(
				'f.png',
				:class => 'f',
				:alt   => 'f') + 'Connect with Facebook &rsaquo;',
				fb_auth_path(:source => source),
				:class => 'large blue awesome welcome_button',
				:id    => 'action_link'%>
</div>
