
	<div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative">
      <%=render :partial => "users/box", :locals => {:user => @purchase.user}%>
	</div> 

  <div id="feed" class="feed logged-out rounded-8 relative">
  </div>
            
          
    
