	<div class="profile-box unit-box well-box border-box rounded-8 alias-smooth relative"
	style="margin-bottom: 20px;">
      <%=render :partial => "users/box", :locals => {:user => @purchase.user}%>
	</div> 

	<div class="feed-container" style="">
	  <div id="feed" class="feed col-1 logged-out relative">
	  </div>
  </div>
            
          
    
