
<div id="container">
  <ul>
    <%@grouped_users.each do |age_bucket,users|%>
      <ul>
      <p><b><%=age_range(age_bucket)%></b></p>
      <%users.each do |user|%>
        <li><%=link_to h(user_full_name(user)), user_path(user) if user %></li>
      <%end%>
      </ul>
      <br><br><br>
    <%end%>
  </ul>
</div>
