<div id="pic_bg">

	<div id="container">

		<div id="box" class="rounded_3">
			<p class="heading">
				<span class="title">
          Click 3 of your favorite stores
        </span><br />
				So we can suggest other shoppers to follow
			</p>
	      
	    <div id="stores">
	    </div>
	    
	    	<%form_for @shopping,
				      :html => {:class => '', :style => 'display:'} do |f|%>
		      <%=f.hidden_field :store_ids%>
		      <%=submit_tag '',
		                    :class  => 'continue_wide',
		                    :name   => nil%>
		    <%end%>
	    
    	</div> <!-- box -->

	</div> <!-- container -->

</div> <!-- pic_bg -->
	


<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Welcome.Shoppings({
            currentUserJSON : <%=self.current_user.to_json%>,
                     source : '<%=@source%>',
                         el : $('#container')});

  </script>
<%end%>
