
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 1}%>


<div id="container" class="narrow">

		<div class="heading unselectable">
			Click a few stores you shop at <br />
			so we can suggest people to follow:
		</div>
      
    <div id="stores">
    </div>
    
</div> <!-- container -->


<div id='footer_onboarding'>
	<%form_tag '/welcome',
      :id     => 'new_shopping', 
      :style  => 'display:none' do |f|%>

    <%=hidden_field_tag :id, WelcomeFilter::Stores%>
    <%=hidden_field_tag :store_ids%>
    <%=submit_tag '',
        :class      => 'follow_people disactivated',
        :id         => 'stores_picked_button',
        :name       => nil,
        :disabled   => true %>
  <%end%>   
</div>	      


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Shoppings.New({el : $('#container')});
  </script>
<%end%>
