<div id="outer">

	<div id="inner">
	
		<div class="module">
		
			<div class="heading">
			
				<div class="title">
					Select atleast 3 stores you shop at.
				</div>

			  <%form_for @shopping,
				      :html => {:class => '', :style => 'display:'} do |f|%>
		      <%=f.hidden_field :store_ids%>
		      <%=submit_tag 'Done',
		                    :class  => 'button button_red slim_shadow_light submit',
		                    :name   => nil%>
		    <%end%>
		    
	    </div>
	      
	    <div id="stores">
	    </div>
	    
    	</div>

	</div> <!-- inner -->

</div> <!-- outer -->
	


<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Welcome.Shoppings({
            currentUserJSON : <%=self.current_user.to_json%>,
                     source : '<%=@source%>',
                         el : $('#container')});

  </script>
<%end%>
