
<%#render :partial  => "headers/onboarding",
          :locals   => {:step => 1}%>


<div id="container" class="narrow">

		<div class="heading unselectable">
			Click a few stores you shop at<br />
			to add them to your closet.
		</div>
      
    <div id="stores">
      <div class="loading" id="loading_spinner">
        <%=image_tag 'spinner_dark_bg.gif'%>
      </div>
    </div>
    
</div> <!-- container -->


<div id='footer_onboarding'>
	<%form_for @shopping,
      :html => {:style  => 'display:none'} do |f|%>

    <%=hidden_field_tag :store_ids%>
    <%=submit_tag '',
        :class      => 'follow_people disactivated',
        :id         => 'stores_picked_button',
        :name       => nil,
        :disabled   => true %>
  <%end%>   
</div>	      


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Shoppings.New({
          source  : '<%=@source%>',
          el      : $('#container')});
  </script>
<%end%>
