
<%#render :partial  => "headers/onboarding",
          :locals   => {:step => 1}%>


<div class="container picker">
	<div class="row">
		<div class="" style="width: 746px; margin: 0 auto;">
			<div class="well stores">
				<legend>
					Pick a few stores you shop at to add to your profile:
				</legend>
    		
    		<div class="control-group">
			    <ul class="thumbnails" id="stores">
			    </ul>
		    </div>

			</div> <!-- /well -->
		</div> <!-- /span6 -->
	</div> <!-- /row -->    
</div> <!-- /container -->


<div id='footer_onboarding'>
	<%form_for @shopping,
      :html => {:style  => 'display:none'} do |f|%>

    <%=hidden_field_tag :store_ids%>
    <%=submit_tag '',
        :class      => 'follow_people disactivated',
        :id         => 'stores_picked_button',
        :name       => nil,
        :disabled   => true %>
  <%end%>   
</div>	      


<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Shoppings.New({
          source  : '<%=@source%>',
          el      : $('#container')});
  </script>
<%end%>
