
<%=render :partial  => "headers/onboarding"%>


<div class="container picker">
	
		<div class="hider">
			<div style="width: 746px;">
				<div class="well">
					<legend>
					
						Where do you shop? Add a few stores to your profile.
						
						<%form_for @shopping,
					      :html => {:style  => 'display:none; float: right; margin-top: -1px;'} do |f|%>
					
					    <%=hidden_field_tag :store_ids%>
					    
					    <% content_tag :button,
					    		:type  		=> :submit, 
					    		:class 		=> 'btn btn-large',
					    		:id    		=> 'stores_picked_button',
					    		:disabled	=> true do %>
							   Pick at least 3!
							<% end %>
							
						<%end%>
	
						
					</legend>
				</div> <!-- / well legend -->
			</div> <!-- /746px -->
		</div> <!-- /hider -->
    	
    <div style="width: 746px; margin: 55px 97px 0;">
			<div class="well stores">
    		
    		<div class="control-group">
			    <ul class="thumbnails" id="stores">
			    </ul>
		    </div>

			</div> <!-- /well stores -->
		</div> <!-- /746px -->
  
</div> <!-- /container -->

<%content_for :javascript do%>
  <script type="text/javascript">
    new Denwen.Views.Shoppings.New({
          source  : '<%=@source%>',
          el      : $('#container')});
  </script>
<%end%>
