<%cache ["v3",product,product.store ? product.store : "","card"] do %>

<div class="item">

  <div class="actions" 
        id="feedback" 
        style="position: absolute; top: 12px; left: 12px;">

    <a style="float: left; margin-right: -1px;" 
        href="/" class="btn btn-small">Mine</a>
    <a style="float: left; margin-right: -1px;" 
        href="/" class="btn btn-small">
        <i class="icon-like"></i>
    </a>
    <a style="float: left" 
        href="/" 
        class="btn btn-small">
        <i class="icon-pencil"></i>
    </a>
  </div>

  <%=link_to image_tag(product.giant_url),
      product_path(product.user.handle,product.handle,:src => "profile"),
      :class => "photo-box"%>

  <div class="details">
    <h5>
      <%=h product.title%>
      <small><%=h product.store ? product.store.name : ""%></small>
    </h5>
  </div>
</div> 

<%end%>
