<%cache ["v5",product,product.store ? product.store : "","card"] do %>

<div class="item">

  <%=link_to image_tag(product.giant_url),
      product_path(product.user.handle,product.handle,:src => "profile"),
      :class => "photo-box"%>

  <div class="details">
    <h5>
      <%=h truncate(product.title,:length => 40)%>
      <small><%=h product.store ? product.store.name : ""%></small>
    </h5>
  </div>
</div> 

<%end%>
