
	<div id="chooser" class="chooser" style="display:none;">
	
    <a class="cancel" id="cancel_button" href="javascript:void(0)"></a>

		<form class="form-horizontal search-bar">
			<div class="control-group">
			
				<label id="product_image_broken_msg" class="control-label">
					<span class="default">
						Select your
					</span>
					<span class="error">
						Image unavailable.
					</span>
				</label>
				
				<div class="controls" style="margin-left: 150px;">
				
					<input  id="product_repeat_query" 
		              class="input-xlarge" 
		              name="products[query]" 
		              type="text" 
		              value="">
					<input id="product_repeat_search" 
		              class="btn" 
		              value="Go" 
		              title="Search" 
		              type="button" 
		              alt="Search">
		              
        </div> <!-- controls -->     
      
      </div> <!-- /control-group -->
		</form> <!-- /search-bar -->

		<div class="results" id="results">
    </div>
	
		<div class="scroll-instructions" id="scroll_for_more_results">
	      Scroll down for more <b class="caret" style="vertical-align: middle;"></b>
	  </div>
	  
	</div> <!-- chooser -->

  <!-- background shadow -->
  <div id="shadow" style="display:none">
  </div>
