
	<div id="chooser" class="shadow_overlay" style="display:none">
    <a id="cancel_button" href="javascript:void(0)"></a>

		<div id="chooser_title_bar">
			Select your 
			<input class="box_shadow creation_search_chooser" 
              id="product_repeat_query" 
              name="products[query]" 
              type="text" 
              value="">
			<input id="product_repeat_search" 
              class="product_search_chooser" 
              value="Go" 
              title="Search" 
              type="button" 
              alt="Search">
		</div>

		<div id="results" style="height:500px;text-align:center;">
      <%=image_tag 'home_gold.jpg',:height => '500'%>
    </div>
	
		<div id="scroll_for_more_results">
      Scroll down for more &darr;
    </div>
	</div> <!-- chooser -->

  <!-- background shadow -->
  <div id="shadow" style="display:none">
  </div>
