<li>
	<div class="product">
		<!-- <img class="product_image" src="http://0.tqn.com/d/g/5105.jpg">	 -->
		<%=link_to image_tag(
		            product.thumbnail_url, 
		            :class => "product_image"),
		           product_path(product.id,product.handle)%>
	</div>
</li>
