<li>
	<div class="product">
		<%=link_to image_tag(
		            product.thumbnail_url, 
		            :class => "product_image"),
		           product_path(product.id,product.handle)%>
	</div>
</li>
