<li>
	<div class="product">
		<%=link_to image_tag(
		            product.thumbnail_url, 
		            :class => "product_image"),
		           product_path(product.id,product.handle)%>
    <%=product.endorsement%> <br>
    <%=product.title%> <br>
    <%=product.comments_count%>
	</div>
</li>
