<div class="container creation">
	<div class="row">
		<div class="span6 offset3">
		
		  <%form_for @product,:url => "/products/#{@product.id}",
		        :html => {
		          :class  => 'well form-horizontal',
		          :id     => 'edit_product'} do |f|%>
		
		    <%=render :partial  => 'input', 
		              :locals   => {
		                :f                => f,
                    :suggestion       => @suggestion,
		                :placeholders     => @placeholders,
		                :onboarding       => false,
		                :submit_text      => "Save",
		                :show_query_box   => false,
                    :show_extra_steps => true}%>
		
		  <%end%> <!-- form -->

		</div> <!-- /span6 -->
	</div> <!-- /row -->
</div> <!-- /container -->

		
<%=render 'chooser'%>	



<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.Edit({
          el            : $('body'),
          productJSON   : <%=@product.to_json(
                              :only     => [:id,:user_id,:endorsement],
                              :methods  => [:photo_url])%>,
          source        : '<%=@source%>'});
  </script>

<%end%>

