<div class="container">
	<div class="col-triple" style="margin-left: 189px;">
    <div class="item creation">
		
		  <%form_for @product,:url => "/products/#{@product.id}",
		        :html => {
		          :class  => 'form-horizontal',
		          :style  => 'margin-bottom: 0;',
		          :id     => 'edit_product'} do |f|%>
		
		    <%=render :partial  => 'input', 
		              :locals   => {
		                :f                => f,
                    :suggestion       => @suggestion,
		                :submit_text      => "Save Changes",
		                :submit_class     => "edit",
		                :show_cancel_button => true,
		                :show_delete_button => true,
		                :show_query_box   => false,
                    :show_extra_steps => true}%>
		
		  <%end%> <!-- form -->

		</div> 
	</div> 
</div> 

		
<%=render 'chooser'%>	



<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.Edit({
          el            : $('body'),
          productJSON   : <%=@product.to_json(
                              :only     => [:id,:user_id],
                              :methods  => [:giant_url])%>,
          source        : '<%=@source%>'});
  </script>

<%end%>

