
<%=render :partial  => "headers/onboarding",
          :locals   => {:step => 3} if is_onboarding?%>
	

<div id='container' class="narrow">

	<%if is_onboarding? && @category.name == 'Shoes'%>
	  <div class='heading unselectable' id = 'onboarding_create_msg'>
	  	To start your closet, type the name<br /> 
	  	of the favorite pair of shoes you own:
	  </div>
	<%else%>
	
	<%end%>


	<!-- item -->

  <%form_for @product,
      :html => {:class => 'new_product unselectable'} do |f|%>

    <%=render :partial  => 'input', 
        :locals   => {
          :f            => f,
          :category     => @category,
          :placeholders => @placeholders,
          :onboarding   => is_onboarding? && @category.name == 'Shoes',
          :submit_class => 'add_to_closet'}%>

  <%end%> <!-- form -->

</div> <!-- container -->


<%=render 'chooser'%> 


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.New({
                        el            : $('body'),
                        categoryJSON  : <%=@category.to_json%>});
  </script>
<%end%>

