<! -- welcome / create & create -->

<%if is_onboarding? && @category.name == 'Shoes'%>
	<div id='header'>
	
		<div class='navbar narrow unselectable'>
	
			 <%=image_tag('oncloset_logo_30_white.png', 
			 		:alt => CONFIG[:name],
			 		:class => "logo")%>
			 		
			<ol id='indicators'>
	        <li class='first'></li>
	        <li class='second'></li>
	        <li class='third on'></li>
	    </ol> 		
	
		</div>
	
	</div>
<%end%>
	
<div id='container' class="narrow">

	<%if is_onboarding? && @category.name == 'Shoes'%>
	  <div class='heading unselectable' id = 'onboarding_create_msg'>
	  	To start your closet, type the name<br /> 
	  	of the favorite pair of shoes you own:
	  </div>
	<%else%>
	
	<%end%>


	<!-- item -->

  <%form_for @product,
        :html => {:class => 'new_product unselectable'} do |f|%>

    <%=render :partial  => 'input', 
              :locals   => {
                :f            => f,
                :category     => @category,
                :placeholders => @placeholders,
                :onboarding   => is_onboarding? && @category.name == 'Shoes',
                :submit_class => 'add_to_closet'}%>

  <%end%> <!-- form -->

</div> <!-- container -->


<%=render 'chooser'%> 

<%content_for :javascript do%>

  <script type="text/javascript">

    new Denwen.Views.Products.New({
                        el            : $('body'),
                        categoryJSON  : <%=@category.to_json%>});
  </script>

<%end%>

