<!-- item -->

  <%form_for @product,
        :html => {:class => 'new_product slim_shadow_light'} do |f|%>

    <%=render :partial  => 'input', 
              :locals   => {
                :f            => f,
                :category     => @category,
                :placeholders => @placeholders}%>

  <%end%> <!-- form -->


	<div id="chooser" class="shadow_overlay" style="display:none">
    <a id="cancel_button" href="javascript:void(0)"><a>

		<div id="chooser_title_bar">
			Select your 
			<input class="box_shadow creation_search_chooser" 
              id="product_repeat_query" 
              name="products[query]" 
              type="text" 
              value="">
			<input id="product_repeat_search" 
              class="product_search_chooser" 
              value="Go" 
              title="Search" 
              type="button" 
              alt="Search">
		</div>

		<div id="results">
    </div>
	
		<div id="scroll_for_more_results">
      Scroll down for more &darr;
    </div>
	</div> <!-- chooser -->

  <!-- background shadow -->
  <div id="shadow">
  </div>
	

<%content_for :javascript do%>

<script type="text/javascript">

  new Denwen.Views.Products.New({
                      el            : $('body'),
                      categoryJSON  : <%=@category.to_json%>,
                      source        : '<%=@source%>'});

   $(document).ready(function(){
      var stores = "<%=@stores.map(&:name).join('|')%>".split("|");
      $("#product_store").autocomplete(
                            stores,{
                             formatMatch: function(item){
                              return item[0].replace(/[^\w]/gi, '');},
                             formatResult: function(item){
                              return item[0];}
                             });
    });
</script>

<%end%>
