<div class='item' id="product_picker_<%=product.get('id')%>"> 

	<div class="button_picker" id="button_picker_<%=product.get('id')%>">
	</div>

  <img src="<%=product.get('thumbnail_url')%>" 
      class='image'
      alt=''/>

  <!--p class='details'-->
    <!--%=helpers.truncate(product.escape('title'),40,'...')%-->
  <!--pi-->
  
</div> <!-- product -->
