<a class="picker_choice unselectable" id="product_picker_<%=product.get('id')%>" style="background-image: url('<%=product.get('giant_url')%>');"> 

	<div class="button_picker" id="button_picker_<%=product.get('id')%>">
	</div>
  
</a> <!-- product picker-->
