<div id ='product_picker_<%=product.get('id')%>'> 
  Turn On
</div>

<div class ='items'> 

  <img src="<%=product.get('thumbnail_url')%>" 
      class='image'
      alt=''/>

  <!--p class='details'-->
    <!--%=helpers.truncate(product.escape('title'),40,'...')%-->
  <!--pi-->
  
</div> <!-- product -->
