<div id="<%=divID%>" style="<%=hide ? 'display:none' : ''%>" class="photo-choice">
  <img class="item-photo" src="<%=thumbUrl%>" />
  <div class="btn btn-mid">
  	<i class="icon-ok icon-white"></i> Mine
  </div>
</div>
