<!-- Generate presenters for the view -->
<%@user_presenter     = presenter_for(@product.user)%>
<%@product_presenter  = presenter_for(@product)%>


<!-- Inject facebook og tags into the head -->
<%content_for :head do%>
  <%=render :partial  => 'facebook/og',
            :locals   => {
              :title        => @product_presenter.title, 
              :type         => OGObject::Item, 
              :description  => @product_presenter.description, 
              :url          => @product_presenter.url('fb'),
              :image        => @product_presenter.thumbnail_url,
              :store        => @product.store}%>
<%end%>

<div class="container">
  <div class="col-triple" style="margin-left: 189px;">
    <div id="feed" class="feed">
    </div>
  </div>
</div>


<%content_for :javascript do%>
  <script type="text/javascript">

    new Denwen.Views.Products.Show({
        productJSON     : <%=@product.to_json(
                            :only => [:id,:created_at,:title,
                                        :handle,:endorsement],
                            :methods => [:giant_url,:fb_object_id],
                            :include => {
                              :user => {
                                :only => [:id,:first_name,:last_name,:handle],
                                :methods => [:square_image_url]},
                              :store => {
                                :only => [:id,:is_processed,:name],
                                :methods => [:thumbnail_url]}})%>,
        source          : '<%=@source%>'});

  </script>
<%end%>

