<div class='tab title large_top_margin'>
  Hot right now
</div>

<ol>
    <%products.each(function(product){%>
      <%=Denwen.JST['products/product_text']({product:product,src:'top_product'})%>
    <%});%>
</ol>
