<div class="actions-header">
  Hot right now
</div>

<ul style="margin: 0;">
	<%products.each(function(product){%>
		<%=Denwen.JST['products/product_text']({product:product,src:'top_product'})%>
	<%});%>
</ul>
