
  <ul>
    <%if(products.length > 0) {%>
      <%products.each(function(product){%>
        <%=Denwen.JST['products/product']({product:product})%>
      <%});%>
    <%} else if(helpers.isCurrentUser(userID)) {%>
      <img src="<%=helpers.imagePath('onboarding.jpg')%>"/>
    <%} else {%>
      <img src="<%=helpers.imagePath('onboarding_empty.jpg')%>"/>
    <%}%>
  </ul>
