<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <%=yield%>

    <br><br>
    Thanks, <br>
    <%=CONFIG[:name]%>

    <br><br>
    <span style="font-size: 10px; color: #999999;">
    	&copy; 2012 <%=CONFIG[:name]%> All this feedback blowing your mind?
    <%=link_to "Manage your settings", settings_url(:src => @source),:style => "color: inherit; text-decoration: none;"%></span>
  </body>
</html>
